Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, JS linting, JS building

.gitlab-ci.yml:

stages:
  - test
  - linting
  - build
  - housekeeping

image: node:lts

.lerna_installation:
  before_script:
    - yarn config set network-timeout 600000 -g
    - yarn --pure-lockfile
    - yarn postinstall:lerna

.cache_modules:
  cache:
    key: "$CI_COMMIT_REF_NAME-node_modules"
    paths:
      - node_modules/
      - '**/node_modules/'

validate json:
  stage: test
  script:
    - cd ./tools/json-validator
    - yarn --pure-lockfile
    - yarn start
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.json"

sonarqube-check:
  stage: test
  tags:
    - amd64
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [ "" ]
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
    GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task
  cache:
    key: "$CI_COMMIT_REF_NAME-sonar"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner
  allow_failure: true
  only:
    - main
    - UPD

JS linting:
  extends:
    - .lerna_installation
    - .cache_modules
  stage: linting
  script:
    - yarn lint
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.js"
      - "**/*.ts"
      - "**/*.jsx"
      - "**/*.tsx"
      - "**/*.scss"

JS building:
  extends:
    - .lerna_installation
    - .cache_modules
  stage: build
  script:
    - yarn format -- -- --loglevel error
    - yarn build
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.(js|ts|jsx|tsx|css|scss|less|html)"
      - "**/package.json"
      - "**/yarn.lock"


rebase UPD:
  stage: housekeeping
  image: node:lts
  script:
    # setting up git
    - url_host=`git remote get-url origin | sed -e "s/https:\/\/gitlab-ci-token:.*@//g"`
    - git remote set-url origin "https://gitlab-ci-token:${ACCESS_TOKEN_PARAM}@${url_host}"
    - git config http.sslverify false
    - git config --global user.email "ci@gitlab.pieter557.dscloud.me"
    - git config --global user.name "CI"
    - git fetch # Just in case branch is not fetch
    - git checkout -t origin/main
    - git pull
    - git checkout -t origin/UPD
    - git pull
    # Rebase
    - git rebase main UPD
    # Push
    - git push -u origin UPD

  only:
    - main

fix(blackout): removed unneeded RPC for getting stations
  resources/[dg]/dg-blackout/typescript/src/client/controllers/powerstation.ts
Due: JS linting

feat(config): ability to load from folder
  resources/[dg]/dg-config/typescript/src/server/controllers/exports.ts
  resources/[dg]/dg-config/typescript/src/server/server.ts
  resources/[dg]/dg-config/typescript/src/server/services/configs.ts
  resources/[dg]/dg-config/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-config/typescript/src/server/sv_util.ts
Due: JS linting

fix(auth): fixed endless awaiting on authentication
  .idea/runConfigurations/admin_build_prod.xml
  resources/[dg]/dg-auth/typescript/src/server/helpers/resourceSet.ts
  resources/[dg]/dg-auth/typescript/src/server/helpers/tokens.ts
Due: JS linting

feat(dgx): added generic to SQL func, ArrToVec allows Vec interface, added func to await condition
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/shared/classes/util.ts
Due: JS linting

chore(dgx): moved player info in log to seperate object
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
Due: JS linting

fix(weed): fixed time multipliers
  resources/[dg]/dg-weed/server/sv_functions.lua
  resources/[dg]/dg-weed/server/sv_main.lua
Due: none

fix(ui): made useVhToPixel hook not shit
  resources/[dg]/dg-ui/[src]/src/lib/hooks/useVhToPixel.ts
Due: JS linting

fix(core): fixed player state setter
  resources/[core]/dg-core/server/player.lua
Due: none

fix(ui): also reset keepingInput when application is closed
  resources/[dg]/dg-ui/client/cl_exports.lua
Due: none

feat(peek): moved peek to dg-ui
  resources/[dg]/dg-peek/fxmanifest.lua
  resources/[dg]/dg-peek/html/css/style.css
  resources/[dg]/dg-peek/html/index.html
  resources/[dg]/dg-peek/html/js/app.js
  resources/[dg]/dg-peek/typescript/src/client/classes/entryManager.ts
  resources/[dg]/dg-peek/typescript/src/client/classes/stateManager.ts
  resources/[dg]/dg-peek/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-ui/[src]/src/assets/peek/eye.svg
  resources/[dg]/dg-ui/[src]/src/base-app.config.tsx
  resources/[dg]/dg-ui/[src]/src/lib/devdata.ts
  resources/[dg]/dg-ui/[src]/src/main/cli/commands.ts
  resources/[dg]/dg-ui/[src]/src/main/peek/_config.tsx
  resources/[dg]/dg-ui/[src]/src/main/peek/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/peek/components/eye.tsx
  resources/[dg]/dg-ui/[src]/src/main/peek/components/list.tsx
  resources/[dg]/dg-ui/[src]/src/main/peek/store.ts
  resources/[dg]/dg-ui/[src]/src/main/peek/styles/peek.scss
  resources/[dg]/dg-ui/[src]/src/main/sliders/store.ts
  resources/[dg]/dg-ui/[src]/src/types/apps/peek.d.ts
  resources/[dg]/dg-ui/[src]/src/types/main.d.ts
Due: JS linting

fix(core): also update state setter when logging out bcs i'm a 3header
  resources/[core]/dg-core/server/player.lua
Due: none

chore(blackout): moved events to dgx events
  resources/[dg]/dg-blackout/typescript/src/client/controllers/blackout.ts
  resources/[dg]/dg-blackout/typescript/src/client/controllers/powerstation.ts
  resources/[dg]/dg-blackout/typescript/src/server/classes/BlackoutManager.ts
  resources/[dg]/dg-blackout/typescript/src/server/controllers/blackout.ts
  resources/[dg]/dg-blackout/typescript/src/server/controllers/powerstation.ts
Due: JS linting

fix(auth): readded missing server event after authentication + linted files
  resources/[dg]/dg-auth/typescript/src/server/classes/eventIdManager.ts
  resources/[dg]/dg-auth/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-auth/typescript/src/server/controllers/exports.ts
  resources/[dg]/dg-auth/typescript/src/server/helpers/resourceSet.ts
  resources/[dg]/dg-auth/typescript/src/server/helpers/tokens.ts
  resources/[dg]/dg-auth/typescript/src/server/sv_logger.ts
Due: JS linting

chore: moved common packages to root, updated packages, added nx caching
  lerna.json
  nx.json
  package.json
  resources/[dg]/dg-api/typescript/package.json
  resources/[dg]/dg-api/typescript/yarn.lock
  resources/[dg]/dg-auth/typescript/package.json
  resources/[dg]/dg-auth/typescript/yarn.lock
  resources/[dg]/dg-blackout/typescript/package.json
  resources/[dg]/dg-blackout/typescript/yarn.lock
  resources/[dg]/dg-build/typescript/package.json
  resources/[dg]/dg-build/typescript/yarn.lock
  resources/[dg]/dg-chat/typescript/package.json
  resources/[dg]/dg-chat/typescript/yarn.lock
  resources/[dg]/dg-config/typescript/package.json
  resources/[dg]/dg-config/typescript/yarn.lock
  resources/[dg]/dg-financials/typescript/package.json
  resources/[dg]/dg-financials/typescript/yarn.lock
  resources/[dg]/dg-heists/typescript/package.json
  resources/[dg]/dg-heists/typescript/yarn.lock
  resources/[dg]/dg-houserobbery/typescript/package.json
  resources/[dg]/dg-houserobbery/typescript/yarn.lock
  resources/[dg]/dg-jobs/typescript/package.json
  resources/[dg]/dg-jobs/typescript/yarn.lock
  resources/[dg]/dg-npcs/typescript/package.json
  resources/[dg]/dg-npcs/typescript/yarn.lock
  resources/[dg]/dg-peek/typescript/package.json
  resources/[dg]/dg-peek/typescript/yarn.lock
  resources/[dg]/dg-sql/typescript/package.json
  resources/[dg]/dg-sql/typescript/yarn.lock
  resources/[dg]/dg-storerobbery/typescript/package.json
  resources/[dg]/dg-storerobbery/typescript/yarn.lock
  resources/[dg]/dg-ui/[src]/src/components/appwrapper.tsx
  resources/[dg]/dg-weathersync/typescript/package.json
  resources/[dg]/dg-weathersync/typescript/yarn.lock
  resources/[dg]/ts-shared/typescript/package.json
  resources/[dg]/ts-shared/typescript/yarn.lock
  yarn.lock
Due: validate json, JS linting, JS building

feat(sentry): readded sentry logger with new serverssided logger + storage if pushing fails to prevent missing issues when instance is down
  resources/[dg]/dg-apartments/fxmanifest.lua
  resources/[dg]/dg-blackmoney/fxmanifest.lua
  resources/[dg]/dg-chars/fxmanifest.lua
  resources/[dg]/dg-config/configs/main.json
  resources/[dg]/dg-cornerselling/fxmanifest.lua
  resources/[dg]/dg-dev/fxmanifest.lua
  resources/[dg]/dg-doorlock/fxmanifest.lua
  resources/[dg]/dg-elevator/fxmanifest.lua
  resources/[dg]/dg-inventory/fxmanifest.lua
  resources/[dg]/dg-labs/fxmanifest.lua
  resources/[dg]/dg-lib/fxmanifest.lua
  resources/[dg]/dg-logs/fxmanifest.lua
  resources/[dg]/dg-logs/server/server.lua
  resources/[dg]/dg-logs/server/sv_log.lua
  resources/[dg]/dg-logs/server/sv_sentry.lua
  resources/[dg]/dg-phone/fxmanifest.lua
  resources/[dg]/dg-propattach/fxmanifest.lua
  resources/[dg]/dg-radialmenu/fxmanifest.lua
  resources/[dg]/dg-scenes/fxmanifest.lua
  resources/[dg]/dg-sql/fxmanifest.lua
  resources/[dg]/dg-ui/fxmanifest.lua
  resources/[dg]/dg-weapons/fxmanifest.lua
  resources/[dg]/dg-weed/fxmanifest.lua
  tools/manifest-check.py
Due: validate json

feat(dgx): added sentry transactions on DGX events and RPC
  config/resources.cfg
  resources/[dg]/dg-api/typescript/src/server/sv_util.ts
  resources/[dg]/dg-auth/typescript/src/server/helpers/tokens.ts
  resources/[dg]/dg-auth/typescript/src/server/sv_util.ts
  resources/[dg]/dg-blackout/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-blackout/typescript/src/server/sv_util.ts
  resources/[dg]/dg-config/fxmanifest.lua
  resources/[dg]/dg-config/typescript/src/server/services/configs.ts
  resources/[dg]/dg-config/typescript/src/server/sv_util.ts
  resources/[dg]/dg-financials/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-heists/typescript/src/server/sv_util.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/sv_util.ts
  resources/[dg]/dg-jobs/typescript/src/server/sv_util.ts
  resources/[dg]/dg-npcs/typescript/src/server/sv_util.ts
  resources/[dg]/dg-sql/typescript/src/server/sv_util.ts
  resources/[dg]/dg-storerobbery/typescript/src/server/sv_util.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/client/types/events.d.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/sentry.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/server/controllers/events.ts
  resources/[dg]/ts-shared/typescript/src/server/helpers/cmds.ts
  resources/[dg]/ts-shared/typescript/src/server/helpers/sentry.ts
  resources/[dg]/ts-shared/typescript/src/server/index.ts
  resources/[dg]/ts-shared/typescript/src/server/types/events.d.ts
  resources/[dg]/ts-shared/typescript/src/shared/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/events.d.ts
Due: JS linting

docs(events): added a bit of docs about the DGX events
  docs/events.md
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
Due: JS linting

docs(events): added a bit of docs about the DGX events
  resources/[dg]/dg-blackmoney/README.MD
  resources/[dg]/dg-blackmoney/config.lua
  resources/[dg]/dg-blackmoney/fxmanifest.lua
  resources/[dg]/dg-blackmoney/server/sv_main.lua
  resources/[dg]/dg-config/configs/blackmoney.json
  resources/[dg]/dg-cornerselling/server/sv_main.lua
  resources/[dg]/dg-misc/Readme.md
  resources/[dg]/dg-misc/fxmanifest.lua
  resources/[dg]/dg-misc/server/sv_blackmoney.lua
Due: validate json

feat(logs): added a shit ton of logs
  config/resources.cfg
  resources/[dg]/dg-blackout/typescript/src/server/controllers/blackout.ts
  resources/[dg]/dg-chat/typescript/src/server/helpers/messages.ts
  resources/[dg]/dg-cornerselling/fxmanifest.lua
  resources/[dg]/dg-cornerselling/server/sv_main.lua
  resources/[dg]/dg-heists/typescript/src/server/modules/fleeca/classes/statemanager.ts
  resources/[dg]/dg-heists/typescript/src/server/modules/jewelry/classes/statemanager.ts
  resources/[dg]/dg-heists/typescript/src/server/modules/maze/classes/statemanager.ts
  resources/[dg]/dg-heists/typescript/src/server/modules/pacific/classes/statemanager.ts
  resources/[dg]/dg-heists/typescript/src/server/modules/paleto/classes/statemanager.ts
  resources/[dg]/dg-heists/typescript/src/server/services/drives/controller.drives.ts
  resources/[dg]/dg-heists/typescript/src/server/services/laptop/controller.laptop.ts
  resources/[dg]/dg-heists/typescript/src/server/services/trolleys/controller.trolleys.ts
  resources/[dg]/dg-heists/typescript/src/types/index.d.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/modules/shop/controller.shop.ts
  resources/[dg]/dg-jobs/typescript/src/server/classes/jobManager.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/classes/Group.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/classes/GroupManager.ts
  resources/[dg]/dg-misc/server/sv_blackmoney.lua
  resources/[dg]/dg-scenes/fxmanifest.lua
  resources/[dg]/dg-scenes/server/sv_main.lua
Due: JS linting

feat(weapons): made taser use actual ammo
  resources/[dg]/dg-config/configs/weapons.json
  resources/[dg]/dg-inventory/items.json
  resources/[dg]/dg-weapons/client/cl_events.lua
  resources/[dg]/dg-weapons/client/cl_functions.lua
  resources/[dg]/dg-weapons/meta/weapons.meta
  resources/[dg]/dg-weapons/server/sv_events.lua
Due: validate json

fix(peek): fixed focusing loss to open application when peek app opening is getting prevented
  resources/[dg]/dg-peek/typescript/src/client/classes/entryManager.ts
  resources/[dg]/dg-peek/typescript/src/client/classes/entryManagers/flagManager.ts
  resources/[dg]/dg-peek/typescript/src/client/classes/stateManager.ts
  resources/[dg]/dg-peek/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-ui/[src]/src/main/peek/component.tsx
  resources/[dg]/dg-ui/client/cl_exports.lua
Due: JS linting

fix(core): only get core if dg-core already started
  resources/[core]/dg-core/import.js
  resources/[core]/dg-core/import.lua
Due: JS linting

fix(PolyZone): updated checks for in-house vector on creation
  resources/[standalone]/PolyZone/creation/client/BoxZone.lua
  resources/[standalone]/PolyZone/creation/client/CircleZone.lua
  resources/[standalone]/PolyZone/creation/client/PolyZone.lua
Due: none

fix(misc): fixed string formatted that was somehow reverted
  resources/[dg]/dg-misc/server/sv_blackmoney.lua
Due: none

refactor(jobs): renamed export for more clarification
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/controller.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/jobs.ts
Due: JS linting

fix(logs): actually display server errors in terminal
  resources/[dg]/dg-logs/server/sv_log.lua
Due: none

feat(jobs): added module for whitelisted jobs
  degrens2.sql
  resources/[dg]/dg-config/configs/jobs/signin.json
  resources/[dg]/dg-config/configs/jobs/whitelist.json
  resources/[dg]/dg-jobs/README.md
  resources/[dg]/dg-jobs/typescript/src/client/client.ts
  resources/[dg]/dg-jobs/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-jobs/typescript/src/client/services/signin.ts
  resources/[dg]/dg-jobs/typescript/src/server/controllers/commands.ts
  resources/[dg]/dg-jobs/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-jobs/typescript/src/server/controllers/exports.ts
  resources/[dg]/dg-jobs/typescript/src/server/controllers/index.ts
  resources/[dg]/dg-jobs/typescript/src/server/server.ts
  resources/[dg]/dg-jobs/typescript/src/server/services/signin.ts
  resources/[dg]/dg-jobs/typescript/src/server/services/whitelist.ts
  resources/[dg]/dg-jobs/typescript/src/server/types/whitelist.d.ts
  resources/[dg]/dg-jobs/typescript/src/types/index.d.ts
  resources/[dg]/dg-radialmenu/client/entries/cl_job.lua
  resources/[dg]/dg-radialmenu/client/main.lua
  resources/[dg]/dg-radialmenu/fxmanifest.lua
  resources/[dg]/ts-shared/fxmanifest.lua
  resources/[dg]/ts-shared/typescript/src/client/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/client/types/global.d.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/jobs.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/ui.d.ts
Due: validate json, JS linting

refactor(jobs): ported dg scripts to whitelist module
  resources/[core]/dg-core/server/commands.lua
  resources/[core]/dg-core/server/events.lua
  resources/[core]/dg-core/server/player.lua
  resources/[dg]/dg-apartments/server/sv_main.lua
  resources/[dg]/dg-chars/fxmanifest.lua
  resources/[dg]/dg-chars/server/sv_spawn.lua
  resources/[dg]/dg-chat/typescript/src/server/helpers/messages.ts
  resources/[dg]/dg-doorlock/client/cl_events.lua
  resources/[dg]/dg-doorlock/client/cl_functions.lua
  resources/[dg]/dg-doorlock/client/cl_main.lua
  resources/[dg]/dg-elevator/client/cl_main.lua
  resources/[dg]/dg-elevator/fxmanifest.lua
  resources/[dg]/dg-financials/typescript/src/server/modules/paycheck/controller.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/paycheck/service.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
  resources/[dg]/dg-jobs/typescript/src/client/controllers/exports.ts
  resources/[dg]/dg-jobs/typescript/src/client/controllers/index.ts
  resources/[dg]/dg-peek/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-peek/typescript/src/client/helpers/context.ts
  resources/[dg]/dg-peek/typescript/src/client/helpers/entries.ts
  resources/[dg]/dg-phone/server/sv_justice.lua
  resources/[dg]/dg-radialmenu/client/entries/cl_citizen.lua
  resources/[dg]/dg-radialmenu/client/main.lua
  resources/[dg]/dg-ui/client/components/cl_info.lua
  resources/[dg]/dg-weapons/client/cl_functions.lua
  resources/[dg]/ts-shared/typescript/src/client/classes/jobs.ts
  resources/[dg]/ts-shared/typescript/src/server/types/core.d.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/core.d.ts
  resources/[qb]/qb-ambulancejob/client/job.lua
  resources/[qb]/qb-clothing/client/main.lua
  resources/[qb]/qb-clothing/fxmanifest.lua
  resources/[qb]/qb-mechanicjob/client/main.lua
  resources/[qb]/qb-policejob/client/job.lua
  resources/[qb]/qb-policejob/fxmanifest.lua
  resources/[qb]/qb-scoreboard/server.lua
  resources/[qb]/qb-smallresources/server/consumables.lua
Due: JS linting

fix(dgx): fixed 2 transactions timeing out due to traceId being invalid
  resources/[dg]/ts-shared/typescript/src/client/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/config.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/interaction.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/sentry.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/server/decorators/Events.ts
  resources/[dg]/ts-shared/typescript/src/server/decorators/RPC.ts
  resources/[dg]/ts-shared/typescript/src/server/index.ts
Due: JS linting

feat(jobs): added missing signin location for ambulance
  resources/[dg]/dg-config/configs/jobs/signin.json
Due: validate json

fix(events): fixed RPC to target -1 being broken due to statebags
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
Due: JS linting

fix(ui): only set focus to interactive apps on click
  resources/[dg]/dg-ui/[src]/src/components/appwrapper.tsx
Due: JS linting

feat(ui): Auto set activeApp to none if activeApp gets hidden
  resources/[dg]/dg-ui/[src]/src/components/appwrapper.tsx
Due: JS linting

fix(peek): hide on alt-up when focused to now pausemenu, center cursor on focus
  resources/[dg]/dg-peek/typescript/src/client/classes/stateManager.ts
  resources/[dg]/dg-peek/typescript/src/client/controllers/events.ts
Due: JS linting

fix(ui): removed dgx workaround that has since been fixed
  resources/[dg]/dg-ui/client/components/cl_notification.lua
Due: none

refactor: updated other scripts to new table names
  resources/[core]/dg-core/server/functions.lua
  resources/[core]/dg-core/server/player.lua
  resources/[dg]/dg-chars/server/sv_main.lua
  resources/[dg]/dg-phone/server/sv_tweets.lua
  resources/[qb]/qb-ambulancejob/server/main.lua
  resources/[qb]/qb-houses/server/main.lua
Due: none

feat(db): added migrations folder + tool
  .gitignore
  migrate.bat
  migrations/V1_create_initial_db.sql
  migrations/V2_create_all_data_view.sql
  tools/migrations/index.js
  tools/migrations/package.json
  tools/migrations/yarn.lock
Due: validate json, JS linting, JS building

feat(migrations): finished ci, added flag to init db in tool + fixed v1 sql
  .gitlab-ci.yml
  migrations/V1_create_initial_db.sql
  tools/migrations/fileHelpers.js
  tools/migrations/getConnectionOptions.js
  tools/migrations/index.js
Due: JS linting
