Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock

feat(admin): add kick from vehicle command
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/client/modules/commands/controller.commands.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/kickFromVehicle.ts
Due: JS linting, TS dev build, TS prod build

fix(logs): move export usages to dgx function
  CHANGELOG.md
  resources/[dg]/dg-chars/fxmanifest.lua
  resources/[dg]/dg-chars/server/sv_main.lua
  resources/[dg]/dg-logs/fxmanifest.lua
  resources/[dg]/dg-logs/server/sv_events.lua
Due: validate Errorlogger

tweak: increase payout of everything, lower decay for a lot of items
  resources/[dg]/dg-config/configs/criminal/blackmoney.json
  resources/[dg]/dg-config/configs/criminal/cornerselling.json
  resources/[dg]/dg-config/configs/criminal/fence.json
  resources/[dg]/dg-config/configs/financials.json
  resources/[dg]/dg-config/configs/inventory/consumables.json
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/inventory/shops.json
  resources/[dg]/dg-config/configs/jobs/hunting.json
  resources/[dg]/dg-config/configs/jobs/sanitation.json
  resources/[dg]/dg-config/configs/jobs/scrapyard.json
  resources/[dg]/dg-config/configs/lockers.json
  resources/[dg]/dg-config/configs/materials/crafting.json
  resources/[dg]/dg-config/configs/materials/dumpsters.json
  resources/[dg]/dg-config/configs/materials/radiotowers.json
  resources/[dg]/dg-config/configs/police/requirements.json
  resources/[dg]/dg-config/configs/restaurants.json
  resources/[dg]/dg-config/configs/vehicles/mechanic.json
  resources/[dg]/dg-config/configs/vehicles/upgradeprices.json
  resources/[dg]/dg-jobs/typescript/src/server/modules/fishing/service.fishing.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/postop/service.postop.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/sanitation/service.sanitation.ts
Due: validate json, JS linting, TS dev build, TS prod build

chore(materials): more logs for the fun stuff
  CHANGELOG.md
  resources/[dg]/dg-materials/typescript/src/client/modules/containers/service.containers.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/containers/controller.containers.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/containers/service.containers.ts
Due: JS linting, TS dev build, TS prod build

feat(postop): add skip location
  CHANGELOG.md
  resources/[dg]/dg-jobs/typescript/src/client/modules/postop/controller.postop.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/postop/service.postop.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/sanitation/controller.sanitation.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/sanitation/servive.sanitation.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/postop/controller.postop.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/postop/service.postop.ts
Due: JS linting, TS dev build, TS prod build

feat(peek): default disable entries while in vehicle
  CHANGELOG.md
  resources/[dg]/dg-peek/PARAMETERS.md
  resources/[dg]/dg-peek/typescript/src/client/helpers/entries.ts
  resources/[dg]/dg-peek/typescript/src/client/types/peek.d.ts
  resources/[dg]/ts-shared/typescript/src/client/types/peek.d.ts
Due: JS linting, TS dev build, TS prod build

feat(admin): search by charname
  CHANGELOG.md
  resources/[dg]/dg-admin/ui/src/lib/store.ts
Due: JS linting, TS dev build, TS prod build

feat(vehiclestatus): check service for everyone, slower decay, min damage for stall
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/mechanic/controller.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/constant.status.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
Due: JS linting, TS dev build, TS prod build

fix(misc): disable random spawn firetrucks
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/shared/constants.ts
Due: JS linting, TS dev build, TS prod build

feat(admin): take screenshot option
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/takeScreenshot.ts
Due: JS linting, TS dev build, TS prod build

fix(keys): change flags for hotwire anim to stop getting out when finished
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/keys/controller.keys.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicleshop): show info of current vehicle at spot
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/vehicleshop/controller.vehicleshop.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/classes/ShopManager.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/constants.vehicleshop.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/controller.vehicleshop.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/helpers.vehicleshop.ts
Due: JS linting, TS dev build, TS prod build

chore(ci): set clone depth to low number
  .gitlab-ci.yml
Due: none

feat(financials): add vehicle maintenance fees + fix scheduling issues
  CHANGELOG.md
  resources/[dg]/dg-config/configs/financials.json
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/classes/debtmanager.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/controllers/debts.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/helpers/maintenanceFees.ts
  resources/[dg]/dg-financials/typescript/src/server/types/db.d.ts
  resources/[dg]/dg-financials/typescript/src/server/types/index.d.ts
  resources/[dg]/dg-phone/client/cl_debt.lua
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/debt-app/components/debtList.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/debt-app/components/maintenanceEntries.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/debt-app/components/modals.tsx
  resources/[dg]/dg-vehicles/typescript/src/server/db/repository.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/service.garages.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/index.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/maintenanceFees.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/financials.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/financials.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(ci): disable some compression things + enable faster zipper for cache
  .gitlab-ci.yml
Due: none

docs(changelog): bump version
  CHANGELOG.md
Due: none

fix(vehicles): check first value of array for count
  resources/[dg]/dg-vehicles/typescript/src/server/db/repository.ts
Due: JS linting, TS dev build, TS prod build

fix(dgx: add try-catch around Log helper
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
Due: JS linting, TS dev build, TS prod build

fix(admin): logs do right check in ternary
  resources/[dg]/dg-admin/typescript/src/server/modules/penalties/service.penalties.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
Due: JS linting, TS dev build, TS prod build

docs: i put shit at wrong releasetag
  CHANGELOG.md
Due: none

feat(doorlock): add low santos doors
  CHANGELOG.md
  resources/[dg]/dg-doorlock/seeding/doors.json
Due: validate json

fix(radialmenu): fix invalid icon names
  CHANGELOG.md
  resources/[dg]/dg-radialmenu/typescript/src/client/data/walkstyles.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): correct ambu spawn names
  CHANGELOG.md
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

feat(hospital): add log when ply drops while down
  resources/[core]/dg-core/README.md
  resources/[core]/dg-core/server/events.lua
  resources/[core]/dg-core/server/player.lua
  resources/[dg]/dg-hospital/typescript/src/server/modules/down/controller.down.ts
Due: JS linting, TS dev build, TS prod build

chore(inventory): logger to debug for irrelevant actions
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/locations/manager.locations.ts
Due: JS linting, TS dev build, TS prod build

fix(salestickets): hide origin key
  CHANGELOG.md
  resources/[dg]/dg-restaurants/typescript/src/server/classes/restaurant.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/mechanic/service.mechanic.ts
Due: JS linting, TS dev build, TS prod build

fix(dgx): added playerdata parameter to on Unloaded
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
Due: JS linting, TS dev build, TS prod build

fix(dg): added missing justice points
  CHANGELOG.md
  resources/[dg]/dg-config/configs/jobs/signin.json
  resources/[dg]/dg-phone/server/sv_justice.lua
  resources/[dg]/dg-ui/[src]/src/main/phone/enum.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(phone): end animation on ui reload
  resources/[dg]/dg-phone/client/cl_animation.lua
  resources/[dg]/dg-phone/client/cl_calls.lua
  resources/[dg]/dg-phone/server/sv_main.lua
Due: none

tweak(justice): update idcard prices
  resources/[dg]/dg-justice/typescript/src/server/services/cityhall.ts
Due: JS linting, TS dev build, TS prod build

refactor(ui): do not remove focus when other interactive apps are active
  CHANGELOG.md
  resources/[dg]/dg-phone/client/cl_main.lua
  resources/[dg]/dg-ui/[src]/src/components/appwrapper.tsx
  resources/[dg]/dg-ui/[src]/src/lib/hooks/useApps.ts
  resources/[dg]/dg-ui/[src]/src/main/peek/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/lib.ts
  resources/[dg]/dg-ui/client/cl_main.lua
Due: JS linting, TS dev build, TS prod build

fix(ci): only cache node_modules of root
  .gitlab-ci.yml
Due: none

feat(vehicles): new prices for D,C,B
  CHANGELOG.md
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

feat(misc): add convar for bot
  resources/[dg]/dg-misc/typescript/src/server/server.ts
  resources/[dg]/dg-misc/typescript/src/server/services/convars.ts
Due: JS linting, TS dev build, TS prod build

feat(reports): ability to close from in-game UI
  resources/[dg]/dg-auth/typescript/src/client/modules/panel/controller.panel.ts
  resources/[dg]/dg-auth/ui-project/src/main.ts
  resources/[dg]/dg-auth/ui-project/src/panel/events.ts
  resources/[dg]/dg-auth/ui-project/src/panel/reports/actions.ts
  resources/[dg]/dg-auth/ui-project/src/panel/reports/infoStore.ts
  resources/[dg]/dg-auth/ui-project/src/panel/reports/socketStorage.ts
  resources/[dg]/dg-auth/ui-project/src/panel/reports/websocket.ts
  resources/[dg]/dg-auth/ui-project/src/panel/reportsocket.ts
  resources/[dg]/dg-ui/[src]/src/main/reports/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/reports/components/AddReport.tsx
  resources/[dg]/dg-ui/[src]/src/main/reports/components/List.tsx
  resources/[dg]/dg-ui/[src]/src/main/reports/components/Report.tsx
  resources/[dg]/dg-ui/[src]/src/main/reports/components/ReportContainer.tsx
  resources/[dg]/dg-ui/[src]/src/main/reports/stores/reportStore.ts
  resources/[dg]/dg-ui/[src]/src/types/apps/reports.d.ts
Due: JS linting, TS dev build, TS prod build

fix(financials): check if cash is undefined specifically
  resources/[dg]/dg-financials/typescript/src/server/modules/cash/service.ts
Due: JS linting, TS dev build, TS prod build

fix(anticheat): fix false positives of speed and damagemultiplier
  CHANGELOG.md
  resources/[dg]/dg-auth/typescript/src/client/modules/anticheat/service.anticheat.ts
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/service.anticheat.ts
Due: JS linting, TS dev build, TS prod build

fix(postop): skip on vehicle instead of ped
  CHANGELOG.md
  resources/[dg]/dg-jobs/typescript/src/client/modules/postop/service.postop.ts
Due: JS linting, TS dev build, TS prod build

feat(admin): dont overlap names in vehicle, resetplayerprops for staff
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/client/service/playerBlips.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/kickFromVehicle.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/resetPlayerProps.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
Due: JS linting, TS dev build, TS prod build
