Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build node image, validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

Path conditions:
  build node image: any of: package.json, yarn.lock
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock

tweak(materials): remove empty chance for dumpsters & lower radiotowers refresh time
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/dumpsters.json
  resources/[dg]/dg-config/configs/materials/radiotowers.json
Due: validate json

feat(hospital): show charname when checking in
  CHANGELOG.md
  resources/[dg]/dg-hospital/typescript/src/server/modules/job/controller.job.ts
Due: JS linting, TS dev build, TS prod build

tweak(storerobbery): higher chance of getting special item from safe
  CHANGELOG.md
  resources/[dg]/dg-config/configs/storerobbery.json
Due: validate json

tweak(materials): tweak sand/glass numbers
  resources/[dg]/dg-config/configs/materials/crafting.json
  resources/[dg]/dg-config/configs/materials/melting.json
  resources/[dg]/dg-jobs/typescript/src/client/modules/sanddigging/service.sanddigging.ts
Due: validate json, JS linting, TS dev build, TS prod build

tweak(inventory): increase parachute/scubagear lifetime
  resources/[dg]/dg-config/configs/inventory/items.json
Due: validate json

fix(vehicles): stop thread when native throws error
  CHANGELOG.md
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
Due: JS linting, TS dev build, TS prod build

chore(assets): update submodule
  CHANGELOG.md
Due: none

tweak(crafting): lower some reqs
  resources/[dg]/dg-config/configs/materials/crafting.json
Due: validate json

tweak(inventory): lower multiple decayrates
  resources/[dg]/dg-config/configs/inventory/items.json
Due: validate json

fix(dispatch): provide correct handle to play imporant sound
  CHANGELOG.md
  resources/[dg]/dg-dispatch/typescript/src/server/services/dispatch.ts
Due: JS linting, TS dev build, TS prod build

fix(police/trackers): use entity handle to not reference wrong vehicle
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/modules/trackers/service.trackers.ts
  resources/[dg]/dg-police/typescript/src/server/modules/trackers/controller.trackers.ts
  resources/[dg]/dg-police/typescript/src/server/modules/trackers/service.trackers.ts
  resources/[dg]/dg-police/typescript/src/types/index.d.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/services/testdrive.vehicleshop.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/jobs.ts
Due: JS linting, TS dev build, TS prod build

fix(inventory): check if gridspot free when moving multiple
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/server/controllers/controller.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/classes/item.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/manager.items.ts
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/grid.tsx
  resources/[dg]/dg-ui/[src]/src/main/inventory/hooks/useInventory.ts
Due: JS linting, TS dev build, TS prod build

fix(inventory): overwrite current inventoryId in destroy sync event
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/classes/item.ts
Due: JS linting, TS dev build, TS prod build

feat(inventory): prefer old rotation when finding available position
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/server/controllers/controller.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/classes/item.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/manager.items.ts
  resources/[dg]/dg-ui/[src]/src/main/inventory/hooks/useInventory.ts
  resources/[dg]/dg-ui/[src]/src/main/inventory/util.ts
Due: JS linting, TS dev build, TS prod build

feat(112): move to dg-dispatch to remove duplicate code & add timeout/phone check
  CHANGELOG.md
  resources/[dg]/dg-dispatch/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-dispatch/typescript/src/server/server.ts
  resources/[dg]/dg-dispatch/typescript/src/server/services/112.ts
  resources/[dg]/dg-hospital/typescript/src/server/controllers/commands.ts
  resources/[dg]/dg-hospital/typescript/src/server/controllers/index.ts
  resources/[dg]/dg-police/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-police/typescript/src/server/modules/alerts/controller.alerts.ts
Due: JS linting, TS dev build, TS prod build

fix(hospital): revert timer resetting on damage while down
  resources/[dg]/dg-hospital/typescript/src/client/modules/down/service.down.ts
Due: JS linting, TS dev build, TS prod build

refactor(fpcam): move binoculars to seperate first person cam module to reuse for other things
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/fpcam/constants.fpcam.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/fpcam/controller.fpcam.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/fpcam/index.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/fpcam/service.fpcam.ts
  resources/[dg]/dg-misc/typescript/src/client/services/binoculars.ts
  resources/[dg]/dg-misc/typescript/src/server/server.ts
  resources/[dg]/dg-misc/typescript/src/server/services/consumables.ts
  resources/[dg]/dg-misc/typescript/src/server/services/parachute.ts
  resources/[dg]/dg-misc/typescript/src/server/services/scubagear.ts
  resources/[dg]/dg-misc/typescript/src/server/services/useables.ts
  resources/[dg]/dg-police/typescript/src/client/client.ts
  resources/[dg]/dg-police/typescript/src/client/modules/binoculars/constants.binoculars.ts
  resources/[dg]/dg-police/typescript/src/client/modules/binoculars/controller.binoculars.ts
  resources/[dg]/dg-police/typescript/src/client/modules/binoculars/index.ts
  resources/[dg]/dg-police/typescript/src/client/modules/binoculars/service.binoculars.ts
  resources/[dg]/dg-police/typescript/src/client/services/camera.ts
  resources/[dg]/dg-police/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-police/typescript/src/server/server.ts
  resources/[dg]/dg-police/typescript/src/server/services/camera.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
Due: JS linting, TS dev build, TS prod build

chore(dgx): add clipboard wrapper function
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/getItemData.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/takeScreenshot.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/arena/controller.arena.ts
  resources/[dg]/dg-police/typescript/src/server/modules/evidence/controller.evidence.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/identification/controller.identification.ts
  resources/[dg]/dg-weapons/typescript/src/client/modules/weapons/controller.weapons.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/ui.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/ui.ts
Due: JS linting, TS dev build, TS prod build

feat(police): add ability to take actual pictures with camera
  resources/[dg]/dg-police/typescript/src/client/services/camera.ts
  resources/[dg]/dg-police/typescript/src/server/services/camera.ts
Due: JS linting, TS dev build, TS prod build

docs(changelog): add missing entries
  CHANGELOG.md
Due: none

feat(news): add news related items
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/inventory/shops.json
  resources/[dg]/dg-config/configs/npcs.json
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/fpcam/constants.fpcam.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/constants.propattach.ts
  resources/[dg]/dg-misc/typescript/src/client/services/news.ts
  resources/[dg]/dg-misc/typescript/src/server/server.ts
  resources/[dg]/dg-misc/typescript/src/server/services/news.ts
  resources/[dg]/dg-ui/[src]/src/assets/inventory/news_boommic.png
  resources/[dg]/dg-ui/[src]/src/assets/inventory/news_camera.png
  resources/[dg]/dg-ui/[src]/src/assets/inventory/news_light.png
  resources/[dg]/dg-ui/[src]/src/assets/inventory/news_microphone.png
Due: validate json, JS linting, TS dev build, TS prod build

tweak(inventory): increase bandages lifetime
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/items.json
Due: validate json

chore(garages): move straightpiper shared to not collide with wall
  resources/[dg]/dg-vehicles/seeding/garages/straightpipers_shared.json
Due: validate json

fix(vehicles): always try server native heading setter when spawning vehicle
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
Due: JS linting, TS dev build, TS prod build

fix(garages): changed location of gang-garage
  resources/[dg]/dg-vehicles/seeding/garages/gang_elverde.json
Due: validate json

chore(vehicles): update submodule
  CHANGELOG.md
Due: none

feat(minigames): add keypad UI with configurable buttons
  CHANGELOG.md
  resources/[dg]/dg-minigames/typescript/src/client/client.ts
  resources/[dg]/dg-minigames/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-minigames/typescript/src/client/modules/gridgames/controller.gridgames.ts
  resources/[dg]/dg-minigames/typescript/src/client/modules/gridgames/service.gridgames.ts
  resources/[dg]/dg-minigames/typescript/src/client/modules/keygame/controller.keygame.ts
  resources/[dg]/dg-minigames/typescript/src/client/modules/keygame/service.keygame.ts
  resources/[dg]/dg-minigames/typescript/src/client/modules/keypad/constants.keypad.ts
  resources/[dg]/dg-minigames/typescript/src/client/modules/keypad/controller.keypad.ts
  resources/[dg]/dg-minigames/typescript/src/client/modules/keypad/index.ts
  resources/[dg]/dg-minigames/typescript/src/client/modules/keypad/service.keypad.ts
  resources/[dg]/dg-ui/[src]/src/main/cli/commands.ts
  resources/[dg]/dg-ui/[src]/src/main/keypad/_config.tsx
  resources/[dg]/dg-ui/[src]/src/main/keypad/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/keypad/components/keypad.tsx
  resources/[dg]/dg-ui/[src]/src/main/keypad/styles/keypad.scss
  resources/[dg]/dg-ui/[src]/src/types/apps/keypad.d.ts
  resources/[dg]/dg-ui/[src]/src/types/main.d.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/minigames.ts
  resources/[dg]/ts-shared/typescript/src/client/controllers/events.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/minigames.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/minigames.d.ts
Due: JS linting, TS dev build, TS prod build

feat(particles): add serverside functions
  CHANGELOG.md
  resources/[dg]/dg-doorlock/typescript/src/client/services/doors.ts
  resources/[dg]/dg-heists/typescript/src/client/modules/fleeca/service.fleeca.ts
  resources/[dg]/dg-materials/typescript/src/client/modules/radiotowers/service.radiotowers.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/particles/controller.particles.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/particles/controller.particles.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/particles/service.particles.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/nos/service.nos.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/particles.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/client/types/global.d.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/particles.ts
  resources/[dg]/ts-shared/typescript/src/server/types/global.d.ts
Due: JS linting, TS dev build, TS prod build

refactor(npcs): add dgx class, delete runtime npcs on origin restart, cleanup flag/settings
  CHANGELOG.md
  resources/[dg]/dg-config/configs/npcs.json
  resources/[dg]/dg-inventory/typescript/src/client/modules/shops/controller.shops.ts
  resources/[dg]/dg-misc/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/rental/service.rental.ts
  resources/[dg]/dg-npcs/README.MD
  resources/[dg]/dg-npcs/typescript/src/client/classes/handler.ts
  resources/[dg]/dg-npcs/typescript/src/client/classes/npc.ts
  resources/[dg]/dg-npcs/typescript/src/types/index.d.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/npcs.ts
  resources/[dg]/ts-shared/typescript/src/client/types/global.d.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/npcs.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

refactor(sounds): add helper function to play success sound at coords
  resources/[dg]/dg-materials/typescript/src/server/modules/radiotowers/controller.radiotowers.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/sounds.ts
Due: JS linting, TS dev build, TS prod build

feat(ottos-shop): Added shop functions
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/shops.json
  resources/[dg]/dg-config/configs/npcs.json
  resources/[dg]/dg-config/configs/storerobbery.json
  resources/[dg]/dg-storerobbery/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

chore(dev): update dg-dev manifest to include js files
  resources/[dg]/dg-dev/fxmanifest.lua
Due: validate Errorlogger

fix(npcs): use new npc data format
  resources/[dg]/dg-config/configs/npcs.json
Due: validate json

feat(heists): add paleto bank heist
  CHANGELOG.md
  resources/[dg]/dg-config/configs/heists/locations/fleeca_benny.json
  resources/[dg]/dg-config/configs/heists/locations/fleeca_bp.json
  resources/[dg]/dg-config/configs/heists/locations/fleeca_highway.json
  resources/[dg]/dg-config/configs/heists/locations/fleeca_lifeinvader.json
  resources/[dg]/dg-config/configs/heists/locations/fleeca_motel.json
  resources/[dg]/dg-config/configs/heists/locations/fleeca_sandy.json
  resources/[dg]/dg-config/configs/heists/locations/paleto.json
  resources/[dg]/dg-config/configs/heists/paleto.json
  resources/[dg]/dg-config/configs/heists/types.json
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/npcs.json
  resources/[dg]/dg-config/configs/police/requirements.json
  resources/[dg]/dg-doorlock/seeding/doors.json
  resources/[dg]/dg-heists/typescript/src/client/client.ts
  resources/[dg]/dg-heists/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-heists/typescript/src/client/controllers/index.ts
  resources/[dg]/dg-heists/typescript/src/client/controllers/peek.ts
  resources/[dg]/dg-heists/typescript/src/client/modules/paleto/controller.paleto.ts
  resources/[dg]/dg-heists/typescript/src/client/modules/paleto/helpers.paleto.ts
  resources/[dg]/dg-heists/typescript/src/client/modules/paleto/index.ts
  resources/[dg]/dg-heists/typescript/src/client/modules/paleto/service.paleto.ts
  resources/[dg]/dg-heists/typescript/src/client/services/locations.ts
  resources/[dg]/dg-heists/typescript/src/server/classes/heistmanager.ts
  resources/[dg]/dg-heists/typescript/src/server/classes/typemanagers/paletomanager.ts
  resources/[dg]/dg-heists/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-heists/typescript/src/types/index.d.ts
  resources/[dg]/dg-heists/typescript/src/types/paleto.d.ts
  resources/[dg]/dg-ui/[src]/src/assets/inventory/heist_paleto_key.png
  resources/[dg]/dg-ui/[src]/src/assets/inventory/paper_note.png
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/shared/classes/util.ts
Due: validate json, JS linting, TS dev build, TS prod build

chore(impound): add extra reason & fix description
  resources/[dg]/dg-config/configs/vehicles/impound.json
Due: validate json

fix(radiotowers): fix insane timeout randomization
  CHANGELOG.md
  resources/[dg]/dg-materials/typescript/src/client/modules/radiotowers/service.radiotowers.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/radiotowers/controller.radiotowers.ts
Due: JS linting, TS dev build, TS prod build
