Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock

tweak(admin): change some command required roles
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/fixVehicle.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/playerBlips.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/refuelVehicle.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/revive.ts
Due: JS linting, TS dev build, TS prod build

feat(weed): add mail on plant destroy to be able to catch lil bitch
  packages/db/prisma/migrations/20230310013317_add_weedplant_cid/migration.sql
  packages/db/prisma/schema.prisma
  resources/[dg]/dg-config/configs/criminal/weed.json
  resources/[dg]/dg-criminal/typescript/src/client/modules/weed/service.weed.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/weed/classes/weedplant.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/weed/classes/weedplantmanager.ts
  resources/[dg]/dg-criminal/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

chore(chat): remove debugprint
  resources/[dg]/dg-chat/typescript/src/client/controllers/events.ts
Due: JS linting, TS dev build, TS prod build

feat(ci): make compression non-existing
  .gitlab-ci.yml
Due: none

tweak(cornersell): lowered modifier increase per sale
  resources/[dg]/dg-config/configs/criminal/cornerselling.json
  resources/[dg]/dg-criminal/typescript/src/server/modules/cornerselling/service.cornerselling.ts
  resources/[dg]/dg-criminal/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

tweak(requirements): lowered methlab people requirement
  CHANGELOG.md
  resources/[dg]/dg-config/configs/police/requirements.json
Due: validate json

tweak(melting): lowered melt time
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/melting.json
Due: validate json

fix(config): import config file to add handler in resources that use same caching service
  resources/[dg]/dg-criminal/typescript/src/server/modules/blackmoney/service.blackmoney.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/cornerselling/controller.cornerselling.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/cornerselling/service.cornerselling.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/fence/service.fence.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/weed/classes/weedplant.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/weed/classes/weedplantmanager.ts
  resources/[dg]/dg-criminal/typescript/src/server/server.ts
  resources/[dg]/dg-criminal/typescript/src/server/services/config.ts
  resources/[dg]/dg-farming/typescript/src/server/server.ts
  resources/[dg]/dg-farming/typescript/src/server/services/config.ts
  resources/[dg]/dg-labs/typescript/src/server/server.ts
  resources/[dg]/dg-labs/typescript/src/server/services/config.ts
  resources/[dg]/dg-lockers/typescript/src/server/services/config.ts
  resources/[dg]/dg-restaurants/typescript/src/server/server.ts
  resources/[dg]/dg-restaurants/typescript/src/server/services/config.ts
Due: JS linting, TS dev build, TS prod build

tweak(requirements): lowered weedlab people requirement
  CHANGELOG.md
  resources/[dg]/dg-config/configs/police/requirements.json
Due: validate json

fix(labs/meth): check if lab timed out when trying to start
  CHANGELOG.md
  resources/[dg]/dg-labs/typescript/src/client/modules/meth/service.meth.ts
  resources/[dg]/dg-labs/typescript/src/server/modules/meth/controller.meth.ts
  resources/[dg]/dg-labs/typescript/src/server/modules/meth/service.meth.ts
Due: JS linting, TS dev build, TS prod build

fix(doorlock): ignore the dumbass error
  resources/[dg]/dg-doorlock/typescript/src/client/helpers/doors.ts
Due: JS linting, TS dev build, TS prod build

fix(cornersell): check undefined baseprice
  CHANGELOG.md
  resources/[dg]/dg-criminal/typescript/src/server/modules/cornerselling/service.cornerselling.ts
Due: JS linting, TS dev build, TS prod build

feat(admin): add locate vehicle and player commands
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/locatePlayer.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/locateVehicle.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/spawnVehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/controller/vehicle.ts
Due: JS linting, TS dev build, TS prod build

feat(admin): add active notif when in cloak/noclip
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/client/modules/commands/controller.commands.ts
  resources/[dg]/dg-admin/typescript/src/client/service/noclip.ts
Due: JS linting, TS dev build, TS prod build

chore(inventory): more data for inventory:destroyAll log
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
Due: JS linting, TS dev build, TS prod build

fix(anticheat): allow mods in correct order for invis actions
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/cloak.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/noclip.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/service.commands.ts
  resources/[dg]/dg-auth/typescript/src/client/modules/anticheat/controller.anticheat.ts
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/controller.anticheat.ts
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/service.anticheat.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/sync.ts
Due: JS linting, TS dev build, TS prod build

fix(inventory): dont throw errors when drop was not found
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/server/modules/locations/manager.locations.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): add garage logs cache
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/db/repository.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/service.garages.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/services/logs.garages.ts
  resources/[dg]/dg-vehicles/typescript/src/server/types/garages.d.ts
Due: JS linting, TS dev build, TS prod build

feat(garages): add ability to see garagelogs for shared garages that are owned by cid 1000
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/service.garages.ts
Due: JS linting, TS dev build, TS prod build

fix(admin): fix door options calling dgx server function while being client command
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/registerDoor.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/toggleDoorLock.ts
  resources/[dg]/dg-doorlock/typescript/src/client/controllers/exports.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/doorlock.ts
Due: JS linting, TS dev build, TS prod build

fix(garages): sort garageLogs op id + always seed cache to atleast 30 entries
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/db/repository.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/services/logs.garages.ts
Due: JS linting, TS dev build, TS prod build

feat(weathersync): add customizable weather cycle lengths
  resources/[dg]/dg-weathersync/typescript/src/server/modules/weather/constants.weather.ts
  resources/[dg]/dg-weathersync/typescript/src/server/modules/weather/service.weather.ts
  resources/[dg]/dg-weathersync/typescript/src/server/server.ts
Due: JS linting, TS dev build, TS prod build

feat(auth/panel): split open and closing WS to prevent UI from using a closing conn
  CHANGELOG.md
  resources/[dg]/dg-auth/ui-project/src/panel/reports/socketStorage.ts
  resources/[dg]/dg-auth/ui-project/src/panel/reports/websocket.ts
Due: JS linting, TS dev build, TS prod build

chore(police): more data to confiscate log
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/server/modules/prison/controller.prison.ts
Due: JS linting, TS dev build, TS prod build

feat(clothing): add business only places
  CHANGELOG.md
  resources/[qb]/qb-clothing/client/main.lua
  resources/[qb]/qb-clothing/config.lua
Due: none

fix(storerobbery): cancel register anim on taskbar cancel
  CHANGELOG.md
  resources/[dg]/dg-storerobbery/typescript/src/client/modules/registers/service.registers.ts
Due: JS linting, TS dev build, TS prod build

tweak(vehicles): tweak eject and stall chances
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/seatbelts/service.seatbelts.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/constant.status.ts
Due: JS linting, TS dev build, TS prod build

feat(ci): use higher compression for smaller zip
  .gitlab-ci.yml
Due: none

feat(ci): introduce custom node images
  .gitlab-ci.yml
  Dockerfile
Due: none

refactor(staticobjects): manually sync instead of using globalstate
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/staticobjects/controller.staticobjects.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/staticobjects/service.staticobjects.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/staticobjects/controller.staticobjects.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/staticobjects/service.staticobjects.ts
  resources/[dg]/dg-misc/typescript/src/server/server.ts
Due: JS linting, TS dev build, TS prod build

feat(hospital): ems can also see 112 responses
  CHANGELOG.md
  resources/[dg]/dg-hospital/typescript/src/server/controllers/commands.ts
Due: JS linting, TS dev build, TS prod build

fix(ci): use cache inside img
  .gitlab-ci.yml
Due: none

refactor(staticobjects): use map to hold object state instead of statebag
  resources/[dg]/dg-criminal/typescript/src/client/modules/weed/controller.weed.ts
  resources/[dg]/dg-farming/typescript/src/client/controllers/ui.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/staticobjects/controller.staticobjects.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/staticobjects/service.staticobjects.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
Due: JS linting, TS dev build, TS prod build

fix(inventory): dont throw error during item creation, just devlog
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/manager.items.ts
Due: JS linting, TS dev build, TS prod build

fix(auth): disable speedcheck while in cloak
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/client/controllers/exports.ts
  resources/[dg]/dg-auth/typescript/src/client/modules/anticheat/service.anticheat.ts
Due: JS linting, TS dev build, TS prod build

Revert "refactor(staticobjects): use map to hold object state instead of statebag"
  resources/[dg]/dg-criminal/typescript/src/client/modules/weed/controller.weed.ts
  resources/[dg]/dg-farming/typescript/src/client/controllers/ui.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/staticobjects/controller.staticobjects.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/staticobjects/service.staticobjects.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
Due: JS linting, TS dev build, TS prod build

chore(staticobject): log when object was not created
  resources/[dg]/dg-misc/typescript/src/client/modules/staticobjects/service.staticobjects.ts
Due: JS linting, TS dev build, TS prod build

fix(ci): use default yarn cache
  .gitlab-ci.yml
  Dockerfile
Due: none

tweak(cornersell): lowered meth rep
  CHANGELOG.md
  resources/[dg]/dg-config/configs/criminal/cornerselling.json
Due: validate json
