Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

validate json:
  stage: test
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  services:
  - name: mariadb:10.7
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'DATABASE_URL=mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4' > ./packages/db/.env
  - yarn --pure-lockfile
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

TS dev build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

TS prod build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

feat(propattach): add some big melee weapons as backitems
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/objects.json
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/constants.propattach.ts
Due: validate json, JS linting, TS dev build, TS prod build

refactor(weed): use same fertilizing system as farming
  CHANGELOG.md
  resources/[dg]/dg-config/configs/criminal/weed.json
  resources/[dg]/dg-criminal/typescript/src/client/modules/weed/controller.weed.ts
  resources/[dg]/dg-criminal/typescript/src/client/modules/weed/service.weed.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/weed/classes/weedplant.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/weed/classes/weedplantmanager.ts
  resources/[dg]/dg-criminal/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

tweak(farming): lower taskbar times for smoother experience
  resources/[dg]/dg-farming/typescript/src/client/services/plants.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): fix taxi spawn name
  CHANGELOG.md
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

fix(hospital): always res when dead, set correct ped flags on load while down
  CHANGELOG.md
  resources/[dg]/dg-hospital/typescript/src/client/controller/events.ts
  resources/[dg]/dg-hospital/typescript/src/client/modules/down/controller.down.ts
  resources/[dg]/dg-hospital/typescript/src/client/modules/down/service.down.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/gtabehaviour/controller.gtabehaviour.ts
Due: JS linting, TS dev build, TS prod build

feat(reports): add UI indicator for report changes
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/menu/controller.menu.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/menu/service.menu.ts
  resources/[dg]/dg-api/typescript/src/server/routes/admin.ts
  resources/[dg]/dg-auth/typescript/src/client/modules/panel/controller.panel.ts
  resources/[dg]/dg-ui/[src]/src/lib/devdata.ts
  resources/[dg]/dg-ui/[src]/src/lib/stores/useVisibleStore.ts
  resources/[dg]/dg-ui/[src]/src/main/reports-indicator/_config.tsx
  resources/[dg]/dg-ui/[src]/src/main/reports-indicator/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/reports-indicator/stores/useReportIndicatorStore.ts
  resources/[dg]/dg-ui/[src]/src/main/reports/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/reports/components/List.tsx
  resources/[dg]/dg-ui/[src]/src/main/reports/stores/reportStore.ts
  resources/[dg]/dg-ui/[src]/src/main/reports/style/index.scss
  resources/[dg]/dg-ui/[src]/src/types/apps/reports.d.ts
  resources/[dg]/dg-ui/[src]/src/types/main.d.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/admin.ts
Due: JS linting, TS dev build, TS prod build

fix(labs): correct taskbar icons/labels in weedlab
  CHANGELOG.md
  resources/[dg]/dg-labs/typescript/src/client/modules/weed/service.weed.ts
Due: JS linting, TS dev build, TS prod build

fix(labs): less stress when harvesting weed
  CHANGELOG.md
  resources/[dg]/dg-labs/typescript/src/server/modules/weed/service.weed.ts
Due: JS linting, TS dev build, TS prod build

fix(yarn): update fa-6 package
  yarn.lock
Due: JS linting, TS dev build, TS prod build

fix(health): (re)store health and armor in ply metadata
  CHANGELOG.md
  resources/[core]/dg-core/server/player.lua
  resources/[dg]/dg-hospital/typescript/src/client/modules/health/controller.health.ts
Due: JS linting, TS dev build, TS prod build

fix(dgx): push missing types for core
  resources/[dg]/ts-shared/typescript/src/shared/types/core.d.ts
Due: JS linting, TS dev build, TS prod build

chore(core): removed unseen debug print
  resources/[core]/dg-core/server/player.lua
Due: none

fix(sounds): remove tick between sounds, hopefully quieter
  resources/[standalone]/nutty-sounds/data/sirens.dat54.rel
Due: none

fix(chat): do not peek chat when chat UI is focused
  resources/[dg]/dg-chat/typescript/src/client/helpers/chat.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): copy vin when reading it
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/lib/events.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/identification/controller.identification.ts
Due: JS linting, TS dev build, TS prod build

refactor(houserobbery): add cooldown for houses + finish job when all loottables have been cleared
  resources/[dg]/dg-config/configs/houserobbery.json
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/enums/states.ts
  resources/[dg]/dg-houserobbery/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(yoga): go to entity on start instead of end
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/services/yoga.ts
Due: JS linting, TS dev build, TS prod build

fix(restaurant): use more logical stash labels
  resources/[dg]/dg-restaurants/typescript/src/client/controllers/peek.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): cannot stall if engine disabled
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
Due: JS linting, TS dev build, TS prod build

fix(jobs): dont check if busy when trying to set group job as null
  CHANGELOG.md
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/service.ts
Due: JS linting, TS dev build, TS prod build

fix(houserob): allow anyone to enter if door already unlocked
  resources/[dg]/dg-houserobbery/typescript/src/client/services/interiors.ts
Due: JS linting, TS dev build, TS prod build

fix(houserob): correct amount of lootzones in medium, use correct prop of shelltypes
  resources/[dg]/dg-config/configs/houserobbery.json
  resources/[dg]/dg-houserobbery/typescript/src/server/controllers/events.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(admin): minimap in noclip
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/client/service/noclip.ts
Due: JS linting, TS dev build, TS prod build

refactor(houserobbery): do cleanup after player left house
  resources/[dg]/dg-houserobbery/fxmanifest.lua
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/server.ts
Due: validate Errorlogger, JS linting, TS dev build, TS prod build

fix(minigames): fix build script
  resources/[dg]/dg-minigames/typescript/package.json
Due: validate json, JS linting, TS dev build, TS prod build

fix(inventory): save before unloading on ply drop
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/controller.inventories.ts
Due: JS linting, TS dev build, TS prod build

feat(stress): minimum value for stress to show icon
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/modules/hud/constants.hud.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/hud/service.hud.ts
Due: JS linting, TS dev build, TS prod build

fix(sanddigging): increase spot distance
  CHANGELOG.md
  resources/[dg]/dg-jobs/typescript/src/client/modules/sanddigging/controller.sanddigging.ts
Due: JS linting, TS dev build, TS prod build

feat(wirecutting): add chance to dispatch call
  resources/[dg]/dg-config/configs/dispatch.json
  resources/[dg]/dg-doorlock/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/wirecutting/controller.wirecutting.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(restaurant): build stash zone on enter instead of signin
  resources/[dg]/dg-restaurants/typescript/src/client/services/locations.ts
Due: JS linting, TS dev build, TS prod build

feat(labs): add possibility to disable specific labs
  CHANGELOG.md
  resources/[dg]/dg-config/configs/labs/locations.json
  resources/[dg]/dg-labs/typescript/src/server/services/labs.ts
  resources/[dg]/dg-labs/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(hunting): less pay for freeroam animals compared to from bait animals
  resources/[dg]/dg-config/configs/jobs/hunting.json
  resources/[dg]/dg-jobs/typescript/src/client/modules/hunting/service.hunting.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/hunting/controller.hunting.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/hunting/service.hunting.ts
  resources/[dg]/dg-jobs/typescript/src/types/hunting.d.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/server/controllers/events.ts
Due: validate json, JS linting, TS dev build, TS prod build

tweak(vehicles): change lockpick difficulty per class
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/service.keys.ts
Due: JS linting, TS dev build, TS prod build

chore(inventory): fix consistency in logs with an itemId
  resources/[dg]/dg-criminal/typescript/src/server/modules/cornerselling/controller.cornerselling.ts
  resources/[dg]/dg-inventory/typescript/src/server/controllers/controller.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/classes/item.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/controllers.items.ts
  resources/[dg]/dg-materials/typescript/src/server/services/crafting.ts
  resources/[dg]/dg-restaurants/typescript/src/server/classes/restaurant.ts
  resources/[dg]/dg-ui/[src]/src/main/inventory/component.tsx
Due: JS linting, TS dev build, TS prod build

fix(hunting): remove print & add default value
  resources/[dg]/dg-jobs/typescript/src/server/modules/hunting/service.hunting.ts
Due: JS linting, TS dev build, TS prod build

chore(dpemotes): remove garbage shit we dont need or want
  resources/[standalone]/dpemotes/Client/AnimationList.lua
  resources/[standalone]/dpemotes/Client/Emote.lua
  resources/[standalone]/dpemotes/Client/EmoteMenu.lua
  resources/[standalone]/dpemotes/Client/Walk.lua
  resources/[standalone]/dpemotes/Server/Server.lua
  resources/[standalone]/dpemotes/Server/Updates.lua
  resources/[standalone]/dpemotes/version
Due: none

feat(restaurant): every signed in employee gets ticket for small percentage
  CHANGELOG.md
  resources/[dg]/dg-config/configs/restaurants.json
  resources/[dg]/dg-restaurants/typescript/src/server/classes/restaurant.ts
  resources/[dg]/dg-restaurants/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(houserob): send mail to correct plyId
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
Due: JS linting, TS dev build, TS prod build

fix(jobs): add info for judge
  resources/[dg]/dg-config/configs/jobs/whitelist.json
Due: validate json

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
