Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, JS linting, JS building

.gitlab-ci.yml:

stages:
  - test
  - linting
  - build
  - housekeeping

image: node:lts

.lerna_installation:
  before_script:
    - yarn config set network-timeout 600000 -g
    - yarn --pure-lockfile
    - yarn postinstall:lerna

.cache_modules:
  cache:
    key: "$CI_COMMIT_REF_NAME-node_modules"
    paths:
      - node_modules/
      - '**/node_modules/'

validate json:
  stage: test
  script:
    - cd ./tools/json-validator
    - yarn --pure-lockfile
    - yarn start
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.json"

sonarqube-check:
  stage: test
  tags:
    - amd64
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [ "" ]
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
    GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task
  cache:
    key: "$CI_COMMIT_REF_NAME-sonar"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner
  allow_failure: true
  only:
    - main
    - UPD

JS linting:
  extends:
    - .lerna_installation
    - .cache_modules
  stage: linting
  script:
    - yarn lint
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.js"
      - "**/*.ts"
      - "**/*.jsx"
      - "**/*.tsx"
      - "**/*.scss"

JS building:
  extends:
    - .lerna_installation
    - .cache_modules
  stage: build
  script:
    - yarn format -- -- --loglevel error
    - yarn build
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.(js|ts|jsx|tsx|css|scss|less|html)"
      - "**/package.json"
      - "**/yarn.lock"


rebase UPD:
  stage: housekeeping
  image: node:lts
  script:
    # setting up git
    - url_host=`git remote get-url origin | sed -e "s/https:\/\/gitlab-ci-token:.*@//g"`
    - git remote set-url origin "https://gitlab-ci-token:${ACCESS_TOKEN_PARAM}@${url_host}"
    - git config http.sslverify false
    - git config --global user.email "ci@gitlab.pieter557.dscloud.me"
    - git config --global user.name "CI"
    - git fetch # Just in case branch is not fetch
    - git checkout -t origin/main
    - git pull
    - git checkout -t origin/UPD
    - git pull
    # Rebase
    - git rebase main UPD
    # Push
    - git push -u origin UPD

  only:
    - main

fix(core): fixed missed queries to old players table
  resources/[core]/dg-core/server/player.lua
Due: none

fix(logs): fixed client report evt not being registered properly
  resources/[dg]/dg-logs/server/sv_sentry.lua
Due: none

fix(core): add check for new citizenId before saving additional data that is linked with this id
  resources/[core]/dg-core/server/player.lua
Due: none

feat(dgx): enabled strictchecks
  resources/[dg]/ts-shared/typescript/src/client/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/interaction.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/client/tsconfig.json
  resources/[dg]/ts-shared/typescript/src/client/types/events.d.ts
  resources/[dg]/ts-shared/typescript/src/client/types/interaction.d.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/sentry.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/server/decorators/Callbacks.ts
  resources/[dg]/ts-shared/typescript/src/server/decorators/Events.ts
  resources/[dg]/ts-shared/typescript/src/server/decorators/RPC.ts
  resources/[dg]/ts-shared/typescript/src/server/tsconfig.json
  resources/[dg]/ts-shared/typescript/src/shared/decorators/Exports.ts
  resources/[dg]/ts-shared/typescript/src/shared/tsconfig.json
  resources/[dg]/ts-shared/typescript/src/shared/types/events.d.ts
Due: validate json, JS linting

feat(discord): updated discord presence to DG values
  resources/[dg]/dg-misc/client/cl_discord.lua
  resources/[qb]/qb-smallresources/client/discord.lua
Due: none

fix(code): use right result to get citizenid
  resources/[core]/dg-core/server/player.lua
Due: none

refactor(core): removed cid field, removed unused player metadata and functions
  migrations/V3_remove_cid_from_characters.sql
  resources/[core]/dg-core/server/functions.lua
  resources/[core]/dg-core/server/player.lua
  resources/[dg]/dg-chars/client/cl_nui.lua
  resources/[dg]/dg-chars/client/cl_util.lua
  resources/[dg]/dg-chars/server/sv_main.lua
  resources/[dg]/dg-phone/server/sv_tweets.lua
  resources/[dg]/ts-shared/typescript/src/server/types/core.d.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/core.d.ts
Due: JS linting

tweak(auth): refresh on resource restart + priv token change and replaced steamId key with server ID in keyTable
  resources/[dg]/dg-auth/typescript/src/server/classes/eventIdManager.ts
  resources/[dg]/dg-auth/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-auth/typescript/src/server/helpers/events.ts
  resources/[dg]/dg-auth/typescript/src/server/helpers/tokens.ts
Due: JS linting

feat(events): also register for non-network emitter when using onNet
  resources/[dg]/ts-shared/typescript/src/client/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
Due: JS linting

style(notifications): restyled to more visible variant
  resources/[dg]/dg-ui/[src]/src/main/notifications/components/list.tsx
  resources/[dg]/dg-ui/[src]/src/main/notifications/components/notification.tsx
  resources/[dg]/dg-ui/[src]/src/main/notifications/styles/notifications.scss
Due: JS linting

style(tasbar): make filler lighter for visibility
  resources/[dg]/dg-ui/[src]/src/main/taskbar/styles/taskbar.scss
Due: JS linting

chore(assets): updated gabz files + bumped gameBuild
  config/resources-gabz.cfg
  config/server-template.cfg
Due: none

fix(core): readd replication of playerstate, got lost in admin merge...
  resources/[core]/dg-core/server/player.lua
Due: none

refactor(dgx): changed tracing details + reduced event count
  resources/[dg]/ts-shared/typescript/src/client/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/client/types/events.d.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/sentry.ts
  resources/[dg]/ts-shared/typescript/src/server/types/events.d.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/events.d.ts
Due: JS linting

fix(financials): fixed exports assign itself to undefined functions
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/controllers/accounts.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/controllers/actions.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/helpers/accounts.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/cash/controller.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/crypto/controller.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/classes/debtmanager.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/controllers/debts.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/helpers/debts.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/paycheck/controller.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/taxes/controller.ts
  resources/[dg]/dg-financials/typescript/src/server/server.ts
Due: JS linting

fix(tools): fixed migrate bat script
  migrate.bat
Due: none

refactor(dgx): rewritten DGX events to more clear + removed unneeded overhead in tokens
  resources/[dg]/dg-admin/fxmanifest.lua
  resources/[dg]/dg-auth/typescript/src/client/client.ts
  resources/[dg]/dg-auth/typescript/src/server/classes/eventIdManager.ts
  resources/[dg]/dg-auth/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-auth/typescript/src/server/controllers/exports.ts
  resources/[dg]/dg-auth/typescript/src/server/helpers/events.ts
  resources/[dg]/dg-auth/typescript/src/server/helpers/privateToken.ts
  resources/[dg]/dg-auth/typescript/src/server/helpers/resourceSet.ts
  resources/[dg]/dg-auth/typescript/src/server/helpers/tokens.ts
  resources/[dg]/dg-auth/typescript/src/server/modules/authTokens/controller.ts
  resources/[dg]/dg-auth/typescript/src/server/modules/authTokens/service.ts
  resources/[dg]/dg-auth/typescript/src/server/server.ts
  resources/[dg]/dg-auth/typescript/src/server/services/resourceTokens.ts
  resources/[dg]/dg-auth/typescript/src/server/sv_util.ts
  resources/[dg]/dg-auth/typescript/src/types/index.d.ts
  resources/[dg]/dg-chars/client/cl_main.lua
  resources/[dg]/dg-chars/fxmanifest.lua
  resources/[dg]/ts-shared/typescript/package.json
  resources/[dg]/ts-shared/typescript/src/client/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/client/types/events.d.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/server/types/events.d.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/events.d.ts
  resources/[dg]/ts-shared/typescript/yarn.lock
Due: validate json, JS linting, JS building

fix(propattach): check if player is seeded in propsTable before iterating
  resources/[dg]/dg-propattach/server/sv_main.lua
Due: none

fix(dgx): fixed handlers not being stored in map + consistent naming scheme
  resources/[dg]/ts-shared/typescript/src/client/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
Due: JS linting

fix(dgx): actually print errors when captured in event scope
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
Due: JS linting

fix(admin): import DGCore for Util usage
  resources/[dg]/dg-admin/fxmanifest.lua
Due: none

chore(admin): binds cleanup + removed register for cmds
  resources/[dg]/dg-admin/typescript/src/client/helpers/binds.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/service.commands.ts
Due: JS linting

chore(admin): replace QB permission calls with dg-admin export
  resources/[core]/dg-core/server/events.lua
  resources/[core]/dg-core/server/functions.lua
  resources/[dg]/dg-chat/typescript/src/server/helpers/commands.ts
  resources/[dg]/dg-chat/typescript/src/server/helpers/messages.ts
  resources/[dg]/dg-phone/server/sv_tweets.lua
  resources/[dg]/dg-weathersync/typescript/src/server/modules/time.ts
  resources/[dg]/dg-weathersync/typescript/src/server/modules/weather.ts
Due: JS linting

fix(blips): fixed texts not set on blips
  resources/[dg]/dg-financials/typescript/src/client/classes/Location.ts
  resources/[dg]/dg-npcs/typescript/src/client/classes/npc.ts
Due: JS linting

fix(inv): fixed drawMaker trying to assign empty string texture
  resources/[dg]/dg-inventory/typescript/src/client/modules/drops/classes/dropsmanager.ts
Due: JS linting

chore: linted and formatted all files
  resources/[dg]/dg-api/typescript/src/server/sv_router.ts
  resources/[dg]/dg-api/typescript/src/server/sv_routes.ts
  resources/[dg]/dg-auth/typescript/src/server/modules/authTokens/service.ts
  resources/[dg]/dg-blackout/typescript/src/client/classes/BlackoutManager.ts
  resources/[dg]/dg-blackout/typescript/src/client/controllers/blackout.ts
  resources/[dg]/dg-blackout/typescript/src/client/controllers/powerstation.ts
  resources/[dg]/dg-blackout/typescript/src/server/classes/BlackoutManager.ts
  resources/[dg]/dg-blackout/typescript/src/server/classes/PowerstationManager.ts
  resources/[dg]/dg-blackout/typescript/src/server/controllers/blackout.ts
  resources/[dg]/dg-blackout/typescript/src/server/controllers/powerstation.ts
  resources/[dg]/dg-build/typescript/src/client/classes/RoomManager.ts
  resources/[dg]/dg-chars/ui/src/components/chars/InfoBox.vue
  resources/[dg]/dg-config/configs/admin/bans.json
  resources/[dg]/dg-config/configs/admin/discord.json
  resources/[dg]/dg-config/configs/admin/roles.json
  resources/[dg]/dg-config/configs/blackmoney.json
  resources/[dg]/dg-config/configs/houserobbery.json
  resources/[dg]/dg-config/configs/jobs/signin.json
  resources/[dg]/dg-config/configs/jobs/whitelist.json
  resources/[dg]/dg-config/configs/weed.json
  resources/[dg]/dg-ui/[src]/src/main/notifications/components/list.tsx
Due: validate json, JS linting

fix(admin): fixed incorrect column name and rolepowercheck wrong way
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/service.commands.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/permissions/service.permissions.ts
  resources/[dg]/dg-admin/typescript/src/server/types/index.d.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/server.ts
  resources/[dg]/dg-weathersync/typescript/src/server/modules/time.ts
  resources/[dg]/dg-weathersync/typescript/src/server/modules/weather.ts
Due: JS linting

chore(admin): moved several commands to adminmenu
  resources/[dg]/dg-admin/typescript/src/client/controllers/ui.ts
  resources/[dg]/dg-admin/typescript/src/server/enums/inputs.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/clearChat.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/clearInventory.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/setAmmo.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/setTime.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/setWeaponQuality.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/setWeather.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/toggleBlackout.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/menu/controller.menu.ts
  resources/[dg]/dg-admin/typescript/src/types/index.d.ts
  resources/[dg]/dg-admin/ui/src/components/selectionInputs/AdminSelection.vue
  resources/[dg]/dg-admin/ui/src/components/selectionInputs/WeatherType.vue
  resources/[dg]/dg-admin/ui/src/lib/store_modules/dataStore.ts
  resources/[dg]/dg-admin/ui/src/types/common.ts
  resources/[dg]/dg-admin/ui/src/types/state.ts
  resources/[dg]/dg-blackout/typescript/src/server/controllers/blackout.ts
  resources/[dg]/dg-chat/typescript/src/server/helpers/commands.ts
  resources/[dg]/dg-inventory/typescript/src/server/controllers/controller.ts
  resources/[dg]/dg-weapons/server/sv_main.lua
  resources/[dg]/dg-weathersync/typescript/src/server/modules/time.ts
  resources/[dg]/dg-weathersync/typescript/src/server/modules/weather.ts
Due: JS linting

fix(chars): increase camdistance to avoid building clipping
  resources/[dg]/dg-chars/client/cl_spawn.lua
Due: none

feat(inventory): qol changes and fixes
  resources/[dg]/dg-apartments/client/cl_main.lua
  resources/[dg]/dg-apartments/config.lua
  resources/[dg]/dg-config/configs/inventory/config.json
  resources/[dg]/dg-config/configs/inventory/shops.json
  resources/[dg]/dg-inventory/README.md
  resources/[dg]/dg-inventory/typescript/src/client/classes/contextmanager.ts
  resources/[dg]/dg-inventory/typescript/src/client/modules/objects/classes/objectsmanager.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/controller.inventories.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/itemdata/classes/itemdatamanager.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/classes/item.ts
  resources/[dg]/dg-propattach/client/cl_main.lua
  resources/[dg]/dg-ui/[src]/src/lib/devdata.ts
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/item.tsx
  resources/[dg]/dg-ui/[src]/src/main/inventory/styles/inventory.scss
  resources/[dg]/dg-ui/[src]/src/main/itemboxes/styles/itemboxes.scss
  resources/[dg]/ts-shared/typescript/src/client/classes/inventory.ts
Due: validate json, JS linting

feat(weapons): reenabled autoreload on empty and properly center dot
  resources/[dg]/dg-weapons/client/cl_functions.lua
  resources/[dg]/dg-weapons/html/css/style.css
  resources/[dg]/dg-weapons/html/index.html
  resources/[dg]/dg-weapons/html/js/script.js
Due: JS linting

fix(inventory): add check on -1 index of findIndex and only emit evt location if drop and activated
  resources/[dg]/dg-inventory/typescript/src/client/modules/drops/classes/dropsmanager.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/locations/manager.locations.ts
Due: JS linting

chore(gabz): enable only needed mlos
  config/resources-gabz.cfg
Due: none

feat(misc): added better crouching
  resources/[dg]/dg-misc/client/cl_crouch.lua
  resources/[qb]/qb-smallresources/client/crouchprone.lua
  resources/[standalone]/dpemotes/Client/Walk.lua
Due: none

feat(weapons): balanced weaponrecoil, damage falloff and headshot
  resources/[dg]/dg-config/configs/inventory/config.json
  resources/[dg]/dg-weapons/client/cl_main.lua
  resources/[dg]/dg-weapons/meta/README.md
  resources/[dg]/dg-weapons/meta/weaponheavypistol.meta
  resources/[dg]/dg-weapons/meta/weaponmachinepistol.meta
  resources/[dg]/dg-weapons/meta/weapons.meta
  resources/[dg]/dg-weapons/meta/weapons_pistol_mk2.meta
  resources/[dg]/dg-weapons/meta/weaponspecialcarbine.meta
Due: validate json
