Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

validate json:
  stage: test
  image: node:16
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  image: node:16
  services:
  - name: mariadb:10.7
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'DATABASE_URL=mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4' > ./packages/db/.env
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - corepack enable
  ...

TS dev build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - corepack enable
  ...

TS prod build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - corepack enable
  ...

fix(vehicles): fix scuffed negative impound price
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/impound/service.impound.ts
Due: JS linting, TS dev build, TS prod build

chore(ui): make phone notification btns not garbage
  resources/[dg]/dg-ui/[src]/src/main/phone/os/notifications/notifications.tsx
Due: JS linting, TS dev build, TS prod build

chore(phone): remove non-existing removeMail endpoint
  resources/[dg]/dg-phone/typescript/src/client/services/mail.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/mail-app/components/mail.tsx
Due: JS linting, TS dev build, TS prod build

fix(inventory): fix wrong unix time usage when destroying by date
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/server/services/repository.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): correct vehicle lock notification message
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/controller.keys.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/vehicles.ts
Due: JS linting, TS dev build, TS prod build

chore(vehicles): add/move gang garages
  resources/[dg]/dg-vehicles/seeding/garages/gang_medellin.json
  resources/[dg]/dg-vehicles/seeding/garages/gang_thes1lencers.json
  resources/[dg]/dg-vehicles/seeding/garages/gang_unknown.json
Due: validate json

chore(doorlock): add doorlock for gangs that use gabz gang locations
  CHANGELOG.md
  resources/[dg]/dg-doorlock/seeding/doors.json
  resources/[dg]/dg-doorlock/typescript/src/client/controllers/exports.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(hospital): restrict police revive usage
  CHANGELOG.md
  resources/[dg]/dg-hospital/typescript/src/server/modules/job/controller.job.ts
  resources/[dg]/dg-hospital/typescript/src/server/modules/job/service.job.ts
Due: JS linting, TS dev build, TS prod build

chore: update submodules
  CHANGELOG.md
Due: none

chore(chars/ui): remove debug element
  resources/[dg]/dg-chars/ui/src/components/dev/actions.vue
Due: none

feat(weapons): blockInVehicle flag for certain weapons
  CHANGELOG.md
  resources/[dg]/dg-weapons/typescript/src/client/modules/weapons/controller.weapons.ts
  resources/[dg]/dg-weapons/typescript/src/client/modules/weapons/service.weapons.ts
  resources/[dg]/dg-weapons/typescript/src/server/contants.ts
  resources/[dg]/dg-weapons/typescript/src/types/index.d.ts
Due: JS linting, TS dev build, TS prod build

fix(houserobbery): finish job on group leave, add houseidx to used houses
  CHANGELOG.md
  resources/[dg]/dg-houserobbery/typescript/src/client/modules/house/controller.house.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/server.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/services/grouppicker.ts
  resources/[dg]/dg-houserobbery/typescript/src/types/index.d.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): add romero to config
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

feat(vehicles/info): add missing model check + extra validation on startup
  resources/[dg]/dg-vehicles/seeding/vehicles.json
  resources/[dg]/dg-vehicles/typescript/src/client/controllers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/info/controller.info.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/info/logger.info.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/info/service.info.ts
Due: validate json, JS linting, TS dev build, TS prod build

chore(logger): remove old leftover category entries
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/utils.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/cash/util.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/crypto/util.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/helpers/debts.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/paycheck/util.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/bennys/logger.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/carwash/logger.carwash.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/fuel/logger.fuel.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/logger.garages.ts
Due: JS linting, TS dev build, TS prod build

chore(vehicles): update submodule
  CHANGELOG.md
Due: none

fix(vehicles): change useDummyVehicle type
  resources/[dg]/dg-vehicles/typescript/src/client/helpers/vehicle.ts
Due: JS linting, TS dev build, TS prod build

chore(vehicles): add all missing models to vehicles config
  resources/[dg]/dg-misc/typescript/src/shared/constants.ts
  resources/[dg]/dg-vehicles/seeding/vehicles.json
  resources/[dg]/dg-vehicles/typescript/src/client/controllers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/bennys/controller.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/info/schema.info.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/info/service.info.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/constants.vehicleshop.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/controller.vehicleshop.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/maintenanceFees.ts
  resources/[dg]/dg-vehicles/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

chore(vehicles/prices): lowered S class prices by 25%
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

feat(vehicles/garages): change elverde to hustler garage
  CHANGELOG.md
  resources/[dg]/dg-vehicles/seeding/garages/gang_hustlers.json
Due: validate json

feat(misc): reduce vehicle density
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/modules/gtabehaviour/constants.gtabehaviour.ts
Due: JS linting, TS dev build, TS prod build

feat(dispatch): seed calls from signed-in job only + only show blip with needed item
  CHANGELOG.md
  resources/[dg]/dg-dispatch/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-dispatch/typescript/src/server/services/dispatch.ts
  resources/[dg]/dg-dispatch/typescript/src/server/services/store.ts
  resources/[dg]/dg-dispatch/typescript/src/types/index.d.ts
Due: JS linting, TS dev build, TS prod build

feat(inventory): keep items in inventory sorted by destroyDate
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles/status): cleanup native status setters, bennys no longer repairs tires
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/shops.json
  resources/[dg]/dg-config/configs/materials/crafting.json
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/service.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/controller.status.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/controller.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/service.status.ts
  resources/[dg]/dg-vehicles/typescript/src/shared/status/helpers.status.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(bennys): logaritmic price calculation based on vehicle damage
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/constant.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/service.bennys.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): add mechanic advanced repair kit to replicate bennys behaviour
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/main.json
  resources/[dg]/dg-config/configs/materials/crafting.json
  resources/[dg]/dg-ui/[src]/src/assets/inventory/advanced_repair_kit.png
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/service.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/constant.status.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/controller.status.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/controller.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/service.status.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(vehicles): use sync for engine state setting
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/services/engine.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
Due: JS linting, TS dev build, TS prod build

fix(business): always sign out from businesses when leaving server
  CHANGELOG.md
  resources/[dg]/dg-business/typescript/src/server/classes/Business.ts
  resources/[dg]/dg-business/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-business/typescript/src/server/controllers/exports.ts
  resources/[dg]/dg-business/typescript/src/server/services/business.ts
Due: JS linting, TS dev build, TS prod build

feat(jobs): sign out when fired
  CHANGELOG.md
  resources/[dg]/dg-jobs/typescript/src/server/classes/signedinmanager.ts
  resources/[dg]/dg-jobs/typescript/src/server/classes/whitelistmanager.ts
Due: JS linting, TS dev build, TS prod build

feat(dutytime): add misc module to view on duty time for jobs/businesses
  packages/db/prisma/migrations/20230707005537_add_duty_times/migration.sql
  packages/db/prisma/schema.prisma
  resources/[dg]/dg-business/typescript/src/client/controllers/interactions.ts
  resources/[dg]/dg-jobs/typescript/src/server/classes/signedinmanager.ts
  resources/[dg]/dg-jobs/typescript/src/server/classes/whitelistmanager.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/dutytime/controller.dutytime.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/dutytime/index.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/dutytime/logger.dutytime.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/dutytime/service.dutytime.ts
  resources/[dg]/dg-misc/typescript/src/server/server.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/jobs.ts
  resources/[dg]/ts-shared/typescript/src/server/types/global.d.ts
Due: JS linting, TS dev build, TS prod build

docs(changelog): forgot dutytime entry
  CHANGELOG.md
Due: none

feat(vehicles/status): popped tires influence service degradation
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
Due: JS linting, TS dev build, TS prod build

chore(financials): small bump in whitelisted job paycheck
  CHANGELOG.md
  resources/[dg]/dg-config/configs/financials.json
Due: validate json

chore(police): faster increase and higher ceiling for cuff minigame speed
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/modules/cuffs.ts
Due: JS linting, TS dev build, TS prod build

feat(clothing): add command to toggle armor
  CHANGELOG.md
  resources/[qb]/qb-clothing/client/main.lua
  resources/[qb]/qb-clothing/server/main.lua
Due: none

chore(mechanics): slight bump of part ticket prices to be more in line with other jobs
  CHANGELOG.md
  resources/[dg]/dg-config/configs/vehicles/mechanic.json
Due: validate json

fix(towing): remove job blip when towing vehicle
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/mechanic/services/towing.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/impound/service.impound.ts
Due: JS linting, TS dev build, TS prod build

chore(vehicles): clean up types
  resources/[dg]/dg-vehicles/typescript/src/client/types/util.d.ts
  resources/[dg]/dg-vehicles/typescript/src/server/db/repository.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/services/logs.garages.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/info/schema.info.ts
  resources/[dg]/dg-vehicles/typescript/src/server/types/garages.d.ts
  resources/[dg]/dg-vehicles/typescript/src/types/bennys.d.ts
  resources/[dg]/dg-vehicles/typescript/src/types/config.d.ts
  resources/[dg]/dg-vehicles/typescript/src/types/garage.d.ts
  resources/[dg]/dg-vehicles/typescript/src/types/index.d.ts
Due: JS linting, TS dev build, TS prod build

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
