Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, Validate Errorlogger, validate db migrations, JS linting, JS building

.gitlab-ci.yml:

stages:
  - test
  - linting
  - build
  - housekeeping

image: node:lts

.lerna_installation:
  before_script:
    - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
    - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
    - npm config set always-auth true
    - yarn config set network-timeout 600000 -g
    - yarn --pure-lockfile

.cache_modules:
  cache:
    key: "$CI_COMMIT_REF_NAME-node_modules"
    paths:
      - node_modules/
      - '**/node_modules/'

.js_changes:
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.js"
      - "**/*.ts"
      - "**/*.jsx"
      - "**/*.tsx"
      - "**/*.css"
      - "**/*.scss"
      - "**/*.html"
      - "**/package.json"
      - "**/yarn.lock"

validate json:
  stage: test
  script:
    - cd ./tools/json-validator
    - yarn --pure-lockfile
    - yarn start
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.json"

Validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
    - python ./tools/manifest-check.py
    - exit "${?}"
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - '**/fxmanifest.lua'

validate db migrations:
  stage: test
  services:
    - name: mariadb:latest
      alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
    - echo 'set mysql_connection_string "mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4"' > ./config/mysql.cfg
    - cd ./tools/migrations
    - yarn --pure-lockfile
    - yarn start --init-db
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - 'migrations/*'

sonarqube-check:
  stage: test
  tags:
    - amd64
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [ "" ]
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
    GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task
  cache:
    key: "$CI_COMMIT_REF_NAME-sonar"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner
  allow_failure: true
  only:
    - main
    - UPD

JS linting:
  extends:
    - .lerna_installation
    - .cache_modules
    - .js_changes
  stage: linting
  script:
    - yarn lint

JS building:
  extends:
    - .lerna_installation
    - .cache_modules
    - .js_changes
  stage: build
  script:
    - yarn format -- -- --loglevel error
    - yarn build

rebase UPD:
  stage: housekeeping
  image: node:lts
  script:
    # setting up git
    - url_host=`git remote get-url origin | sed -e "s/https:\/\/gitlab-ci-token:.*@//g"`
    - git remote set-url origin "https://gitlab-ci-token:${ACCESS_TOKEN_PARAM}@${url_host}"
    - git config http.sslverify false
    - git config --global user.email "ci@gitlab.pieter557.dscloud.me"
    - git config --global user.name "CI"
    - git fetch # Just in case branch is not fetch
    - git checkout -t origin/main
    - git pull
    - git checkout -t origin/UPD
    - git pull
    # Rebase
    - git rebase main UPD
    # Push
    - git push -u origin UPD

  only:
    - main

feat(propattach): add entity existence check thread
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/service.propattach.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
Due: JS linting, JS building

fix(screenshots): fix filename gen & return filepath in minio export
  resources/[standalone]/screenshot-basic/src/server/server.ts
  uploads/.gitkeep
Due: JS linting, JS building

chore(uploads): ignore contents of folder
  .gitignore
Due: none

fix(misc): also reset pd_radio with scuffed 10+freq
  resources/[dg]/dg-misc/typescript/src/server/modules/radio/controller.radio.ts
Due: JS linting, JS building

feat(webpack): readded type checking (on child_process)
  .gitlab-ci.yml
  package.json
  resources/[dg]/dg-admin/typescript/src/client/modules/commands/controller.commands.ts
  resources/[dg]/dg-admin/typescript/src/client/modules/commands/state.ts
  resources/[dg]/dg-admin/typescript/src/client/service/noclip.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/addJobWhitelist.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/changeRoutingBucket.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/cloak.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/openInventory.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/removeJobWhitelist.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/tpid.ts
  resources/[dg]/dg-api/typescript/src/server/classes/banManager.ts
  resources/[dg]/dg-api/typescript/src/server/sv_routes.ts
  resources/[dg]/dg-gangs/typescript/src/client/client.ts
  resources/[dg]/dg-gangs/typescript/src/client/services/cache.ts
  resources/[dg]/dg-heists/typescript/src/client/controllers/doors.ts
  resources/[dg]/dg-heists/typescript/src/client/controllers/locations.ts
  resources/[dg]/dg-heists/typescript/src/client/modules/fleeca/helpers.fleeca.ts
  resources/[dg]/dg-heists/typescript/src/client/services/laptop/controller.laptop.ts
  resources/[dg]/dg-heists/typescript/src/client/services/trolleys/controller.trolleys.ts
  resources/[dg]/dg-heists/typescript/src/server/modules/fleeca/classes/statemanager.ts
  resources/[dg]/dg-heists/typescript/src/server/services/laptop/controller.laptop.ts
  resources/[dg]/dg-heists/typescript/src/server/services/shop/controller.shop.ts
  resources/[dg]/dg-heists/typescript/src/server/services/trolleys/controller.trolleys.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
  resources/[dg]/dg-radialmenu/typescript/src/client/tsconfig.json
  resources/[dg]/ts-shared/typescript/src/server/classes/jobs.ts
  webpack/webpack.client.js
  webpack/webpack.common.js
  webpack/webpack.server.js
  yarn.lock
Due: validate json, JS linting, JS building

fix(admin): fix openInv by entity selector returning early
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/openInventory.ts
Due: JS linting, JS building

fix(admin): fix continue instead of return to clear noclip threads
  resources/[dg]/dg-admin/typescript/src/client/service/noclip.ts
Due: JS linting, JS building

docs(readme): added how to pull lfs objects
  README.md
Due: none

fix(ui): no pointer events in animation elements
  resources/[dg]/dg-ui/[src]/src/styles/animations.scss
Due: JS linting, JS building

fix(anticheat): also always allow server native weapons
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/service.anticheat.ts
Due: JS linting, JS building

fix(radialmenu): do not obfuscate radialmenu files
  resources/[dg]/dg-radialmenu/typescript/webpack.config.js
  webpack/webpack.client.js
Due: JS linting, JS building

fix(build): add try-catch to room
  resources/[dg]/dg-build/typescript/src/client/classes/Room.ts
Due: JS linting, JS building

chore(bennys): add more logs
  resources/[dg]/dg-vehicles/typescript/src/server/modules/bennys/classes/BennysManager.ts
Due: JS linting, JS building

fix(vehicles): do not await numberplate setter
  resources/[dg]/dg-vehicles/typescript/src/server/controller/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
Due: JS linting, JS building

fix(phone): peek phone for new notif, no anim on update notif
  resources/[dg]/dg-ui/[src]/src/main/cli/commands.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/lib.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/os/notifications/notification.styles.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/os/notifications/notifications.tsx
Due: JS linting, JS building

fix(anticheat): add grace period to being on top of vehicle
  resources/[dg]/dg-auth/typescript/src/client/modules/anticheat/service.anticheat.ts
Due: JS linting, JS building

feat(police): set cop requirements to 0 for every activity when in devmode
  resources/[dg]/dg-police/typescript/src/server/services/requirements.ts
Due: JS linting, JS building

chore: remove unused managers
  config/resources.cfg
  resources/[cfx-default]/mapmanager/fxmanifest.lua
  resources/[cfx-default]/mapmanager/mapmanager_client.lua
  resources/[cfx-default]/mapmanager/mapmanager_server.lua
  resources/[cfx-default]/mapmanager/mapmanager_shared.lua
  resources/[cfx-default]/spawnmanager/fxmanifest.lua
  resources/[cfx-default]/spawnmanager/spawnmanager.lua
Due: Validate Errorlogger

fix(spawn): re-disable invis perms after spawn
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/service.anticheat.ts
  resources/[dg]/dg-chars/client/cl_spawn.lua
Due: JS linting, JS building

fix(anticheat): check if player is allowed for flagged action
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/service.anticheat.ts
Due: JS linting, JS building

feat(baseevents): added wrapper dgx functions, added water checker, fix seatingservice
  resources/[cfx-default]/baseevents/fxmanifest.lua
  resources/[cfx-default]/baseevents/playerchecker.lua
  resources/[cfx-default]/baseevents/vehiclechecker.lua
  resources/[cfx-default]/baseevents/waterchecker.lua
  resources/[dg]/dg-dispatch/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/helpers.items.ts
  resources/[dg]/dg-lib/client/cl_raycastinfo.lua
  resources/[dg]/dg-misc/typescript/src/client/modules/gtabehaviour/controller.gtabehaviour.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/hud/controller.hud.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/hud/service.hud.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/controller.propattach.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/status/controller.status.ts
  resources/[dg]/dg-police/typescript/src/client/modules/heli/controller.heli.ts
  resources/[dg]/dg-police/typescript/src/client/modules/radar/controller.radar.ts
  resources/[dg]/dg-polytarget/client/cl_main.lua
  resources/[dg]/dg-ui/client/components/cl_hud.lua
  resources/[dg]/dg-vehicles/typescript/src/client/controllers/baseevents.ts
  resources/[dg]/dg-vehicles/typescript/src/server/controller/baseevents.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/seating.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/baseevents.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/client/types/global.d.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/baseevents.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/vehicles.ts
  resources/[dg]/ts-shared/typescript/src/server/types/global.d.ts
Due: Validate Errorlogger, JS linting, JS building

chore(logs): clean up several logs
  resources/[dg]/dg-admin/typescript/src/server/modules/menu/controller.menu.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/manager.items.ts
  resources/[dg]/dg-phone/server/sv_tweets.lua
Due: JS linting, JS building

refactor(idlist): merge rpc calls, add distance/los check, prevent being stuck
  resources/[dg]/dg-admin/typescript/src/server/services/hideInfo.ts
  resources/[dg]/dg-misc/typescript/src/client/services/idmenu.ts
  resources/[dg]/dg-misc/typescript/src/server/server.ts
  resources/[dg]/dg-misc/typescript/src/server/services/idlist.ts
  resources/[dg]/dg-misc/typescript/src/types/idlist.d.ts
  resources/[dg]/dg-sync/typescript/src/server/modules/scopes/controller.scopes.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/sync.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/sync.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/sync.d.ts
Due: JS linting, JS building

fix(misc): fix seats using coords as heading
  resources/[dg]/dg-auth/typescript/src/client/modules/anticheat/service.anticheat.ts
  resources/[dg]/dg-config/configs/seats.json
  resources/[dg]/dg-misc/typescript/src/client/services/seats.ts
  resources/[dg]/dg-misc/typescript/src/server/services/seats.ts
Due: validate json, JS linting, JS building

refactor(emotes): register cancel emote key using keywrapper
  resources/[dg]/dg-heists/typescript/src/client/services/trolleys/helpers.trolley.ts
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/modules/carry.ts
  resources/[standalone]/dpemotes/Client/Emote.lua
Due: JS linting, JS building

feat(weathersync): set weathers that cant be started with
  resources/[dg]/dg-weathersync/typescript/src/server/modules/weather/constants.weather.ts
  resources/[dg]/dg-weathersync/typescript/src/server/modules/weather/service.weather.ts
Due: JS linting, JS building

refactor(ui): add dgx wrapper functions to ui events
  resources/[dg]/dg-financials/typescript/src/client/modules/bank/controller.ts
  resources/[dg]/dg-inventory/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/groups/controller.groups.ts
  resources/[dg]/dg-minigames/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-misc/typescript/src/client/services/config.ts
  resources/[dg]/dg-misc/typescript/src/client/services/laptop.ts
  resources/[dg]/dg-phone/client/cl_main.lua
  resources/[dg]/dg-ui/[src]/src/main/cli/commands.ts
  resources/[dg]/dg-ui/[src]/src/main/financials/component.tsx
  resources/[dg]/dg-ui/client/components/cl_hud.lua
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/controller.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/stances/controller.stances.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/upgrades/items.upgrades.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/ui.ts
Due: JS linting, JS building

fix(dispatch): register as closed when exiting cursor mode
  resources/[dg]/dg-dispatch/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-dispatch/typescript/src/client/controllers/keys.ts
Due: JS linting, JS building

feat(admin): add registered keybind
  resources/[dg]/dg-admin/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-admin/typescript/src/client/controllers/ui.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/menu/controller.menu.ts
Due: JS linting, JS building

chore(vehicles): add some commercial vehicle that spawn as npcs
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

chore(inventory): clean up not needed useable flags
  resources/[dg]/dg-config/configs/inventory/items.json
Due: validate json

refactor(job/groups): merge 3 UI store update events
  resources/[dg]/dg-jobs/typescript/src/client/modules/groups/controller.groups.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/classes/Group.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/classes/GroupManager.ts
  resources/[dg]/dg-jobs/typescript/src/types/groups.d.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/jobcenter-app/events.ts
  resources/[dg]/dg-ui/[src]/src/types/apps/phone.d.ts
Due: JS linting, JS building

feat(inventory): add open inventory log
  resources/[dg]/dg-inventory/typescript/src/server/controllers/controller.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/controller.inventories.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/classes/item.ts
Due: JS linting, JS building

fix(core): rely on key constraints to delete character
  resources/[core]/dg-core/server/player.lua
Due: none

fix(char): blackout screen for respawning peds after deleting char
  resources/[dg]/dg-chars/client/cl_nui.lua
  resources/[dg]/dg-chars/ui/src/components/chars/InfoBox.vue
Due: none

chore(migrations): remove all unused qb tables
  migrations/V26_remove_unused_tables.sql
Due: validate db migrations

fix(vehicles): insert transfer log when selling vehicle to someone
  resources/[dg]/dg-vehicles/typescript/src/server/db/repository.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/garageApp.ts
Due: JS linting, JS building
