Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build node image, validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

build node image:
  stage: images
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/node:latest -t $CI_REGISTRY_IMAGE/node:$CI_COMMIT_SHA .
  - docker push $CI_REGISTRY_IMAGE/node:latest
  ...

validate json:
  stage: test
  image: node:16
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  image: node:16
  services:
  - name: mariadb:10.7
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'DATABASE_URL=mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4' > ./packages/db/.env
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  - ls /app
  ...

TS dev build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  - ls /app
  ...

TS prod build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  - ls /app
  ...

fix(vehicles): register vin of new vehicles added via panel
  resources/[dg]/dg-vehicles/typescript/src/server/controller/vehicle.ts
Due: JS linting, TS dev build, TS prod build

fix(phone): prevent calls from coming trough when receiver does not have phone
  CHANGELOG.md
  resources/[dg]/dg-phone/typescript/src/client/services/calls.ts
Due: JS linting, TS dev build, TS prod build

fix(inventory): generate inv size based on items if size is 0
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/controller.inventories.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/service.inventories.ts
Due: JS linting, TS dev build, TS prod build

Revert "fix(inventory): generate inv size based on items if size is 0"
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/controller.inventories.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/service.inventories.ts
Due: JS linting, TS dev build, TS prod build

fix(inventory): allow Y overflow when determining shopitem positions
  resources/[dg]/dg-ui/[src]/src/main/inventory/util.ts
Due: JS linting, TS dev build, TS prod build

fix(core): fix queue module
  resources/[dg]/dg-core/typescript/src/server/modules/queue/module.queue.ts
Due: JS linting, TS dev build, TS prod build

fix(chars): make starterItem export async + switch spawn and items around
  CHANGELOG.md
  resources/[dg]/dg-chars/server/sv_main.lua
  resources/[dg]/dg-inventory/typescript/src/server/controllers/controller.ts
Due: JS linting, TS dev build, TS prod build

fix(financials): round amount when changing account balance
  CHANGELOG.md
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/classes/Account.ts
Due: JS linting, TS dev build, TS prod build

chore(assets): update submodule
  CHANGELOG.md
Due: none

fix(ui/phone): make YP ads work again
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/yp-app/components/modals.tsx
Due: JS linting, TS dev build, TS prod build

fix: await RPC events that should be awaited
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/service.anticheat.ts
  resources/[dg]/dg-phone/typescript/src/client/services/financials.ts
Due: JS linting, TS dev build, TS prod build

chore: remove left-over debug prints
  resources/[dg]/dg-business/typescript/src/client/service/itemorder.ts
  resources/[dg]/dg-imager/typescript/src/server/server.ts
  resources/[dg]/dg-imager/ui/src/main.ts
  resources/[dg]/dg-labs/typescript/src/client/modules/meth/controller.meth.ts
  resources/[dg]/dg-phone/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-phone/typescript/src/server/services/camera.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/business-app/components/modals/RolePermsModal.tsx
  resources/[dg]/dg-vehicles/typescript/src/client/modules/upgrades/controller.upgrades.ts
Due: JS linting, TS dev build, TS prod build

fix(config/business): add property_access to taxi business types
  CHANGELOG.md
  resources/[dg]/dg-config/configs/business/types.json
Due: validate json

fix(phone): change sound func names to prevent confusion with natives
  CHANGELOG.md
  resources/[dg]/dg-phone/typescript/src/client/services/calls.ts
  resources/[dg]/dg-phone/typescript/src/client/services/mgmt.ts
  resources/[dg]/dg-phone/typescript/src/client/services/sound.ts
Due: JS linting, TS dev build, TS prod build

fix(phone): fix number sharing problem
  CHANGELOG.md
  resources/[dg]/dg-phone/typescript/src/client/services/contacts.ts
Due: JS linting, TS dev build, TS prod build

fix(phone): fix call notification label for person getting called
  CHANGELOG.md
  resources/[dg]/dg-phone/typescript/src/server/modules/calls/service.calls.ts
Due: JS linting, TS dev build, TS prod build

fix(ui/phone): move tweet time back under name
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/twitter-app/components/twitter.styles.ts
Due: JS linting, TS dev build, TS prod build

chore: update submodules
  CHANGELOG.md
Due: none

fix(queue): bump adaptive card version down
  resources/[dg]/dg-core/typescript/src/server/modules/queue/module.queue.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicle): force spawn coords to be floats
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
Due: JS linting, TS dev build, TS prod build

fix(core): trying to prevent stale data in identifiers store
  CHANGELOG.md
  resources/[dg]/dg-core/typescript/src/server/modules/queue/managers/queuemanager.ts
  resources/[dg]/dg-core/typescript/src/server/modules/queue/module.queue.ts
  resources/[dg]/dg-core/typescript/src/server/modules/users/managers/IdentifierManager.ts
  resources/[dg]/dg-core/typescript/src/server/modules/users/module.users.ts
Due: JS linting, TS dev build, TS prod build

chore: format & lint files
  resources/[dg]/dg-config/configs/business/businesses/lowsantos.json
  resources/[dg]/dg-config/configs/business/businesses/straightpipers.json
  resources/[dg]/dg-config/configs/business/businesses/upnatom.json
  resources/[dg]/dg-config/configs/business/permissions.json
  resources/[dg]/dg-config/configs/main.json
  resources/[dg]/dg-config/configs/restaurants.json
  resources/[dg]/dg-config/configs/vehicles/mechanic.json
  resources/[dg]/dg-vehicles/seeding/garages/business_blazeit.json
Due: validate json

fix(dg-admin): Fixed typo
  resources/[dg]/dg-admin/typescript/src/client/modules/commands/controller.commands.ts
Due: JS linting, TS dev build, TS prod build

fix(lint-staged): do not parse unwanted files
  package.json
Due: build node image, validate json, JS linting, TS dev build, TS prod build

tweak(vehicles/service): tweak service label percentages
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/constants.status.ts
Due: JS linting, TS dev build, TS prod build

fix(anticheat): whitelist generic animal ped weapon
  CHANGELOG.md
  resources/[dg]/dg-config/configs/anticheat.json
Due: validate json

feat(clothing): Added clothing room for Taxi Jacky and BlazeIt
  CHANGELOG.md
  resources/[qb]/qb-clothing/config.lua
Due: none

refactor(financials): make debt pay_term param skip overDue penalisation + sets exact default day
  CHANGELOG.md
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/helpers/debts.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/financials.ts
  resources/[dg]/ts-shared/typescript/src/server/types/financials.d.ts
Due: JS linting, TS dev build, TS prod build

feat(heists): buff bank income
  CHANGELOG.md
  resources/[dg]/dg-config/configs/heists/types.json
Due: validate json

fix(tools): fix window infite symlink loop
  tools/update-versions.py
Due: none

feat(config): add config entries for lifeinvader business
  resources/[dg]/dg-config/configs/elevators.json
  resources/[dg]/dg-config/configs/seats.json
  resources/[dg]/dg-doorlock/seeding/doors.json
  resources/[dg]/dg-vehicles/seeding/garages/business_cobrastudios.json
  resources/[dg]/dg-vehicles/seeding/garages/lifeinvader_parking.json
Due: validate json

fix(clothing): fix config typo
  resources/[qb]/qb-clothing/config.lua
Due: none

tweak(restaurant): increase max/percentage per ticket
  CHANGELOG.md
  resources/[dg]/dg-config/configs/restaurants.json
Due: validate json

feat(doorlock): add option to toggle open/closed state for garages
  CHANGELOG.md
  resources/[dg]/dg-doorlock/seeding/doors.json
  resources/[dg]/dg-doorlock/typescript/src/client/controllers/exports.ts
  resources/[dg]/dg-doorlock/typescript/src/client/helpers/doors.ts
  resources/[dg]/dg-doorlock/typescript/src/client/services/doors.ts
  resources/[dg]/dg-doorlock/typescript/src/server/services/doors.ts
  resources/[dg]/dg-doorlock/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

chore(doorlock): fix wrong default state
  resources/[dg]/dg-doorlock/seeding/doors.json
Due: validate json

Path conditions:
  build node image: any of: package.json, yarn.lock
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
