Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build node image, validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

build node image:
  stage: images
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/node:latest -t $CI_REGISTRY_IMAGE/node:$CI_COMMIT_SHA .
  - docker push $CI_REGISTRY_IMAGE/node:latest
  ...

validate json:
  stage: test
  image: node:16
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  image: node:16
  services:
  - name: mariadb:10.7
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'DATABASE_URL=mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4' > ./packages/db/.env
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  - ls /app
  ...

TS dev build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  - ls /app
  ...

TS prod build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  - ls /app
  ...

fix(lib): remove duplicate asyncExports middleware
  CHANGELOG.md
  resources/[dg]/dg-lib/server/sv_asyncExports.js
Due: JS linting, TS dev build, TS prod build

fix(tools): fix version bump script
  tools/update-versions.py
Due: none

docs: bump version
  CHANGELOG.md
Due: none

fix(jobs): fix change job export name
  CHANGELOG.md
  resources/[dg]/ts-shared/typescript/src/server/classes/jobs.ts
Due: JS linting, TS dev build, TS prod build

tweak(heists): increase fleeca power reset delay
  resources/[dg]/dg-config/configs/heists/fleeca.json
  resources/[dg]/dg-heists/typescript/src/server/classes/typemanagers/fleecamanager.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(heists): more player feedback for fleecastart
  CHANGELOG.md
  resources/[dg]/dg-heists/typescript/src/server/classes/typemanagers/fleecamanager.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): register helicopters
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

fix(build): place volume at right location
  resources/[dg]/dg-build/typescript/src/client/classes/Room.ts
Due: JS linting, TS dev build, TS prod build

fix(containers): move container to other position bcus under water
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/containers.json
Due: validate json

fix(radiotowers): move lsia loot location because conflicted with peek option on prop
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/radiotowers.json
Due: validate json

feat(financials): add leefloon
  CHANGELOG.md
  resources/[dg]/dg-config/configs/financials.json
  resources/[dg]/dg-financials/typescript/src/server/modules/paycheck/controller.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/paycheck/service.ts
Due: validate json, JS linting, TS dev build, TS prod build

tweak(items): lowered spikestrip price & increase vpn lifetime
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/inventory/shops.json
Due: validate json

feat(justice): add cityhall blip
  CHANGELOG.md
  resources/[dg]/dg-justice/typescript/src/client/client.ts
  resources/[dg]/dg-justice/typescript/src/client/services/cityhall.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles/keys): check if lockpicking player is driver
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/service.keys.ts
Due: JS linting, TS dev build, TS prod build

feat(inventory): add vegetable container
  resources/[dg]/dg-config/configs/inventory/config.json
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/inventory/objects.json
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/constants.propattach.ts
  resources/[dg]/dg-ui/[src]/src/assets/inventory/container_vegetables.png
Due: validate json, JS linting, TS dev build, TS prod build

feat(crafting): ability to limit visible recipes & only get rep for last item in weaponbench
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/crafting.json
  resources/[dg]/dg-materials/typescript/src/server/services/crafting.ts
  resources/[dg]/dg-materials/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

tweak(wirecutting): lower keygame cycles, higher taskbar waittime
  CHANGELOG.md
  resources/[dg]/dg-materials/typescript/src/client/modules/wirecutting/service.wirecutting.ts
Due: JS linting, TS dev build, TS prod build

fix(inventory): fix typo in itemlabel
  resources/[dg]/dg-config/configs/inventory/items.json
Due: validate json

tweak(fleeca): tweak payout and option to sell goldbars
  CHANGELOG.md
  resources/[dg]/dg-config/configs/criminal/blackmoney.json
  resources/[dg]/dg-config/configs/criminal/fence.json
  resources/[dg]/dg-config/configs/heists/types.json
Due: validate json

feat(cornersell): cannot sell blackmoney if no police present
  CHANGELOG.md
  resources/[dg]/dg-criminal/typescript/src/server/modules/cornerselling/controller.cornerselling.ts
Due: JS linting, TS dev build, TS prod build

feat(entityBlip): add location caching when blip is entity blip
  resources/[dg]/ts-shared/typescript/src/client/classes/blip.ts
Due: JS linting, TS dev build, TS prod build

refactor(sanddigging): prefer close new spots & polyzone/keybind instead of peek to dig
  CHANGELOG.md
  resources/[dg]/dg-dev/client/cl_test.lua
  resources/[dg]/dg-dev/server/sv_test.lua
  resources/[dg]/dg-jobs/typescript/src/client/modules/sanddigging/controller.sanddigging.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/sanddigging/service.sanddigging.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/sanddigging/service.sanddigging.ts
Due: JS linting, TS dev build, TS prod build

refactor(gangs): change getplygang export to return name so it does not return promise
  CHANGELOG.md
  resources/[dg]/dg-gangs/typescript/src/server/classes/gang.ts
  resources/[dg]/dg-gangs/typescript/src/server/classes/gangmanager.ts
  resources/[dg]/dg-gangs/typescript/src/server/controllers/exports.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/containers/service.containers.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/jobs.ts
Due: JS linting, TS dev build, TS prod build

fix(inventory): add advanced parts to materialcontainer allowed items
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/config.json
Due: validate json

fix(justice): add label to cityhall blip
  resources/[dg]/dg-justice/typescript/src/client/services/cityhall.ts
Due: JS linting, TS dev build, TS prod build

fix(shops): add vegetable container as shopitem
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/shops.json
Due: validate json

tweak(postop): lower door dropoff taskbar time
  CHANGELOG.md
  resources/[dg]/dg-jobs/typescript/src/client/modules/postop/service.postop.ts
Due: JS linting, TS dev build, TS prod build

chore(garages): add some garages
  CHANGELOG.md
  resources/[dg]/dg-vehicles/seeding/garages/gang_asphaltrebellions.json
  resources/[dg]/dg-vehicles/seeding/garages/gang_elverde.json
  resources/[dg]/dg-vehicles/seeding/garages/gang_kingsmen.json
  resources/[dg]/dg-vehicles/seeding/garages/gang_unknown.json
  resources/[dg]/dg-vehicles/seeding/garages/paleto_parking.json
  resources/[dg]/dg-vehicles/seeding/garages/postop_parking.json
  resources/[dg]/dg-vehicles/seeding/garages/sanitation_parking.json
  resources/[dg]/dg-vehicles/seeding/garages/senoraway_gasstation.json
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/schema.garages.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/service.garages.ts
  resources/[dg]/dg-vehicles/typescript/src/types/garage.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(vehicleshop): employee gets tickets for sales he made
  CHANGELOG.md
  resources/[dg]/dg-config/configs/vehicles/shop.json
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/classes/ShopManager.ts
  resources/[dg]/dg-vehicles/typescript/src/types/vehicleshop.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(phone): fix notification keybinds not using correct ui app event function
  CHANGELOG.md
  resources/[dg]/dg-phone/client/cl_main.lua
Due: none

Revert "tweak(fleeca): tweak payout and option to sell goldbars"
  resources/[dg]/dg-config/configs/criminal/blackmoney.json
  resources/[dg]/dg-config/configs/criminal/fence.json
  resources/[dg]/dg-config/configs/heists/types.json
Due: validate json

tweak(fleeca): tweak payout and add option to sell goldbars
  resources/[dg]/dg-config/configs/criminal/blackmoney.json
  resources/[dg]/dg-config/configs/criminal/fence.json
  resources/[dg]/dg-config/configs/heists/types.json
Due: validate json

tweak(weed): nerf a bit
  resources/[dg]/dg-config/configs/criminal/weed.json
  resources/[dg]/dg-config/configs/labs/weed.json
Due: validate json

chore(houserobbery): different mail title when job was failed
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
Due: JS linting, TS dev build, TS prod build

chore(vehicles): add gasstation & carwash locations
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/carwash/zones.carwash.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/fuel/zones.fuel.ts
Due: JS linting, TS dev build, TS prod build

Path conditions:
  build node image: any of: package.json, yarn.lock
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
