Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml

feat(vehicles): new batch of kofi vehicles
  resources/[dg]/dg-config/configs/vehicles/enginesounds.json
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

feat(phone): add proper autocomplete for contact input
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/components/inputs.tsx
  resources/[dg]/dg-ui/[src]/src/components/simpleform.tsx
  resources/[dg]/dg-ui/[src]/src/main/financials/components/modals/PermissionsModal.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/crypto-app/components/modals.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/message-app/components/modals.tsx
  resources/[dg]/dg-ui/[src]/src/types/os/simpleform.d.ts
Due: JS linting, TS dev build, TS prod build

feat(phone/payconiq): display transaction success in modal
  CHANGELOG.md
  resources/[dg]/dg-financials/typescript/src/client/modules/payconiq/controller.payconiq.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/payconiq-app/components/modals.tsx
Due: JS linting, TS dev build, TS prod build

feat(fuel): prioritize bankaccount when paying for fuel
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/fuel/service.fuel.ts
Due: JS linting, TS dev build, TS prod build

chore(guards): cleanup leftover sync param
  resources/[dg]/dg-npcs/typescript/src/client/services/guards.ts
  resources/[dg]/dg-npcs/typescript/src/server/services/guards.ts
Due: JS linting, TS dev build, TS prod build

feat(carboost): readd tracker if police removed before hacks were finished
  CHANGELOG.md
  resources/[dg]/dg-carboosting/typescript/src/server/classes/boost.ts
  resources/[dg]/dg-police/typescript/src/client/modules/trackers/controller.trackers.ts
  resources/[dg]/dg-police/typescript/src/server/modules/trackers/controller.trackers.ts
  resources/[dg]/dg-police/typescript/src/server/modules/trackers/service.trackers.ts
  resources/[dg]/ts-shared/packages/server/src/classes/jobs.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): add kofi vehicle
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

chore(recycleped): lower recycletimeout
  resources/[dg]/dg-materials/typescript/src/server/modules/recycleped/service.recycleped.ts
Due: JS linting, TS dev build, TS prod build

refactor(dgx/statebags): dynamically register current vehicle statebaghandlers
  CHANGELOG.md
  resources/[dg]/ts-shared/packages/client/src/classes/statebags.ts
Due: JS linting, TS dev build, TS prod build

feat: add hellsangels garage/doorlocks/clothing
  resources/[dg]/dg-doorlock/seeding/doors.json
  resources/[dg]/dg-vehicles/seeding/garages/gang_hellsangels.json
  resources/[qb]/qb-clothing/config.lua
Due: validate json

fix(dgx/statebags): fix typo in baseevent name
  resources/[dg]/dg-vehicles/typescript/src/client/modules/fuel/service.fuel.ts
  resources/[dg]/ts-shared/packages/client/src/classes/statebags.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): return quadmodels as automobile vehicletype
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/helpers/vehicle.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): cache model vehicletype
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/modeltypes.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
Due: JS linting, TS dev build, TS prod build

feat(criminal): make decoding_tool multiuse
  CHANGELOG.md
  resources/[dg]/dg-config/configs/heists/paleto.json
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/storerobbery.json
  resources/[dg]/dg-heists/typescript/src/server/classes/typemanagers/paletomanager.ts
  resources/[dg]/dg-heists/typescript/src/types/paleto.d.ts
  resources/[dg]/dg-storerobbery/typescript/src/server/modules/safes/controller.safes.ts
  resources/[dg]/dg-storerobbery/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(jobs/sanitation): option for player to choose materials or money as payout
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/jobs/sanitation.json
  resources/[dg]/dg-inventory/typescript/src/client/modules/dumpsters/controller.dumpsters.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/sanitation/controller.sanitation.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/sanitation/servive.sanitation.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/sanitation/controller.sanitation.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/sanitation/service.sanitation.ts
  resources/[dg]/dg-jobs/typescript/src/types/sanitation.d.ts
  resources/[dg]/dg-ui/[src]/src/assets/inventory/sanitation_material_bucket.png
  resources/[dg]/ts-shared/packages/server/src/classes/inventory.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(dgx/ui): check resourcestate on startup
  resources/[dg]/ts-shared/packages/client/src/classes/ui.ts
Due: JS linting, TS dev build, TS prod build

feat(business): add scrapz business & amount input for purchase/orders
  resources/[dg]/dg-business/typescript/src/client/controllers/interactions.ts
  resources/[dg]/dg-business/typescript/src/client/controllers/ui.ts
  resources/[dg]/dg-business/typescript/src/client/service/inside.ts
  resources/[dg]/dg-business/typescript/src/client/service/itemorder.ts
  resources/[dg]/dg-business/typescript/src/server/classes/Business.ts
  resources/[dg]/dg-business/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-business/typescript/src/types/index.d.ts
  resources/[dg]/dg-config/configs/business/businesses/blazeit.json
  resources/[dg]/dg-config/configs/business/businesses/kingpills.json
  resources/[dg]/dg-config/configs/business/businesses/scrapz.json
  resources/[dg]/dg-config/configs/business/types.json
  resources/[dg]/dg-inventory/typescript/src/server/modules/containers/controller.containers.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/containers/service.containers.ts
  resources/[dg]/ts-shared/packages/server/src/classes/inventory.ts
Due: validate json, JS linting, TS dev build, TS prod build

Revert "fix(dgx/ui): check resourcestate on startup"
  resources/[dg]/ts-shared/packages/client/src/classes/ui.ts
Due: JS linting, TS dev build, TS prod build

fix(police): add vinscratched check to vehicle info getter
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/server/controllers/events.ts
Due: JS linting, TS dev build, TS prod build

feat(police/spikes): do raycast at spikeposition to avoid placing through vehicles
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/modules/spikestrips/constants.spikestrips.ts
  resources/[dg]/dg-police/typescript/src/client/modules/spikestrips/controller.spikestrips.ts
  resources/[dg]/dg-police/typescript/src/server/modules/spikestrips/controller.spikestrips.ts
Due: JS linting, TS dev build, TS prod build

fix(hospital): register revolver_mk2 as damagatype
  CHANGELOG.md
  resources/[dg]/dg-config/configs/hospital/damagetypes.json
Due: validate json

chore(carboost): lower hack cooldown
  CHANGELOG.md
  resources/[dg]/dg-config/configs/carboosting/classes/A+.json
  resources/[dg]/dg-config/configs/carboosting/classes/A.json
  resources/[dg]/dg-config/configs/carboosting/classes/B.json
  resources/[dg]/dg-config/configs/carboosting/classes/C.json
  resources/[dg]/dg-config/configs/carboosting/classes/D.json
  resources/[dg]/dg-config/configs/carboosting/classes/S.json
  resources/[dg]/dg-config/configs/carboosting/classes/X.json
Due: validate json

feat(criminal): add criminal doctor
  resources/[dg]/dg-config/configs/criminal/doctor.json
  resources/[dg]/dg-criminal/typescript/src/client/client.ts
  resources/[dg]/dg-criminal/typescript/src/client/modules/doctor/controller.doctor.ts
  resources/[dg]/dg-criminal/typescript/src/client/modules/doctor/index.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/doctor/controller.doctor.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/doctor/index.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/doctor/service.doctor.ts
  resources/[dg]/dg-criminal/typescript/src/server/server.ts
  resources/[dg]/dg-criminal/typescript/src/types/index.d.ts
  resources/[dg]/dg-ui/[src]/src/assets/laptop/icons/criminaldoctor-app.svg
  resources/[dg]/dg-ui/[src]/src/main/laptop/apps/criminaldoctor-app/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/apps/criminaldoctor-app/config.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/apps/criminaldoctor-app/styles/criminaldoctor.scss
Due: validate json, JS linting, TS dev build, TS prod build

feat(keys): override vehicleclass for lockpickdifficulty of ems vehicle as X
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/service.keys.ts
Due: JS linting, TS dev build, TS prod build

feat(boost): add dispatch blip if boost has no tracker
  CHANGELOG.md
  resources/[dg]/dg-carboosting/typescript/src/server/classes/boost.ts
Due: JS linting, TS dev build, TS prod build

feat(police/radar): copy plate on click in plate history
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/modules/radar/controller.radar.ts
  resources/[dg]/dg-police/typescript/src/client/modules/radar/service.radar.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): remove missionentity thread & add populationtype logging
  resources/[dg]/dg-vehicles/typescript/src/client/services/index.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/persistency.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/persistency.ts
Due: JS linting, TS dev build, TS prod build

refactor(fuel): change how fuel gets saved to prevent unneeded db updates
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/fuel/service.fuel.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/controller.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/fuel/classes/fuelManager.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/fuel/controller.fuel.ts
Due: JS linting, TS dev build, TS prod build

feat(criminal/oxyrun): override vehicle density settings while at oxyrun location
  CHANGELOG.md
  resources/[dg]/dg-criminal/typescript/src/client/modules/oxyrun/service.oxyrun.ts
Due: JS linting, TS dev build, TS prod build

chore: update submodules
  CHANGELOG.md
Due: none

chore(tools): add requirements.txt with deps for tools
  .gitignore
  tools/requirements.txt
Due: none

fix(fuel): fucking baseevent wrapper var names are wrong fuckme
  resources/[dg]/dg-vehicles/typescript/src/server/controller/baseevents.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/fuel/controller.fuel.ts
  resources/[dg]/ts-shared/packages/server/src/classes/baseevents.ts
Due: JS linting, TS dev build, TS prod build

fix(carboost): fix notification grammar
  resources/[dg]/dg-carboosting/typescript/src/server/controllers/events.ts
Due: JS linting, TS dev build, TS prod build

feat(misc/ladders): remove health depletion on fall
  resources/[dg]/dg-misc/typescript/src/client/services/ladders.ts
Due: JS linting, TS dev build, TS prod build

fix(weather): remove rain from CLEARING weathertype
  CHANGELOG.md
  resources/[dg]/dg-weathersync/typescript/src/server/modules/weather/constants.weather.ts
Due: JS linting, TS dev build, TS prod build

fix(melting): increase zone size
  resources/[dg]/dg-config/configs/materials/melting.json
Due: validate json

feat(business): default buy amount to 1
  CHANGELOG.md
  resources/[dg]/dg-business/typescript/src/client/controllers/ui.ts
  resources/[dg]/dg-business/typescript/src/client/service/itemorder.ts
Due: JS linting, TS dev build, TS prod build

fix(houserobbery): dont fail on groupleave if house already finished
  CHANGELOG.md
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
  resources/[dg]/dg-houserobbery/typescript/src/types/index.d.ts
Due: JS linting, TS dev build, TS prod build

feat(ui/phone): reset bigPhoto on close
  resources/[dg]/dg-ui/[src]/src/main/phone/lib.ts
Due: JS linting, TS dev build, TS prod build
