Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, Validate Errorlogger, validate db migrations, JS linting, JS building

.gitlab-ci.yml:

stages:
  - test
  - linting
  - build
  - housekeeping

image: node:lts

.lerna_installation:
  before_script:
    - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
    - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
    - npm config set always-auth true
    - yarn config set network-timeout 600000 -g
    - yarn --pure-lockfile

.cache_modules:
  cache:
    key: "$CI_COMMIT_REF_NAME-node_modules"
    paths:
      - node_modules/
      - '**/node_modules/'

.js_changes:
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.js"
      - "**/*.ts"
      - "**/*.jsx"
      - "**/*.tsx"
      - "**/*.css"
      - "**/*.scss"
      - "**/*.html"
      - "**/package.json"
      - "**/yarn.lock"

validate json:
  stage: test
  script:
    - cd ./tools/json-validator
    - yarn --pure-lockfile
    - yarn start
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.json"

Validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
    - python ./tools/manifest-check.py
    - exit "${?}"
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - '**/fxmanifest.lua'

validate db migrations:
  stage: test
  services:
    - name: mariadb:latest
      alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
    - echo 'set mysql_connection_string "mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4"' > ./config/mysql.cfg
    - cd ./tools/migrations
    - yarn --pure-lockfile
    - yarn start --init-db
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - 'migrations/*'

sonarqube-check:
  stage: test
  tags:
    - amd64
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [ "" ]
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
    GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task
  cache:
    key: "$CI_COMMIT_REF_NAME-sonar"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner
  allow_failure: true
  only:
    - main
    - UPD

JS linting:
  extends:
    - .lerna_installation
    - .cache_modules
    - .js_changes
  stage: linting
  script:
    - yarn lint

JS building:
  extends:
    - .lerna_installation
    - .cache_modules
    - .js_changes
  stage: build
  script:
    - yarn format -- -- --loglevel error
    - yarn build

rebase UPD:
  stage: housekeeping
  image: node:lts
  script:
    # setting up git
    - url_host=`git remote get-url origin | sed -e "s/https:\/\/gitlab-ci-token:.*@//g"`
    - git remote set-url origin "https://gitlab-ci-token:${ACCESS_TOKEN_PARAM}@${url_host}"
    - git config http.sslverify false
    - git config --global user.email "ci@gitlab.pieter557.dscloud.me"
    - git config --global user.name "CI"
    - git fetch # Just in case branch is not fetch
    - git checkout -t origin/main
    - git pull
    - git checkout -t origin/UPD
    - git pull
    # Rebase
    - git rebase main UPD
    # Push
    - git push -u origin UPD

  only:
    - main

fix(logs): fixed date timezone problem
  resources/[dg]/dg-logs/server/sv_graylog.lua
Due: none

tweak(stress): reduce stress amount given for actions
  resources/[dg]/dg-labs/client/cl_meth.lua
  resources/[dg]/dg-labs/client/cl_weed.lua
  resources/[dg]/dg-misc/typescript/src/client/modules/hud/service.hud.ts
Due: JS linting, JS building

feat(chars): introduce last location spawn in devEnv, dev role+ or when crashed
  resources/[core]/dg-core/server/events.lua
  resources/[dg]/dg-chars/server/sv_spawn.lua
Due: none

fix(migrations): fixed version numbering
  migrations/V13_add_vehicle_tables.sql
Due: validate db migrations

feat(sentry): add tracing to vue applications and SQL queries
  resources/[dg]/dg-admin/ui/package.json
  resources/[dg]/dg-admin/ui/src/main.ts
  resources/[dg]/dg-admin/ui/yarn.lock
  resources/[dg]/dg-chars/ui/package.json
  resources/[dg]/dg-chars/ui/src/main.ts
  resources/[dg]/dg-chars/ui/yarn.lock
  resources/[dg]/dg-chat/ui/package.json
  resources/[dg]/dg-chat/ui/src/main.ts
  resources/[dg]/dg-chat/ui/yarn.lock
  resources/[dg]/dg-sql/typescript/src/server/classes/handler.ts
Due: validate json, JS linting, JS building

fix(char/misc): fix startup errors for undefined exports
  resources/[dg]/dg-chars/server/sv_spawn.lua
  resources/[dg]/dg-misc/typescript/src/client/modules/hud/service.hud.ts
Due: JS linting, JS building

fix(ci): use node v16 as image
  .gitlab-ci.yml
Due: none

fix(dgx): fix type of circlezone useZ
  resources/[dg]/dg-build/typescript/src/client/classes/Room.ts
  resources/[dg]/dg-build/typescript/src/types/index.d.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/interaction.ts
Due: JS linting, JS building

feat(raycast): merged raycast and polytarget raycastting loops
  resources/[dg]/dg-admin/typescript/src/client/controllers/ui.ts
  resources/[dg]/dg-admin/typescript/src/client/modules/selector/service.selector.ts
  resources/[dg]/dg-admin/ui/src/components/footer/MenuFooter.vue
  resources/[dg]/dg-doorlock/client/cl_events.lua
  resources/[dg]/dg-inventory/typescript/src/client/classes/contextmanager.ts
  resources/[dg]/dg-inventory/typescript/src/client/modules/dumpsters/controller.dumpsters.ts
  resources/[dg]/dg-inventory/typescript/src/client/modules/shops/controller.shops.ts
  resources/[dg]/dg-lib/client/cl_raycastinfo.lua
  resources/[dg]/dg-lib/fxmanifest.lua
  resources/[dg]/dg-peek/typescript/src/client/classes/entryManager.ts
  resources/[dg]/dg-peek/typescript/src/client/classes/stateManager.ts
  resources/[dg]/dg-peek/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-peek/typescript/src/client/helpers/actives.ts
  resources/[dg]/dg-peek/typescript/src/client/helpers/context.ts
  resources/[dg]/dg-peek/typescript/src/client/types/peek.d.ts
  resources/[dg]/dg-polytarget/client/cl_main.lua
  resources/[dg]/dg-polytarget/client/cl_util.lua
  resources/[dg]/dg-polytarget/fxmanifest.lua
  resources/[dg]/dg-radialmenu/client/main.lua
  resources/[dg]/dg-scenes/client/cl_functions.lua
  resources/[dg]/dg-scenes/client/cl_main.lua
  resources/[dg]/dg-vehicles/typescript/src/client/modules/carwash/service.carwash.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/garages/controller.garages.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/impound/controller.impound.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/keys/service.keys.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/service.keys.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/service.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/getintrunk.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/interaction.ts
  resources/[dg]/ts-shared/typescript/src/client/types/interaction.d.ts
  resources/[dg]/ts-shared/typescript/src/client/types/peek.d.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/interaction.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/util.d.ts
Due: Validate Errorlogger, JS linting, JS building

chore(peek): add entity nullcheck for peek caninteract and action functions
  resources/[dg]/dg-heists/typescript/src/client/modules/fleeca/controller.fleeca.ts
  resources/[dg]/dg-heists/typescript/src/client/services/trolleys/controller.trolleys.ts
  resources/[dg]/dg-houserobbery/typescript/src/client/modules/house/controller.house.ts
  resources/[dg]/dg-peek/typescript/src/client/helpers/actives.ts
  resources/[dg]/dg-storerobbery/typescript/src/client/modules/registers/controller.registers.ts
  resources/[dg]/dg-vehicles/typescript/src/client/controllers/zones.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/mechanic/controller.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/getintrunk.ts
Due: JS linting, JS building

refactor(elevators): move to misc & add whitelisting for business, gang & jobs
  config/resources.cfg
  resources/[dg]/dg-config/configs/elevators.json
  resources/[dg]/dg-elevator/README.MD
  resources/[dg]/dg-elevator/client/cl_main.lua
  resources/[dg]/dg-elevator/fxmanifest.lua
  resources/[dg]/dg-elevator/server/sv_main.lua
  resources/[dg]/dg-misc/Readme.md
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/elevators/controller.elevators.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/elevators/index.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/elevators/service.elevators.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/elevators/controller.elevators.ts
  resources/[dg]/dg-misc/typescript/src/server/server.ts
  resources/[dg]/dg-misc/typescript/src/types/elevators.d.ts
Due: validate json, Validate Errorlogger, JS linting, JS building

feat(taskbar): cleanup icon css scuffed offsets and borders
  resources/[dg]/dg-misc/typescript/src/client/modules/elevators/service.elevators.ts
  resources/[dg]/dg-ui/[src]/src/components/icon.tsx
  resources/[dg]/dg-ui/[src]/src/main/taskbar/component/TaskBar.tsx
  resources/[dg]/dg-ui/[src]/src/main/taskbar/styles/taskbar.scss
  resources/[dg]/dg-ui/[src]/src/styles/components/icons.scss
Due: JS linting, JS building

feat(houserobbery): reworked selling with new inventory
  resources/[dg]/dg-config/configs/houserobbery.json
  resources/[dg]/dg-houserobbery/typescript/src/client/modules/shop/controller.shop.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/modules/shop/controller.shop.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/modules/shop/service.shop.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/server.ts
  resources/[dg]/dg-inventory/README.md
  resources/[dg]/dg-inventory/typescript/src/server/controllers/controller.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/inventory.ts
Due: validate json, JS linting, JS building

feat(ui): added player cash to ui character data
  resources/[dg]/dg-financials/typescript/src/server/modules/cash/service.ts
  resources/[dg]/dg-ui/[src]/src/lib/defaultState.ts
  resources/[dg]/dg-ui/[src]/src/lib/devdata.ts
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/sides.tsx
  resources/[dg]/dg-ui/[src]/src/main/inventory/lib.ts
  resources/[dg]/dg-ui/[src]/src/types/apps/inventory.d.ts
  resources/[dg]/dg-ui/[src]/src/types/main.d.ts
  resources/[dg]/dg-ui/client/components/cl_hud.lua
  resources/[dg]/dg-ui/client/components/cl_info.lua
Due: JS linting, JS building

fix(ui/cash): fix wrong cash show evt data & hud stale state in events
  resources/[dg]/dg-ui/[src]/src/main/hud/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/hud/component/Cash.tsx
  resources/[dg]/dg-ui/[src]/src/main/hud/styles/hud.scss
  resources/[dg]/dg-ui/client/components/cl_hud.lua
  resources/[dg]/dg-ui/client/components/cl_info.lua
Due: JS linting, JS building

fix(config): fix pipeline linting error
  resources/[dg]/dg-config/configs/elevators.json
Due: validate json

feat(dgx): added util func to spawn agro peds
  resources/[dg]/dg-misc/typescript/src/client/modules/gtabehaviour/service.gtabehaviour.ts
  resources/[dg]/dg-misc/typescript/src/server/constants.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
Due: JS linting, JS building

feat(nuttysounds): added option to play sounds from server
  resources/[dg]/ts-shared/typescript/src/server/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/server/types/global.d.ts
  resources/[standalone]/nutty-sounds/fxmanifest.lua
  resources/[standalone]/nutty-sounds/server/sv_manager.lua
  resources/[standalone]/nutty-sounds/tests/cl_test.lua
  resources/[standalone]/nutty-sounds/tests/sv_test.lua
Due: Validate Errorlogger, JS linting, JS building

chore(taskbar): added more keys to disable when movement should be disabled
  resources/[dg]/dg-misc/typescript/src/client/modules/taskbar/constants.taskbar.ts
Due: JS linting, JS building

chore(peek): disable all keys when focussing UI to avoid abuse
  resources/[dg]/dg-peek/typescript/src/client/classes/stateManager.ts
Due: JS linting, JS building

fix(chars): do not save ped position if not loade, fix lua error on last loc spawn
  resources/[core]/dg-core/server/player.lua
  resources/[dg]/dg-chars/server/sv_spawn.lua
Due: none

feat(jobs): export to remove from group, fix setting first member as owner, add job limit check
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/classes/Group.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/controller.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/service.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/jobs.ts
Due: JS linting, JS building

refactor(ui): move from babel to swc (js < rust)
  resources/[dg]/dg-ui/[src]/package.json
  resources/[dg]/dg-ui/[src]/vite.config.ts
  resources/[dg]/dg-ui/[src]/yarn.lock
Due: validate json, JS linting, JS building

fix(ui/phone/jobcenter): reset isReady when leaving group
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/jobcenter-app/components/currentGroup.tsx
Due: JS linting, JS building

feat(dgx): add vehicles class
  resources/[dg]/ts-shared/typescript/src/server/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/vehicles.ts
  resources/[dg]/ts-shared/typescript/src/server/types/global.d.ts
Due: JS linting, JS building

chore(inventory): removed active app check
  resources/[dg]/dg-inventory/typescript/src/client/classes/contextmanager.ts
  resources/[dg]/dg-inventory/typescript/src/client/controllers/ui.ts
  resources/[dg]/dg-ui/[src]/src/main/inventory/component.tsx
Due: JS linting, JS building

tweak(vehicleshop): lowered vehicleshop blip scale
  resources/[dg]/dg-vehicles/typescript/src/client/modules/vehicleshop/controller.vehicleshop.ts
Due: JS linting, JS building

fix(peek): await peek UI closed before executing chosen option action
  resources/[dg]/dg-dev/fxmanifest.lua
  resources/[dg]/dg-peek/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-ui/client/cl_main.lua
Due: Validate Errorlogger, JS linting, JS building

feat(ui): option for dynamic app type
  resources/[dg]/dg-ui/[src]/src/components/appwrapper.tsx
  resources/[dg]/dg-ui/[src]/src/lib/hooks/useApps.ts
  resources/[dg]/dg-ui/[src]/src/main/cli/commands.ts
  resources/[dg]/dg-ui/[src]/src/main/inventory/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/_config.tsx
  resources/[dg]/dg-ui/[src]/src/types/main.d.ts
Due: JS linting, JS building

chore(ci): remove sonarqube
  .gitlab-ci.yml
  sonar-project.properties
Due: none

chore: bump deps
  .eslintrc
  package.json
  resources/[dg]/dg-admin/ui/package.json
  resources/[dg]/dg-admin/ui/yarn.lock
  resources/[dg]/dg-chars/ui/package.json
  resources/[dg]/dg-chars/ui/yarn.lock
  resources/[dg]/dg-chat/ui/package.json
  resources/[dg]/dg-chat/ui/yarn.lock
  resources/[dg]/dg-ui/[src]/package.json
  resources/[dg]/dg-ui/[src]/src/components/numberformat.tsx
  resources/[dg]/dg-ui/[src]/src/index.tsx
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/dragpreview.tsx
  resources/[dg]/dg-ui/[src]/src/types/apps/inventory.d.ts
  resources/[dg]/dg-ui/[src]/yarn.lock
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/sentry.ts
  yarn.lock
Due: validate json, JS linting, JS building

fix(admin): round copied coords to avoid precision loss pipeline fail
  resources/[dg]/dg-admin/typescript/src/client/controllers/ui.ts
  resources/[dg]/ts-shared/typescript/src/shared/classes/util.ts
Due: JS linting, JS building

fix(lib/raycast): fix wrong variable name
  resources/[dg]/dg-lib/client/cl_raycastinfo.lua
Due: none

refactor(vehicles): no autogiving keys to spawned vehicle owner
  resources/[dg]/dg-vehicles/typescript/src/server/controller/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/services/testdrive.vehicleshop.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/vehicles.ts
Due: JS linting, JS building

fix(vehicles/lockpicking): fix lockpicking & hotwiring, added dgx handler for starting lockpick
  resources/[dg]/dg-doorlock/server/sv_main.lua
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/controller.keys.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/service.keys.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/vehicles.ts
Due: JS linting, JS building

feat(jobs): add dgx group leave handler
  resources/[dg]/ts-shared/typescript/src/server/classes/jobs.ts
Due: JS linting, JS building

fix(core/blips): remove existing blip with same id when adding new blip
  resources/[core]/dg-core/client/blipmanager.lua
  resources/[dg]/dg-vehicles/typescript/src/client/modules/vehicleshop/services/quicksell.vehicleshop.ts
Due: JS linting, JS building
