Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build node image, validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

build node image:
  stage: images
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/node:latest -t $CI_REGISTRY_IMAGE/node:$CI_COMMIT_SHA .
  - docker push $CI_REGISTRY_IMAGE/node:latest
  ...

validate json:
  stage: test
  image: node:16
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  image: node:16
  services:
  - name: mariadb:10.7
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'DATABASE_URL=mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4' > ./packages/db/.env
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  - ls /app
  ...

TS dev build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  - ls /app
  ...

TS prod build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  - ls /app
  ...

fix(vehicles): directly update garage state after validation
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/service.garages.ts
Due: JS linting, TS dev build, TS prod build

chore(vehicles): remove randomization from maintenance fees
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/services/maintenanceFees.ts
Due: JS linting, TS dev build, TS prod build

fix(laptop/bennys): use itemLabel instead of itemName in cartlist
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/main/laptop/apps/bennys-app/pages/cart.tsx
Due: JS linting, TS dev build, TS prod build

feat(police): whitelist prago for camera
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/modules/heli/constants.heli.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): add more options to spawnVehicle (fuel, keys) + rework data structure
  resources/[dg]/dg-jobs/typescript/src/server/modules/fishing/service.fishing.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/postop/service.postop.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/sanddigging/controller.sanddigging.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/sanitation/service.sanitation.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/scrapyard/service.scrapyard.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/rental/service.rental.ts
  resources/[dg]/dg-vehicles/typescript/src/server/controller/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/fuel/classes/fuelManager.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/identification/classes/vinmanager.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/services/testdrive.vehicleshop.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/vehicles.ts
  types/vehicles.d.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): force resync of state when ent is re-entering scope
  resources/[dg]/dg-vehicles/typescript/src/client/modules/sirens/helpers/util.ts
Due: JS linting, TS dev build, TS prod build

chore(misc): remove some blacklisted vehicles
  resources/[dg]/dg-misc/typescript/src/shared/constants.ts
Due: JS linting, TS dev build, TS prod build

chore(tools): include some missing project root folders
  tools/update-versions.py
Due: none

fix(sounds): random tick in siren 1 removed
  CHANGELOG.md
  resources/[standalone]/nutty-sounds/dlc_nutty/sirens.awc
Due: none

feat(auth): add chat msg when a report is created
  CHANGELOG.md
  resources/[dg]/dg-auth/typescript/src/client/modules/panel/controller.panel.ts
Due: JS linting, TS dev build, TS prod build

feat(cuffs): dont log when cuffing failed + fix double cuffs
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/modules/cuffs.ts
  resources/[dg]/dg-police/typescript/src/server/modules/interactions/modules/cuffs.ts
Due: JS linting, TS dev build, TS prod build

feat(impound): prevent police vehicles from getting impounded
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/client.ts
  resources/[dg]/dg-police/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-police/typescript/src/client/modules/radar/service.radar.ts
  resources/[dg]/dg-police/typescript/src/client/tsconfig.json
  resources/[dg]/dg-police/typescript/src/server/services/config.ts
  resources/[dg]/dg-police/typescript/src/server/tsconfig.json
  resources/[dg]/dg-police/typescript/src/shared/services/vehicles.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/impound/service.impound.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/jobs.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(ci): give up on automatic rebasing of UPD
  .gitlab-ci.yml
Due: none

fix(minigames): remove server file loading from manifest
  resources/[dg]/dg-minigames/fxmanifest.lua
Due: validate Errorlogger

feat(vehicles): move to new CreateVehicleServerSetter
  resources/[dg]/dg-misc/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-vehicles/typescript/src/client/controllers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/sv_constants.ts
  resources/[dg]/dg-vehicles/typescript/src/types/index.d.ts
Due: JS linting, TS dev build, TS prod build

refactor(keybinds): start key register process after client is loaded in
  CHANGELOG.md
  resources/[dg]/dg-lib/client/cl_keybind.lua
  resources/[dg]/ts-shared/typescript/src/client/classes/interaction.ts
Due: JS linting, TS dev build, TS prod build

fix(blips): add context for playerblips to prevent deletion of non-owned blips
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/client/service/playerBlips.ts
  resources/[dg]/dg-dispatch/typescript/src/client/services/blips.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/blipmanager/service.blipmanager.ts
  resources/[dg]/dg-police/typescript/src/shared/services/vehicles.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/blipmanager.ts
Due: JS linting, TS dev build, TS prod build

chore(dgx): fix infinity loop package reference
  resources/[dg]/ts-shared/typescript/src/client/package.json
  resources/[dg]/ts-shared/typescript/src/server/package.json
Due: validate json, JS linting, TS dev build, TS prod build

fix(doorlock): set automatic rate for normal doors
  CHANGELOG.md
  resources/[dg]/dg-doorlock/typescript/src/client/services/doors.ts
Due: JS linting, TS dev build, TS prod build

fix(auth/ac): await player ping to prevent sync issues
  CHANGELOG.md
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/service.anticheat.ts
Due: JS linting, TS dev build, TS prod build

feat(phone): add ability to send fine to people
  CHANGELOG.md
  resources/[dg]/dg-phone/typescript/src/client/services/justice.ts
  resources/[dg]/dg-phone/typescript/src/server/services/justice.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/justice-app/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/justice-app/components/modals.tsx
Due: JS linting, TS dev build, TS prod build

feat(vehicles): add vehicle modes + wrapped handling modifiers
  pnpm-lock.yaml
  resources/[dg]/dg-config/configs/vehicles/handlings/fpm5.json
  resources/[dg]/dg-config/configs/vehicles/handlings/fpskoda.json
  resources/[dg]/dg-config/configs/vehicles/handlings/lpgolf.json
  resources/[dg]/dg-config/configs/vehicles/handlings/lpmoto.json
  resources/[dg]/dg-config/configs/vehicles/handlings/lpoutlaw.json
  resources/[dg]/dg-config/configs/vehicles/handlings/pa6.json
  resources/[dg]/dg-config/configs/vehicles/handlings/pt6.json
  resources/[dg]/dg-config/configs/vehicles/handlings/wpv90.json
  resources/[dg]/dg-vehicles/typescript/src/client/client.ts
  resources/[dg]/dg-vehicles/typescript/src/client/controllers/baseevents.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/constant.status.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/handling.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/index.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/vehicleModes.ts
  resources/[dg]/dg-vehicles/typescript/src/client/threads/driver.ts
  resources/[dg]/dg-vehicles/typescript/src/client/threads/index.ts
  resources/[dg]/dg-vehicles/typescript/src/server/controller/config.ts
  resources/[dg]/dg-vehicles/typescript/src/server/controller/events.ts
  resources/[dg]/dg-vehicles/typescript/src/server/controller/index.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/bennys/controller.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/controller.garages.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/impound/controller.impound.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/controller.keys.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/mechanic/controller.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/nos/controller.nos.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/controller.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/upgrades/controller.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/controller.vehicleshop.ts
  resources/[dg]/dg-vehicles/typescript/src/shared/identification/constant.identification.ts
  resources/[dg]/dg-vehicles/typescript/src/types/service.d.ts
  resources/[dg]/ts-shared/typescript/src/shared/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/shared/classes/thread.ts
  resources/[dg]/ts-shared/typescript/src/shared/package.json
  resources/[dg]/ts-shared/typescript/src/shared/tsconfig.json
  resources/[dg]/ts-shared/typescript/src/shared/types/thread.d.ts
  tools/update-vehicle-modes-handlings.py
  types/vehicles.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

chore: update submodules
  CHANGELOG.md
Due: none

chore: update vehicle mode config w/ new handling
  resources/[dg]/dg-config/configs/vehicles/handlings/fpm5.json
  resources/[dg]/dg-config/configs/vehicles/handlings/fpskoda.json
  resources/[dg]/dg-config/configs/vehicles/handlings/lpgolf.json
  resources/[dg]/dg-config/configs/vehicles/handlings/lpmoto.json
  resources/[dg]/dg-config/configs/vehicles/handlings/lpoutlaw.json
  resources/[dg]/dg-config/configs/vehicles/handlings/pa6.json
  resources/[dg]/dg-config/configs/vehicles/handlings/pt6.json
  resources/[dg]/dg-config/configs/vehicles/handlings/wpv90.json
Due: validate json

fix: revert update-version script with dependency loop being fixed
  tools/update-versions.py
Due: none

chore: bump version to v1.2.4
  CHANGELOG.md
  packages/db/package.json
  packages/logger/package.json
  packages/tsconfig/package.json
  resources/[dg]/dg-admin/ui/package.json
  resources/[dg]/dg-chars/ui/package.json
  resources/[dg]/dg-chat/ui/package.json
  resources/[dg]/dg-imager/ui/package.json
  resources/[standalone]/pma-voice/voice-ui/package.json
Due: validate json, validate db migrations, JS linting, TS dev build, TS prod build

chore(ci): change key to string to prevent 100 stale caches in storage
  .gitlab-ci.yml
Due: none

tweak: crafting requirements, activity payouts
  CHANGELOG.md
  resources/[dg]/dg-config/configs/criminal/fence.json
  resources/[dg]/dg-config/configs/criminal/oxyrun.json
  resources/[dg]/dg-config/configs/farming.json
  resources/[dg]/dg-config/configs/jobs/hunting.json
  resources/[dg]/dg-config/configs/jobs/postop.json
  resources/[dg]/dg-config/configs/jobs/sanddigging.json
  resources/[dg]/dg-config/configs/jobs/sanitation.json
  resources/[dg]/dg-config/configs/jobs/scrapyard.json
  resources/[dg]/dg-config/configs/labs/meth.json
  resources/[dg]/dg-config/configs/materials/crafting.json
  resources/[dg]/dg-config/configs/materials/dumpsters.json
  resources/[dg]/dg-config/configs/materials/wirecutting.json
  resources/[dg]/dg-config/configs/storerobbery.json
Due: validate json

feat(inventory): serverside openStash & openOtherPlayer + implement in lockers & search/rob
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/client/classes/contextmanager.ts
  resources/[dg]/dg-lockers/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-lockers/typescript/src/server/classes/Locker.ts
  resources/[dg]/dg-lockers/typescript/src/server/classes/LockersManager.ts
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/index.ts
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/modules/rob.ts
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/modules/search.ts
  resources/[dg]/dg-police/typescript/src/server/modules/interactions/modules/rob.ts
  resources/[dg]/dg-police/typescript/src/server/modules/interactions/modules/search.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/inventory.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/inventory.ts
Due: JS linting, TS dev build, TS prod build

feat(lockers): ability to not do animation on opening, defined per locker
  CHANGELOG.md
  packages/db/prisma/migrations/20230611223510_add_lockers_doanimation/migration.sql
  packages/db/prisma/schema.prisma
  resources/[dg]/dg-lockers/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-lockers/typescript/src/server/classes/Locker.ts
  resources/[dg]/dg-lockers/typescript/src/types/index.d.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): add general vehicle isNear... checker in DGX
  resources/[dg]/dg-inventory/typescript/src/client/classes/contextmanager.ts
  resources/[dg]/dg-police/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-vehicles/typescript/src/client/controllers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/client/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/identification/controller.identification.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/mechanic/controller.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/seatbelts/service.seatbelts.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/controller.status.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/upgrades/controller.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/flipcar.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/vehicles.ts
Due: JS linting, TS dev build, TS prod build

fix(sounds): up the volume of SIREN_1
  CHANGELOG.md
  resources/[standalone]/nutty-sounds/dlc_nutty/sirens.awc
Due: none

fix(dgx/sync): check origin coord against ply coords, not it own
  CHANGELOG.md
  resources/[dg]/ts-shared/typescript/src/server/classes/sync.ts
Due: JS linting, TS dev build, TS prod build

refactor(blips): move dispatch blips to own category
  CHANGELOG.md
  resources/[dg]/dg-dispatch/typescript/src/client/services/blips.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/gtabehaviour/service.gtabehaviour.ts
Due: JS linting, TS dev build, TS prod build

docs(changelog): reworded balancing entries to be more transparent towards players
  CHANGELOG.md
Due: none

fix(garages): stop active thread on player unload
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/controller.garages.ts
Due: JS linting, TS dev build, TS prod build

refactor(stancing): more dev menu options + default model stance option + better restoring
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/openStanceMenu.ts
  resources/[dg]/dg-config/configs/vehicles/stance.json
  resources/[dg]/dg-config/configs/vehicles/stances.json
  resources/[dg]/dg-vehicles/typescript/src/client/controllers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/client/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/controller.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/service.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/ui.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/stances/constants.stances.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/stances/controller.stances.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/stances/helpers.stances.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/stances/service.stances.ts
  resources/[dg]/dg-vehicles/typescript/src/server/controller/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/db/repository.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/bennys/classes/BennysManager.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/service.garages.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/identification/service.id.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/impound/service.impound.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/stances/controller.stances.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/stances/logger.stances.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/stances/service.stance.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/stances/service.stances.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/classes/ShopManager.ts
  resources/[dg]/dg-vehicles/typescript/src/server/server.ts
  resources/[dg]/dg-vehicles/typescript/src/shared/stances/helpers.stances.ts
  resources/[dg]/dg-vehicles/typescript/src/shared/upgrades/service.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/types/index.d.ts
  resources/[dg]/dg-vehicles/typescript/src/types/stances.d.ts
  resources/[dg]/dg-vehicles/typescript/src/types/vehicle.d.ts
  types/vehicles.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

Path conditions:
  build node image: any of: package.json, yarn.lock
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
