Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build node image, validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

Path conditions:
  build node image: any of: package.json, yarn.lock
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock

fix: use right function get srvId from cid
  resources/[dg]/dg-financials/typescript/src/server/modules/crypto/classes/CryptoManager.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/crypto/classes/CryptoWallet.ts
  resources/[dg]/dg-phone/server/sv_mails.lua
  resources/[dg]/dg-phone/server/sv_main.lua
  resources/[dg]/dg-ui/server/sv_info.lua
Due: JS linting, TS dev build, TS prod build

fix(ui): position loading spinner correctly
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/components/util.tsx
  resources/[dg]/dg-ui/[src]/src/styles/globals.scss
Due: JS linting, TS dev build, TS prod build

chore: update submodules
  CHANGELOG.md
Due: none

fix(events): actually register local dgxevents as local, tweak how handlers get distributed
  CHANGELOG.md
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
Due: JS linting, TS dev build, TS prod build

feat(doorlocks): add locks for taxi MLO
  resources/[dg]/dg-doorlock/seeding/doors.json
Due: validate json

feat(ui/reports): add tooltips for iconBtns
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/main/reports/components/ReportContainer.tsx
Due: JS linting, TS dev build, TS prod build

chore(gitignore): add shell scripts to ignore
  .gitignore
Due: none

fix(ci): force build CI to srv1
  .gitlab-ci.yml
Due: none

feat(misc): add lawnchair item
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/inventory/shops.json
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/constants.propattach.ts
  resources/[dg]/dg-misc/typescript/src/client/services/binoculars.ts
  resources/[dg]/dg-misc/typescript/src/client/services/useables.ts
  resources/[dg]/dg-misc/typescript/src/server/services/useables.ts
  resources/[dg]/dg-ui/[src]/src/assets/inventory/lawnchair.png
Due: validate json, JS linting, TS dev build, TS prod build

refactor(logger): remove old winston sentry transport
  CHANGELOG.md
  packages/logger/index.ts
  packages/logger/package.json
  packages/logger/sentry-transport.ts
  pnpm-lock.yaml
Due: validate json, JS linting, TS dev build, TS prod build

fix(core): fix "cid" instead of "citizenid" being used as statebag key
  resources/[dg]/dg-core/typescript/src/server/modules/characters/module.characters.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/service.garages.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/classes/keymanager.ts
Due: JS linting, TS dev build, TS prod build

fix(heists): dont require laptop item to be removed from player on hack finish
  CHANGELOG.md
  resources/[dg]/dg-heists/typescript/src/server/services/laptops.ts
Due: JS linting, TS dev build, TS prod build

fix(core): update return types of func that return player's that are always online
  resources/[dg]/dg-core/typescript/src/server/modules/characters/classes/player.ts
  resources/[dg]/dg-core/typescript/src/server/modules/characters/module.characters.ts
  types/core.d.ts
Due: JS linting, TS dev build, TS prod build

fix(core): use license identifier instead of fivem
  resources/[dg]/dg-core/typescript/src/server/modules/users/module.users.ts
Due: JS linting, TS dev build, TS prod build

chore(dgx): capture buffer_shortage problem in sentry
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
Due: JS linting, TS dev build, TS prod build

chore(dgx): capture bufffer shortages in sentry
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
Due: JS linting, TS dev build, TS prod build

fix(dgx): do not delete objects from objmanager when none are registered
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
Due: JS linting, TS dev build, TS prod build

fix(core): unregister user when dropping from server
  resources/[dg]/dg-core/typescript/src/server/modules/users/managers/userManager.ts
  resources/[dg]/dg-core/typescript/src/server/modules/users/module.users.ts
Due: JS linting, TS dev build, TS prod build

fix(clothing): fix typo in module getter
  resources/[qb]/qb-clothing/client/main.lua
Due: none

fix(dgx): skip over BUFFER_SHORTAGE error
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles/mechanic): fix wrong business stash inventory id
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/mechanic/controller.mechanic.ts
Due: JS linting, TS dev build, TS prod build

fix(core): retain username cache when dropping to be able to save user
  CHANGELOG.md
  resources/[dg]/dg-core/typescript/src/server/modules/characters/module.characters.ts
  resources/[dg]/dg-core/typescript/src/server/modules/users/managers/userManager.ts
  resources/[dg]/dg-core/typescript/src/server/modules/users/module.users.ts
  types/core.d.ts
Due: JS linting, TS dev build, TS prod build

fix(prison): use correct statebag property name to get cid
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/modules/prison/controller.prison.ts
Due: JS linting, TS dev build, TS prod build

fix(core): add getOfflineByPhone function to fix mobile transactions not finding target
  CHANGELOG.md
  resources/[dg]/dg-core/typescript/src/server/modules/characters/module.characters.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/classes/Account.ts
  types/core.d.ts
Due: JS linting, TS dev build, TS prod build

fix(phone): remove nil argument from old qbcore callbacks
  CHANGELOG.md
  resources/[dg]/dg-phone/client/cl_messages.lua
Due: none

feat(inventory): add blackmoney container and dufflebag propattach item
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/config.json
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/inventory/objects.json
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/constants.propattach.ts
  resources/[dg]/dg-ui/[src]/src/assets/inventory/container_blackmoney.png
Due: validate json, JS linting, TS dev build, TS prod build

tweak(inventory): change methbrick to a bag with backobject
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/inventory/objects.json
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/constants.propattach.ts
  resources/[dg]/dg-ui/[src]/src/assets/inventory/meth_brick.png
Due: validate json, JS linting, TS dev build, TS prod build

fix(dev/propattach): seperate speeds for move and rotate movement
  resources/[dg]/dg-dev/client/cl_propattach.lua
Due: none

feat(vehicles): define prices for X and S classes
  CHANGELOG.md
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

chore(vehicles): add blazeit burrito to seeding list
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

tweak(vehicles): made kalahari buyable
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

feat(api): actually add queue info to info endpoint
  CHANGELOG.md
  resources/[dg]/dg-api/typescript/src/server/routes/info.ts
  resources/[dg]/dg-core/typescript/src/server/modules/queue/managers/queuemanager.ts
  resources/[dg]/dg-core/typescript/src/server/modules/queue/module.queue.ts
  types/core.d.ts
Due: JS linting, TS dev build, TS prod build

feat(financials): actually acban when modifying cash w/e reason
  CHANGELOG.md
  resources/[dg]/dg-financials/typescript/src/server/modules/cash/service.ts
Due: JS linting, TS dev build, TS prod build

feat(misc): add puke fx
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/modules/particles/controller.particles.ts
  resources/[dg]/dg-misc/typescript/src/client/services/consumables.ts
  resources/[dg]/dg-misc/typescript/src/client/services/fx.ts
Due: JS linting, TS dev build, TS prod build

fix(misc): potential fix for drawScreen going crazy with 32+ draws
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/client/modules/selector/service.selector.ts
  resources/[dg]/dg-admin/typescript/src/client/modules/util/service.util.ts
  resources/[dg]/dg-admin/typescript/src/client/service/playerBlips.ts
  resources/[dg]/dg-misc/typescript/src/client/helpers/util.ts
  resources/[dg]/dg-misc/typescript/src/client/services/idmenu.ts
  resources/[dg]/dg-misc/typescript/src/client/services/me.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
Due: JS linting, TS dev build, TS prod build
