Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

validate json:
  stage: test
  image: node:16
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  image: node:16
  services:
  - name: mariadb:10.7
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'DATABASE_URL=mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4' > ./packages/db/.env
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - corepack enable
  ...

TS dev build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - corepack enable
  ...

TS prod build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - corepack enable
  ...

fix(vehicleshop): correctly calculate saleticket price
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/classes/ShopManager.ts
Due: JS linting, TS dev build, TS prod build

fix(portrobbery): seperate npc flag to enable peek to combat falsy values
  CHANGELOG.md
  resources/[dg]/dg-materials/typescript/src/client/modules/portrobbery/controller.portrobbery.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/portrobbery/manager.portrobbery.ts
Due: JS linting, TS dev build, TS prod build

tweak(vehicles): Updated kofi vehicle class.
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

tweak(banktruck): reduced requirements
  CHANGELOG.md
  resources/[dg]/dg-config/configs/police/requirements.json
Due: validate json

tweak(adminmenu): moved some permissions from developer to staff.
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/changeVehicleEngineSound.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/openStanceMenu.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/placeSyncedObject.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/syncRemoveProp.ts
Due: JS linting, TS dev build, TS prod build

tweak(jobs): increased payout by 20%
  resources/[dg]/dg-config/configs/jobs/hunting.json
  resources/[dg]/dg-config/configs/jobs/sanddigging.json
  resources/[dg]/dg-jobs/typescript/src/server/modules/fishing/service.fishing.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/postop/service.postop.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/sanitation/service.sanitation.ts
Due: validate json, JS linting, TS dev build, TS prod build

tweak(config): made meth hack easier
  resources/[dg]/dg-config/configs/labs/meth.json
Due: validate json

tweak(config): added decoding tool and rope to houserobbery
  resources/[dg]/dg-config/configs/houserobbery/config.json
Due: validate json

tweak(config): increased sell price of hifi and psp
  resources/[dg]/dg-config/configs/criminal/fence.json
Due: validate json

tweak(config): Added vpn for manero to laptopguy
  resources/[dg]/dg-config/configs/heists/shop.json
Due: validate json

tweak(atm): decreased time to execute atm robbery from 2x60 to 2x40 seconds
  resources/[dg]/dg-criminal/typescript/src/client/modules/atm/service.atm.ts
Due: JS linting, TS dev build, TS prod build

tweak(storerobbery): kassa loot 50/50 cash + goldbar aan kluis toegevoegd.
  resources/[dg]/dg-config/configs/storerobbery.json
  resources/[dg]/dg-storerobbery/typescript/src/server/modules/registers/controller.registers.ts
  resources/[dg]/dg-storerobbery/typescript/src/server/modules/safes/controller.safes.ts
  resources/[dg]/dg-storerobbery/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

chore(changelog): changed stuff van vorige 7 commits.
  CHANGELOG.md
Due: none

fix(ui): update the in-ui phonestate based on the inv changes
  CHANGELOG.md
  resources/[dg]/dg-phone/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-ui/client/components/cl_info.lua
Due: JS linting, TS dev build, TS prod build

fix(financials): hopefully fix taxRate defaulting
  CHANGELOG.md
Due: none

v1.4.6
  CHANGELOG.md
Due: none

chore: update submodules
  CHANGELOG.md
Due: none

feat(houserobbery): reduce wait time between new job per person
  CHANGELOG.md
  resources/[dg]/dg-config/configs/houserobbery/config.json
Due: validate json

feat(misc): extends underwaterTime for scuba gear
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/services/scubagear.ts
Due: JS linting, TS dev build, TS prod build

fix(cornerselling): fix fast next-buyer ped exploit
  CHANGELOG.md
  resources/[dg]/dg-criminal/typescript/src/client/modules/cornerselling/controller.cornerselling.ts
  resources/[dg]/dg-criminal/typescript/src/client/modules/cornerselling/service.cornerselling.ts
Due: JS linting, TS dev build, TS prod build

fix(sentry): remove beforeSend for code_fil in debug_meta
  CHANGELOG.md
  packages/logger/index.ts
Due: JS linting, TS dev build, TS prod build

feat(gang): Added doorlocks for triads building for sokudochasers.
  resources/[dg]/dg-doorlock/seeding/doors.json
Due: validate json

feat(gang): added kleerkast voor sokudochasers
  resources/[qb]/qb-clothing/config.lua
Due: none

fix(admin): fix overflow in entity selector menu
  CHANGELOG.md
  resources/[dg]/dg-admin/ui/src/components/entitySelector/index.vue
Due: none

chore(db): fix business name and id to match config
  packages/db/seed.ts
Due: validate db migrations, JS linting, TS dev build, TS prod build

fix(config): prevent char in wall for mazebank trolley pickup
  resources/[dg]/dg-config/configs/heists/locations/maze.json
Due: validate json

feat(config): make halloween torture chair sitable
  resources/[dg]/dg-config/configs/seats.json
Due: validate json

chore(docs): add changelog from PR's
  CHANGELOG.md
Due: none

chore(db): update seed data for cappy
  packages/db/seed.ts
Due: validate db migrations, JS linting, TS dev build, TS prod build

fix(tools): artifacts-updater fixed
  tools/artifact-updater.ps1
Due: none

chore(vehicles): added build 2802 vehicles
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

fix(vehicles): removed m4gt3 from carboostpool.
  CHANGELOG.md
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

fix(auth): clear token maps when a player is dropped
  resources/[dg]/dg-auth/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-auth/typescript/src/server/server.ts
  resources/[dg]/dg-auth/typescript/src/server/services/eventTokens.ts
Due: JS linting, TS dev build, TS prod build

fix(events): extra logging for events emitted on emitter runtime
  resources/[dg]/dg-auth/typescript/src/client/services/eventDebugger.ts
  resources/[dg]/dg-auth/typescript/src/server/services/eventDebugger.ts
  resources/[dg]/ts-shared/packages/client/src/classes/events.ts
  resources/[dg]/ts-shared/packages/server/src/classes/events.ts
Due: JS linting, TS dev build, TS prod build

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
