Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, Validate Errorlogger, validate db migrations, JS linting, JS building

validate json:
  stage: test
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

Validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  services:
  - name: mariadb:latest
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'set mysql_connection_string "mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4"' > ./config/mysql.cfg
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

JS building:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

fix(ci): pull with rebase
  .gitlab-ci.yml
Due: none

chore: bump version + script to bump
  resources/[dg]/dg-chars/ui/package.json
  resources/[dg]/dg-config/configs/main.json
  resources/[standalone]/pma-voice/voice-ui/package.json
  tools/update-versions.py
Due: validate json, JS linting, JS building

tweak: balanced payouts, prices & crafting
  resources/[dg]/dg-apartments/config.lua
  resources/[dg]/dg-config/configs/criminal/blackmoney.json
  resources/[dg]/dg-config/configs/criminal/fence.json
  resources/[dg]/dg-config/configs/financials.json
  resources/[dg]/dg-config/configs/inventory/config.json
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/inventory/shops.json
  resources/[dg]/dg-config/configs/jobs/hunting.json
  resources/[dg]/dg-config/configs/jobs/scrapyard.json
  resources/[dg]/dg-config/configs/labs.json
  resources/[dg]/dg-config/configs/materials/crafting.json
  resources/[dg]/dg-config/configs/materials/radiotowers.json
  resources/[dg]/dg-config/configs/materials/recycleped.json
  resources/[dg]/dg-config/configs/materials/wirecutting.json
  resources/[dg]/dg-config/configs/rentals.json
  resources/[dg]/dg-config/configs/vehicles/mechanic.json
  resources/[dg]/dg-config/configs/vehicles/upgradeprices.json
  resources/[dg]/dg-jobs/typescript/src/server/modules/fishing/service.fishing.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/hunting/service.hunting.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/postop/service.postop.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/sanitation/service.sanitation.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/containers/service.containers.ts
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json, JS linting, JS building

fix(chars): fix routingbucket during char selector
  resources/[dg]/dg-chars/server/sv_main.lua
Due: none

fix(sanitation): fix phone notification finishing early
  resources/[dg]/dg-jobs/typescript/src/server/modules/sanitation/service.sanitation.ts
Due: JS linting, JS building

disable dg-build obfuscation + added linux server to allowed domains
  resources/[dg]/dg-build/typescript/webpack.config.js
  resources/[dg]/dg-config/configs/api.json
Due: validate json, JS linting, JS building

fix(build): do not use false as file name
  resources/[dg]/dg-build/typescript/webpack.config.js
Due: JS linting, JS building

fix(api): use non-dgcore functions
  resources/[dg]/dg-admin/typescript/src/server/controllers/exports.ts
  resources/[dg]/dg-api/typescript/src/server/routes/token.ts
  resources/[dg]/dg-auth/typescript/src/server/services/panelTokens.ts
Due: JS linting, JS building

fix(garage): make police garage bigger to prevent not getting triggered with blackout
  resources/[dg]/dg-vehicles/seeding/garages/mrpd_shared.json
Due: validate json

fix(propattach): disable collision of phone
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/helpers.propattach.ts
Due: JS linting, JS building

feat(hospital): give needs when needs are low in revive
  resources/[dg]/dg-hospital/typescript/src/server/modules/needs/controller.needs.ts
  resources/[dg]/dg-hospital/typescript/src/server/modules/needs/service.needs.ts
Due: JS linting, JS building

chore(sentry): remove sentry transaction in UI to prevent ddossing my ass
  resources/[dg]/dg-ui/[src]/src/components/context/eventHandlerCtx.tsx
Due: JS linting, JS building

fix(mechanics): fixed mechanic ids
  resources/[dg]/dg-config/configs/vehicles/mechanic.json
Due: validate json

fix(vehicles): LOD thingy fixed
  CHANGELOG.md
Due: none

feat(sirensync): added script
  CHANGELOG.md
  resources/[standalone]/pma-sirensync/.gitignore
  resources/[standalone]/pma-sirensync/LICENSE
  resources/[standalone]/pma-sirensync/README.md
  resources/[standalone]/pma-sirensync/build.dev.js
  resources/[standalone]/pma-sirensync/build.prod.js
  resources/[standalone]/pma-sirensync/client/main.lua
  resources/[standalone]/pma-sirensync/client/main.ts
  resources/[standalone]/pma-sirensync/client/tsconfig.json
  resources/[standalone]/pma-sirensync/client/utils.ts
  resources/[standalone]/pma-sirensync/fxmanifest.lua
  resources/[standalone]/pma-sirensync/package.json
  resources/[standalone]/pma-sirensync/server/main.ts
  resources/[standalone]/pma-sirensync/server/tsconfig.json
  resources/[standalone]/pma-sirensync/shared/shared.ts
  resources/[standalone]/pma-sirensync/shared/tsconfig.json
  yarn.lock
Due: validate json, Validate Errorlogger, JS linting, JS building

fix(hospital): reenable voicechat keybinds while in bed
  CHANGELOG.md
  resources/[dg]/dg-hospital/typescript/src/client/modules/beds/constants.beds.ts
  resources/[dg]/dg-hospital/typescript/src/client/modules/beds/service.beds.ts
Due: JS linting, JS building

feat(admin): open trash inventory option
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/openInventory.ts
Due: JS linting, JS building

feat(ems): add missing items to safes
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/inventory/shops.json
  resources/[dg]/dg-config/configs/materials/crafting.json
Due: validate json

feat(restaurants): add blips
  CHANGELOG.md
  resources/[dg]/dg-restaurants/typescript/src/client/services/locations.ts
  resources/[dg]/dg-restaurants/typescript/src/server/classes/restaurant.ts
  resources/[dg]/dg-restaurants/typescript/src/server/sv_logger.ts
Due: JS linting, JS building

chore(labs): disabled drugslabs
  CHANGELOG.md
  resources/[dg]/dg-labs/server/sv_main.lua
Due: none

fix(police): allow voicechat keys while being carried
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/constants.interactions.ts
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/modules/carry.ts
Due: JS linting, JS building

fix(misc): revert changes
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/helpers.propattach.ts
Due: JS linting, JS building

chore(pma-sirensync): format tsconfigs
  CHANGELOG.md
  resources/[standalone]/pma-sirensync/client/tsconfig.json
  resources/[standalone]/pma-sirensync/server/tsconfig.json
Due: validate json

feat(misc): add notification after rent
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/server/modules/rental/service.rental.ts
Due: JS linting, JS building

fix(pma-sirensync): imagine using shared code
  resources/[standalone]/pma-sirensync/shared/tsconfig.json
Due: validate json

fix(playerblips): blipstate state per user
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/playerBlips.ts
Due: JS linting, JS building

feat(vehicles): clear service admin option, reset stalls on repairkut usage
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/clearServiceStatus.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/controller.status.ts
Due: JS linting, JS building

feat(vehicles): added non-scuffed impound reason
  CHANGELOG.md
  resources/[dg]/dg-config/configs/vehicles/impound.json
Due: validate json

fix(graylog): add seperate plyInfo object for extractor
  CHANGELOG.md
  resources/[dg]/dg-logs/server/sv_graylog.lua
Due: none

fix(shops): added laptop and phone to shops
  resources/[dg]/dg-config/configs/inventory/shops.json
Due: validate json

fix(hospital): lowered depletion rates
  CHANGELOG.md
  resources/[dg]/dg-config/configs/hospital/needs.json
  resources/[dg]/dg-hospital/typescript/src/server/modules/needs/service.needs.ts
Due: validate json, JS linting, JS building

fix(clothing): replace insert export with query
  CHANGELOG.md
  resources/[qb]/qb-clothing/server/main.lua
Due: none

fix(financials): paycheck
  CHANGELOG.md
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/controllers/location.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/paycheck/controller.ts
Due: JS linting, JS building

fix(vehicles): make fietsen cheap
  CHANGELOG.md
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

feat(vehicles): updated handlings
  CHANGELOG.md
Due: none

tweak(fuel): lowered price
  resources/[dg]/dg-vehicles/typescript/src/server/modules/fuel/service.fuel.ts
Due: JS linting, JS building

tweak(lockpicks): lowered items & reduced quality decrease on usage
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/crafting.json
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/service.keys.ts
Due: validate json, JS linting, JS building

Path conditions:
  validate json: any of: **/*.json
  Validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: migrations/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  JS building: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
