Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml

tweak(requirements): lowered player requirements for some activities
  CHANGELOG.md
  resources/[dg]/dg-config/configs/main.json
  resources/[dg]/dg-config/configs/police/requirements.json
Due: validate json

tweak(heists): increase drive chance from fleeca bank
  CHANGELOG.md
  resources/[dg]/dg-config/configs/heists/types.json
Due: validate json

tweak(houserobbery): temporarily set keymold chance to 0
  resources/[dg]/dg-config/configs/houserobbery/config.json
Due: validate json

feat(gangs): add message feed UI to gang app
  CHANGELOG.md
  packages/db/prisma/migrations/20230612214411_add_gang_feed_messages/migration.sql
  packages/db/prisma/schema.prisma
  resources/[dg]/dg-admin/typescript/src/client/controllers/ui.ts
  resources/[dg]/dg-admin/typescript/src/server/enums/inputs.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/addGangFeedMessage.ts
  resources/[dg]/dg-admin/typescript/src/types/index.d.ts
  resources/[dg]/dg-admin/ui/src/components/selectionInputs/AdminSelection.vue
  resources/[dg]/dg-admin/ui/src/components/selectionInputs/Gangs.vue
  resources/[dg]/dg-admin/ui/src/lib/store_modules/dataStore.ts
  resources/[dg]/dg-admin/ui/src/types/common.ts
  resources/[dg]/dg-admin/ui/src/types/state.ts
  resources/[dg]/dg-gangs/typescript/src/client/controllers/ui.ts
  resources/[dg]/dg-gangs/typescript/src/server/classes/gang.ts
  resources/[dg]/dg-gangs/typescript/src/server/classes/gangmanager.ts
  resources/[dg]/dg-gangs/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-gangs/typescript/src/server/controllers/exports.ts
  resources/[dg]/dg-gangs/typescript/src/server/server.ts
  resources/[dg]/dg-gangs/typescript/src/server/services/core.ts
  resources/[dg]/dg-gangs/typescript/src/server/services/repository.ts
  resources/[dg]/dg-gangs/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-gangs/typescript/src/shared/constants.ts
  resources/[dg]/dg-gangs/typescript/src/types/index.d.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/containers/service.containers.ts
  resources/[dg]/dg-ui/[src]/src/lib/devdata.ts
  resources/[dg]/dg-ui/[src]/src/main/laptop/apps/gang-app/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/apps/gang-app/config.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/apps/gang-app/pages/feed.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/apps/gang-app/stores/useGangAppStore.ts
  resources/[dg]/dg-ui/[src]/src/main/laptop/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/os/Laptop.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/styles/gang.scss
  resources/[dg]/dg-ui/[src]/src/types/apps/laptop.d.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/jobs.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/util.d.ts
  types/gangs.d.ts
Due: JS linting, TS dev build, TS prod build

tweak(synced3dtext): limit range clientsided
  resources/[dg]/dg-misc/typescript/src/client/services/synced3dtext.ts
Due: JS linting, TS dev build, TS prod build

refactor(misc): allow differentiation between suppressing and deleting entities with model
  resources/[dg]/dg-misc/typescript/src/client/modules/gtabehaviour/service.gtabehaviour.ts
  resources/[dg]/dg-misc/typescript/src/server/constants.ts
  resources/[dg]/dg-misc/typescript/src/shared/constants.ts
Due: JS linting, TS dev build, TS prod build

fix(phone): fix phone notes
  CHANGELOG.md
  packages/db/prisma/migrations/20230615220418_add_foreign_key_to_notes/migration.sql
  packages/db/prisma/schema.prisma
  resources/[dg]/dg-phone/typescript/src/client/services/info.ts
  resources/[dg]/dg-phone/typescript/src/client/services/notes.ts
  resources/[dg]/dg-phone/typescript/src/server/modules/twitter/controller.twitter.ts
  resources/[dg]/dg-phone/typescript/src/server/services/notes.ts
  resources/[dg]/dg-phone/typescript/src/types/index.d.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/notes-app/components/editor.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/notes-app/events.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/notes-app/lib.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/notes-app/stores/useNotesAppStore.ts
Due: JS linting, TS dev build, TS prod build

chore(gangs): forgot to remove override log level
  resources/[dg]/dg-gangs/typescript/src/server/sv_logger.ts
Due: JS linting, TS dev build, TS prod build

fix(ui): change tsconfig jsx option to fix build errors
  resources/[dg]/dg-ui/[src]/tsconfig.json
Due: validate json

feat(inventory): add/remove message when container_key is destroyed/created + container_key lifetime duration
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-gangs/typescript/src/server/classes/gangmanager.ts
  resources/[dg]/dg-gangs/typescript/src/server/server.ts
  resources/[dg]/dg-gangs/typescript/src/server/services/keys.ts
  resources/[dg]/dg-gangs/typescript/src/server/services/repository.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/classes/item.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/helpers.items.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(vehicles): actually degrade vehicle based on status
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
Due: JS linting, TS dev build, TS prod build

chore(gangs): remove leftover dev command
  resources/[dg]/dg-gangs/typescript/src/server/server.ts
Due: JS linting, TS dev build, TS prod build

Revert "tweak(houserobbery): temporarily set keymold chance to 0"
  resources/[dg]/dg-config/configs/houserobbery/config.json
Due: validate json

feat(inventory): execute onDelete funcs when deleted on resource start by decay/nonpersistent
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/classes/item.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/helpers.items.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/manager.items.ts
  resources/[dg]/dg-inventory/typescript/src/server/services/repository.ts
Due: JS linting, TS dev build, TS prod build

fix(gangs): properly remove feed message
  resources/[dg]/dg-gangs/typescript/src/server/classes/gangmanager.ts
  resources/[dg]/dg-gangs/typescript/src/server/services/repository.ts
Due: JS linting, TS dev build, TS prod build

fix(admin): admins can infinte ban + prevent elasticsearch from trying to parse target as LONG
  resources/[dg]/dg-admin/typescript/src/server/modules/penalties/service.penalties.ts
  resources/[dg]/dg-admin/ui/src/components/penaltyModal.vue
Due: JS linting, TS dev build, TS prod build

fix(vehicles): enable extras on default upgrades for some model types
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/controllers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/client/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/db/repository.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/shared/upgrades/constants.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/shared/upgrades/service.upgrades.ts
Due: JS linting, TS dev build, TS prod build

chore: update submodules
  CHANGELOG.md
Due: none

chore: fix sentry source mappings
  .gitlab-ci.yml
  resources/[dg]/dg-ui/[src]/vite.config.ts
  scripts/build.js
Due: JS linting, TS dev build, TS prod build

fix(business): default price of new business items to high amount
  CHANGELOG.md
  resources/[dg]/dg-business/typescript/src/server/classes/Business.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles/keys): check correct doorlockstate when unlocking
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/controller.keys.ts
Due: JS linting, TS dev build, TS prod build

feat(materials): limit container key item to one per gang during key lifetime
  CHANGELOG.md
  packages/db/prisma/migrations/20230617191912_add_gang_to_container_benches/migration.sql
  packages/db/prisma/schema.prisma
  resources/[dg]/dg-materials/typescript/src/server/modules/containers/controller.containers.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/containers/helpers.containers.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/containers/service.containers.ts
Due: JS linting, TS dev build, TS prod build

feat(materials): update container gang on enter
  resources/[dg]/dg-materials/typescript/src/server/modules/containers/service.containers.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): add missing caddy config
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

fix(vehicles): fix infinite loop if no model config is defined
  resources/[dg]/dg-vehicles/typescript/src/client/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/info/controller.info.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/info/service.info.ts
Due: JS linting, TS dev build, TS prod build

refactor(ui): rewrite report indicator
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/main/reports-indicator/component.tsx
Due: JS linting, TS dev build, TS prod build

feat(ui): add ability to toggle a beautifull game BG
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/lib/events.ts
  resources/[dg]/dg-ui/[src]/src/main/cli/commands.ts
Due: JS linting, TS dev build, TS prod build

fix(business): remove new zones on business exit
  CHANGELOG.md
  resources/[dg]/dg-business/typescript/src/client/service/inside.ts
Due: JS linting, TS dev build, TS prod build

fix(houserobbery): log was not in graylog idk
  resources/[dg]/dg-houserobbery/typescript/src/server/server.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): roof RAGE body & engine health
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/service.status.ts
Due: JS linting, TS dev build, TS prod build

chore(vehicles): add extra places to save fuel to DB when state fails
  resources/[dg]/dg-vehicles/typescript/src/server/modules/fuel/classes/fuelManager.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/fuel/controller.fuel.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/service.garages.ts
Due: JS linting, TS dev build, TS prod build

refactor(sirens): remove useless siren state + start thread for sirens when not already started
  resources/[dg]/dg-vehicles/typescript/src/client/modules/sirens/controllers/events.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/sirens/controllers/keys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/sirens/helpers/threads.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/sirens/helpers/util.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/sirens.ts
  resources/[dg]/dg-vehicles/typescript/src/types/sirens.d.ts
Due: JS linting, TS dev build, TS prod build

chore(ui): define sentry release name
  resources/[dg]/dg-ui/[src]/vite.config.ts
Due: JS linting, TS dev build, TS prod build

chore(vehicles): remove old heading fix when spawning vehicle
  resources/[dg]/dg-vehicles/typescript/src/client/controllers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): ability to toggle engine when spawning vehicle
  resources/[dg]/dg-vehicles/typescript/src/server/controller/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  types/vehicles.d.ts
Due: JS linting, TS dev build, TS prod build
