Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

validate json:
  stage: test
  image: node:16
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  image: node:16
  services:
  - name: mariadb:10.7
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'DATABASE_URL=mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4' > ./packages/db/.env
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - corepack enable
  ...

TS dev build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - corepack enable
  ...

TS prod build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - corepack enable
  ...

feat(vehicles): add persistency module POC
  resources/[dg]/dg-admin/typescript/src/client/modules/commands/controller.commands.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/controller.commands.ts
  resources/[dg]/dg-misc/typescript/src/server/services/modelblacklist.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/index.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/missionentity.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/persistency.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/dev/controller.dev.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/dev/index.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/dev/service.dev.ts
  resources/[dg]/dg-vehicles/typescript/src/server/server.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/index.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/missionentity.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/persistency.ts
  resources/[dg]/ts-shared/typescript/src/server/controllers/events.ts
Due: JS linting, TS dev build, TS prod build

chore(hospital): better death log message
  resources/[dg]/dg-hospital/typescript/src/server/modules/down/controller.down.ts
Due: JS linting, TS dev build, TS prod build

feat(gridgames): fail on escape press
  resources/[dg]/dg-ui/[src]/src/main/gridgame/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/gridgame/components/games/binarysudoku.tsx
  resources/[dg]/dg-ui/[src]/src/main/gridgame/components/games/ordergame.tsx
  resources/[dg]/dg-ui/[src]/src/main/gridgame/components/games/sequencegame.tsx
  resources/[dg]/dg-ui/[src]/src/main/gridgame/components/games/visiongame.tsx
Due: JS linting, TS dev build, TS prod build

feat(vehicles): option to not include primaryColor in baseupgrades
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/upgrades/classes/manager.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/vehicleshop/classes/Spot.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/upgrades/classes/manager.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/shared/upgrades/service.upgrades.ts
Due: JS linting, TS dev build, TS prod build

feat(npcs/guards): move deaththread to server
  CHANGELOG.md
  resources/[dg]/dg-npcs/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-npcs/typescript/src/client/services/guards.ts
  resources/[dg]/dg-npcs/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-npcs/typescript/src/server/services/guards.ts
  types/npcs.d.ts
Due: JS linting, TS dev build, TS prod build

fix(admin): fix settime command
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/setTime.ts
Due: JS linting, TS dev build, TS prod build

fix(api/inventory): load inv before trying to delete it
  resources/[dg]/dg-api/typescript/src/server/routes/inventory/items.ts
Due: JS linting, TS dev build, TS prod build

feat(inventory): dont unload inventory on charswitch & force objects on rejoin if already loaded
  resources/[dg]/dg-inventory/typescript/src/client/modules/objects/controller.objects.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/controller.inventories.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/manager.inventories.ts
Due: JS linting, TS dev build, TS prod build

chore(vehicles): carhack difficulty tweaks
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/constants.keys.ts
Due: JS linting, TS dev build, TS prod build

feat(npcs/guards): remove on caller resource stop & fix ondeath not being called after delete timeout
  resources/[dg]/dg-npcs/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-npcs/typescript/src/server/services/guards.ts
  resources/[dg]/ts-shared/packages/client/src/classes/npcs.ts
  resources/[dg]/ts-shared/packages/server/src/classes/npcs.ts
  types/npcs.d.ts
Due: JS linting, TS dev build, TS prod build

feat(weathersync): admin option to skip weather transition
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/setWeather.ts
  resources/[dg]/dg-weathersync/typescript/src/client/modules/weather/service.weather.ts
  resources/[dg]/dg-weathersync/typescript/src/server/modules/weather/service.weather.ts
  resources/[dg]/ts-shared/packages/server/src/classes/weather.ts
Due: JS linting, TS dev build, TS prod build

fix(weathersync): temp disable setRainLevel native usage
  CHANGELOG.md
  resources/[dg]/dg-weathersync/typescript/src/client/modules/weather/service.weather.ts
Due: JS linting, TS dev build, TS prod build

chore(vehicles): remove leftover debug print
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/ui.bennys.ts
Due: JS linting, TS dev build, TS prod build

fix(lockers): dont check if newOwner already owns locker if price is 0
  CHANGELOG.md
  resources/[dg]/dg-lockers/typescript/src/server/classes/Locker.ts
Due: JS linting, TS dev build, TS prod build

chore(police/prison): whitelist ambu heli for prisonzone
  resources/[dg]/dg-config/configs/police/prison.json
Due: validate json

fix(objectmanager): instantly place on ground for onFloor flag
  resources/[dg]/dg-misc/typescript/src/client/modules/objectManager/service.objectmanager.ts
Due: JS linting, TS dev build, TS prod build

fix(police/prison): only allow police to check confiscated inventories
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/modules/prison/controller.prison.ts
Due: JS linting, TS dev build, TS prod build

feat(carboosting): dont give global contracts if boost of same class is active
  resources/[dg]/dg-carboosting/typescript/src/server/classes/boost.ts
  resources/[dg]/dg-carboosting/typescript/src/server/classes/boostmanager.ts
  resources/[dg]/dg-carboosting/typescript/src/server/classes/contractmanager.ts
Due: JS linting, TS dev build, TS prod build

fix(weather): fix actual problem with rainlevels
  resources/[dg]/dg-weathersync/typescript/src/client/modules/weather/service.weather.ts
Due: JS linting, TS dev build, TS prod build

feat(police/trackers): randomize tracker blip color
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/modules/blipmanager/service.blipmanager.ts
  resources/[dg]/dg-police/typescript/src/client/modules/trackers/service.trackers.ts
  resources/[dg]/dg-police/typescript/src/server/modules/trackers/constants.trackers.ts
  resources/[dg]/dg-police/typescript/src/server/modules/trackers/service.trackers.ts
  resources/[dg]/ts-shared/packages/client/src/types/blipmanager.d.ts
Due: JS linting, TS dev build, TS prod build

feat(dgx/util): add ability to give seed for name generation
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/server/controllers/events.ts
  resources/[dg]/ts-shared/packages/server/src/classes/util.ts
Due: JS linting, TS dev build, TS prod build

feat(criminal): add banktruck robbery activity
  CHANGELOG.md
  resources/[dg]/dg-config/configs/criminal/banktruck.json
  resources/[dg]/dg-config/configs/police/requirements.json
  resources/[dg]/dg-criminal/typescript/src/client/client.ts
  resources/[dg]/dg-criminal/typescript/src/client/modules/banktruck/controller.banktruck.ts
  resources/[dg]/dg-criminal/typescript/src/client/modules/banktruck/index.ts
  resources/[dg]/dg-criminal/typescript/src/client/modules/banktruck/service.banktruck.ts
  resources/[dg]/dg-criminal/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/banktruck/constants.banktruck.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/banktruck/controller.banktruck.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/banktruck/index.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/banktruck/manager.banktruck.ts
  resources/[dg]/dg-criminal/typescript/src/server/server.ts
  resources/[dg]/dg-criminal/typescript/src/types/index.d.ts
  resources/[dg]/ts-shared/packages/server/src/classes/vehicles.ts
Due: validate json, JS linting, TS dev build, TS prod build

chore(heists/shop): lower requirement
  CHANGELOG.md
  resources/[dg]/dg-config/configs/heists/shop.json
Due: validate json

chore(submodules): update
  CHANGELOG.md
Due: none

feat(doorlock): add kingsmen locks on gates
  resources/[dg]/dg-doorlock/seeding/doors.json
Due: validate json

fix(dgx/inventory): also check if other types have registerd the inventoryUpdate event
  resources/[dg]/ts-shared/packages/server/src/classes/inventory.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles/upgrades): allow windowtinting & itemupgrades for nonowned vehicle in dev env
  resources/[dg]/dg-vehicles/typescript/src/server/services/itemupgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/windowtint.ts
Due: JS linting, TS dev build, TS prod build

fix(ui/srv): check if player is online for player inventory update event
  CHANGELOG.md
  resources/[dg]/dg-ui/server/sv_info.lua
Due: none

feat(phone/notifications): only remove on click when no decline is defined
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/main/phone/os/notifications/notifications.tsx
Due: JS linting, TS dev build, TS prod build

chore: add extra checks where deleting entities
  resources/[dg]/dg-build/typescript/src/client/classes/Room.ts
  resources/[dg]/dg-chars/client/cl_util.lua
  resources/[dg]/dg-criminal/typescript/src/client/modules/weed/controller.weed.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/atm/service.atm.ts
  resources/[dg]/dg-dev/client/cl_propattach.lua
  resources/[dg]/dg-farming/typescript/src/client/services/seeds.ts
  resources/[dg]/dg-heists/typescript/src/server/services/trolleys.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/fishing/constants.fishing.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/fishing/service.fishing.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/hunting/service.hunting.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/objectManager/service.objectmanager.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/helpers.propattach.ts
  resources/[dg]/dg-npcs/typescript/src/client/classes/npc.ts
  resources/[dg]/dg-vehicles/typescript/src/client/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/vehicleshop/classes/Spot.ts
  resources/[dg]/ts-shared/typescript/src/server/controllers/events.ts
Due: JS linting, TS dev build, TS prod build

fix(banktruck): actually reschedule start after fail
  CHANGELOG.md
  resources/[dg]/dg-criminal/typescript/src/server/modules/banktruck/manager.banktruck.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): move my baby to pdm because im a dumbfuck
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

fix(ui/phone): directly show timer + cleanup on notification removal
  resources/[dg]/dg-ui/[src]/src/main/phone/lib.ts
Due: JS linting, TS dev build, TS prod build

feat(storerobbery): rebalance loot & hacktime
  CHANGELOG.md
  resources/[dg]/dg-config/configs/storerobbery.json
Due: validate json

fix(financials): hopefully fix taxRate defaulting
  CHANGELOG.md
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/helpers/maintenanceFees.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/taxes/service.ts
  resources/[dg]/dg-financials/typescript/src/server/server.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/maintenanceFees.ts
Due: JS linting, TS dev build, TS prod build

chore: add event fixes
  resources/[cfx-default]/runcode/fxmanifest.lua
  resources/[dg]/dg-event/typescript/src/server/modules/capture-the-map/services/guards.ts
Due: validate Errorlogger, JS linting, TS dev build, TS prod build

chore(keys): lower slimjim difficulty
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/service.keys.ts
Due: JS linting, TS dev build, TS prod build

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
