Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml

fix(stance): fix entity getter when entity already provided
  resources/[dg]/dg-vehicles/typescript/src/server/modules/stances/service.stances.ts
Due: JS linting, TS dev build, TS prod build

fix(sentry): fix some start/end timestamps of spans
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): reliably set vehicle plate
  resources/[dg]/dg-vehicles/typescript/src/server/controller/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/identification/classes/platemanager.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/fakeplate.ts
  resources/[dg]/dg-vehicles/typescript/src/shared/upgrades/service.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/types/vehicle.d.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/vehicles.ts
Due: JS linting, TS dev build, TS prod build

feat(idlist): add ply coords to log
  resources/[dg]/dg-misc/typescript/src/server/services/idlist.ts
Due: JS linting, TS dev build, TS prod build

fix(ui): refetch debt after payment
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/debt-app/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/debt-app/components/modals.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/debt-app/stores/useDebtAppStore.ts
  resources/[dg]/dg-ui/[src]/src/types/apps/phone.d.ts
Due: JS linting, TS dev build, TS prod build

fix(hospital/armor): do not set decimal armor amounts
  CHANGELOG.md
  resources/[dg]/dg-config/configs/hospital/health.json
  resources/[dg]/dg-hospital/typescript/src/server/services/armor.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(hospital/armor): filter armor items that can be retrieved
  CHANGELOG.md
  resources/[dg]/dg-core/typescript/src/server/modules/characters/helpers.character.ts
  resources/[dg]/dg-hospital/typescript/src/server/modules/health/controller.health.ts
  resources/[dg]/dg-hospital/typescript/src/server/services/armor.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/jobs.ts
  types/core.d.ts
Due: JS linting, TS dev build, TS prod build

feat(business): add optional timed paychecks when on duty
  CHANGELOG.md
  resources/[dg]/dg-business/typescript/src/server/classes/Business.ts
  resources/[dg]/dg-business/typescript/src/types/index.d.ts
  resources/[dg]/dg-config/configs/business/types.json
Due: validate json, JS linting, TS dev build, TS prod build

fix(consumables): replace joint smoke scenario with animation to fix for female peds
  resources/[dg]/dg-config/configs/inventory/consumables.json
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/constants.propattach.ts
  resources/[dg]/dg-misc/typescript/src/client/services/consumables.ts
  resources/[dg]/dg-misc/typescript/src/types/config.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

chore(doorlock): add kingpills interior door
  CHANGELOG.md
  resources/[dg]/dg-doorlock/seeding/doors.json
Due: validate json

tweak(consumables): just stop anims from playing when in vehicle while using stress reliever
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/services/consumables.ts
  resources/[dg]/dg-misc/typescript/src/server/services/consumables.ts
Due: JS linting, TS dev build, TS prod build

feat(mechanics): craft parts using items in shop stash instead of player inventory
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/mechanic/controller.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/mechanic/controller.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/mechanic/services/parts.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/shared/mechanic/helpers.mechanic.ts
Due: JS linting, TS dev build, TS prod build

feat(inventory): add option to select all items of type
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/manager.items.ts
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/helptooltip.tsx
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/item.tsx
Due: JS linting, TS dev build, TS prod build

tweak(police): allow jumping while escorting/carrying
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/constants.interactions.ts
Due: JS linting, TS dev build, TS prod build

feat(inventory): count items in container as in parent inventory
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/server/modules/containers/service.containers.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
Due: JS linting, TS dev build, TS prod build

fix(kingpills): properly remove peek ids when run finished
  CHANGELOG.md
  resources/[dg]/dg-business/typescript/src/client/modules/kingpills/service.kingpills.ts
Due: JS linting, TS dev build, TS prod build

feat(inventory): fix some shit i forgot
  resources/[dg]/dg-criminal/typescript/src/server/modules/weed/controller.weed.ts
  resources/[dg]/dg-farming/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-inventory/typescript/src/server/controllers/controller.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/inventory.ts
Due: JS linting, TS dev build, TS prod build

chore(inventory): doubled mats per refined, halved required refined mats everywhere
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/containers.json
  resources/[dg]/dg-config/configs/materials/crafting.json
  resources/[dg]/dg-config/configs/materials/melting.json
  resources/[dg]/dg-vehicles/typescript/src/server/modules/mechanic/constants.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/mechanic/services/parts.mechanic.ts
Due: validate json, JS linting, TS dev build, TS prod build

chore: FUCKOFF
  resources/[dg]/dg-config/configs/main.json
Due: validate json

feat(inventory): add flare item
  CHANGELOG.md
  resources/[dg]/dg-config/configs/anticheat.json
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-ui/[src]/src/assets/inventory/weapon_flare.png
  resources/[dg]/dg-weapons/typescript/src/server/contants.ts
Due: validate json, JS linting, TS dev build, TS prod build

tweak(vehicles): show service status in garage logs instead of native damage
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/service.garages.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/services/logs.garages.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles/handling): dont reapply same handling multiplier if highest prio is 0
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/constant.status.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/handling.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/vehicleModes.ts
Due: JS linting, TS dev build, TS prod build

tweak(requirements): container enter requirement icnrease
  resources/[dg]/dg-config/configs/police/requirements.json
Due: validate json

chore: update submodules
  CHANGELOG.md
Due: none

fix(sirens): cleanup pedingstate + check soundId against undefined with soundId's being 0-index based
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/sirens/helpers/sounds.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/sirens/helpers/util.ts
Due: JS linting, TS dev build, TS prod build

fix(houserobbery): removed 2 underwater houses
  resources/[dg]/dg-config/configs/houserobbery/medium.json
Due: validate json

fix(doorlock): fix uninitialized doors accessing
  CHANGELOG.md
  resources/[dg]/dg-doorlock/typescript/src/client/services/doors.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles/mechanics/parts): fix crafting requirement labels
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/mechanic/services/parts.mechanic.ts
Due: JS linting, TS dev build, TS prod build

fix(inventory): case sensitive SELECT queries using an ugly ass hack lol
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/server/services/repository.ts
Due: JS linting, TS dev build, TS prod build

feat(admin): add command to unload inventory
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/unloadInventory.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/manager.inventories.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/inventory.ts
Due: JS linting, TS dev build, TS prod build

fix(inventory): remove client cached items & replace individual implementations
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/client/client.ts
  resources/[dg]/dg-inventory/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-inventory/typescript/src/client/services/cache.ts
  resources/[dg]/dg-inventory/typescript/src/server/controllers/controller.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/scrapyard/service.scrapyard.ts
  resources/[dg]/dg-peek/typescript/src/client/classes/stateManager.ts
  resources/[dg]/dg-peek/typescript/src/client/helpers/context.ts
  resources/[dg]/dg-peek/typescript/src/client/helpers/entries.ts
  resources/[dg]/dg-peek/typescript/src/client/types/peek.d.ts
  resources/[dg]/dg-radialmenu/typescript/src/client/data/main.ts
  resources/[dg]/dg-radialmenu/typescript/src/client/services/radialmenu.ts
  resources/[dg]/dg-restaurants/typescript/src/client/services/actions.ts
  resources/[dg]/dg-restaurants/typescript/src/client/services/locations.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/inventory.ts
  resources/[dg]/ts-shared/typescript/src/client/types/peek.d.ts
Due: JS linting, TS dev build, TS prod build

fix(inventory/ui): check container items for UI requirement validation
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/server/modules/containers/controller.containers.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/containers/service.containers.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/controller.inventories.ts
  resources/[dg]/dg-ui/[src]/src/main/inventory/hooks/useInventory.ts
Due: JS linting, TS dev build, TS prod build

refactor(chars): swap button (colors) + add confirm phrase to delete + dev actions
  CHANGELOG.md
  resources/[dg]/dg-chars/ui/index.html
  resources/[dg]/dg-chars/ui/src/App.vue
  resources/[dg]/dg-chars/ui/src/components/Wrapper.vue
  resources/[dg]/dg-chars/ui/src/components/chars/InfoBox.vue
  resources/[dg]/dg-chars/ui/src/components/dev/actions.vue
  resources/[dg]/dg-chars/ui/src/styles/quasar-variables.sass
Due: JS linting, TS dev build, TS prod build

refactor(core): show deferrals card for info + reject conn when something is wrong
  CHANGELOG.md
  resources/[dg]/dg-core/typescript/src/server/modules/queue/managers/queuemanager.ts
  resources/[dg]/dg-core/typescript/src/server/modules/queue/module.queue.ts
  resources/[dg]/dg-core/typescript/src/server/modules/queue/util.queue.ts
Due: JS linting, TS dev build, TS prod build

chore(core): reset characterOwners when refetching data
  resources/[dg]/dg-core/typescript/src/server/modules/characters/module.characters.ts
Due: JS linting, TS dev build, TS prod build

fix(admin): force exit noclip when tp-ing into a vehicle
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/client/modules/commands/controller.commands.ts
Due: JS linting, TS dev build, TS prod build

tweak(core/queue): lower timeout before joining queue
  resources/[dg]/dg-core/typescript/src/server/modules/queue/module.queue.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles/mechanics/parts): add log to crafting part
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/mechanic/services/parts.mechanic.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles/mechanic): tune items need to be in tunes inventory to receive sales ticket price
  resources/[dg]/dg-vehicles/typescript/src/server/modules/mechanic/controller.mechanic.ts
Due: JS linting, TS dev build, TS prod build
