Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, Validate Errorlogger, validate db migrations, JS linting, JS building

.gitlab-ci.yml:

stages:
  - test
  - linting
  - build
  - housekeeping

image: node:lts

.lerna_installation:
  before_script:
    - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
    - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
    - npm config set always-auth true
    - yarn config set network-timeout 600000 -g
    - yarn --pure-lockfile

.cache_modules:
  cache:
    key: "$CI_COMMIT_REF_NAME-node_modules"
    paths:
      - node_modules/
      - '**/node_modules/'

.js_changes:
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.js"
      - "**/*.ts"
      - "**/*.jsx"
      - "**/*.tsx"
      - "**/*.css"
      - "**/*.scss"
      - "**/*.html"
      - "**/package.json"
      - "**/yarn.lock"

validate json:
  stage: test
  script:
    - cd ./tools/json-validator
    - yarn --pure-lockfile
    - yarn start
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.json"

Validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
    - python ./tools/manifest-check.py
    - exit "${?}"
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - '**/fxmanifest.lua'

validate db migrations:
  stage: test
  services:
    - name: mariadb:latest
      alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
    - echo 'set mysql_connection_string "mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4"' > ./config/mysql.cfg
    - cd ./tools/migrations
    - yarn --pure-lockfile
    - yarn start --init-db
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - 'migrations/*'

sonarqube-check:
  stage: test
  tags:
    - amd64
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [ "" ]
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
    GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task
  cache:
    key: "$CI_COMMIT_REF_NAME-sonar"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner
  allow_failure: true
  only:
    - main
    - UPD

JS linting:
  extends:
    - .lerna_installation
    - .cache_modules
    - .js_changes
  stage: linting
  script:
    - yarn lint

JS building:
  extends:
    - .lerna_installation
    - .cache_modules
    - .js_changes
  stage: build
  script:
    - yarn format -- -- --loglevel error
    - yarn build

rebase UPD:
  stage: housekeeping
  image: node:lts
  script:
    # setting up git
    - url_host=`git remote get-url origin | sed -e "s/https:\/\/gitlab-ci-token:.*@//g"`
    - git remote set-url origin "https://gitlab-ci-token:${ACCESS_TOKEN_PARAM}@${url_host}"
    - git config http.sslverify false
    - git config --global user.email "ci@gitlab.pieter557.dscloud.me"
    - git config --global user.name "CI"
    - git fetch # Just in case branch is not fetch
    - git checkout -t origin/main
    - git pull
    - git checkout -t origin/UPD
    - git pull
    # Rebase
    - git rebase main UPD
    # Push
    - git push -u origin UPD

  only:
    - main

feat(business): add separate permissions for changing bank perms
  resources/[dg]/dg-business/typescript/src/server/classes/Business.ts
  resources/[dg]/dg-config/configs/business.json
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/business-app/components/EmployeeList.tsx
Due: validate json, JS linting, JS building

chore: added dev assets + root cleanup
  assets/logo-dev.png
  assets/logo.png
  config/server-template.cfg
  resources/[dg]/dg-loading-screen/client/cl_main.lua
  resources/[dg]/dg-loading-screen/fxmanifest.lua
  resources/[dg]/dg-loading-screen/html/imgs/logo-dev.png
  resources/[dg]/dg-loading-screen/html/js/app.js
Due: Validate Errorlogger, JS linting, JS building

fix(ui): fix font paths to resolve build error and them not working ingame
  resources/[dg]/dg-ui/[src]/src/styles/fonts.scss
Due: JS linting, JS building

refactor(nutty-sounds): Move stopping sound when playing new with same id to client
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
  resources/[standalone]/nutty-sounds/client/cl_manager.lua
  resources/[standalone]/nutty-sounds/server/sv_manager.lua
Due: JS linting, JS building

feat(config): force 1080p NUI
  config/server-template.cfg
Due: none

fix(vehicles): add timed out check if numberplate has correctly been set
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
Due: JS linting, JS building

feat(vehicles): added way to check if plate belongs to owned vehicle
  resources/[dg]/dg-vehicles/typescript/src/server/modules/identification/classes/platemanager.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/identification/controller.id.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/classes/ShopManager.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/vehicles.ts
Due: JS linting, JS building

fix(polyzone): fixed garage zones + polyzone creation output
  resources/[dg]/dg-vehicles/seeding/garages/bp_parking.json
  resources/[dg]/dg-vehicles/seeding/garages/caears24_parking.json
  resources/[dg]/dg-vehicles/seeding/garages/gerechtgebouw_parking.json
  resources/[dg]/dg-vehicles/seeding/garages/motel_parking.json
  resources/[dg]/dg-vehicles/seeding/garages/motorhotel_parking.json
  resources/[dg]/dg-vehicles/seeding/garages/rode_garage.json
  resources/[dg]/dg-vehicles/seeding/garages/spanishave_parking.json
  resources/[standalone]/PolyZone/creation/server/creation.lua
Due: validate json

fix(doorlock): corrected raycast evt params
  resources/[dg]/dg-doorlock/client/cl_events.lua
Due: none

feat(phone): changed info app entry to cid
  resources/[dg]/dg-phone/client/cl_info.lua
Due: none

fix(phone): correctly get phone number when sharing to close players
  resources/[dg]/dg-phone/server/sv_contacts.lua
Due: none

fix(ui): do not open phone when add notification when in peek
  resources/[dg]/dg-ui/[src]/src/main/phone/lib.ts
Due: JS linting, JS building

fix(ui): fix chat crashing when parameter is undefined + add sourceMaps
  resources/[dg]/dg-chat/ui/src/components/inputField.vue
  resources/[dg]/dg-chat/ui/vite.config.ts
Due: JS linting, JS building

fix(vehicles): allow to lock car from inside
  resources/[dg]/dg-vehicles/typescript/src/client/modules/keys/service.keys.ts
Due: JS linting, JS building

feat(sounds): update car lock distance + added (un)cuff sounds
  resources/[standalone]/nutty-sounds/data/sounds.dat54.nametable
  resources/[standalone]/nutty-sounds/data/sounds.dat54.rel
  resources/[standalone]/nutty-sounds/dlc_nutty/sounds.awc
Due: none

fix(phone): fixed call animation scuff
  resources/[dg]/dg-phone/client/cl_animation.lua
  resources/[dg]/dg-phone/client/cl_calls.lua
Due: none

fix(phone): fix phone not hiding with camera + also close phone from client
  resources/[dg]/dg-phone/client/cl_main.lua
Due: none

feat(ui): add kbd layout to configmenu + hook to translate from qwerty to azerty
  resources/[dg]/dg-ui/[src]/src/lib/hooks/useKeyboardKey.tsx
  resources/[dg]/dg-ui/[src]/src/main/bennys/hooks/useKeyEvents.tsx
  resources/[dg]/dg-ui/[src]/src/main/configmenu/component/Hud.tsx
  resources/[dg]/dg-ui/[src]/src/main/configmenu/store.ts
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/item.tsx
  resources/[dg]/dg-ui/[src]/src/types/apps/configmenu.d.ts
Due: JS linting, JS building

fix(ui): center peek icon
  resources/[dg]/dg-ui/[src]/src/main/peek/styles/peek.scss
Due: JS linting, JS building

feat(admin): added the ability to select multiple reasons for in the penalty modal
  migrations/V15_fix_penalties_table.sql
  resources/[dg]/dg-admin/typescript/src/server/modules/penalties/controller.penalties.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/penalties/service.penalties.ts
  resources/[dg]/dg-admin/typescript/src/server/types/penalty.d.ts
  resources/[dg]/dg-admin/ui/src/components/penaltyModal.vue
Due: validate db migrations, JS linting, JS building

fix(migrations): fixed versions
  migrations/V16_fix_penalties_table.sql
Due: validate db migrations

feat(misc): added basic comsumables + update noicon png
  resources/[dg]/dg-config/configs/inventory/consumables.json
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-misc/typescript/src/server/services/consumables.ts
  resources/[dg]/dg-misc/typescript/src/types/config.d.ts
  resources/[dg]/dg-ui/[src]/src/assets/inventory/noicon.png
  resources/[dg]/dg-ui/[src]/src/assets/inventory/sandwich.png
  resources/[dg]/dg-ui/[src]/src/assets/inventory/water_bottle.png
  resources/[qb]/qb-smallresources/fxmanifest.lua
Due: validate json, Validate Errorlogger, JS linting, JS building

fix(admin): fix ACBan when deleting char
  resources/[core]/dg-core/server/player.lua
Due: none

fix(vehicles): fixed env error
  resources/[dg]/dg-vehicles/typescript/src/shared/sh_util.ts
Due: JS linting, JS building

fix(police): obfuscation error
  resources/[dg]/dg-police/typescript/config/webpack.client.js
Due: JS linting, JS building

fix(vehicles): do not used runtime specific shit in shared scripts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/dev/controller.dev.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/classes/parkingSpotThread.ts
  resources/[dg]/dg-vehicles/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-vehicles/typescript/src/server/sv_util.ts
Due: JS linting, JS building

feat(admin): add announcements
  resources/[dg]/dg-admin/typescript/src/server/controllers/commands.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/announce.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/menu/service.menu.ts
Due: JS linting, JS building

fix(hud): add extra checks for when empty config is loaded
  resources/[dg]/dg-ui/client/components/cl_hud.lua
Due: none

fix(migrations): fixed seeded businesses info
  migrations/V9_add_name_to_business.sql
Due: validate db migrations

fix(vehicles): remove state bag checking gedoe
  resources/[dg]/dg-vehicles/typescript/src/client/services/index.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/stateChecker.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/index.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/stateChecker.ts
Due: JS linting, JS building

fix(noclip): replaced ticks with intervals
  resources/[dg]/dg-admin/typescript/src/client/service/noclip.ts
Due: JS linting, JS building

fix(loadingscreen): fixed for non 1080p
  resources/[dg]/dg-loading-screen/html/stylesheet.css
Due: JS linting, JS building

fix(phone): listen on right endpoint for editing contacts
  resources/[dg]/dg-phone/client/cl_contacts.lua
Due: none

fix(phone): do not show notifications when the player does not have a phone
  resources/[dg]/dg-phone/client/cl_notifications.lua
  resources/[dg]/dg-ui/[src]/src/lib/defaultState.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/lib.ts
  resources/[dg]/dg-ui/[src]/src/types/main.d.ts
  resources/[dg]/dg-ui/client/components/cl_info.lua
  resources/[dg]/dg-ui/server/sv_info.lua
Due: JS linting, JS building

fix(admin): actually change z coord when tping to coord
  resources/[dg]/dg-admin/typescript/src/client/modules/util/controller.util.ts
Due: JS linting, JS building
