Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

validate json:
  stage: test
  image: node:16
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  image: node:16
  services:
  - name: mariadb:10.7
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'DATABASE_URL=mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4' > ./packages/db/.env
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - corepack enable
  ...

TS dev build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - corepack enable
  ...

TS prod build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - corepack enable
  ...

feat(vehicles): clean vehicles on spawn, use sync to clean decals
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/cleanVehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/carwash/controller.carwash.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/carwash/service.carwash.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/carwash/controller.carwash.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/carwash/service.carwash.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/vehicles.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): add extra amount getter
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/upgrades/constants.upgrades.ts
  types/vehicles.d.ts
Due: JS linting, TS dev build, TS prod build

chore(vehicles/stancing): add a6 upgrade stancing
  CHANGELOG.md
  resources/[dg]/dg-config/configs/vehicles/stances.json
Due: validate json

fix(phone): fix error when player has no contacts & tries to make prison call
  CHANGELOG.md
  resources/[dg]/dg-phone/typescript/src/client/services/calls.ts
Due: JS linting, TS dev build, TS prod build

feat(prison): add blip at prison management zone
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-police/typescript/src/client/modules/prison/controller.prison.ts
  resources/[dg]/dg-police/typescript/src/client/modules/prison/service.prison.ts
  resources/[dg]/dg-police/typescript/src/server/modules/prison/controller.prison.ts
Due: JS linting, TS dev build, TS prod build

chore(vehicles): add log to selling vehicle using garage app + fix craftpart logtype
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/mechanic/services/parts.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/garageApp.ts
Due: JS linting, TS dev build, TS prod build

chore(financials/cash): add plyId as Log param to add plyinfo
  CHANGELOG.md
  resources/[dg]/dg-financials/typescript/src/server/modules/cash/service.ts
  resources/[dg]/dg-vehicles/typescript/src/server/controller/vehicle.ts
Due: JS linting, TS dev build, TS prod build

fix(inventory): isContainer metadata as hiddenKey
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/server/modules/containers/service.containers.ts
Due: JS linting, TS dev build, TS prod build

feat(phone): add notification when ad gets added
  CHANGELOG.md
  resources/[dg]/dg-phone/typescript/src/server/services/yellowpages.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles/info): cast model hash to uint
  resources/[dg]/dg-vehicles/typescript/src/server/modules/info/service.info.ts
Due: JS linting, TS dev build, TS prod build

fix(inventory/containers): default value to hiddenKeys when spreading
  resources/[dg]/dg-inventory/typescript/src/server/modules/containers/service.containers.ts
Due: JS linting, TS dev build, TS prod build

chore: bump clothing submodule
  CHANGELOG.md
Due: none

fix(garages): fix gang name typo
  resources/[dg]/dg-vehicles/seeding/garages/gang_hustlers.json
Due: validate json

fix(inventory): ignore container items when getting items to unload inventory
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/manager.inventories.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/manager.items.ts
Due: JS linting, TS dev build, TS prod build

fix(dutytime): fix time formatting
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/server/modules/dutytime/service.dutytime.ts
Due: JS linting, TS dev build, TS prod build

fix(materials/crafting): add advanced repair kit to mechanic bench
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/crafting.json
Due: validate json

chore(heists): increase paleto emp timer
  CHANGELOG.md
  resources/[dg]/dg-config/configs/heists/paleto.json
Due: validate json

chore(garages): move pluk garage
  resources/[dg]/dg-vehicles/seeding/garages/gang_pluk.json
Due: validate json

fix(houserobbery): check if group had active house when leaving group
  CHANGELOG.md
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/controllers/events.ts
Due: JS linting, TS dev build, TS prod build

feat(police/cuffs): add down check to cuff minigame availability
  CHANGELOG.md
  resources/[dg]/dg-config/configs/vehicles/stances.json
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/modules/cuffs.ts
  resources/[dg]/dg-police/typescript/src/server/modules/interactions/modules/cuffs.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(hospital): force stop police interactions when going down
  CHANGELOG.md
  resources/[dg]/dg-hospital/typescript/src/server/modules/down/controller.down.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): add kofi shop
  CHANGELOG.md
  packages/db/prisma/migrations/20230711015952_add_kofi_vehicleshop/migration.sql
  packages/db/prisma/schema.prisma
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/addKofiVehicle.ts
  resources/[dg]/dg-config/configs/npcs.json
  resources/[dg]/dg-config/configs/vehicles/shop.json
  resources/[dg]/dg-vehicles/seeding/vehicles.json
  resources/[dg]/dg-vehicles/typescript/src/client/modules/vehicleshop/classes/Spot.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/vehicleshop/index.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/vehicleshop/services/kofi.vehicleshop.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/classes/ShopManager.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/controller.vehicleshop.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/helpers.vehicleshop.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/index.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/services/kofi.vehicleshop.ts
  resources/[dg]/dg-vehicles/typescript/src/types/vehicleshop.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(weapons): dont equip vehicle blocked weapons when using while in vehicle
  CHANGELOG.md
  resources/[dg]/dg-weapons/typescript/src/client/services/tint.ts
  resources/[dg]/dg-weapons/typescript/src/server/modules/weapons/controller.weapons.ts
Due: JS linting, TS dev build, TS prod build

fix(dispatch): fix all issues regarding blip toggling by ems button
  CHANGELOG.md
  resources/[dg]/dg-dispatch/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-dispatch/typescript/src/client/services/dispatch.ts
  resources/[dg]/dg-dispatch/typescript/src/server/controllers/commands.ts
  resources/[dg]/dg-dispatch/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-dispatch/typescript/src/server/helpers.ts
  resources/[dg]/dg-dispatch/typescript/src/server/helpers/core.ts
  resources/[dg]/dg-dispatch/typescript/src/server/server.ts
  resources/[dg]/dg-dispatch/typescript/src/server/services/blips.ts
  resources/[dg]/dg-dispatch/typescript/src/server/services/dispatch.ts
Due: JS linting, TS dev build, TS prod build

docs(changelog): add clothing entry
  CHANGELOG.md
Due: none

feat(crafting): tweak mechanic crafting recipes
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/crafting.json
Due: validate json

feat(vehicles): add extra kofi vehicles
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

chore(garages): add mcf garage
  resources/[dg]/dg-vehicles/seeding/garages/gang_mcf.json
Due: validate json

style: lint & format all files
  resources/[dg]/dg-admin/typescript/src/server/controllers/exports.ts
  resources/[dg]/dg-admin/typescript/src/server/helpers/discord.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/fillNeeds.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/penaltyPoints/controller.penaltyPoints.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/penaltyPoints/service.penaltyPoints.ts
  resources/[dg]/dg-api/typescript/src/server/routes/admin.ts
  resources/[dg]/dg-api/typescript/src/server/routes/business.ts
  resources/[dg]/dg-api/typescript/src/server/routes/index.ts
  resources/[dg]/dg-auth/typescript/src/client/modules/anticheat/controller.anticheat.ts
  resources/[dg]/dg-auth/typescript/src/client/modules/panel/service.panel.ts
  resources/[dg]/dg-config/configs/main.json
  resources/[dg]/dg-core/typescript/src/client/controllers/exports.ts
  resources/[dg]/dg-core/typescript/src/server/controllers/exports.ts
  resources/[dg]/dg-core/typescript/src/server/modules/characters/logger.character.ts
  resources/[dg]/dg-core/typescript/src/server/modules/queue/util.queue.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/oxyrun/controller.oxyrun.ts
  resources/[dg]/dg-materials/typescript/src/server/services/melting.ts
  resources/[dg]/dg-misc/typescript/src/client/helpers/core.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/blipmanager/index.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/discord/service.discord.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/objectManager/controller.objectmanager.ts
  resources/[dg]/dg-misc/typescript/src/server/services/convars.ts
  resources/[dg]/dg-phone/typescript/src/client/tsconfig.json
  resources/[dg]/dg-phone/typescript/src/server/tsconfig.json
  resources/[dg]/dg-sql/typescript/src/server/classes/handler.ts
  resources/[dg]/dg-ui/[src]/package.json
  resources/[dg]/dg-vehicles/typescript/src/client/modules/dev/controller.dev.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/emsShop.ts
  resources/[dg]/dg-vehicles/typescript/src/client/threads/index.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/maintenanceFees.ts
  resources/[dg]/dg-vehicles/typescript/src/server/tsconfig.json
  resources/[dg]/ts-shared/typescript/src/client/decorators/RPC.ts
  resources/[dg]/ts-shared/typescript/src/client/package.json
  resources/[dg]/ts-shared/typescript/src/server/package.json
  resources/[dg]/ts-shared/typescript/src/server/types/financials.d.ts
  resources/[dg]/ts-shared/typescript/src/shared/package.json
  resources/[dg]/ts-shared/typescript/src/shared/tsconfig.json
Due: validate json, JS linting, TS dev build, TS prod build

feat(admin): add override cid field to addKofiVehicle command
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/addKofiVehicle.ts
Due: JS linting, TS dev build, TS prod build

feat(admin): toggle engine when noclipping to avoid engine sounds
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/client/service/noclip.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/engine.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/vehicles.ts
Due: JS linting, TS dev build, TS prod build

chore(bennys): change repair price calculation
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/constant.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/service.bennys.ts
Due: JS linting, TS dev build, TS prod build

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
