Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build node image, validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

Path conditions:
  build node image: any of: package.json, yarn.lock
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock

feat(oxyruns): add criminal oxyrun job
  CHANGELOG.md
  resources/[dg]/dg-config/configs/criminal/blackmoney.json
  resources/[dg]/dg-config/configs/criminal/cornerselling.json
  resources/[dg]/dg-config/configs/criminal/oxyrun.json
  resources/[dg]/dg-config/configs/hospital/health.json
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/inventory/objects.json
  resources/[dg]/dg-config/configs/npcs.json
  resources/[dg]/dg-config/configs/police/requirements.json
  resources/[dg]/dg-criminal/typescript/src/client/client.ts
  resources/[dg]/dg-criminal/typescript/src/client/modules/oxyrun/constants.oxyrun.ts
  resources/[dg]/dg-criminal/typescript/src/client/modules/oxyrun/controller.oxyrun.ts
  resources/[dg]/dg-criminal/typescript/src/client/modules/oxyrun/helpers.oxyrun.ts
  resources/[dg]/dg-criminal/typescript/src/client/modules/oxyrun/index.ts
  resources/[dg]/dg-criminal/typescript/src/client/modules/oxyrun/service.oxyrun.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/blackmoney/controller.blackmoney.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/blackmoney/logger.blackmoney.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/blackmoney/service.blackmoney.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/cornerselling/controller.cornerselling.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/oxyrun/constants.oxyrun.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/oxyrun/controller.oxyrun.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/oxyrun/index.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/oxyrun/logger.oxyrun.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/oxyrun/service.oxyrun.ts
  resources/[dg]/dg-criminal/typescript/src/server/server.ts
  resources/[dg]/dg-criminal/typescript/src/types/index.d.ts
  resources/[dg]/dg-hospital/typescript/src/client/modules/health/controller.health.ts
  resources/[dg]/dg-hospital/typescript/src/client/modules/health/service.health.ts
  resources/[dg]/dg-hospital/typescript/src/server/modules/health/controller.health.ts
  resources/[dg]/dg-hospital/typescript/src/types/index.d.ts
  resources/[dg]/dg-ui/[src]/src/assets/inventory/oxy_pills.png
  resources/[dg]/dg-ui/[src]/src/assets/inventory/oxyrun_box.png
Due: validate json, JS linting, TS dev build, TS prod build

fix(crafting): catch duplicate crafting recipe item requirements
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/crafting.json
  resources/[dg]/dg-materials/typescript/src/server/services/crafting.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(inventory/ui): colored marked for seizure label on itemtooltip
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/itemtooltip.tsx
Due: JS linting, TS dev build, TS prod build

fix(inventory): fix wrong returntype of dgx inv function
  resources/[dg]/ts-shared/typescript/src/server/classes/inventory.ts
Due: JS linting, TS dev build, TS prod build

fix(auth): do not reauthenticate when new token is same as existing
  resources/[dg]/dg-auth/typescript/src/server/helpers/privateToken.ts
Due: JS linting, TS dev build, TS prod build

fix(poly): fix deleting by id, fix polytarget not catching dupe names, fix polyzone event invalid coords
  CHANGELOG.md
  resources/[dg]/dg-peek/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-polytarget/client/cl_main.lua
  resources/[dg]/dg-polyzone/client/cl_main.lua
  resources/[dg]/ts-shared/typescript/src/client/classes/interaction.ts
Due: JS linting, TS dev build, TS prod build

feat(elevators): set cam heading to face forward after teleporting
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/modules/elevators/controller.elevators.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/elevators/service.elevators.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/elevators/controller.elevators.ts
Due: JS linting, TS dev build, TS prod build

fix(atmrobbery): check entity existence after pickup taskbar
  CHANGELOG.md
  resources/[dg]/dg-criminal/typescript/src/client/modules/atm/service.atm.ts
Due: JS linting, TS dev build, TS prod build

fix(poly): correctly build center coords on polyzones
  resources/[dg]/dg-polytarget/client/cl_main.lua
  resources/[dg]/dg-polyzone/client/cl_main.lua
Due: none

feat(types): add global zone types
  types/zones.d.ts
Due: JS linting, TS dev build, TS prod build

fix(financials): dont check networked/mission ent state on zone based atms
  CHANGELOG.md
  resources/[dg]/dg-financials/typescript/src/client/modules/bank/service.ts
Due: JS linting, TS dev build, TS prod build

refactor(blackout): serverside obj creation, correctly check if all stations hit, kinda rewrote it entirely
  resources/[dg]/dg-blackout/typescript/src/client/classes/BlackoutManager.ts
  resources/[dg]/dg-blackout/typescript/src/client/client.ts
  resources/[dg]/dg-blackout/typescript/src/client/controllers/blackout.ts
  resources/[dg]/dg-blackout/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-blackout/typescript/src/client/controllers/index.ts
  resources/[dg]/dg-blackout/typescript/src/client/controllers/powerstation.ts
  resources/[dg]/dg-blackout/typescript/src/client/controllers/zones.ts
  resources/[dg]/dg-blackout/typescript/src/server/classes/BlackoutManager.ts
  resources/[dg]/dg-blackout/typescript/src/server/classes/PowerstationManager.ts
  resources/[dg]/dg-blackout/typescript/src/server/controllers/blackout.ts
  resources/[dg]/dg-blackout/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-blackout/typescript/src/server/controllers/exports.ts
  resources/[dg]/dg-blackout/typescript/src/server/controllers/index.ts
  resources/[dg]/dg-blackout/typescript/src/server/controllers/powerstation.ts
  resources/[dg]/dg-blackout/typescript/src/server/server.ts
  resources/[dg]/dg-blackout/typescript/src/server/services/config.ts
  resources/[dg]/dg-blackout/typescript/src/types/index.d.ts
  resources/[dg]/dg-config/configs/blackout.json
Due: validate json, JS linting, TS dev build, TS prod build

fix(elevators): fix elevator level without name
  resources/[dg]/dg-config/configs/elevators.json
Due: validate json

fix(vehicles): move weaponized vehicle to nfs
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

feat(hospital): dont clear inventory on respawn when player is police
  CHANGELOG.md
  resources/[dg]/dg-hospital/typescript/src/server/modules/down/controller.down.ts
Due: JS linting, TS dev build, TS prod build

tweak(farming): lower planting taskbar time
  CHANGELOG.md
  resources/[dg]/dg-farming/typescript/src/client/services/seeds.ts
Due: JS linting, TS dev build, TS prod build

feat(hospital): add notification when starting to bleed
  CHANGELOG.md
  resources/[dg]/dg-hospital/typescript/src/client/modules/health/service.health.ts
Due: JS linting, TS dev build, TS prod build

fix(ci): force build CI to srv1
  .gitlab-ci.yml
Due: none

tweak(cityhall): decrease blip scale
  resources/[dg]/dg-justice/typescript/src/client/services/cityhall.ts
Due: JS linting, TS dev build, TS prod build

chore: remove/change logger level for unimportant console logs
  resources/[dg]/dg-financials/typescript/src/server/modules/paycheck/service.ts
  resources/[dg]/dg-heists/typescript/src/server/classes/typemanagers/paletomanager.ts
  resources/[dg]/dg-hospital/typescript/src/server/modules/needs/service.needs.ts
Due: JS linting, TS dev build, TS prod build

fix(oxyruns): fix buyerthread starting multiple times
  CHANGELOG.md
  resources/[dg]/dg-criminal/typescript/src/client/modules/oxyrun/service.oxyrun.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/oxyrun/controller.oxyrun.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/oxyrun/service.oxyrun.ts
Due: JS linting, TS dev build, TS prod build

fix(admin): do not throw errors for 404 response on discord request
  resources/[dg]/dg-admin/typescript/src/server/helpers/discord.ts
Due: JS linting, TS dev build, TS prod build

fix(changelog): committed wrong line lol
  CHANGELOG.md
Due: none

tweak(police/speedzones): less stress when entering speedzone
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/modules/speedzones/constants.speedzones.ts
  resources/[dg]/dg-police/typescript/src/client/modules/speedzones/service.speedzones.ts
Due: JS linting, TS dev build, TS prod build

docs: add missing CHANGELOG entry
  CHANGELOG.md
Due: none

chore: re-add husky + pretty-quick
  .husky/pre-commit
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: build node image, validate json, JS linting, TS dev build, TS prod build

feat(spawn): add log when selecting a spawn location
  CHANGELOG.md
  resources/[dg]/dg-chars/server/sv_spawn.lua
Due: none

fix(core): fixed more bugs related to new core
  resources/[dg]/dg-api/typescript/src/server/helpers/players.ts
  resources/[dg]/dg-chars/server/sv_main.lua
  resources/[dg]/dg-chat/typescript/src/server/helpers/commands.ts
  resources/[dg]/dg-core/typescript/src/client/modules/characters/module.characters.ts
  resources/[dg]/dg-core/typescript/src/server/modules/characters/classes/player.ts
  resources/[dg]/dg-core/typescript/src/server/modules/characters/helpers.character.ts
  resources/[dg]/dg-core/typescript/src/server/modules/characters/module.characters.ts
  resources/[dg]/dg-core/typescript/src/server/modules/users/module.users.ts
  resources/[dg]/dg-dispatch/typescript/src/server/services/dispatch.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/classes/Account.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/crypto/controller.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/crypto/service.ts
  resources/[dg]/dg-hospital/typescript/src/client/modules/down/service.down.ts
  resources/[dg]/dg-hospital/typescript/src/client/modules/health/controller.health.ts
  resources/[dg]/dg-hospital/typescript/src/client/modules/needs/service.needs.ts
  resources/[dg]/dg-hospital/typescript/src/server/modules/down/controller.down.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/server.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/helpers.items.ts
  resources/[dg]/dg-jobs/typescript/src/server/controllers/commands.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/classes/NameManager.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/controller.ts
  resources/[dg]/dg-phone/client/cl_info.lua
  resources/[dg]/dg-police/typescript/src/server/modules/evidence/service.evidence.ts
  resources/[dg]/dg-police/typescript/src/server/modules/interactions/modules/rob.ts
  resources/[dg]/dg-police/typescript/src/server/modules/interactions/modules/search.ts
  resources/[dg]/dg-police/typescript/src/server/modules/prison/service.prison.ts
  resources/[dg]/dg-radialmenu/typescript/src/client/services/radialmenu.ts
  resources/[dg]/dg-sync/typescript/src/server/modules/coords/service.coords.ts
  resources/[dg]/dg-ui/client/components/cl_hud.lua
  resources/[dg]/dg-ui/client/components/cl_info.lua
  resources/[dg]/ts-shared/typescript/src/server/classes/core.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/sync.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
  resources/[qb]/qb-clothing/client/main.lua
  types/core.d.ts
Due: JS linting, TS dev build, TS prod build

fix(types): remove duplicate declared namespaces & move vector types file
  types/core.d.ts
  types/vectors.d.ts
Due: JS linting, TS dev build, TS prod build

fix(dgx):: fix getCID return type by using overload
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
Due: JS linting, TS dev build, TS prod build

refactor(core): move cash to metadata
  packages/db/prisma/migrations/20230505121852_move_cash_to_ply_metadata/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/seed.ts
  resources/[dg]/dg-core/typescript/src/server/modules/characters/classes/player.ts
  resources/[dg]/dg-core/typescript/src/server/modules/characters/helpers.character.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/cash/service.ts
  resources/[dg]/dg-ui/client/components/cl_info.lua
  types/core.d.ts
Due: validate db migrations, JS linting, TS dev build, TS prod build

chore: remove unneeded charModule caching in dgx
  resources/[dg]/ts-shared/typescript/src/server/classes/jobs.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/server/helpers/core.ts
Due: JS linting, TS dev build, TS prod build

fix(admin): make script buildable with the new getCID types
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/addJobWhitelist.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/removeJobWhitelist.ts
  resources/[dg]/dg-admin/typescript/src/server/types/index.d.ts
Due: JS linting, TS dev build, TS prod build

fix(admin): fix admin dgx class wrong export name
  resources/[dg]/dg-core/typescript/src/server/modules/queue/module.queue.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/admin.ts
Due: JS linting, TS dev build, TS prod build

fix(core): allow player to join server if prodmode & load identifiers of existing players on module start
  resources/[dg]/dg-core/typescript/src/server/modules/users/managers/userManager.ts
  resources/[dg]/dg-core/typescript/src/server/modules/users/module.users.ts
Due: JS linting, TS dev build, TS prod build

chore(admin): remove unused functions, remove promise resolving shit where not needed
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/service.commands.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/menu/controller.menu.ts
Due: JS linting, TS dev build, TS prod build

fix(migrations): update view in cash update migration
  packages/db/prisma/migrations/20230505121852_move_cash_to_ply_metadata/migration.sql
Due: none
