Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, Validate Errorlogger, validate db migrations, JS linting, JS building

validate json:
  stage: test
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

Validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  services:
  - name: mariadb:latest
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'set mysql_connection_string "mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4"' > ./config/mysql.cfg
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

JS building:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

fix(financials): moved taxId parameter into class function
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/classes/Account.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/helpers/actions.ts
Due: JS linting, JS building

fix(financials): check right object if sender and receiver or the same in a transaction
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/classes/Account.ts
Due: JS linting, JS building

fix(ui): made negative transactions more prominent for user
  resources/[dg]/dg-ui/[src]/src/main/financials/components/transactionList.tsx
  resources/[dg]/dg-ui/[src]/src/main/financials/styles/financials.scss
Due: JS linting, JS building

fix(ui): reset transaction list when switching accounts
  resources/[dg]/dg-ui/[src]/src/main/financials/component.tsx
Due: JS linting, JS building

fix(policejob): do not call varname
  resources/[qb]/qb-policejob/server/sv_dev.lua
Due: none

fix(jobs): added missing allowlist menu entries
  resources/[dg]/dg-jobs/typescript/src/client/services/signin.ts
  resources/[dg]/dg-jobs/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-jobs/typescript/src/server/services/whitelist.ts
Due: JS linting, JS building

refactor(inventory): improved onInvUpdate handlers performance by only checking when needed
  resources/[dg]/dg-phone/server/sv_main.lua
  resources/[dg]/dg-ui/server/sv_info.lua
Due: none

fix(contextmenu): fix scrolling ingame, clean up styling
  resources/[dg]/dg-ui/[src]/src/lib/defaultState.ts
  resources/[dg]/dg-ui/[src]/src/main/contextmenu/components/contextmenu.tsx
  resources/[dg]/dg-ui/[src]/src/main/contextmenu/styles/contextmenu.scss
Due: JS linting, JS building

fix(ui): linter complaining like a hoe
  resources/[dg]/dg-ui/[src]/src/main/financials/components/transactionList.tsx
Due: JS linting, JS building

style(contextmenu): made style more distinct between different elem states
  resources/[dg]/dg-ui/[src]/src/main/contextmenu/styles/contextmenu.scss
Due: JS linting, JS building

fix(dgx): default auto-remove zones when created through DGX
  resources/[dg]/ts-shared/typescript/src/client/classes/interaction.ts
Due: JS linting, JS building

refactor(business): added name to business as extra identifier
  migrations/V9_add_name_to_business.sql
  resources/[dg]/dg-business/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-business/typescript/src/server/controllers/exports.ts
  resources/[dg]/dg-business/typescript/src/server/services/business.ts
  resources/[dg]/dg-business/typescript/src/types/index.d.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/jobs.ts
  resources/[dg]/ts-shared/typescript/src/server/types/business.d.ts
Due: validate db migrations, JS linting, JS building

fix(migrations): fixed migrations not being sorted properly
  tools/migrations/index.js
Due: JS linting, JS building

feat(storerobbery): added logs
  resources/[dg]/dg-storerobbery/typescript/src/client/controllers/classes/LocationManager.ts
  resources/[dg]/dg-storerobbery/typescript/src/client/controllers/locations.ts
  resources/[dg]/dg-storerobbery/typescript/src/client/modules/registers/helpers.registers.ts
  resources/[dg]/dg-storerobbery/typescript/src/client/modules/safes/helpers.safe.ts
  resources/[dg]/dg-storerobbery/typescript/src/client/tsconfig.json
  resources/[dg]/dg-storerobbery/typescript/src/server/classes/StateManager.ts
  resources/[dg]/dg-storerobbery/typescript/src/server/helpers/config.ts
  resources/[dg]/dg-storerobbery/typescript/src/server/modules/registers/controller.registers.ts
  resources/[dg]/dg-storerobbery/typescript/src/server/modules/safes/controller.safes.ts
  resources/[dg]/dg-storerobbery/typescript/src/server/tsconfig.json
Due: validate json, JS linting, JS building

style(eslint): fixed prettier flags in eslint rc
  .eslintrc
Due: none

feat(logs): store failed graylog logs in a file for reduntation
  resources/[dg]/dg-logs/server/server.lua
  resources/[dg]/dg-logs/server/sv_graylog.lua
Due: none

feat(business): added client sided caching to employed businesses
  resources/[dg]/dg-business/typescript/src/client/client.ts
  resources/[dg]/dg-business/typescript/src/client/service/permscache.ts
  resources/[dg]/dg-business/typescript/src/server/classes/Business.ts
  resources/[dg]/dg-business/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-business/typescript/src/server/services/business.ts
  resources/[dg]/dg-business/typescript/src/types/index.d.ts
  resources/[dg]/dg-doorlock/client/cl_events.lua
  resources/[dg]/dg-doorlock/client/cl_functions.lua
  resources/[dg]/dg-doorlock/client/cl_main.lua
  resources/[dg]/dg-peek/typescript/src/client/helpers/entries.ts
  resources/[dg]/dg-peek/typescript/src/client/types/peek.d.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/jobs.ts
  resources/[dg]/ts-shared/typescript/src/client/types/global.d.ts
Due: JS linting, JS building

feat(weapons): added some logging
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/setAmmo.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/setWeaponQuality.ts
  resources/[dg]/dg-weapons/.gitignore
  resources/[dg]/dg-weapons/fxmanifest.lua
  resources/[dg]/dg-weapons/typescript/config/webpack.client.js
  resources/[dg]/dg-weapons/typescript/config/webpack.common.js
  resources/[dg]/dg-weapons/typescript/config/webpack.server.js
  resources/[dg]/dg-weapons/typescript/config/webpack.util.js
  resources/[dg]/dg-weapons/typescript/package.json
  resources/[dg]/dg-weapons/typescript/src/client/client.ts
  resources/[dg]/dg-weapons/typescript/src/client/constants.ts
  resources/[dg]/dg-weapons/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-weapons/typescript/src/client/controllers/exports.ts
  resources/[dg]/dg-weapons/typescript/src/client/controllers/index.ts
  resources/[dg]/dg-weapons/typescript/src/client/controllers/ui.ts
  resources/[dg]/dg-weapons/typescript/src/client/helpers/util.ts
  resources/[dg]/dg-weapons/typescript/src/client/services/equipped.ts
  resources/[dg]/dg-weapons/typescript/src/client/tsconfig.json
  resources/[dg]/dg-weapons/typescript/src/server/contants.ts
  resources/[dg]/dg-weapons/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-weapons/typescript/src/server/helpers/util.ts
  resources/[dg]/dg-weapons/typescript/src/server/server.ts
  resources/[dg]/dg-weapons/typescript/src/server/services/attachments.ts
  resources/[dg]/dg-weapons/typescript/src/server/services/config.ts
  resources/[dg]/dg-weapons/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-weapons/typescript/src/server/tsconfig.json
  resources/[dg]/dg-weapons/typescript/src/types/index.d.ts
  resources/[dg]/dg-weapons/typescript/yarn.lock
  resources/[dg]/ts-shared/typescript/src/server/classes/inventory.ts
Due: validate json, Validate Errorlogger, JS linting, JS building

fix(inventory): moving item now returns promise
  resources/[dg]/dg-inventory/typescript/src/server/controllers/controller.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/inventory.ts
Due: JS linting, JS building

fix(business): fix index of parameter array business creation cmd
  resources/[dg]/dg-business/typescript/src/server/controllers/events.ts
Due: JS linting, JS building

fix(hud): clean up allignment, made icons tiny bit smaller
  resources/[dg]/dg-ui/[src]/src/main/hud/component/entries/HealthArmor.tsx
  resources/[dg]/dg-ui/[src]/src/main/hud/component/entries/Needs.tsx
  resources/[dg]/dg-ui/[src]/src/main/hud/component/entries/Voice.tsx
  resources/[dg]/dg-ui/[src]/src/main/hud/component/hudBar.tsx
  resources/[dg]/dg-ui/[src]/src/main/hud/styles/hud.scss
Due: JS linting, JS building

feat(laptop): moved inventory item photo getter to util + added notifications to laptop
  resources/[dg]/dg-ui/[src]/src/lib/util.ts
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/dragpreview.tsx
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/item.tsx
  resources/[dg]/dg-ui/[src]/src/main/inventory/util.ts
  resources/[dg]/dg-ui/[src]/src/main/itemboxes/components/itembox.tsx
  resources/[dg]/dg-ui/[src]/src/main/itemboxes/util.ts
  resources/[dg]/dg-ui/[src]/src/main/laptop/hooks/useActions.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/os/Laptop.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/os/Notifications.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/store.ts
  resources/[dg]/dg-ui/[src]/src/main/laptop/styles/laptop.scss
  resources/[dg]/dg-ui/[src]/src/styles/main.scss
  resources/[dg]/dg-ui/[src]/src/types/apps/laptop.d.ts
Due: JS linting, JS building

fix(UI): redux devtools and debuglogs duplicate keys
  resources/[dg]/dg-ui/[src]/src/lib/redux/store.ts
  resources/[dg]/dg-ui/[src]/src/main/debuglogs/components/Log.tsx
Due: JS linting, JS building

feat(laptop): movable windows, confirm app, fix icons background grid
  resources/[dg]/dg-ui/[src]/src/main/laptop/apps/confirm-app/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/apps/confirm-app/config.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/apps/confirm-app/store.ts
  resources/[dg]/dg-ui/[src]/src/main/laptop/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/components/TopBar.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/hooks/useActions.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/os/Background.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/os/Laptop.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/os/Taskbar.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/os/windows/AppWindow.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/os/windows/WindowWrapper.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/store.ts
  resources/[dg]/dg-ui/[src]/src/main/laptop/styles/colors.scss
  resources/[dg]/dg-ui/[src]/src/main/laptop/styles/laptop.scss
  resources/[dg]/dg-ui/[src]/src/types/apps/laptop.d.ts
  resources/[dg]/dg-ui/[src]/src/types/main.d.ts
Due: JS linting, JS building

feat(ui/gangs): added laptop gang app
  resources/[dg]/dg-ui/[src]/src/lib/devdata.ts
  resources/[dg]/dg-ui/[src]/src/main/laptop/apps/gang-app/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/apps/gang-app/config.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/apps/gang-app/pages/home.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/apps/gang-app/pages/memberlist.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/apps/gang-app/store.ts
  resources/[dg]/dg-ui/[src]/src/main/laptop/styles/gang.scss
  resources/[dg]/dg-ui/[src]/src/types/apps/laptop.d.ts
  resources/[dg]/dg-ui/[src]/src/types/main.d.ts
Due: JS linting, JS building

fix(laptop): remove unneeded nullcheck
  resources/[dg]/dg-ui/[src]/src/main/laptop/os/windows/AppWindow.tsx
Due: JS linting, JS building

fix(financials): fix array not being initiated soon enough
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/classes/Account.ts
Due: JS linting, JS building

fix(laptop): properly fill background when apps are not enabled
  resources/[dg]/dg-ui/[src]/src/main/laptop/os/Background.tsx
  resources/[dg]/dg-ui/[src]/src/types/apps/laptop.d.ts
Due: JS linting, JS building

feat(gangs/ui): add refreshbutton & feedback on actions
  resources/[dg]/dg-ui/[src]/src/lib/devdata.ts
  resources/[dg]/dg-ui/[src]/src/main/laptop/apps/confirm-app/config.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/apps/gang-app/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/apps/gang-app/pages/home.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/apps/gang-app/pages/memberlist.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/styles/gang.scss
  resources/[dg]/dg-ui/[src]/src/types/apps/laptop.d.ts
Due: JS linting, JS building

fix(config): avoid export usage in moduleLoaded evt
  resources/[dg]/dg-business/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-business/typescript/src/server/server.ts
  resources/[dg]/dg-business/typescript/src/server/services/business.ts
  resources/[dg]/dg-business/typescript/src/server/services/config.ts
  resources/[dg]/dg-inventory/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-inventory/typescript/src/server/server.ts
  resources/[dg]/dg-inventory/typescript/src/server/services/config.ts
Due: JS linting, JS building

feat(misc/crouching): disable crouching while aiming weapon
  resources/[dg]/dg-misc/typescript/src/client/modules/crouch/service.crouch.ts
Due: JS linting, JS building

feat(dgx): added minigames
  resources/[dg]/ts-shared/typescript/src/client/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/minigames.ts
  resources/[dg]/ts-shared/typescript/src/client/types/global.d.ts
Due: JS linting, JS building

chore(minigames): moved all usages to new dgx wrapper
  resources/[dg]/dg-heists/typescript/src/client/modules/fleeca/controller.fleeca.ts
  resources/[dg]/dg-heists/typescript/src/client/services/laptop/controller.laptop.ts
  resources/[dg]/dg-houserobbery/typescript/src/client/modules/house/helpers.house.ts
  resources/[dg]/dg-storerobbery/typescript/src/client/modules/registers/controller.registers.ts
  resources/[dg]/dg-storerobbery/typescript/src/client/modules/safes/controller.safes.ts
Due: JS linting, JS building

feat(screenshot): added minio integration to prevent imgur rate limits + dgx wrapper
  resources/[dg]/ts-shared/typescript/src/server/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/screenshot.ts
  resources/[dg]/ts-shared/typescript/src/server/types/global.d.ts
  resources/[standalone]/screenshot-basic/package.json
  resources/[standalone]/screenshot-basic/src/client/client.ts
  resources/[standalone]/screenshot-basic/src/server/server.ts
  resources/[standalone]/screenshot-basic/ui/src/main.ts
  resources/[standalone]/screenshot-basic/yarn.lock
Due: validate json, JS linting, JS building

fix(migrations): fixed seed data error
  migrations/V8_seed_base.sql
Due: validate db migrations

fix(admin): case-insenstive action search
  resources/[dg]/dg-admin/ui/src/components/lists/actionList.vue
  resources/[dg]/dg-admin/ui/src/lib/store.ts
Due: JS linting, JS building

Path conditions:
  validate json: any of: **/*.json
  Validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: migrations/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  JS building: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
