Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build node image, validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

Path conditions:
  build node image: any of: package.json, yarn.lock
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock

chore(admin): remove unexisting import
  resources/[dg]/dg-admin/typescript/src/client/service/playerBlips.ts
Due: JS linting, TS dev build, TS prod build

fix(misc): fixed ptfx on bone for ped
  resources/[dg]/dg-misc/typescript/src/client/modules/particles/service.particles.ts
  resources/[dg]/dg-misc/typescript/src/client/services/consumables.ts
  resources/[dg]/dg-misc/typescript/src/client/services/fx.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/util.d.ts
Due: JS linting, TS dev build, TS prod build

fix(dgx): add types to getColorFromHex to fix incorrect display of name
  CHANGELOG.md
  resources/[dg]/dg-dispatch/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-dispatch/typescript/src/server/services/dispatch.ts
  resources/[dg]/dg-police/typescript/src/client/modules/evidence/controller.evidence.ts
  resources/[dg]/ts-shared/typescript/src/shared/helpers/colorNames.ts
Due: JS linting, TS dev build, TS prod build

fix(consumables): use dgx particles class so you dont use the wrong remove function Kapp
  resources/[dg]/dg-misc/typescript/src/client/modules/particles/controller.particles.ts
  resources/[dg]/dg-misc/typescript/src/client/services/consumables.ts
  resources/[dg]/dg-misc/typescript/src/client/services/fx.ts
Due: JS linting, TS dev build, TS prod build

fix(nos): override amount when refilling nos to avoid statebag not being updated
  resources/[dg]/dg-vehicles/typescript/src/client/modules/nos/controller.nos.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/nos/service.nos.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/nos/controller.nos.ts
Due: JS linting, TS dev build, TS prod build

fix(inventory): check if occupied spot is undefined to avoid Y overflow
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
  resources/[dg]/dg-ui/[src]/src/main/inventory/hooks/useInventory.ts
  resources/[dg]/dg-ui/[src]/src/main/inventory/util.ts
Due: JS linting, TS dev build, TS prod build

fix(wirecutting): remove inaccessible location
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/wirecutting.json
Due: validate json

fix(financials): fix crypto transfer event providing target phone instead of cid
  CHANGELOG.md
  resources/[dg]/dg-financials/typescript/src/server/modules/crypto/controller.ts
Due: JS linting, TS dev build, TS prod build

tweak(police/interactions): disallow force seating to driverseat
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/helpers.interactions.ts
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/modules/vehicle.ts
  resources/[dg]/dg-police/typescript/src/server/modules/interactions/modules/vehicle.ts
Due: JS linting, TS dev build, TS prod build

tweak(criminal): more chance of specialitem from ATM + configurable specialitem amount
  CHANGELOG.md
  resources/[dg]/dg-config/configs/criminal/atm.json
  resources/[dg]/dg-criminal/typescript/src/server/modules/atm/controller.atm.ts
  resources/[dg]/dg-criminal/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(idlist): only show floating ids in certain distance
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/services/idmenu.ts
Due: JS linting, TS dev build, TS prod build

feat(idlist): ability to configure visible scopetypes using generic generation & log usage
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/services/idmenu.ts
  resources/[dg]/dg-misc/typescript/src/server/services/idlist.ts
  resources/[dg]/dg-misc/typescript/src/types/idlist.d.ts
  resources/[dg]/dg-sync/typescript/src/server/modules/scopes/service.scopes.ts
  resources/[dg]/dg-sync/typescript/src/types/index.d.ts
  resources/[dg]/dg-ui/[src]/src/main/idlist/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/idlist/stores/useIdlistStore.ts
  resources/[dg]/dg-ui/[src]/src/types/apps/idlist.d.ts
  resources/[dg]/dg-ui/[src]/src/types/main.d.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/sync.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/sync.d.ts
Due: JS linting, TS dev build, TS prod build

chore(prison): add dead and carried data to leftPrison log
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/server/modules/interactions/modules/carry.ts
  resources/[dg]/dg-police/typescript/src/server/modules/prison/controller.prison.ts
Due: JS linting, TS dev build, TS prod build

chore: only enable sentry where needed + source map generation based on env variable
  .gitlab-ci.yml
  packages/logger/index.ts
  resources/[dg]/dg-admin/ui/src/main.ts
  resources/[dg]/dg-chars/ui/src/main.ts
  resources/[dg]/dg-chat/ui/src/main.ts
  resources/[dg]/dg-ui/[src]/src/index.tsx
  resources/[dg]/dg-ui/[src]/vite.config.ts
  resources/[dg]/ts-shared/typescript/src/server/helpers/sentry.ts
  scripts/build.js
  webpack/webpack.common.js
Due: JS linting, TS dev build, TS prod build

fix(lockers): await financials before loading lockers
  CHANGELOG.md
  resources/[dg]/dg-lockers/typescript/src/server/server.ts
Due: JS linting, TS dev build, TS prod build

fix(misc/news): toggle items when removing equipped item from inventory
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/server/services/news.ts
Due: JS linting, TS dev build, TS prod build

fix(animloops): resume animation after ragdoll
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/modules/animloops/service.animloop.ts
Due: JS linting, TS dev build, TS prod build

fix(core): save user when creating character to fix constraint issues for new players
  CHANGELOG.md
  resources/[dg]/dg-core/typescript/src/server/modules/characters/module.characters.ts
Due: JS linting, TS dev build, TS prod build

fix(core): save user when creating character to fix constraint issues for new players
  resources/[dg]/dg-core/typescript/src/server/modules/characters/module.characters.ts
Due: JS linting, TS dev build, TS prod build

fix(core): check offline player instead of online when deleting character
  CHANGELOG.md
  resources/[dg]/dg-core/typescript/src/server/modules/characters/module.characters.ts
Due: JS linting, TS dev build, TS prod build

tweak(financials): bump police/ambu paycheck after staffmeet
  CHANGELOG.md
  resources/[dg]/dg-config/configs/financials.json
Due: validate json

fix(clothing): pass along gender as arg to avoid charinfo not being set yet
  resources/[dg]/dg-chars/server/sv_main.lua
  resources/[qb]/qb-clothing/client/main.lua
Due: none

tweak(inventory): slower decay for cbd items
  resources/[dg]/dg-config/configs/inventory/items.json
Due: validate json

chore: add build configs for missing resources (core/imager)
  .idea/runConfigurations/core_build_dev.xml
  .idea/runConfigurations/core_build_prod.xml
  .idea/runConfigurations/core_watch.xml
  .idea/runConfigurations/imager_build_dev.xml
  .idea/runConfigurations/imager_build_prod.xml
  .idea/runConfigurations/imager_watch.xml
  .vscode/launch.json
Due: validate json

chore(dev): add ts dev resource because fuck lua honestly
  .idea/runConfigurations/dev-ts_build_dev.xml
  .idea/runConfigurations/dev-ts_build_prod.xml
  .idea/runConfigurations/dev-ts_watch.xml
  resources/[dg]/dg-dev-ts/.gitignore
  resources/[dg]/dg-dev-ts/README.md
  resources/[dg]/dg-dev-ts/fxmanifest.lua
  resources/[dg]/dg-dev-ts/typescript/package.json
  resources/[dg]/dg-dev-ts/typescript/src/client/client.ts
  resources/[dg]/dg-dev-ts/typescript/src/client/tsconfig.json
  resources/[dg]/dg-dev-ts/typescript/src/server/server.ts
  resources/[dg]/dg-dev-ts/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-dev-ts/typescript/src/server/tsconfig.json
  resources/[dg]/dg-dev-ts/typescript/src/types/index.d.ts
Due: validate json, validate Errorlogger, JS linting, TS dev build, TS prod build

feat(baseevents): add dgx resource start/stop hooks
  resources/[dg]/ts-shared/typescript/src/client/classes/baseevents.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/baseevents.ts
  resources/[dg]/ts-shared/typescript/src/shared/classes/baseevents.ts
Due: JS linting, TS dev build, TS prod build

feat(dgx): add statebag handler wrappers & implement
  .vscode/launch.json
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/controller.propattach.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/service.propattach.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/fuel/controllers/events.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/seatbelts/controller.seatbelts.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/stances/controller.stances.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/stances/service.stances.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/statebags.ts
  resources/[dg]/ts-shared/typescript/src/client/types/global.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

tweak(inventory): lower bandage decay
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/items.json
Due: validate json

feat(misc/arena): support for new exterior ipls, contextmenu to choose interior
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/setArenaInterior.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/arena/controller.arena.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/arena/service.arena.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/arena/constants.arena.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/arena/controller.arena.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/arena/helpers.arena.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/arena/service.arena.ts
  resources/[dg]/dg-misc/typescript/src/types/arena.d.ts
Due: JS linting, TS dev build, TS prod build

chore: update pnpm lockfile
  pnpm-lock.yaml
Due: none

fix(admin): add some extra checks and reuse some code to prevent weird edge-cases
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/helpers/identifiers.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/penalties/service.penalties.ts
Due: JS linting, TS dev build, TS prod build

chore: add replxx to gitignore
  .gitignore
Due: none

chore(assets): update gabz version
  CHANGELOG.md
Due: none

fix(polyzone): default routing bucket to 0
  CHANGELOG.md
  resources/[dg]/dg-build/typescript/src/client/classes/Room.ts
  resources/[dg]/dg-lib/client/cl_instances.lua
  resources/[dg]/ts-shared/typescript/src/client/classes/sync.ts
  resources/[standalone]/PolyZone/client.lua
Due: JS linting, TS dev build, TS prod build

feat(vehicles): added air garages for ems + refuel zones
  CHANGELOG.md
  resources/[dg]/dg-vehicles/seeding/garages/mrpd_heli.json
  resources/[dg]/dg-vehicles/seeding/garages/paleto_heli.json
  resources/[dg]/dg-vehicles/seeding/garages/pillbox_heli.json
  resources/[dg]/dg-vehicles/seeding/garages/sandy_police_heli.json
  resources/[dg]/dg-vehicles/typescript/src/client/modules/fuel/service.fuel.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/fuel/zones.fuel.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(hospital): add ability to retrieve armor with cmd + radial menu entry
  CHANGELOG.md
  resources/[dg]/dg-hospital/typescript/src/server/services/armor.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/helpers.items.ts
  resources/[dg]/dg-radialmenu/typescript/src/client/data/citizen.ts
Due: JS linting, TS dev build, TS prod build

fix(financials): load transaction_ids all at 1
  CHANGELOG.md
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/classes/Account.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/classes/AccountManager.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/helpers/transactionCache.ts
Due: JS linting, TS dev build, TS prod build

fix(core): re-add missing export for last location spawn
  CHANGELOG.md
  resources/[dg]/dg-core/typescript/src/server/modules/characters/module.characters.ts
Due: JS linting, TS dev build, TS prod build

fix(debts): make sure default + overdue timeouts are not set to neg numbers
  CHANGELOG.md
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/helpers/debts.ts
Due: JS linting, TS dev build, TS prod build
