Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build node image, validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

build node image:
  stage: images
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/node:latest -t $CI_REGISTRY_IMAGE/node:$CI_COMMIT_SHA .
  - docker push $CI_REGISTRY_IMAGE/node:latest
  ...

validate json:
  stage: test
  image: node:16
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  image: node:16
  services:
  - name: mariadb:10.7
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'DATABASE_URL=mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4' > ./packages/db/.env
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  - ls /app
  ...

TS dev build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  - ls /app
  ...

TS prod build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  - ls /app
  ...

feat(vehicles): tweak classes + prices
  CHANGELOG.md
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

chore(submodules): update
  CHANGELOG.md
Due: none

tweak(vehicles/service): tweak brake service degrading calculation
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
Due: JS linting, TS dev build, TS prod build

feat: add brandweer vehicles
  CHANGELOG.md
  resources/[dg]/dg-config/configs/anticheat.json
  resources/[dg]/dg-vehicles/seeding/vehicles.json
  resources/[dg]/dg-vehicles/typescript/src/server/services/emsShop.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(vehicles): move sirens to dg-vehicles
  pnpm-lock.yaml
  resources/[dg]/dg-vehicles/typescript/src/client/client.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/sirens/constant.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/sirens/controllers/events.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/sirens/controllers/keys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/sirens/controllers/statebag.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/sirens/helpers/sounds.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/sirens/helpers/threads.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/sirens/helpers/util.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/sirens/index.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/index.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/sirens.ts
  resources/[dg]/dg-vehicles/typescript/src/types/sirens.d.ts
  resources/[standalone]/pma-sirensync/.gitignore
  resources/[standalone]/pma-sirensync/LICENSE
  resources/[standalone]/pma-sirensync/README.md
  resources/[standalone]/pma-sirensync/build.dev.js
  resources/[standalone]/pma-sirensync/build.prod.js
  resources/[standalone]/pma-sirensync/client/main.lua
  resources/[standalone]/pma-sirensync/client/main.ts
  resources/[standalone]/pma-sirensync/client/tsconfig.json
  resources/[standalone]/pma-sirensync/client/utils.ts
  resources/[standalone]/pma-sirensync/fxmanifest.lua
  resources/[standalone]/pma-sirensync/package.json
  resources/[standalone]/pma-sirensync/server/main.ts
  resources/[standalone]/pma-sirensync/server/tsconfig.json
  resources/[standalone]/pma-sirensync/shared/shared.ts
  resources/[standalone]/pma-sirensync/shared/tsconfig.json
Due: validate json, validate Errorlogger, JS linting, TS dev build, TS prod build

feat(vehicles): move Upgrades type to global folder + add blocked upgrades in bennys + add ability to update upgrades with event
  resources/[dg]/dg-config/configs/vehicles/bennys.json
  resources/[dg]/dg-ui/[src]/src/main/bennys/components/menus/MainMenu.tsx
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/constant.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/service.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/ui.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/util.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/upgrades/constants.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/upgrades/controller.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/upgrades/items.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/upgrades/service.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/client/types/bennys.d.ts
  resources/[dg]/dg-vehicles/typescript/src/server/db/repository.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/bennys/classes/BennysManager.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/bennys/controller.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/bennys/helpers/blockedUpgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/bennys/modules/zones/index.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/bennys/modules/zones/schema.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/mechanic/services/parts.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/upgrades/controller.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/upgrades/service.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/services/quicksell.vehicleshop.ts
  resources/[dg]/dg-vehicles/typescript/src/server/types/config.d.ts
  resources/[dg]/dg-vehicles/typescript/src/shared/upgrades/constants.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/types/index.d.ts
  resources/[dg]/dg-vehicles/typescript/src/types/mechanic.d.ts
  resources/[dg]/dg-vehicles/typescript/src/types/upgrades.d.ts
  resources/[dg]/dg-vehicles/typescript/src/types/vehicleshop.d.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/vehicles.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/vehicles.ts
  types/vehicles.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(police): add siren toggle for UC vehicles
  CHANGELOG.md
  resources/[dg]/dg-config/configs/police/vehicles.json
  resources/[dg]/dg-lib/server/sv_state.lua
  resources/[dg]/dg-police/typescript/src/client/client.ts
  resources/[dg]/dg-police/typescript/src/client/services/sirenToggle.ts
  resources/[dg]/dg-radialmenu/typescript/src/client/data/police.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(vehicles): testdrive +showroom vehicles have forced base upgrades
  resources/[dg]/dg-vehicles/typescript/src/client/modules/upgrades/controller.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/vehicleshop/classes/Spot.ts
  resources/[dg]/dg-vehicles/typescript/src/client/tsconfig.json
  resources/[dg]/dg-vehicles/typescript/src/server/modules/upgrades/service.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/classes/ShopManager.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/services/testdrive.vehicleshop.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/emsShop.ts
  resources/[dg]/dg-vehicles/typescript/src/server/tsconfig.json
  resources/[dg]/dg-vehicles/typescript/src/shared/upgrades/service.upgrades.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/vehicles.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(vehicles): fix typo in stock RPC
  resources/[dg]/dg-vehicles/typescript/src/client/modules/vehicleshop/classes/Spot.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/info/controller.info.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): add bennys for airvehicles + disables service for certain classes
  CHANGELOG.md
  resources/[dg]/dg-vehicles/seeding/bennys.json
  resources/[dg]/dg-vehicles/typescript/src/client/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/controller.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/service.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/bennys/modules/zones/schema.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/info/controller.info.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/info/service.info.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/controller.vehicleshop.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/helpers.vehicleshop.ts
  resources/[dg]/dg-vehicles/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(vehicles): replace fpx5 with fpm5
  CHANGELOG.md
  resources/[dg]/dg-config/configs/police/vehicles.json
  resources/[dg]/dg-vehicles/seeding/vehicles.json
  resources/[dg]/dg-vehicles/typescript/src/client/modules/sirens/constant.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/emsShop.ts
Due: validate json, JS linting, TS dev build, TS prod build

chore: update submodule
  CHANGELOG.md
Due: none

chore: fix tsconfig jsons
  resources/[dg]/dg-vehicles/typescript/src/client/tsconfig.json
  resources/[dg]/dg-vehicles/typescript/src/server/tsconfig.json
Due: validate json

feat(weed): add new lifecycle & quality calculation
  CHANGELOG.md
  packages/db/prisma/migrations/20230601201352_rework_weed_plants/migration.sql
  packages/db/prisma/schema.prisma
  resources/[dg]/dg-config/configs/criminal/weed.json
  resources/[dg]/dg-config/configs/labs/weed.json
  resources/[dg]/dg-criminal/typescript/src/client/modules/weed/controller.weed.ts
  resources/[dg]/dg-criminal/typescript/src/client/modules/weed/service.weed.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/weed/classes/weedplant.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/weed/classes/weedplantmanager.ts
  resources/[dg]/dg-criminal/typescript/src/types/index.d.ts
  resources/[dg]/dg-farming/typescript/src/server/classes/plantmanager.ts
  resources/[dg]/dg-inventory/typescript/src/server/controllers/controller.ts
  resources/[dg]/dg-labs/typescript/src/server/modules/weed/controller.weed.ts
  resources/[dg]/dg-labs/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

chore: update vehicles submodule
  CHANGELOG.md
Due: none

fix(scripts): make sentry plugin work again
  scripts/build.js
Due: JS linting, TS dev build, TS prod build

fix(bennys): add missing await
  resources/[dg]/dg-vehicles/typescript/src/client/helpers/vehicle.ts
Due: JS linting, TS dev build, TS prod build

chore(vehicles): remove debug lg
  resources/[dg]/dg-vehicles/typescript/src/client/modules/sirens/controllers/statebag.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): make new object for statebag config
  resources/[dg]/dg-vehicles/typescript/src/server/modules/info/service.info.ts
Due: JS linting, TS dev build, TS prod build

fix(config): add generic business
  resources/[dg]/dg-config/configs/business/types.json
Due: validate json

fix(phone): extra check to prevent error
  resources/[dg]/dg-phone/typescript/src/server/modules/calls/service.calls.ts
Due: JS linting, TS dev build, TS prod build

fix(financials): do not allow negative on normal debt pay
  CHANGELOG.md
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/classes/debtmanager.ts
Due: JS linting, TS dev build, TS prod build

chore(vehicles): remove siren2
  resources/[dg]/dg-vehicles/typescript/src/client/modules/sirens/controllers/events.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/sirens/controllers/keys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/sirens/controllers/statebag.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/sirens/helpers/sounds.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/sirens.ts
  resources/[dg]/dg-vehicles/typescript/src/types/sirens.d.ts
Due: JS linting, TS dev build, TS prod build

fix(phone): auto decline notification when player does not have phone + prevent phone notif id overlap
  resources/[dg]/dg-business/typescript/src/server/classes/Business.ts
  resources/[dg]/dg-lockers/typescript/src/server/classes/Locker.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/rental/service.rental.ts
  resources/[dg]/dg-phone/typescript/src/client/services/notifications.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/garageApp.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles/sirens): check if vehicle exists in leave handler
  resources/[dg]/dg-vehicles/typescript/src/client/modules/sirens/controllers/events.ts
Due: JS linting, TS dev build, TS prod build

chore(config): this shit gets autoformatted postcommit annoying shit
  resources/[dg]/dg-config/configs/main.json
Due: validate json

feat(admin): add command to change item metadata
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/changeItemMetadata.ts
Due: JS linting, TS dev build, TS prod build

docs(changelog): add missing entries
  CHANGELOG.md
Due: none

tweak(vehicles):Small adjustment of vehiclenames for hospital vehicles.
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

feat(api): add enpdoint to update balance of bank account
  CHANGELOG.md
  resources/[dg]/dg-api/typescript/src/server/routes/financials.ts
  resources/[dg]/dg-api/typescript/src/server/types/api.d.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/classes/Account.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/controllers/accounts.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/financials.ts
Due: JS linting, TS dev build, TS prod build

feat(misc): add dice cmd
  CHANGELOG.md
  resources/[dg]/dg-chat/typescript/src/server/helpers/commands.ts
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/services/synced3dtext.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/sync.ts
Due: JS linting, TS dev build, TS prod build

chore: updated submodules
  CHANGELOG.md
Due: none

fix(chat): use right arg value for sides
  resources/[dg]/dg-chat/typescript/src/server/helpers/commands.ts
Due: JS linting, TS dev build, TS prod build

fix(weed): add extra brackets in strain calculation
  resources/[dg]/dg-criminal/typescript/src/server/modules/weed/classes/weedplant.ts
Due: JS linting, TS dev build, TS prod build

refactor(dgx): use util awaitCondition in awaitEntityExistance to prevent initial delay
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
Due: JS linting, TS dev build, TS prod build

refactor(vehicles): cleanup spawnVehicle function
  resources/[dg]/dg-vehicles/typescript/src/client/controllers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/controller/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/identification/classes/vinmanager.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/identification/service.id.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/services/testdrive.vehicleshop.ts
  resources/[dg]/dg-vehicles/typescript/src/types/index.d.ts
Due: JS linting, TS dev build, TS prod build

fix(financials): always give defaultLoon
  CHANGELOG.md
  resources/[dg]/dg-config/configs/financials.json
  resources/[dg]/dg-financials/typescript/src/server/modules/paycheck/service.ts
  resources/[dg]/dg-financials/typescript/src/server/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

Path conditions:
  build node image: any of: package.json, yarn.lock
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
