Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, Validate Errorlogger, validate db migrations, JS linting, JS building

.gitlab-ci.yml:

stages:
  - test
  - linting
  - build
  - housekeeping

image: node:lts

.lerna_installation:
  before_script:
    - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
    - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
    - npm config set always-auth true
    - yarn config set network-timeout 600000 -g
    - yarn --pure-lockfile

.cache_modules:
  cache:
    key: "$CI_COMMIT_REF_NAME-node_modules"
    paths:
      - node_modules/
      - '**/node_modules/'

.js_changes:
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.js"
      - "**/*.ts"
      - "**/*.jsx"
      - "**/*.tsx"
      - "**/*.css"
      - "**/*.scss"
      - "**/*.html"
      - "**/package.json"
      - "**/yarn.lock"

validate json:
  stage: test
  script:
    - cd ./tools/json-validator
    - yarn --pure-lockfile
    - yarn start
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.json"

Validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
    - python ./tools/manifest-check.py
    - exit "${?}"
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - '**/fxmanifest.lua'

validate db migrations:
  stage: test
  services:
    - name: mariadb:latest
      alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
    - echo 'set mysql_connection_string "mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4"' > ./config/mysql.cfg
    - cd ./tools/migrations
    - yarn --pure-lockfile
    - yarn start --init-db
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - 'migrations/*'

sonarqube-check:
  stage: test
  tags:
    - amd64
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [ "" ]
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
    GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task
  cache:
    key: "$CI_COMMIT_REF_NAME-sonar"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner
  allow_failure: true
  only:
    - main
    - UPD

JS linting:
  extends:
    - .lerna_installation
    - .cache_modules
    - .js_changes
  stage: linting
  script:
    - yarn lint

JS building:
  extends:
    - .lerna_installation
    - .cache_modules
    - .js_changes
  stage: build
  script:
    - yarn format -- -- --loglevel error
    - yarn build

rebase UPD:
  stage: housekeeping
  image: node:lts
  script:
    # setting up git
    - url_host=`git remote get-url origin | sed -e "s/https:\/\/gitlab-ci-token:.*@//g"`
    - git remote set-url origin "https://gitlab-ci-token:${ACCESS_TOKEN_PARAM}@${url_host}"
    - git config http.sslverify false
    - git config --global user.email "ci@gitlab.pieter557.dscloud.me"
    - git config --global user.name "CI"
    - git fetch # Just in case branch is not fetch
    - git checkout -t origin/main
    - git pull
    - git checkout -t origin/UPD
    - git pull
    # Rebase
    - git rebase main UPD
    # Push
    - git push -u origin UPD

  only:
    - main

tweak(farming): change price and loot per plant
  CHANGELOG.md
  resources/[dg]/dg-config/configs/farming.json
  resources/[dg]/dg-config/configs/inventory/shops.json
  resources/[dg]/dg-farming/typescript/src/server/classes/plant.ts
  resources/[dg]/dg-farming/typescript/src/types/index.d.ts
Due: validate json, JS linting, JS building

fix(mechanics): remove key check on open tunes
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/mechanic/controller.mechanic.ts
Due: JS linting, JS building

tweak(bennys): lowered prices
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/service.bennys.ts
Due: JS linting, JS building

tweak(vehicle): tweak service percentages
  CHANGELOG.md
  resources/[dg]/dg-config/configs/vehicles/service.json
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/controller.status.ts
Due: validate json, JS linting, JS building

tweak(stress): lowered gain overall
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/modules/hud/service.hud.ts
  resources/[dg]/dg-misc/typescript/src/client/services/yoga.ts
  resources/[dg]/dg-storerobbery/typescript/src/server/modules/registers/service.registers.ts
Due: JS linting, JS building

feat(jobs): cache payoutlevel at start of job, increase postop payout a bit to match sanitaiton
  CHANGELOG.md
  resources/[dg]/dg-jobs/typescript/src/server/classes/jobManager.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/fishing/service.fishing.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/postop/service.postop.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/sanitation/service.sanitation.ts
  resources/[dg]/dg-jobs/typescript/src/types/fishing.d.ts
  resources/[dg]/dg-jobs/typescript/src/types/postop.d.ts
  resources/[dg]/dg-jobs/typescript/src/types/sanitation.d.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/jobs.ts
Due: JS linting, JS building

feat(mechanic): sales ticket when accepting job
  CHANGELOG.md
  resources/[dg]/dg-config/configs/vehicles/mechanic.json
  resources/[dg]/dg-vehicles/typescript/src/server/modules/mechanic/service.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/types/mechanic.d.ts
Due: validate json, JS linting, JS building

fix(inv): remove throwing errors on not enough cash to buy
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/controllers.items.ts
Due: JS linting, JS building

fix(vehicleshop): get money back when finish testdrive
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/vehicleshop/classes/Spot.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/helpers.vehicleshop.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/services/testdrive.vehicleshop.ts
Due: JS linting, JS building

feat(admin): smoll staffchat
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/server.ts
  resources/[dg]/dg-admin/typescript/src/server/services/staffchat.ts
Due: JS linting, JS building

feat(admin): green name in when blips enabled if ply talking
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/client/service/playerBlips.ts
Due: JS linting, JS building

feat(clothing): command to adjust facewear
  CHANGELOG.md
  resources/[qb]/qb-clothing/client/main.lua
  resources/[qb]/qb-clothing/server/main.lua
Due: none

feat(vehicles): longer blip + waypoint to tracked vehicle
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/services/garageApp.ts
Due: JS linting, JS building

fix(weathersync): fix time being stuck at 1440
  CHANGELOG.md
  resources/[dg]/dg-weathersync/typescript/src/server/modules/time/service.time.ts
Due: JS linting, JS building

fix(sync): remove useless log
  resources/[dg]/dg-sync/typescript/src/server/modules/scopes/service.scopes.ts
Due: JS linting, JS building

refactor(shops): failsafe
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/server/modules/shops/shopmanager.ts
Due: JS linting, JS building

refactor(screenshot): put screenshots in folder for organizational matters
  resources/[standalone]/screenshot-basic/src/server/server.ts
Due: JS linting, JS building

feat(houserobbery): add locations and required vpn
  CHANGELOG.md
  resources/[dg]/dg-config/configs/houserobbery.json
  resources/[dg]/dg-houserobbery/typescript/src/client/modules/house/controller.house.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
  resources/[dg]/dg-houserobbery/typescript/src/types/index.d.ts
Due: validate json, JS linting, JS building

feat(labs): reenable weedlab only
  CHANGELOG.md
  resources/[dg]/dg-labs/server/sv_main.lua
Due: none

feat(api): endpoints to add business en vehicle + small cleanup
  resources/[dg]/dg-api/fxmanifest.lua
  resources/[dg]/dg-api/typescript/src/server/routes/business.ts
  resources/[dg]/dg-api/typescript/src/server/routes/index.ts
  resources/[dg]/dg-api/typescript/src/server/routes/info.ts
  resources/[dg]/dg-api/typescript/src/server/sv_router.ts
  resources/[dg]/dg-api/typescript/src/server/sv_routes.ts
  resources/[dg]/dg-business/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-business/typescript/src/server/controllers/exports.ts
  resources/[dg]/dg-vehicles/typescript/src/server/controller/vehicle.ts
Due: Validate Errorlogger, JS linting, JS building

chore(api): removed debug log
  resources/[dg]/dg-api/typescript/src/server/routes/business.ts
Due: JS linting, JS building

feat(admin): add steamname to staffchat message
  resources/[dg]/dg-admin/typescript/src/server/services/staffchat.ts
Due: JS linting, JS building

feat(police): force backseat when putting on motorcycle
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/modules/vehicle.ts
Due: JS linting, JS building

tweak(vehicleservice): lower service decrease on stall
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
Due: JS linting, JS building

tweak(config): more plastic, spread out rep requirement for starting crafts
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/crafting.json
  resources/[dg]/dg-config/configs/materials/dumpsters.json
Due: validate json

chore: new version tag for changelog
  CHANGELOG.md
Due: none

fix(ci): cancel active rebases
  .gitlab-ci.yml
Due: none

fix(financials): rounding issues
  resources/[dg]/dg-financials/typescript/src/server/modules/cash/service.ts
Due: JS linting, JS building

chore(auth): add missing license to package
  resources/[dg]/dg-auth/ui-project/package.json
Due: validate json, JS linting, JS building

fix(misc): update discord presence
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/modules/discord/service.discord.ts
Due: JS linting, JS building

feat(dgx): overwrite entity delete function to find pesky random deletion
  resources/[dg]/ts-shared/typescript/src/shared/helpers/deleteEntity.ts
  resources/[dg]/ts-shared/typescript/src/shared/index.ts
Due: JS linting, JS building

fix(inventory): upped drop removal time
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/config.json
Due: validate json

refactor(chars): last location for limited time when dropped
  CHANGELOG.md
  resources/[core]/dg-core/server/events.lua
  resources/[dg]/dg-chars/server/sv_spawn.lua
Due: none

tweak(carwash): lowered price
  CHANGELOG.md
  resources/[dg]/dg-config/configs/vehicles/config.json
Due: validate json

tweak(jobs): lower meat/farming items, 25% more payout per job and higher group percentages
  CHANGELOG.md
  resources/[dg]/dg-config/configs/farming.json
  resources/[dg]/dg-config/configs/jobs/hunting.json
  resources/[dg]/dg-jobs/typescript/src/server/modules/fishing/service.fishing.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/hunting/service.hunting.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/postop/service.postop.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/sanitation/service.sanitation.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/scrapyard/controller.scrapyard.ts
  resources/[dg]/dg-jobs/typescript/src/types/hunting.d.ts
Due: validate json, JS linting, JS building

feat(restaurant): locker, more storage, clothingmenu
  CHANGELOG.md
  resources/[dg]/dg-restaurants/typescript/src/client/controllers/peek.ts
  resources/[dg]/dg-restaurants/typescript/src/client/services/actions.ts
  resources/[qb]/qb-clothing/config.lua
Due: JS linting, JS building

feat(police): check if confiscate target is not police
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/server/modules/prison/controller.prison.ts
Due: JS linting, JS building

fix(farming): clamp farming item quality, multiple uses per fertilizer
  CHANGELOG.md
  resources/[dg]/dg-config/configs/farming.json
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-farming/typescript/src/server/classes/plant.ts
  resources/[dg]/dg-farming/typescript/src/server/classes/plantmanager.ts
  resources/[dg]/dg-farming/typescript/src/types/index.d.ts
Due: validate json, JS linting, JS building

fix(restaurants): sign out when unloaded
  CHANGELOG.md
  resources/[dg]/dg-restaurants/typescript/src/server/classes/restaurantmanager.ts
  resources/[dg]/dg-restaurants/typescript/src/server/controllers/events.ts
Due: JS linting, JS building

feat(sanitation): option to skip current location
  CHANGELOG.md
  resources/[dg]/dg-jobs/typescript/src/client/modules/sanitation/servive.sanitation.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/sanitation/controller.sanitation.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/sanitation/service.sanitation.ts
Due: JS linting, JS building
