Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, Validate Errorlogger, validate db migrations, JS linting, JS building

validate json:
  stage: test
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

Validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  services:
  - name: mariadb:latest
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'set mysql_connection_string "mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4"' > ./config/mysql.cfg
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

JS building:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

feat(cmds): add /me cmd + thread
  resources/[dg]/dg-chat/typescript/src/server/helpers/commands.ts
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/helpers/util.ts
  resources/[dg]/dg-misc/typescript/src/client/services/me.ts
Due: JS linting, JS building

fix(auth): removed ragdoll check in AC as of to many edge cases to take in account
  resources/[dg]/dg-auth/typescript/src/client/modules/anticheat/service.anticheat.ts
Due: JS linting, JS building

fix(doorlock): provide item id to lockpick usage handler
  resources/[dg]/dg-doorlock/typescript/src/server/controllers/events.ts
Due: JS linting, JS building

refactor(keys): smoother lockpicking animation
  resources/[dg]/dg-vehicles/typescript/src/client/modules/keys/controller.keys.ts
Due: JS linting, JS building

feat(dispatch): fix dispatch store size being set to 0 + refactor state of new Ids
  resources/[dg]/dg-ui/[src]/src/main/dispatch/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/dispatch/component/callList.tsx
Due: JS linting, JS building

refactor(ui): replace prosemirror with tiptap
  resources/[dg]/dg-ui/[src]/package.json
  resources/[dg]/dg-ui/[src]/src/components/editor/editors/ExtendedOptions.tsx
  resources/[dg]/dg-ui/[src]/src/components/editor/editors/FloatingActionBar.tsx
  resources/[dg]/dg-ui/[src]/src/components/editor/editors/FloatingLinkEditor.tsx
  resources/[dg]/dg-ui/[src]/src/components/editor/extensions.ts
  resources/[dg]/dg-ui/[src]/src/components/editor/index.tsx
  resources/[dg]/dg-ui/[src]/src/lib/hooks/useEditor.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/notes-app/components/editor.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/notes-app/styles/editor.scss
  resources/[dg]/dg-ui/[src]/src/main/phone/os/appcontainer/appcontainer.tsx
  resources/[dg]/dg-ui/[src]/src/styles/components/editor.scss
  resources/[dg]/dg-ui/[src]/src/types/os/editor.d.ts
  resources/[dg]/dg-ui/[src]/yarn.lock
Due: validate json, JS linting, JS building

feat(weapons): fix weapon tinting
  resources/[dg]/dg-weapons/typescript/src/client/modules/weapons/helpers.weapons.ts
  resources/[dg]/dg-weapons/typescript/src/client/services/tint.ts
  resources/[dg]/dg-weapons/typescript/src/server/contants.ts
Due: JS linting, JS building

refactor(nos): update to modifier key
  resources/[dg]/dg-vehicles/typescript/src/client/modules/nos/controller.nos.ts
Due: JS linting, JS building

fix(weapons): correctly clean up one use items & better way to add casings
  resources/[dg]/dg-police/typescript/src/server/modules/evidence/controller.evidence.ts
  resources/[dg]/dg-weapons/typescript/src/client/modules/weapons/service.weapons.ts
  resources/[dg]/dg-weapons/typescript/src/server/modules/weapons/controller.weapons.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/jobs.ts
Due: JS linting, JS building

fix(inventory/ui): fix not being able to bind items after unbinding them
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/item.tsx
Due: JS linting, JS building

refactor(sync): merged duplicate code, properly differentiate entityId & netId
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/service.anticheat.ts
  resources/[dg]/dg-sync/client/cl_list.lua
  resources/[dg]/dg-sync/client/lib.lua
  resources/[dg]/dg-sync/fxmanifest.lua
  resources/[dg]/dg-sync/server/sv_main.lua
  resources/[dg]/dg-vehicles/typescript/src/client/modules/fuel/service.fuel.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/sync.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/sync.ts
Due: Validate Errorlogger, JS linting, JS building

fix(fuel): limit fuel to not allow negative numbers
  resources/[dg]/dg-vehicles/typescript/src/client/modules/fuel/service.fuel.ts
Due: JS linting, JS building

feat(inventory): open inventory admin option
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/openInventory.ts
  resources/[dg]/dg-inventory/typescript/src/client/classes/contextmanager.ts
  resources/[dg]/dg-inventory/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/controller.inventories.ts
  resources/[dg]/dg-inventory/typescript/src/types/index.d.ts
Due: JS linting, JS building

feat(admin/vehicles): added more vehicle options to adminmenu
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/cleanVehicle.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/explodeVehicle.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/getVehicleKeys.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/popTyre.ts
  resources/[dg]/dg-vehicles/seeding/vehicles.json
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/controller.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/carwash/controller.carwash.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/controller.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/helpers.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/service.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/upgrades/service.upgrades.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/vehicles.ts
Due: validate json, JS linting, JS building

fix(admin): fix cloak state being swapped
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/cloak.ts
Due: JS linting, JS building

feat(weapons): moved most weapon related natives to server
  resources/[dg]/dg-admin/typescript/src/client/modules/selector/service.selector.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/setAmmo.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/setWeaponQuality.ts
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/service.anticheat.ts
  resources/[dg]/dg-criminal/typescript/src/client/modules/weed/controller.weed.ts
  resources/[dg]/dg-houserobbery/typescript/src/client/modules/house/helpers.house.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/gtabehaviour/constants.gtabehaviour.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/gtabehaviour/service.gtabehaviour.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/taskbar/service.taskbar.ts
  resources/[dg]/dg-phone/client/cl_animation.lua
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/service.interactions.ts
  resources/[dg]/dg-weapons/typescript/src/client/client.ts
  resources/[dg]/dg-weapons/typescript/src/client/constants.ts
  resources/[dg]/dg-weapons/typescript/src/client/modules/ammo/controller.ammo.ts
  resources/[dg]/dg-weapons/typescript/src/client/modules/attachments/controller.attachments.ts
  resources/[dg]/dg-weapons/typescript/src/client/modules/weapons/controller.weapons.ts
  resources/[dg]/dg-weapons/typescript/src/client/modules/weapons/helpers.weapons.ts
  resources/[dg]/dg-weapons/typescript/src/client/modules/weapons/service.weapons.ts
  resources/[dg]/dg-weapons/typescript/src/client/services/tint.ts
  resources/[dg]/dg-weapons/typescript/src/server/modules/ammo/controller.ammo.ts
  resources/[dg]/dg-weapons/typescript/src/server/modules/ammo/service.ammo.ts
  resources/[dg]/dg-weapons/typescript/src/server/modules/attachments/controller.attachments.ts
  resources/[dg]/dg-weapons/typescript/src/server/modules/attachments/service.attachments.ts
  resources/[dg]/dg-weapons/typescript/src/server/modules/weapons/controller.weapons.ts
  resources/[dg]/dg-weapons/typescript/src/server/modules/weapons/service.weapons.ts
  resources/[dg]/dg-weapons/typescript/src/server/services/tint.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/weapons.ts
  resources/[dg]/ts-shared/typescript/src/client/types/global.d.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/weapons.ts
  resources/[dg]/ts-shared/typescript/src/server/types/global.d.ts
  resources/[qb]/qb-newsjob/client/camera.lua
  resources/[qb]/qb-truckrobbery/client/main.lua
  resources/[standalone]/dpemotes/Client/Emote.lua
Due: JS linting, JS building

feat(evidence): add vehicle damage evidence
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-police/typescript/src/client/modules/evidence/controller.evidence.ts
  resources/[dg]/dg-police/typescript/src/client/modules/evidence/service.evidence.ts
  resources/[dg]/dg-police/typescript/src/server/modules/evidence/controller.evidence.ts
  resources/[dg]/dg-police/typescript/src/server/modules/evidence/service.evidence.ts
  resources/[dg]/dg-police/typescript/src/types/index.d.ts
  resources/[dg]/dg-ui/[src]/src/assets/inventory/evidence_vehicle_damage.png
Due: validate json, JS linting, JS building

refactor(heists): config cleanup
  resources/[dg]/dg-business/typescript/src/server/classes/Business.ts
  resources/[dg]/dg-config/configs/dispatch.json
  resources/[dg]/dg-config/configs/heists.json
  resources/[dg]/dg-config/configs/heists/doors.json
  resources/[dg]/dg-config/configs/heists/fleeca.json
  resources/[dg]/dg-config/configs/heists/laptops.json
  resources/[dg]/dg-config/configs/heists/metadata.json
  resources/[dg]/dg-config/configs/heists/shop.json
  resources/[dg]/dg-config/configs/heists/trolleys.json
  resources/[dg]/dg-config/configs/heists/zones.json
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/classes/Account.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/classes/PermissionsManager.ts
  resources/[dg]/dg-heists/typescript/src/client/controllers/doors.ts
  resources/[dg]/dg-heists/typescript/src/client/controllers/locations.ts
  resources/[dg]/dg-heists/typescript/src/client/modules/fleeca/controller.fleeca.ts
  resources/[dg]/dg-heists/typescript/src/client/modules/fleeca/helpers.fleeca.ts
  resources/[dg]/dg-heists/typescript/src/client/services/index.ts
  resources/[dg]/dg-heists/typescript/src/client/services/laptop/controller.laptop.ts
  resources/[dg]/dg-heists/typescript/src/client/services/shop/controller.shop.ts
  resources/[dg]/dg-heists/typescript/src/client/services/trolleys/constants.trolleys.ts
  resources/[dg]/dg-heists/typescript/src/client/services/trolleys/controller.trolleys.ts
  resources/[dg]/dg-heists/typescript/src/client/services/trolleys/helpers.trolley.ts
  resources/[dg]/dg-heists/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-heists/typescript/src/server/modules/fleeca/classes/statemanager.ts
  resources/[dg]/dg-heists/typescript/src/server/modules/fleeca/controller.fleeca.ts
  resources/[dg]/dg-heists/typescript/src/server/modules/jewelry/classes/statemanager.ts
  resources/[dg]/dg-heists/typescript/src/server/modules/maze/classes/statemanager.ts
  resources/[dg]/dg-heists/typescript/src/server/modules/pacific/classes/statemanager.ts
  resources/[dg]/dg-heists/typescript/src/server/modules/paleto/classes/statemanager.ts
  resources/[dg]/dg-heists/typescript/src/server/services/index.ts
  resources/[dg]/dg-heists/typescript/src/server/services/laptop/controller.laptop.ts
  resources/[dg]/dg-heists/typescript/src/server/services/metadata.ts
  resources/[dg]/dg-heists/typescript/src/server/services/shop/controller.shop.ts
  resources/[dg]/dg-heists/typescript/src/server/services/trolleys/controller.trolleys.ts
  resources/[dg]/dg-heists/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-heists/typescript/src/types/fleeca.d.ts
  resources/[dg]/dg-heists/typescript/src/types/index.d.ts
Due: validate json, JS linting, JS building

fix(dispatch): fix error when loading config after dg-config restart
  resources/[dg]/dg-dispatch/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-dispatch/typescript/src/server/services/cams.ts
Due: JS linting, JS building

fix(anticheat): add ped on vehicle check to anti tp
  resources/[dg]/dg-auth/typescript/src/client/modules/anticheat/service.anticheat.ts
Due: JS linting, JS building

fix(config): fix me being braindead
  resources/[dg]/dg-dispatch/typescript/src/server/controllers/events.ts
Due: JS linting, JS building

feat(admin): add fadein screen command
  resources/[dg]/dg-admin/typescript/src/client/modules/commands/controller.commands.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/fixScreenFadeout.ts
Due: JS linting, JS building

feat(police): add clean jail sentence command to admin, restore jail on restart
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/clearPrisonSentence.ts
  resources/[dg]/dg-police/typescript/src/client/modules/prison/service.prison.ts
  resources/[dg]/dg-police/typescript/src/server/modules/prison/controller.prison.ts
  resources/[dg]/dg-police/typescript/src/server/modules/prison/service.prison.ts
  resources/[dg]/dg-police/typescript/src/server/server.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/jobs.ts
Due: JS linting, JS building

fix(screenshot-basic): fix imgur screenshots async exports problem
  resources/[dg]/ts-shared/typescript/src/server/classes/screenshot.ts
  resources/[standalone]/screenshot-basic/src/server/server.ts
Due: JS linting, JS building

fix(config): use secured graylog connection
  resources/[dg]/dg-config/configs/main.json
Due: validate json

refactor(inventory): improve find free position function performance
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/helpers.inventories.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/classes/item.ts
  resources/[dg]/dg-ui/[src]/src/main/inventory/lib.ts
  resources/[dg]/dg-ui/[src]/src/main/inventory/util.ts
  resources/[dg]/dg-ui/[src]/src/types/apps/inventory.d.ts
Due: JS linting, JS building

fix(dgx:util): fix closest player getters & use networkowner to get ped server id
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/controller.keys.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
Due: JS linting, JS building

tweak(peek): moved some peek entry registers
  resources/[dg]/dg-heists/typescript/src/client/services/trolleys/controller.trolleys.ts
  resources/[dg]/dg-materials/typescript/src/client/modules/containers/controller.containers.ts
  resources/[dg]/dg-materials/typescript/src/client/modules/containers/service.containers.ts
  resources/[dg]/dg-materials/typescript/src/client/modules/wirecutting/controller.wirecutting.ts
  resources/[dg]/dg-materials/typescript/src/client/services/crafting.ts
  resources/[dg]/dg-weapons/typescript/src/client/client.ts
Due: JS linting, JS building

feat(inventory): add simple itemname cache to prevent a lot of rpc calls for peek entries
  resources/[dg]/dg-inventory/typescript/src/client/client.ts
  resources/[dg]/dg-inventory/typescript/src/client/services/cache.ts
  resources/[dg]/dg-inventory/typescript/src/server/controllers/controller.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
  resources/[dg]/dg-peek/typescript/src/client/helpers/entries.ts
  resources/[dg]/dg-radialmenu/typescript/src/client/services/radialmenu.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/inventory.ts
Due: JS linting, JS building

chore(peek): remove old unused caching of playerdata
  resources/[dg]/dg-peek/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-peek/typescript/src/client/helpers/context.ts
  resources/[dg]/dg-peek/typescript/src/client/helpers/entries.ts
Due: JS linting, JS building

fix(radialmenu): fix build command
  resources/[dg]/dg-radialmenu/typescript/package.json
Due: validate json, JS linting, JS building

feat(auth): add more data to ACBan regarding weapons
  resources/[dg]/dg-admin/typescript/src/server/modules/penalties/service.penalties.ts
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/service.anticheat.ts
Due: JS linting, JS building

fix(auth): force targeting mode to prevent false-positives
  resources/[dg]/dg-auth/typescript/src/client/modules/anticheat/service.anticheat.ts
Due: JS linting, JS building

fix(ci): skip cache when building in CI
  .gitlab-ci.yml
Due: none

tweak(phone): improved gun removing while phone is open
  resources/[dg]/dg-phone/client/cl_animation.lua
  resources/[dg]/dg-phone/client/cl_main.lua
Due: none

fix(admin): fix admin acban dgx function parameter types & isBanned wrong param usage
  .vscode/lua.code-snippets
  .vscode/settings.json
  resources/[dg]/dg-admin/Readme.md
  resources/[dg]/ts-shared/typescript/src/server/classes/admin.ts
  resources/[dg]/ts-shared/typescript/src/server/types/core.d.ts
Due: validate json, JS linting, JS building

feat(weapons): throttle stopped shooting evt, calculate new quality based on bullets fired
  resources/[dg]/dg-weapons/typescript/src/client/modules/weapons/service.weapons.ts
  resources/[dg]/dg-weapons/typescript/src/server/modules/weapons/controller.weapons.ts
  resources/[dg]/dg-weapons/typescript/src/server/modules/weapons/service.weapons.ts
Due: JS linting, JS building

Path conditions:
  validate json: any of: **/*.json
  Validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: migrations/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  JS building: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
