Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, Validate Errorlogger, validate db migrations, JS linting, JS building

validate json:
  stage: test
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

Validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  services:
  - name: mariadb:latest
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'set mysql_connection_string "mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4"' > ./config/mysql.cfg
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

JS building:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

fix(ui): prevent Nan in animationIcon
  resources/[dg]/dg-ui/[src]/src/components/icon.tsx
Due: JS linting, JS building

fix(scenes): fixed manifest
  resources/[dg]/dg-scenes/fxmanifest.lua
Due: Validate Errorlogger

fix(loadingscreen): force shutdown if client is finished
  resources/[dg]/dg-chars/client/cl_main.lua
  resources/[dg]/dg-loading-screen/client/cl_main.lua
Due: none

fix(phone): fix phone entries not being loaded after ui restart
  resources/[dg]/dg-phone/client/cl_info.lua
  resources/[dg]/dg-phone/client/cl_main.lua
Due: none

fix(admin): null check right keys of data object
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/giveCash.ts
Due: JS linting, JS building

fix(admin): update null checks in data objects where needed
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/announce.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/changeRoutingBucket.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/openCharSelection.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/openClothingMenu.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/menu/service.menu.ts
Due: JS linting, JS building

fix(apartments): fix inputmenu result data
  resources/[dg]/dg-apartments/client/cl_main.lua
Due: none

fix(phone): galerij met 1 L
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/gallery-app/_config.tsx
Due: JS linting, JS building

fix(loadingscreen): actually fix not shutting down
  resources/[dg]/dg-chars/client/cl_main.lua
  resources/[dg]/dg-loading-screen/html/js/app.js
Due: JS linting, JS building

fix(houserobbery): fetch data instead of direct export
  resources/[dg]/dg-houserobbery/typescript/src/client/modules/house/controller.house.ts
  resources/[dg]/dg-houserobbery/typescript/src/client/services/interiors.ts
Due: JS linting, JS building

fix(assets): fixed minimap dissapearing in some zones
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/services/minimap.ts
Due: JS linting, JS building

fix(inventory): fix itemdata error when getting itemdata during resource start
  resources/[dg]/dg-inventory/typescript/src/client/classes/itemdatamanager.ts
  resources/[dg]/dg-inventory/typescript/src/client/client.ts
  resources/[dg]/dg-inventory/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-inventory/typescript/src/client/controllers/ui.ts
  resources/[dg]/dg-inventory/typescript/src/client/modules/index.ts
  resources/[dg]/dg-inventory/typescript/src/client/modules/itemdata/controller.itemdata.ts
  resources/[dg]/dg-inventory/typescript/src/client/modules/itemdata/index.ts
  resources/[dg]/dg-inventory/typescript/src/server/classes/itemdatamanager.ts
  resources/[dg]/dg-inventory/typescript/src/server/controllers/controller.ts
  resources/[dg]/dg-inventory/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/index.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/itemdata/controller.itemdata.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/itemdata/index.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/classes/item.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/manager.items.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/shops/shopmanager.ts
  resources/[dg]/dg-inventory/typescript/src/server/server.ts
  resources/[dg]/dg-inventory/typescript/src/server/services/config.ts
  resources/[dg]/dg-materials/typescript/src/server/services/crafting.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/laptop/service.laptop.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/inventory.ts
Due: JS linting, JS building

fix(police): forgot to change loglevel when merged
  resources/[dg]/dg-police/typescript/src/server/sv_logger.ts
Due: JS linting, JS building

fix(vehicles): cleanup blip after pickup
  resources/[dg]/dg-vehicles/typescript/src/client/modules/laptop/service.laptop.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/laptop/service.laptop.ts
Due: JS linting, JS building

fix(business): order employees properly
  resources/[dg]/dg-business/typescript/src/server/classes/Business.ts
Due: JS linting, JS building

fix(sounds): readded emergency sound an made it louder
  resources/[standalone]/nutty-sounds/data/sounds.dat54.nametable
  resources/[standalone]/nutty-sounds/data/sounds.dat54.rel
  resources/[standalone]/nutty-sounds/dlc_nutty/sounds.awc
Due: none

fix(jobs): fix wrong event name that prevented sanddigging from starting
  resources/[dg]/dg-jobs/typescript/src/client/modules/sanddigging/controller.sanddigging.ts
Due: JS linting, JS building

fix(sanitation): remove trunk open check because not properly networked
  resources/[dg]/dg-jobs/typescript/src/client/modules/sanitation/servive.sanitation.ts
Due: JS linting, JS building

fix(mechanic): actually remove ply from clocked in cache
  resources/[dg]/dg-vehicles/typescript/src/server/modules/mechanic/service.mechanic.ts
Due: JS linting, JS building

fix(financials): prevent floating precision errors in cash
  resources/[dg]/dg-financials/typescript/src/server/modules/cash/service.ts
Due: JS linting, JS building

fix(bennys): endpoint for repair got removed somehow
  resources/[dg]/dg-vehicles/typescript/src/server/modules/bennys/classes/BennysManager.ts
Due: JS linting, JS building

fix(keygame): now proper support for azerty
  resources/[dg]/dg-minigames/typescript/src/client/modules/keygame/constants.keygame.ts
  resources/[dg]/dg-minigames/typescript/src/client/modules/keygame/service.keygame.ts
  resources/[dg]/dg-ui/[src]/src/main/keygame/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/keygame/constants.ts
  resources/[dg]/dg-ui/[src]/src/main/keygame/store.ts
  resources/[dg]/dg-ui/[src]/src/types/apps/keygame.d.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
Due: JS linting, JS building

feat(hud): add dropshadow to speedometer for better visibility in light areas
  resources/[dg]/dg-ui/[src]/src/main/hud/styles/hud.scss
Due: JS linting, JS building

fix(UI): fix cash in charinfo store being wrong
  resources/[dg]/dg-ui/client/components/cl_info.lua
Due: none

fix(misc): do not hide ammo hud
  resources/[dg]/dg-misc/typescript/src/client/modules/gtabehaviour/constants.gtabehaviour.ts
Due: JS linting, JS building

feat(propattach): remade in ts, fix switching char and option to toggle
  config/resources.cfg
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/resetPlayerProps.ts
  resources/[dg]/dg-chars/client/cl_spawn.lua
  resources/[dg]/dg-dev/README.md
  resources/[dg]/dg-dev/client/cl_propattach.lua
  resources/[dg]/dg-inventory/typescript/src/client/modules/objects/classes/objectsmanager.ts
  resources/[dg]/dg-inventory/typescript/src/client/modules/objects/controller.objects.ts
  resources/[dg]/dg-inventory/typescript/src/server/services/config.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/fishing/service.fishing.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/sanitation/servive.sanitation.ts
  resources/[dg]/dg-labs/client/cl_main.lua
  resources/[dg]/dg-lib/server/sv_instances.lua
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/constants.propattach.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/controller.propattach.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/index.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/service.propattach.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/taskbar/service.taskbar.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/propattach/controller.propattach.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/propattach/index.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/propattach/logger.propattach.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/propattach/service.propattach.ts
  resources/[dg]/dg-misc/typescript/src/server/server.ts
  resources/[dg]/dg-misc/typescript/src/types/propattach.d.ts
  resources/[dg]/dg-phone/client/cl_animation.lua
  resources/[dg]/dg-police/typescript/src/client/modules/badges/controller.badges.ts
  resources/[dg]/dg-police/typescript/src/client/modules/binoculars/service.binoculars.ts
  resources/[dg]/dg-propattach/client/cl_list.lua
  resources/[dg]/dg-propattach/client/cl_main.lua
  resources/[dg]/dg-propattach/fxmanifest.lua
  resources/[dg]/dg-propattach/server/sv_main.lua
  resources/[dg]/dg-propattach/tools/.gitignore
  resources/[dg]/dg-propattach/tools/sv_dev.lua
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/server/controllers/events.ts
Due: Validate Errorlogger, JS linting, JS building

chore(config): remove old onesync settings from server cfg
  config/server-template.cfg
Due: none

fix(loadingscreen): only update loadingscreen image if loadingscreen is active
  resources/[dg]/dg-loading-screen/client/cl_main.lua
Due: none

fix(phone): use correct data to make anon call
  resources/[dg]/dg-phone/client/cl_calls.lua
Due: none

feat(financials): added optional zone based atms
  resources/[dg]/dg-financials/typescript/src/client/config.ts
  resources/[dg]/dg-financials/typescript/src/client/modules/bank/service.ts
Due: JS linting, JS building

fix(police): fix prison shop zone name
  resources/[dg]/dg-police/typescript/src/client/modules/prison/controller.prison.ts
Due: JS linting, JS building

feat(vehicles): add ply veh check to upgrade items
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/identification/service.id.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/seatbelts/controller.seatbelts.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/upgrades/controller.upgrades.ts
Due: JS linting, JS building

feat(vehicles): move native status setter to available server natives
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/controller.status.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
Due: JS linting, JS building

feat(inventory): debounce item usage
  resources/[dg]/dg-inventory/typescript/src/client/controllers/keys.ts
Due: JS linting, JS building

fix(financials): fix error when amount is 0
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/classes/Account.ts
Due: JS linting, JS building

tweak(garageapp): extend vehicle tracker showtime
  resources/[dg]/dg-vehicles/typescript/src/client/services/garageApp.ts
Due: JS linting, JS building

chore(misc): change tablet animation to utilize propattach
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/constants.propattach.ts
  resources/[dg]/dg-misc/typescript/src/client/services/animations.ts
Due: JS linting, JS building

feat(police): move helicam effect change to lib keybind & properly reset filter
  resources/[dg]/dg-police/typescript/src/client/modules/heli/controller.heli.ts
  resources/[dg]/dg-police/typescript/src/client/modules/heli/service.heli.ts
Due: JS linting, JS building

fix(police): fix spikestrip heading
  resources/[dg]/dg-police/typescript/src/client/modules/spikestrips/controller.spikestrips.ts
Due: JS linting, JS building

fix(evidence): increase limit and show most recent, group evidence at same coords
  resources/[dg]/dg-police/typescript/src/server/modules/evidence/controller.evidence.ts
  resources/[dg]/dg-police/typescript/src/server/modules/evidence/service.evidence.ts
Due: JS linting, JS building

Path conditions:
  validate json: any of: **/*.json
  Validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: migrations/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  JS building: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
