Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml

fix(consumables): lower krikke_vin gain
  resources/[dg]/dg-config/configs/inventory/consumables.json
Due: validate json

feat(police): better spikestrip reliability on angled surfaces
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/modules/spikestrips/controller.spikestrips.ts
  resources/[dg]/dg-police/typescript/src/server/modules/spikestrips/constants.spikestrips.ts
  resources/[dg]/dg-police/typescript/src/server/modules/spikestrips/controller.spikestrips.ts
  resources/[dg]/dg-sync/typescript/src/client/modules/actions/controller.actions.ts
  resources/[dg]/dg-sync/typescript/src/client/modules/actions/service.actions.ts
  resources/[dg]/dg-sync/typescript/src/server/modules/actions/controller.actions.ts
  resources/[dg]/dg-sync/typescript/src/server/modules/actions/service.actions.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/sync.d.ts
Due: JS linting, TS dev build, TS prod build

fix(jewelry): fix jewelry laptop failing when globaltimeout is active
  CHANGELOG.md
  resources/[dg]/dg-heists/typescript/src/server/classes/heistmanager.ts
  resources/[dg]/dg-heists/typescript/src/server/classes/typemanagers/jewelrymanager.ts
Due: JS linting, TS dev build, TS prod build

chore(heists): lower rep for heist shop
  resources/[dg]/dg-config/configs/heists/shop.json
Due: validate json

chore(vehicles): lower m3tou class
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

fix(police/interactions): check if player entering vehicle when starting escort
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/modules/escort.ts
  resources/[dg]/dg-radialmenu/typescript/src/client/data/main.ts
Due: JS linting, TS dev build, TS prod build

chore(chars/ui): remove leftover debug print
  resources/[dg]/dg-chars/ui/src/App.vue
Due: none

chore(requirements): bump container enter requirement a bit
  resources/[dg]/dg-config/configs/police/requirements.json
Due: validate json

style(inventory): decrease item label size
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/main/inventory/styles/inventory.scss
Due: JS linting, TS dev build, TS prod build

feat(vehicles): add dev existence thread to debug vehicles being deleted
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/dev/controller.dev.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/dev/index.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/dev/service.dev.ts
  resources/[dg]/dg-vehicles/typescript/src/server/server.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles/impound): dont do payment if price is 0
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/impound/service.impound.ts
Due: JS linting, TS dev build, TS prod build

chore(vehicles): update submodule
  CHANGELOG.md
Due: none

fix(core): queue joining + boost problems resolved
  CHANGELOG.md
  resources/[dg]/dg-core/typescript/src/server/modules/queue/constant.queue.ts
  resources/[dg]/dg-core/typescript/src/server/modules/queue/managers/queuemanager.ts
  resources/[dg]/dg-core/typescript/src/server/modules/queue/module.queue.ts
  types/core.d.ts
Due: JS linting, TS dev build, TS prod build

feat(seats): add seat model
  resources/[dg]/dg-config/configs/seats.json
Due: validate json

fix(jewelry): lock interior door on reset
  resources/[dg]/dg-doorlock/seeding/doors.json
  resources/[dg]/dg-heists/typescript/src/server/classes/typemanagers/jewelrymanager.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(vehicle): actually use ped imma dumb fuck
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/dev/service.dev.ts
Due: JS linting, TS dev build, TS prod build

fix(jewelry): always check jewelry timeout on laptophack
  resources/[dg]/dg-heists/typescript/src/server/classes/typemanagers/jewelrymanager.ts
Due: JS linting, TS dev build, TS prod build

chore(vehicles/service): rebalance service effects & degradation
  CHANGELOG.md
  resources/[dg]/dg-config/configs/vehicles/mechanic.json
  resources/[dg]/dg-config/configs/vehicles/service.json
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(phone/garageapp): fix typo
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/garage-app/components/VehicleList.tsx
Due: JS linting, TS dev build, TS prod build

fix(ui/hud): mark correct data as dirty when updating car values
  CHANGELOG.md
  resources/[dg]/dg-ui/client/components/cl_hud.lua
Due: none

feat(labs): whitelist interior types per location
  CHANGELOG.md
  resources/[dg]/dg-config/configs/labs/locations.json
  resources/[dg]/dg-jobs/typescript/src/server/modules/scrapyard/logger.scrapyard.ts
  resources/[dg]/dg-labs/typescript/src/server/services/labs.ts
  resources/[dg]/dg-labs/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(qb-clothing): added outfit tab to "give clothing menu"
  CHANGELOG.md
  resources/[qb]/qb-clothing/client/main.lua
Due: none

feat(vehicles): add latest kofi vehicles
  CHANGELOG.md
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

chore(financials): remove duplicate logger data entry
  resources/[dg]/dg-financials/typescript/src/server/modules/taxes/util.ts
Due: JS linting, TS dev build, TS prod build

feat(ci): force ownership to nutty for scheduled pipelines
  .gitlab-ci.yml
Due: none

fix(vehicles/holdbmx): disable getting in vehicle while holding bmx
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/services/holdbmx.ts
Due: JS linting, TS dev build, TS prod build

chore(crafting): change visible rep for weaponbenches
  resources/[dg]/dg-config/configs/materials/crafting.json
Due: validate json

feat(misc): add flyer module
  CHANGELOG.md
  packages/db/prisma/migrations/20230707084422_add_flyer_request_table/migration.sql
  packages/db/prisma/schema.prisma
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/flyers/controller.flyers.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/flyers/index.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/flyers/service.flyers.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/flyers/zones.flyers.ts
  resources/[dg]/dg-misc/typescript/src/server/server.ts
  resources/[dg]/dg-misc/typescript/src/server/services/flyers.ts
  resources/[dg]/dg-misc/typescript/src/types/index.d.ts
  resources/[dg]/dg-police/typescript/src/client/client.ts
  resources/[dg]/dg-police/typescript/src/client/modules/badges/controller.badges.ts
  resources/[dg]/dg-police/typescript/src/client/modules/badges/index.ts
  resources/[dg]/dg-police/typescript/src/server/modules/badges/controller.badges.ts
  resources/[dg]/dg-police/typescript/src/server/modules/badges/index.ts
  resources/[dg]/dg-police/typescript/src/server/modules/badges/service.badges.ts
  resources/[dg]/dg-police/typescript/src/server/server.ts
  resources/[dg]/dg-ui/[src]/src/main/badge/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/flyer/_config.tsx
  resources/[dg]/dg-ui/[src]/src/main/flyer/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/flyer/constants.ts
  resources/[dg]/dg-ui/[src]/src/main/flyer/styles/badge.scss
  resources/[dg]/dg-ui/[src]/src/types/main.d.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/jobs.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(financials): made checks to add crypto more loose
  CHANGELOG.md
  resources/[dg]/dg-financials/typescript/src/server/modules/crypto/classes/CryptoWallet.ts
Due: JS linting, TS dev build, TS prod build

fix: do some line-ending configuration
  .gitattributes
  resources/[dg]/ts-shared/typescript/package.json
  resources/[dg]/ts-shared/typescript/src/client/package.json
  resources/[dg]/ts-shared/typescript/src/server/package.json
  resources/[dg]/ts-shared/typescript/src/shared/package.json
  resources/[standalone]/pma-voice/voice-ui/package.json
  tools/update-versions.py
Due: validate json, JS linting, TS dev build, TS prod build

feat(chat): capture serverPrint
  CHANGELOG.md
  resources/[dg]/dg-chat/typescript/src/client/controllers/events.ts
Due: JS linting, TS dev build, TS prod build

chore(clothing): add changingroom for plukketuffers gang
  resources/[qb]/qb-clothing/config.lua
Due: none

feat(lockers): add label to opening menu & debt
  CHANGELOG.md
  resources/[dg]/dg-lockers/typescript/src/server/classes/Locker.ts
Due: JS linting, TS dev build, TS prod build

fix(dutytimes): nullcheck on query result
  resources/[dg]/dg-misc/typescript/src/server/modules/dutytime/service.dutytime.ts
Due: JS linting, TS dev build, TS prod build
