Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock

refactor(houserob): move some client logic to server, rework queuing system
  CHANGELOG.md
  resources/[dg]/dg-build/typescript/src/client/data/plans.ts
  resources/[dg]/dg-houserobbery/typescript/src/client/modules/house/controller.house.ts
  resources/[dg]/dg-houserobbery/typescript/src/client/modules/house/helpers.house.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/server.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/services/grouppicker.ts
Due: JS linting, TS dev build, TS prod build

fix(labs): use configvalue instead of silly verbose thing
  CHANGELOG.md
  resources/[dg]/dg-labs/typescript/src/server/sv_logger.ts
Due: JS linting, TS dev build, TS prod build

fix(poly-zone/target): use debugprint wrapper to properly stringify variables
  resources/[dg]/dg-polytarget/client/cl_main.lua
  resources/[dg]/dg-polyzone/client/cl_main.lua
Due: none

fix(npcs): fix duplicate npc ids
  CHANGELOG.md
  resources/[dg]/dg-config/configs/npcs.json
Due: validate json

refactor(ui): optimize event handlers, fixed unneeded reregistering
  resources/[dg]/dg-ui/[src]/src/components/context/eventHandlerCtx.tsx
  resources/[dg]/dg-ui/[src]/src/lib/hooks/useApps.ts
  resources/[dg]/dg-ui/[src]/src/main/inventory/component.tsx
Due: JS linting, TS dev build, TS prod build

fix(ui): only store 20 debug logs in the store
  resources/[dg]/dg-ui/[src]/src/main/debuglogs/components/Log.tsx
  resources/[dg]/dg-ui/[src]/src/main/debuglogs/lib.ts
Due: JS linting, TS dev build, TS prod build

feat(sirensync): added belgian serverside Sirens
  resources/[standalone]/nutty-sounds/client/cl_loader.lua
  resources/[standalone]/nutty-sounds/data/sirens.dat54.nametable
  resources/[standalone]/nutty-sounds/data/sirens.dat54.rel
  resources/[standalone]/nutty-sounds/data/sounds.dat54.rel
  resources/[standalone]/nutty-sounds/dlc_nutty/sirens.awc
  resources/[standalone]/nutty-sounds/fxmanifest.lua
  resources/[standalone]/pma-sirensync/client/main.ts
  resources/[standalone]/pma-sirensync/shared/shared.ts
Due: validate Errorlogger, JS linting, TS dev build, TS prod build

fix(ci): attempt at fixing broken cache
  .gitlab-ci.yml
Due: none

refactor(service): save original handling in statebag, service menu logic on server
  CHANGELOG.md
  resources/[dg]/dg-config/configs/vehicles/service.json
  resources/[dg]/dg-vehicles/typescript/src/client/controllers/baseevents.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/mechanic/controller.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/constant.status.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/mechanic/service.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/constants.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/controller.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/service.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/services/config.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/services/store.ts
  resources/[dg]/dg-vehicles/typescript/src/types/service.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(vehicles): fix edgecases of isCloseToPart functions
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/constants.keys.ts
Due: JS linting, TS dev build, TS prod build

tweak(hospital): bandages restore more health
  CHANGELOG.md
  resources/[dg]/dg-config/configs/hospital/health.json
Due: validate json

fix(core): only emit save evt when ply has active char
  CHANGELOG.md
  resources/[core]/dg-core/client/main.lua
Due: none

tweak(vehicles): make fieldmaster buyable for joran
  CHANGELOG.md
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

fix(ci): revert adding a .yarn cache folder
  .gitlab-ci.yml
Due: none

fix(sirensync): no debug
  resources/[standalone]/pma-sirensync/shared/shared.ts
Due: JS linting, TS dev build, TS prod build

fix(phone): do not remove inputDisabled when editing a note
  resources/[dg]/dg-phone/client/cl_controls.lua
  resources/[dg]/dg-phone/client/cl_notes.lua
Due: none

docs(changelog): added work of the day
  CHANGELOG.md
Due: none

fix(chars/ui): fixed imported font
  resources/[dg]/dg-chars/ui/src/main.ts
Due: JS linting, TS dev build, TS prod build

feat(auth): prevent afk kick while down or cuffed
  resources/[dg]/dg-auth/typescript/src/client/modules/anticheat/service.anticheat.ts
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/controller.anticheat.ts
Due: JS linting, TS dev build, TS prod build

fix(ui/phone): if contact does not exist, take number from meta
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/phone-app/lib.ts
Due: JS linting, TS dev build, TS prod build

feat(admin): remove AFK kick penalties on admin resource start
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/penalties/controller.penalties.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/penalties/service.penalties.ts
Due: JS linting, TS dev build, TS prod build

chore(financials): remove specific dayjs version
  resources/[dg]/dg-financials/typescript/package.json
Due: validate json, JS linting, TS dev build, TS prod build

docs(changelog): bump version
  CHANGELOG.md
Due: none

fix(ui): bump fa version so yarns stops being a crybaby
  resources/[dg]/dg-ui/[src]/package.json
Due: validate json, JS linting, TS dev build, TS prod build

refactor(anticheat): move kick message to config
  resources/[dg]/dg-admin/typescript/src/server/modules/penalties/controller.penalties.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/penalties/service.penalties.ts
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/controller.anticheat.ts
  resources/[dg]/dg-auth/typescript/src/types/index.d.ts
  resources/[dg]/dg-config/configs/anticheat.json
Due: validate json, JS linting, TS dev build, TS prod build

tweak(materials): adjusted some recipes, material payouts & decaytimes
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/materials/crafting.json
  resources/[dg]/dg-config/configs/materials/dumpsters.json
  resources/[dg]/dg-config/configs/materials/melting.json
  resources/[dg]/dg-config/configs/materials/radiotowers.json
  resources/[dg]/dg-config/configs/materials/wirecutting.json
Due: validate json

feat(inventory): add itemname to itemmove log
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/manager.items.ts
Due: JS linting, TS dev build, TS prod build

fix(inventory/ui): dont show divider is nothing is displayed underneath
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/itemtooltip.tsx
Due: JS linting, TS dev build, TS prod build

feat(weapons): add meleeweapon damage on hit, damage modifiers
  resources/[dg]/dg-weapons/README.MD
  resources/[dg]/dg-weapons/typescript/src/client/modules/weapons/service.weapons.ts
  resources/[dg]/dg-weapons/typescript/src/server/contants.ts
  resources/[dg]/dg-weapons/typescript/src/server/modules/weapons/controller.weapons.ts
  resources/[dg]/dg-weapons/typescript/src/server/modules/weapons/service.weapons.ts
  resources/[dg]/dg-weapons/typescript/src/types/index.d.ts
Due: JS linting, TS dev build, TS prod build

feat(houserobbery): add broken phone to loottable to be recycled
  resources/[dg]/dg-config/configs/houserobbery.json
  resources/[dg]/dg-config/configs/materials/recycleped.json
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
Due: validate json, JS linting, TS dev build, TS prod build

tweak(requirements): lowered people for container benches
  CHANGELOG.md
  resources/[dg]/dg-config/configs/police/requirements.json
Due: validate json

fix(houserob): use houseid instead of groupid to get house, check correct state to lock door
  CHANGELOG.md
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
Due: JS linting, TS dev build, TS prod build

feat(radiotowers): do not spawn guards if ems in zone
  CHANGELOG.md
  resources/[dg]/dg-materials/typescript/src/server/modules/radiotowers/service.radiotowers.ts
Due: JS linting, TS dev build, TS prod build

feat(admin): ability to also freeze player
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/toggleFreezeEntity.ts
Due: JS linting, TS dev build, TS prod build

fix(admin): dont set visible when disabling cloak in noclip, allow invis while in noclip
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/cloak.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/noclip.ts
Due: JS linting, TS dev build, TS prod build

fix(propattach): dont toggle when new state is same as old
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/service.propattach.ts
Due: JS linting, TS dev build, TS prod build

tweak(inventory): disable sprint and jump while holding primary object
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/client/modules/objects/constants.objects.ts
Due: JS linting, TS dev build, TS prod build

feat(crafting): melee weapons added to public benches
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/crafting.json
Due: validate json

fix(hospital): use correct rng function
  resources/[dg]/dg-hospital/typescript/src/server/modules/health/controller.health.ts
Due: JS linting, TS dev build, TS prod build
