Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build node image, validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

Path conditions:
  build node image: any of: package.json, yarn.lock
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock

fix(docker): use alpine versions
  Dockerfile
Due: none

fix(ci): revert image changes until image can be uploaded properly
  .gitlab-ci.yml
Due: none

feat(ci): try again with newer image
  .gitlab-ci.yml
Due: none

chore(vehicles): moved weaponized vehicles to NFS.
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

chore: move everything to pnpm
  .gitlab-ci.yml
  .npmrc
  .vscode/launch.json
  Dockerfile
  migrate.bat
  package.json
  packages/db/README.md
  patches/vite-plugin-sentry+1.1.7.patch
  patches/vite-plugin-sentry@1.1.7.patch
  pnpm-lock.yaml
  resources/[dg]/dg-admin/ui/package.json
  resources/[dg]/dg-auth/ui-project/package.json
  resources/[dg]/dg-blackout/README.md
  resources/[dg]/dg-build/README.md
  resources/[dg]/dg-business/README.md
  resources/[dg]/dg-chars/ui/package.json
  resources/[dg]/dg-chat/ui/package.json
  resources/[dg]/dg-dispatch/README.md
  resources/[dg]/dg-ui/[src]/package.json
  resources/[dg]/dg-ui/[src]/tsconfig.json
  resources/[dg]/ts-shared/typescript/package.json
  resources/[dg]/ts-shared/typescript/src/client/tsconfig.json
  resources/[dg]/ts-shared/typescript/src/server/tsconfig.json
  resources/[standalone]/pma-voice/voice-ui/README.md
  resources/[standalone]/screenshot-basic/package.json
  tools/json-validator/yarn.lock
  tools/migrations/fileHelpers.js
  tools/migrations/getConnectionOptions.js
  tools/migrations/index.js
  tools/migrations/package.json
  tools/migrations/yarn.lock
  tools/runconfig-generator.py
  yarn.lock
Due: build node image, validate json, validate db migrations, JS linting, TS dev build, TS prod build

fix(houserobbery): remove debug log
  resources/[dg]/dg-houserobbery/typescript/src/client/modules/house/service.house.ts
Due: JS linting, TS dev build, TS prod build

feat(cornersell): configurable sell amount per item
  CHANGELOG.md
  resources/[dg]/dg-config/configs/criminal/cornerselling.json
  resources/[dg]/dg-criminal/typescript/src/server/modules/cornerselling/controller.cornerselling.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/cornerselling/service.cornerselling.ts
  resources/[dg]/dg-criminal/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(police): fix binoculars cam position
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/modules/binoculars/service.binoculars.ts
Due: JS linting, TS dev build, TS prod build

feat(bennys): minimum repair taskbar time
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/service.bennys.ts
Due: JS linting, TS dev build, TS prod build

fix(weapons): reenable targetting with bat
  CHANGELOG.md
  resources/[dg]/dg-weapons/meta/weapons.meta
Due: none

fix(api): make debt go to the right bank account depending on source
  resources/[dg]/dg-api/typescript/src/server/routes/financials.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): create a base cosmetic upgrade struct for a vehicle after buying
  resources/[dg]/dg-vehicles/typescript/src/client/modules/upgrades/constants.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/upgrades/service.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/classes/ShopManager.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/emsShop.ts
  resources/[dg]/dg-vehicles/typescript/src/shared/upgrades/constants.upgrades.ts
Due: JS linting, TS dev build, TS prod build

fix(police): cancel uncuff if target moved away
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/modules/cuffs.ts
  resources/[dg]/dg-police/typescript/src/server/modules/interactions/modules/cuffs.ts
Due: JS linting, TS dev build, TS prod build

tweak(police): also check vehicle lock at end of taskbar
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/modules/vehicle.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): await applying upgrades when spawning owned vehicle
  resources/[dg]/dg-vehicles/typescript/src/client/modules/upgrades/controller.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/classes/ShopManager.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/emsShop.ts
Due: JS linting, TS dev build, TS prod build

tweak(cornersell): lower meth price
  CHANGELOG.md
  resources/[dg]/dg-config/configs/criminal/cornerselling.json
Due: validate json

fix(vehicles): fix default value of window status
  packages/db/prisma/migrations/20230313233431_change_vehiclestatus_window_default/migration.sql
  packages/db/prisma/schema.prisma
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
Due: JS linting, TS dev build, TS prod build

chore(vscode): add updated settings to align everyones formatting
  .vscode/settings.json
Due: validate json

feat(vehicles): updated A & A+ prices
  CHANGELOG.md
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

chore(eslint): do not lint .js files
  package.json
Due: build node image, validate json, JS linting, TS dev build, TS prod build

fix(restaurant): destroy stash zone when leaving
  CHANGELOG.md
  resources/[dg]/dg-restaurants/typescript/src/client/services/locations.ts
Due: JS linting, TS dev build, TS prod build

feat(sanddigging): use job payoutlevel as specialitem chance
  CHANGELOG.md
  resources/[dg]/dg-config/configs/jobs/sanddigging.json
  resources/[dg]/dg-jobs/typescript/src/server/modules/sanddigging/controller.sanddigging.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/sanddigging/service.sanddigging.ts
  resources/[dg]/dg-jobs/typescript/src/types/sanddigging.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(weapons): add flashlight for pd glock
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/inventory/shops.json
  resources/[dg]/dg-config/configs/materials/recycleped.json
  resources/[dg]/dg-config/configs/weapons.json
  resources/[dg]/dg-ui/[src]/src/assets/inventory/pistol_flashlight.png
  resources/[dg]/dg-weapons/typescript/src/server/contants.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(lockers): use interval from config in buy text
  CHANGELOG.md
  resources/[dg]/dg-lockers/typescript/src/server/classes/Locker.ts
Due: JS linting, TS dev build, TS prod build

fix(hospital): correctly save and restore char health
  CHANGELOG.md
  resources/[core]/dg-core/server/player.lua
  resources/[dg]/dg-hospital/typescript/src/client/modules/health/controller.health.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): disable engine of new vehicles onEnter instead of onEntering
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/controller/baseevents.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/controller.garages.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/identification/service.id.ts
Due: JS linting, TS dev build, TS prod build

feat(admin): penalise using selector
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/penalise.ts
Due: JS linting, TS dev build, TS prod build

tweak(admin): change cyclecuffs role to staff
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/uncuff.ts
Due: JS linting, TS dev build, TS prod build

chore(vehicles): remove maintenance fee debug log
  resources/[dg]/dg-vehicles/typescript/src/server/services/maintenanceFees.ts
Due: JS linting, TS dev build, TS prod build

fix(doorlock): set polyzone heights
  CHANGELOG.md
  resources/[dg]/dg-doorlock/typescript/src/client/services/doors.ts
Due: JS linting, TS dev build, TS prod build

fix(propattach): spawn new prop at 0 and move by attaching
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/helpers.propattach.ts
Due: JS linting, TS dev build, TS prod build

refactor(mechanic): make entity owner handle towing
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/mechanic/controller.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/mechanic/services/towing.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/mechanic/controller.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/mechanic/service.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/mechanic/services/towing.mechanic.ts
Due: JS linting, TS dev build, TS prod build

chore(radiotowers): disable swarm spawning
  CHANGELOG.md
  resources/[dg]/dg-materials/typescript/src/server/modules/radiotowers/service.radiotowers.ts
Due: JS linting, TS dev build, TS prod build

fix(misc/spacespam): loop needs to be every frame for iscontroljustpressed to work
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/services/spacespam.ts
Due: JS linting, TS dev build, TS prod build
