Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build node image, validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

build node image:
  stage: images
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/node:latest -t $CI_REGISTRY_IMAGE/node:$CI_COMMIT_SHA .
  - docker push $CI_REGISTRY_IMAGE/node:latest
  ...

validate json:
  stage: test
  image: node:16
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  image: node:16
  services:
  - name: mariadb:10.7
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'DATABASE_URL=mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4' > ./packages/db/.env
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  - ls /app
  ...

TS dev build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  - ls /app
  ...

TS prod build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  - ls /app
  ...

tweak(vehicles): less ejecting, more stalling
  resources/[dg]/dg-vehicles/typescript/src/client/modules/seatbelts/service.seatbelts.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/constant.status.ts
Due: JS linting, TS dev build, TS prod build

fix(weapons): await till ped has weapon before setting tint
  CHANGELOG.md
  resources/[dg]/dg-weapons/typescript/src/client/services/tint.ts
  resources/[dg]/dg-weapons/typescript/src/server/modules/weapons/controller.weapons.ts
  resources/[dg]/dg-weapons/typescript/src/server/modules/weapons/service.weapons.ts
  resources/[dg]/dg-weapons/typescript/src/server/services/tint.ts
  resources/[dg]/ts-shared/typescript/src/shared/classes/util.ts
Due: JS linting, TS dev build, TS prod build

tweak(materials): increase a bit to reduce amount of work needed for same now there are new activities
  resources/[dg]/dg-config/configs/jobs/sanddigging.json
  resources/[dg]/dg-config/configs/jobs/sanitation.json
  resources/[dg]/dg-config/configs/jobs/scrapyard.json
  resources/[dg]/dg-config/configs/materials/melting.json
  resources/[dg]/dg-jobs/typescript/src/server/modules/sanddigging/service.sanddigging.ts
  resources/[dg]/dg-jobs/typescript/src/types/sanddigging.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

tweak(wirecutting): small increase of copper per pole
  resources/[dg]/dg-config/configs/materials/wirecutting.json
Due: validate json

tweak(crafting): lowered explosive case requirements
  resources/[dg]/dg-config/configs/materials/crafting.json
Due: validate json

chore(pizzaria): Default doorlock on false
  resources/[dg]/dg-doorlock/seeding/doors.json
Due: validate json

fix(tools): change headers in changelog placeholder
  tools/update-versions.py
Due: none

fix(crafting): actually add atm_rope to crafting bench
  resources/[dg]/dg-config/configs/materials/crafting.json
Due: validate json

feat(labs/meth): disable settings option when ply is holding package
  CHANGELOG.md
  resources/[dg]/dg-labs/typescript/src/client/modules/meth/controller.meth.ts
Due: JS linting, TS dev build, TS prod build

feat(atmrobbery): add feedback notification to pulling ATM
  CHANGELOG.md
  resources/[dg]/dg-criminal/typescript/src/client/modules/atm/service.atm.ts
Due: JS linting, TS dev build, TS prod build

feat(admin): add event blip command
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/client/modules/commands/controller.commands.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/addEventBlip.ts
  resources/[dg]/dg-justice/typescript/src/client/services/cityhall.ts
Due: JS linting, TS dev build, TS prod build

fix(atmrobbery): try starting driver thread when new robbery gets registered
  CHANGELOG.md
  resources/[dg]/dg-criminal/typescript/src/client/modules/atm/service.atm.ts
Due: JS linting, TS dev build, TS prod build

fix(keys): compare to locked state instead of unlock state which has multiple values
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/controller.keys.ts
Due: JS linting, TS dev build, TS prod build

fix(police/heli): actually check if vehicle is policeheli when swapping seat
  CHANGELOG.md
  resources/[dg]/dg-jobs/typescript/src/client/modules/scrapyard/service.scrapyard.ts
  resources/[dg]/dg-police/typescript/src/client/modules/heli/controller.heli.ts
  resources/[dg]/dg-police/typescript/src/client/modules/heli/service.heli.ts
Due: JS linting, TS dev build, TS prod build

tweak(recycleped): add handcuffs
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/recycleped.json
Due: validate json

chore(admin): bump fillNeeds roleReq down to support
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/fillNeeds.ts
Due: JS linting, TS dev build, TS prod build

fix(clothing): fix decals outfit problem
  CHANGELOG.md
  resources/[qb]/qb-clothing/client/main.lua
Due: none

fix(lockers): reduced payterm from 14 to 7 days to not give double debts for lockers
  resources/[dg]/dg-lockers/typescript/src/server/classes/Locker.ts
Due: JS linting, TS dev build, TS prod build

chore: bump ATM loot
  CHANGELOG.md
  resources/[dg]/dg-config/configs/criminal/atm.json
  resources/[dg]/dg-criminal/typescript/src/server/modules/atm/controller.atm.ts
  resources/[dg]/dg-criminal/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(police/rada): show more information when locking on a plate
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/modules/radar/service.radar.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles/tow): clear unaccepted message timeout
  resources/[dg]/dg-vehicles/typescript/src/server/modules/mechanic/services/towing.mechanic.ts
Due: JS linting, TS dev build, TS prod build

fix(financials): add a bit of clearance around maintenaceFee schedule
  CHANGELOG.md
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/helpers/maintenanceFees.ts
Due: JS linting, TS dev build, TS prod build

chore: update submodules
  CHANGELOG.md
Due: none

tweak(crafting): increase visible rep limit of weaponcrafting
  resources/[dg]/dg-config/configs/materials/crafting.json
Due: validate json

feat(hospital): allow police to revive when no ambulance on duty
  CHANGELOG.md
  resources/[dg]/dg-hospital/typescript/src/server/modules/job/controller.job.ts
  resources/[dg]/dg-hospital/typescript/src/server/modules/job/service.job.ts
  resources/[dg]/dg-radialmenu/typescript/src/client/data/police.ts
Due: JS linting, TS dev build, TS prod build

refactor(dispatch): add option to disable randomization & split important flag and synced sound
  CHANGELOG.md
  resources/[dg]/dg-blackout/typescript/src/server/controllers/powerstation.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/atm/controller.atm.ts
  resources/[dg]/dg-dispatch/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-dispatch/typescript/src/server/services/dispatch.ts
  resources/[dg]/dg-dispatch/typescript/src/types/index.d.ts
  resources/[dg]/dg-doorlock/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-heists/typescript/src/server/classes/typemanagers/paletomanager.ts
  resources/[dg]/dg-heists/typescript/src/server/services/laptops.ts
  resources/[dg]/dg-hospital/typescript/src/server/modules/down/controller.down.ts
  resources/[dg]/dg-hospital/typescript/src/server/modules/job/controller.job.ts
  resources/[dg]/dg-police/typescript/src/server/modules/alerts/service.alerts.ts
  resources/[dg]/ts-shared/typescript/src/server/types/jobs.d.ts
Due: JS linting, TS dev build, TS prod build

tweak(vehicles): lower suspension damage rate
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
Due: JS linting, TS dev build, TS prod build

feat(rental): show taxed price when selecting vehicle
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/server/modules/rental/service.rental.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): add speed decrease requirement for stall
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/constant.status.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
Due: JS linting, TS dev build, TS prod build

feat(weapons): lower dispatch chance on silenced weapons
  CHANGELOG.md
  resources/[dg]/dg-weapons/typescript/src/client/modules/weapons/service.weapons.ts
  resources/[dg]/dg-weapons/typescript/src/server/contants.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): await config load before getting config in config:moduleLoaded handler
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/laptop/controller.laptop.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/laptop/service.laptop.ts
Due: JS linting, TS dev build, TS prod build

feat(polyzone/dev): output created zones as json
  resources/[standalone]/PolyZone/creation/server/creation.lua
Due: none

fix(restaurants): dont auto close leftover menu on click
  CHANGELOG.md
  resources/[dg]/dg-restaurants/typescript/src/server/classes/restaurant.ts
Due: JS linting, TS dev build, TS prod build

fix(inventory): set dirty flag before executing update handler when moving item
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/classes/item.ts
Due: JS linting, TS dev build, TS prod build

tweak(crafting): lower ammo item requirement & weapon container rep requirement
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/crafting.json
Due: validate json

Path conditions:
  build node image: any of: package.json, yarn.lock
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
