Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, Validate Errorlogger, validate db migrations, JS linting, JS building

.gitlab-ci.yml:

stages:
  - test
  - linting
  - build
  - housekeeping

image: node:lts

.lerna_installation:
  before_script:
    - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
    - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
    - npm config set always-auth true
    - yarn config set network-timeout 600000 -g
    - yarn --pure-lockfile

.cache_modules:
  cache:
    key: "$CI_COMMIT_REF_NAME-node_modules"
    paths:
      - node_modules/
      - '**/node_modules/'

.js_changes:
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.js"
      - "**/*.ts"
      - "**/*.jsx"
      - "**/*.tsx"
      - "**/*.css"
      - "**/*.scss"
      - "**/*.html"
      - "**/package.json"
      - "**/yarn.lock"

validate json:
  stage: test
  script:
    - cd ./tools/json-validator
    - yarn --pure-lockfile
    - yarn start
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.json"

Validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
    - python ./tools/manifest-check.py
    - exit "${?}"
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - '**/fxmanifest.lua'

validate db migrations:
  stage: test
  services:
    - name: mariadb:latest
      alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
    - echo 'set mysql_connection_string "mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4"' > ./config/mysql.cfg
    - cd ./tools/migrations
    - yarn --pure-lockfile
    - yarn start --init-db
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - 'migrations/*'

sonarqube-check:
  stage: test
  tags:
    - amd64
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [ "" ]
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
    GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task
  cache:
    key: "$CI_COMMIT_REF_NAME-sonar"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner
  allow_failure: true
  only:
    - main
    - UPD

JS linting:
  extends:
    - .lerna_installation
    - .cache_modules
    - .js_changes
  stage: linting
  script:
    - yarn lint

JS building:
  extends:
    - .lerna_installation
    - .cache_modules
    - .js_changes
  stage: build
  script:
    - yarn format -- -- --loglevel error
    - yarn build

rebase UPD:
  stage: housekeeping
  image: node:lts
  script:
    # setting up git
    - url_host=`git remote get-url origin | sed -e "s/https:\/\/gitlab-ci-token:.*@//g"`
    - git remote set-url origin "https://gitlab-ci-token:${ACCESS_TOKEN_PARAM}@${url_host}"
    - git config http.sslverify false
    - git config --global user.email "ci@gitlab.pieter557.dscloud.me"
    - git config --global user.name "CI"
    - git fetch # Just in case branch is not fetch
    - git checkout -t origin/main
    - git pull
    - git checkout -t origin/UPD
    - git pull
    # Rebase
    - git rebase main UPD
    # Push
    - git push -u origin UPD

  only:
    - main

fix(phone): fixed vehicle animations dicts
  resources/[dg]/dg-phone/client/cl_animation.lua
Due: none

feat(phone): added sounds to phone notification actions and incoming ping
  resources/[dg]/dg-phone/client/cl_notifications.lua
  resources/[dg]/dg-phone/client/cl_pinger.lua
Due: none

fix(ui): do not remove focus when closing non-interactive apps
  resources/[dg]/dg-ui/[src]/src/components/appwrapper.tsx
  resources/[dg]/dg-ui/[src]/src/lib/hooks/useApps.ts
  resources/[dg]/dg-ui/client/cl_main.lua
Due: JS linting, JS building

refactor(UI): Fixed double event on app closing which caused fucked focus
  resources/[dg]/dg-ui/README.md
  resources/[dg]/dg-ui/[src]/src/components/appwrapper.tsx
  resources/[dg]/dg-ui/[src]/src/main/contextmenu/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/financials/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/inventory/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/peek/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/scenes/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/sliders/component.tsx
  resources/[dg]/dg-ui/client/cl_exports.lua
  resources/[dg]/dg-ui/client/cl_main.lua
Due: JS linting, JS building

chore(peek): removed unused ui callback
  resources/[dg]/dg-peek/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-ui/[src]/src/main/peek/component.tsx
Due: JS linting, JS building

fix(taskbar): centered taskbar icon
  resources/[dg]/dg-ui/[src]/src/main/taskbar/component/TaskBar.tsx
  resources/[dg]/dg-ui/[src]/src/main/taskbar/styles/taskbar.scss
Due: JS linting, JS building

fix(admin): DGX registered events using normal emitter
  resources/[dg]/dg-admin/typescript/src/client/modules/commands/controller.commands.ts
Due: JS linting, JS building

chore(UI): readd returnvalue of onEscape to close app
  resources/[dg]/dg-ui/[src]/src/components/appwrapper.tsx
  resources/[dg]/dg-ui/[src]/src/main/financials/component.tsx
Due: JS linting, JS building

feat(inventory): add inv update handler to dgx, cleaned up exports
  resources/[core]/dg-core/server/player.lua
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/giveItem.ts
  resources/[dg]/dg-inventory/README.md
  resources/[dg]/dg-inventory/typescript/src/client/modules/objects/classes/objectsmanager.ts
  resources/[dg]/dg-inventory/typescript/src/server/controllers/controller.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/classes/item.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/helpers.items.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/manager.items.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/locations/manager.locations.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/controller.ts
  resources/[dg]/dg-phone/server/sv_main.lua
  resources/[dg]/dg-ui/server/sv_info.lua
  resources/[dg]/dg-weapons/server/sv_events.lua
  resources/[dg]/ts-shared/typescript/src/client/classes/inventory.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/inventory.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/server/types/core.d.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/inventory.d.ts
Due: JS linting, JS building

feat(inventory): load ply inv on restart, split veh types from persistent
  resources/[dg]/dg-config/configs/inventory/config.json
  resources/[dg]/dg-inventory/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-inventory/typescript/src/server/controllers/index.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/containers/controller.containers.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/controller.inventories.ts
  resources/[dg]/dg-inventory/typescript/src/server/server.ts
  resources/[dg]/dg-inventory/typescript/src/server/services/config.ts
  resources/[dg]/dg-inventory/typescript/src/server/services/repository.ts
  resources/[dg]/dg-inventory/typescript/src/server/tsconfig.json
  resources/[dg]/dg-inventory/typescript/src/types/index.d.ts
Due: validate json, JS linting, JS building

feat(lib): added asyncExports middleware to fix 5m's garbage
  .idea/runConfigurations/financials_watch.xml
  resources/[dg]/dg-admin/typescript/src/server/modules/penalties/controller.penalties.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/whitelist/controller.whitelist.ts
  resources/[dg]/dg-build/typescript/src/client/controllers/exports.ts
  resources/[dg]/dg-financials/typescript/src/client/modules/cash/controller.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/controllers/accounts.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/controllers/actions.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/crypto/controller.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/controllers/debts.ts
  resources/[dg]/dg-houserobbery/typescript/src/client/modules/house/controller.house.ts
  resources/[dg]/dg-inventory/typescript/src/server/controllers/controller.ts
  resources/[dg]/dg-jobs/typescript/src/server/controllers/exports.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/controller.ts
  resources/[dg]/dg-lib/server/sv_asyncExports.js
  resources/[dg]/dg-misc/typescript/src/client/modules/taskbar/controller.taskbar.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/blackmoney/controller.blackmoney.ts
  resources/[dg]/dg-sql/typescript/src/server/controllers/exports.ts
  resources/[dg]/dg-weathersync/typescript/src/server/modules/weather.ts
  resources/[dg]/ts-shared/typescript/src/client/types/global.d.ts
  resources/[dg]/ts-shared/typescript/src/server/types/global.d.ts
  resources/[dg]/ts-shared/typescript/src/shared/helpers/asyncExports.ts
  resources/[dg]/ts-shared/typescript/src/shared/index.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/global.d.ts
Due: JS linting, JS building

feat(radio): added radio's
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/radio/controller.radio.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/radio/service.radio.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/radio/controller.radio.ts
  resources/[dg]/dg-misc/typescript/src/server/server.ts
  resources/[dg]/dg-ui/[src]/src/assets/inventory/pd_radio.png
  resources/[dg]/dg-ui/[src]/src/assets/inventory/radio.png
  resources/[dg]/dg-ui/[src]/src/assets/radio/radio.png
  resources/[dg]/dg-ui/[src]/src/main/cli/commands.ts
  resources/[dg]/dg-ui/[src]/src/main/radio/_config.tsx
  resources/[dg]/dg-ui/[src]/src/main/radio/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/radio/component/Radio.tsx
  resources/[dg]/dg-ui/[src]/src/main/radio/store.ts
  resources/[dg]/dg-ui/[src]/src/main/radio/styles/radio.scss
  resources/[dg]/dg-ui/[src]/src/types/apps/radio.d.ts
  resources/[dg]/dg-ui/[src]/src/types/main.d.ts
  resources/[qb]/qb-ambulancejob/server/main.lua
  resources/[qb]/qb-policejob/server/main.lua
  resources/[standalone]/nutty-sounds/data/sounds.dat54.nametable
  resources/[standalone]/nutty-sounds/data/sounds.dat54.rel
  resources/[standalone]/nutty-sounds/dlc_nutty/sounds.awc
  resources/[standalone]/pma-voice/client/init/main.lua
  resources/[standalone]/pma-voice/client/module/radio.lua
  resources/[standalone]/pma-voice/voice-ui/public/mic_click_off.ogg
  resources/[standalone]/pma-voice/voice-ui/public/mic_click_on.ogg
Due: validate json, JS linting, JS building

fix(asyncExports): fixed empty function error
  resources/[dg]/ts-shared/typescript/src/shared/helpers/asyncExports.ts
Due: JS linting, JS building

fix(phone): no more infinite entries in info app
  resources/[dg]/dg-phone/client/cl_info.lua
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/info-app/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/info-app/components/infoapp.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/info-app/events.ts
  resources/[dg]/dg-ui/[src]/src/types/apps/phone.d.ts
Due: JS linting, JS building

fix(polyzone): correctly register and remove zones without id in data
  resources/[dg]/dg-blackout/typescript/src/client/classes/BlackoutManager.ts
  resources/[dg]/dg-polyzone/client/cl_main.lua
  resources/[qb]/qb-ambulancejob/client/main.lua
Due: JS linting, JS building

refactor(ui): moved to 1 eventhandler listening for window events
  resources/[dg]/dg-ui/[src]/src/components/appwrapper.tsx
  resources/[dg]/dg-ui/[src]/src/components/context/eventHandlerCtx.tsx
  resources/[dg]/dg-ui/[src]/src/index.provider.tsx
Due: JS linting, JS building

chore(hud): optimized by filtering unneeded events for compass and vehicle state
  resources/[dg]/dg-ui/client/components/cl_hud.lua
Due: none

chore(ui): optimized some unoptimized garbage
  resources/[dg]/dg-ui/[src]/src/components/context/eventHandlerCtx.tsx
  resources/[dg]/dg-ui/[src]/src/lib/hooks/useApps.ts
  resources/[dg]/dg-ui/[src]/src/main/debuglogs/components/Log.tsx
  resources/[dg]/dg-ui/[src]/src/main/hud/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/hud/component/Speedometer.tsx
  resources/[dg]/dg-ui/[src]/src/main/hud/styles/hud.scss
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/home-screen/components/homescreen.tsx
Due: JS linting, JS building

fix(jobs): fix admin commands wrong types
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/addJobWhitelist.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/removeJobWhitelist.ts
  resources/[dg]/dg-jobs/typescript/src/server/services/whitelist.ts
Due: JS linting, JS building

fix(admin): damage and delete entity finally fixed
  resources/[dg]/dg-admin/typescript/src/client/modules/commands/controller.commands.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/controller.commands.ts
Due: JS linting, JS building

refactor(core): optimized get closest veh function
  resources/[core]/dg-core/client/functions.lua
Due: none

feat(HUD): added some ped flags to be set
  resources/[dg]/dg-ui/client/components/cl_hud.lua
Due: none

fix(ui): add missing dependency for getCurrentAppType
  resources/[dg]/dg-ui/[src]/src/lib/hooks/useApps.ts
Due: JS linting, JS building

refactor(ui): wrapped appwrapper handlers in callbacks
  .eslintrc
  resources/[dg]/dg-ui/[src]/.eslintrc
  resources/[dg]/dg-ui/[src]/src/components/appwrapper.tsx
  resources/[dg]/dg-ui/[src]/src/lib/hooks/useApps.ts
  resources/[dg]/dg-ui/[src]/src/main/cli/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/contextmenu/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/debuglogs/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/financials/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/hud/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/input/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/interaction/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/inventory/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/itemboxes/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/notifications/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/peek/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/radio/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/scenes/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/sliders/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/taskbar/component.tsx
Due: JS linting, JS building

chore(ui): linted ui project
  resources/[dg]/dg-ui/[src]/src/components/appwrapper.tsx
  resources/[dg]/dg-ui/[src]/src/main/contextmenu/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/input/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/inventory/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/itemboxes/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/notifications/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/peek/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/component.tsx
Due: JS linting, JS building

chore(submodule): updated submodules to reflect config location change + lfs hooks added
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
  config/assets.cfg
  config/resources-gabz.cfg
  config/server-template.cfg
Due: none

refactor(inputmenu): proper opening function, types in dgx, actual return on decline
  resources/[dg]/dg-ui/[src]/src/main/input/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/input/component/inputMenu.tsx
  resources/[dg]/dg-ui/[src]/src/main/input/store.ts
  resources/[dg]/dg-ui/[src]/src/main/input/styles/inputs.scss
  resources/[dg]/dg-ui/[src]/src/types/apps/inputmenu.d.ts
  resources/[dg]/dg-ui/client/components/cl_input.lua
  resources/[dg]/ts-shared/typescript/src/client/classes/ui.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/ui.d.ts
Due: JS linting, JS building

refactor(ui): use updatestate callback to remove dependency
  resources/[dg]/dg-ui/[src]/src/main/itemboxes/component.tsx
Due: JS linting, JS building

refactor(ui): merge loops for getCurrentAppType function, removal of unused return value
  resources/[dg]/dg-ui/[src]/src/lib/hooks/useApps.ts
  resources/[dg]/dg-ui/[src]/src/main/laptop/component.tsx
Due: JS linting, JS building

feat(ui): removed some double focus setters
  resources/[dg]/dg-financials/typescript/src/client/classes/Location.ts
  resources/[dg]/dg-financials/typescript/src/client/modules/bank/service.ts
  resources/[dg]/dg-heists/typescript/src/client/services/drives/controller.drives.ts
  resources/[dg]/dg-phone/client/cl_main.lua
  resources/[dg]/dg-scenes/client/cl_events.lua
Due: JS linting, JS building

feat(assets): moved metafiles from misc to assets
  resources/[dg]/dg-misc/fxmanifest.lua
  resources/[dg]/dg-misc/popgroups.ymt
  resources/[dg]/dg-misc/relationships.dat
Due: Validate Errorlogger

feat(misc): added ped config flags to misc
  resources/[dg]/dg-misc/typescript/src/client/modules/gtabehaviour/constants.gtabehaviour.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/gtabehaviour/service.gtabehaviour.ts
  resources/[dg]/dg-ui/client/components/cl_hud.lua
  resources/[qb]/qb-ambulancejob/client/job.lua
Due: JS linting, JS building

feat(assets): moved car generator disablers from misc to assets
  resources/[dg]/dg-misc/stream/car_gen_disablers/ap1_01_a_strm_0.ymap
  resources/[dg]/dg-misc/stream/car_gen_disablers/ap1_01_a_strm_17.ymap
  resources/[dg]/dg-misc/stream/car_gen_disablers/ap1_01_a_strm_3.ymap
  resources/[dg]/dg-misc/stream/car_gen_disablers/ap1_01_a_strm_6.ymap
  resources/[dg]/dg-misc/stream/car_gen_disablers/ap1_01_a_strm_8.ymap
  resources/[dg]/dg-misc/stream/car_gen_disablers/ap1_01_c_strm_0.ymap
  resources/[dg]/dg-misc/stream/car_gen_disablers/ap1_02_strm_0.ymap
  resources/[dg]/dg-misc/stream/car_gen_disablers/ch3_04_strm_0.ymap
  resources/[dg]/dg-misc/stream/car_gen_disablers/cs3_07_strm_0.ymap
  resources/[dg]/dg-misc/stream/car_gen_disablers/cs3_07_strm_4.ymap
  resources/[dg]/dg-misc/stream/car_gen_disablers/cs3_07_strm_5.ymap
  resources/[dg]/dg-misc/stream/car_gen_disablers/cs3_07_strm_7.ymap
  resources/[dg]/dg-misc/stream/car_gen_disablers/hei_ap1_01_a_strm_0.ymap
  resources/[dg]/dg-misc/stream/car_gen_disablers/hei_ap1_01_a_strm_3.ymap
  resources/[dg]/dg-misc/stream/car_gen_disablers/hei_ap1_01_c_strm_0.ymap
  resources/[dg]/dg-misc/stream/car_gen_disablers/hei_ap1_02_strm_0.ymap
  resources/[dg]/dg-misc/stream/car_gen_disablers/hei_ch3_04_strm_0.ymap
  resources/[dg]/dg-misc/stream/car_gen_disablers/hei_cs2_06b_strm_0.ymap
  resources/[dg]/dg-misc/stream/car_gen_disablers/hei_cs3_07_strm_0.ymap
  resources/[dg]/dg-misc/stream/car_gen_disablers/hei_cs3_07_strm_4.ymap
  resources/[dg]/dg-misc/stream/car_gen_disablers/hei_cs3_07_strm_5.ymap
Due: none

fix(policejob): created dev script for policejob to emulate online police count
  resources/[qb]/qb-policejob/fxmanifest.lua
  resources/[qb]/qb-policejob/server/sv_dev.lua
Due: Validate Errorlogger

feat(configmenu): added menu + exports
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/services/config.ts
  resources/[dg]/dg-misc/typescript/src/server/server.ts
  resources/[dg]/dg-misc/typescript/src/server/services/config.ts
  resources/[dg]/dg-misc/typescript/src/types/config.d.ts
  resources/[dg]/dg-ui/[src]/package.json
  resources/[dg]/dg-ui/[src]/src/main/cli/commands.ts
  resources/[dg]/dg-ui/[src]/src/main/configmenu/_config.tsx
  resources/[dg]/dg-ui/[src]/src/main/configmenu/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/configmenu/component/Hud.tsx
  resources/[dg]/dg-ui/[src]/src/main/configmenu/component/Menu.tsx
  resources/[dg]/dg-ui/[src]/src/main/configmenu/component/Phone.tsx
  resources/[dg]/dg-ui/[src]/src/main/configmenu/component/Radio.tsx
  resources/[dg]/dg-ui/[src]/src/main/configmenu/component/Utils.tsx
  resources/[dg]/dg-ui/[src]/src/main/configmenu/hooks/useConfigActions.ts
  resources/[dg]/dg-ui/[src]/src/main/configmenu/store.ts
  resources/[dg]/dg-ui/[src]/src/main/configmenu/styles/configmenu.scss
  resources/[dg]/dg-ui/[src]/src/main/laptop/os/Laptop.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/store.ts
  resources/[dg]/dg-ui/[src]/src/main/laptop/styles/laptop.scss
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/twitter-app/events.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/lib.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/os/phone/phone.styles.ts
  resources/[dg]/dg-ui/[src]/src/types/apps/configmenu.d.ts
  resources/[dg]/dg-ui/[src]/src/types/apps/laptop.d.ts
  resources/[dg]/dg-ui/[src]/src/types/main.d.ts
  resources/[dg]/dg-ui/client/components/cl_hud.lua
  resources/[standalone]/pma-voice/client/commands.lua
  resources/[standalone]/pma-voice/client/events.lua
  resources/[standalone]/pma-voice/client/init/init.lua
  resources/[standalone]/pma-voice/client/init/main.lua
  resources/[standalone]/pma-voice/client/module/radio.lua
  resources/[standalone]/pma-voice/fxmanifest.lua
Due: validate json, Validate Errorlogger, JS linting, JS building

feat9(dgx): added class for business
  resources/[dg]/dg-business/typescript/src/server/controllers/exports.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/jobs.ts
  resources/[dg]/ts-shared/typescript/src/server/types/business.d.ts
  resources/[dg]/ts-shared/typescript/src/server/types/global.d.ts
Due: JS linting, JS building

feat(financials): added business account search (based on business id)
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/classes/AccountManager.ts
Due: JS linting, JS building

feat(migrations): added seed data + '--' comments not being replaced
  migrations/V8_seed_base.sql
  tools/migrations/index.js
Due: validate db migrations, JS linting, JS building
