Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, JS linting, JS building

.gitlab-ci.yml:

stages:
  - test
  - linting
  - build
  - housekeeping

image: node:lts

.lerna_installation:
  before_script:
    - yarn config set network-timeout 600000 -g
    - yarn --pure-lockfile
    - yarn postinstall:lerna

.cache_modules:
  cache:
    key: "$CI_COMMIT_REF_NAME-node_modules"
    paths:
      - node_modules/
      - '**/node_modules/'

validate json:
  stage: test
  script:
    - cd ./tools/json-validator
    - yarn --pure-lockfile
    - yarn start
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.json"

sonarqube-check:
  stage: test
  tags:
    - amd64
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [ "" ]
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
    GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task
  cache:
    key: "$CI_COMMIT_REF_NAME-sonar"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner
  allow_failure: true
  only:
    - main
    - UPD

JS linting:
  extends:
    - .lerna_installation
    - .cache_modules
  stage: linting
  script:
    - yarn lint
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.js"
      - "**/*.ts"
      - "**/*.jsx"
      - "**/*.tsx"
      - "**/*.scss"

JS building:
  extends:
    - .lerna_installation
    - .cache_modules
  stage: build
  script:
    - yarn format -- -- --loglevel error
    - yarn build
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.(js|ts|jsx|tsx|css|scss|less|html)"
      - "**/package.json"
      - "**/yarn.lock"


rebase UPD:
  stage: housekeeping
  image: node:lts
  script:
    # setting up git
    - url_host=`git remote get-url origin | sed -e "s/https:\/\/gitlab-ci-token:.*@//g"`
    - git remote set-url origin "https://gitlab-ci-token:${ACCESS_TOKEN_PARAM}@${url_host}"
    - git config http.sslverify false
    - git config --global user.email "ci@gitlab.pieter557.dscloud.me"
    - git config --global user.name "CI"
    - git fetch # Just in case branch is not fetch
    - git checkout -t origin/main
    - git pull
    - git checkout -t origin/UPD
    - git pull
    # Rebase
    - git rebase main UPD
    # Push
    - git push -u origin UPD

  only:
    - main

refactor(waethersync): replaced with our boilerplate structure + replaced events with DGX
  resources/[dg]/dg-financials/typescript/src/client/tsconfig.json
  resources/[dg]/dg-weathersync/.eslintrc.js
  resources/[dg]/dg-weathersync/.gitignore
  resources/[dg]/dg-weathersync/fxmanifest.lua
  resources/[dg]/dg-weathersync/package.json
  resources/[dg]/dg-weathersync/typescript/config/webpack.client.js
  resources/[dg]/dg-weathersync/typescript/config/webpack.common.js
  resources/[dg]/dg-weathersync/typescript/config/webpack.server.js
  resources/[dg]/dg-weathersync/typescript/config/webpack.util.js
  resources/[dg]/dg-weathersync/typescript/package.json
  resources/[dg]/dg-weathersync/typescript/src/client/client.ts
  resources/[dg]/dg-weathersync/typescript/src/client/functions.ts
  resources/[dg]/dg-weathersync/typescript/src/client/modules/blackout.ts
  resources/[dg]/dg-weathersync/typescript/src/client/modules/car.ts
  resources/[dg]/dg-weathersync/typescript/src/client/modules/time.ts
  resources/[dg]/dg-weathersync/typescript/src/client/modules/weather.ts
  resources/[dg]/dg-weathersync/typescript/src/client/tsconfig.json
  resources/[dg]/dg-weathersync/typescript/src/common/config.ts
  resources/[dg]/dg-weathersync/typescript/src/common/time.ts
  resources/[dg]/dg-weathersync/typescript/src/common/types.ts
  resources/[dg]/dg-weathersync/typescript/src/common/weather.ts
  resources/[dg]/dg-weathersync/typescript/src/server/helpers.ts
  resources/[dg]/dg-weathersync/typescript/src/server/modules/blackout.ts
  resources/[dg]/dg-weathersync/typescript/src/server/modules/time.ts
  resources/[dg]/dg-weathersync/typescript/src/server/modules/weather.ts
  resources/[dg]/dg-weathersync/typescript/src/server/server.ts
  resources/[dg]/dg-weathersync/typescript/src/server/tsconfig.json
  resources/[dg]/dg-weathersync/typescript/yarn.lock
  resources/[dg]/dg-weathersync/webpack.config.js
  resources/[dg]/dg-weathersync/yarn.lock
Due: validate json, JS linting, JS building

feat/blackout
  .vscode/launch.json
  config/resources.cfg
  resources/[dg]/dg-blackout/.gitignore
  resources/[dg]/dg-blackout/README.md
  resources/[dg]/dg-blackout/fxmanifest.lua
  resources/[dg]/dg-blackout/typescript/config/webpack.client.js
  resources/[dg]/dg-blackout/typescript/config/webpack.common.js
  resources/[dg]/dg-blackout/typescript/config/webpack.server.js
  resources/[dg]/dg-blackout/typescript/config/webpack.util.js
  resources/[dg]/dg-blackout/typescript/package.json
  resources/[dg]/dg-blackout/typescript/src/client/classes/BlackoutManager.ts
  resources/[dg]/dg-blackout/typescript/src/client/client.ts
  resources/[dg]/dg-blackout/typescript/src/client/controllers/blackout.ts
  resources/[dg]/dg-blackout/typescript/src/client/controllers/index.ts
  resources/[dg]/dg-blackout/typescript/src/client/controllers/powerstation.ts
  resources/[dg]/dg-blackout/typescript/src/client/tsconfig.json
  resources/[dg]/dg-blackout/typescript/src/config.ts
  resources/[dg]/dg-blackout/typescript/src/server/classes/BlackoutManager.ts
  resources/[dg]/dg-blackout/typescript/src/server/classes/PowerstationManager.ts
  resources/[dg]/dg-blackout/typescript/src/server/controllers/blackout.ts
  resources/[dg]/dg-blackout/typescript/src/server/controllers/index.ts
  resources/[dg]/dg-blackout/typescript/src/server/controllers/powerstation.ts
  resources/[dg]/dg-blackout/typescript/src/server/server.ts
  resources/[dg]/dg-blackout/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-blackout/typescript/src/server/sv_util.ts
  resources/[dg]/dg-blackout/typescript/src/server/tsconfig.json
  resources/[dg]/dg-blackout/typescript/src/types/index.d.ts
  resources/[dg]/dg-blackout/typescript/yarn.lock
  resources/[dg]/dg-inventory/html/images/big_explosive.png
  resources/[dg]/dg-inventory/items.json
  resources/[dg]/dg-weathersync/typescript/src/client/client.ts
  resources/[dg]/dg-weathersync/typescript/src/client/modules/blackout.ts
  resources/[dg]/dg-weathersync/typescript/src/server/modules/blackout.ts
  resources/[dg]/dg-weathersync/typescript/src/server/server.ts
Due: validate json, JS linting, JS building

fix(labs): fixed calculating offsets without heading in mind
  resources/[dg]/dg-labs/client/cl_main.lua
  resources/[dg]/dg-labs/config.lua
  resources/[dg]/dg-labs/server/sv_constants.lua
Due: none

fix(polyzone): correctly remove zone using name instead of all zonedata
  resources/[dg]/dg-polyzone/client/cl_main.lua
Due: none

fix(peek): only use netid when needed and correctly register flags
  resources/[dg]/dg-peek/typescript/src/client/classes/entryManagers/entityManager.ts
  resources/[dg]/dg-peek/typescript/src/client/classes/entryManagers/flagManager.ts
  resources/[dg]/dg-peek/typescript/src/client/helpers/context.ts
  resources/[dg]/dg-peek/typescript/src/client/types/peek.d.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/interaction.ts
Due: JS linting

fix(dgx): added missing types for Notifications class
  resources/[dg]/ts-shared/typescript/src/server/types/global.d.ts
Due: JS linting

feat(dgx): added global peek entries and circlezones to wrapper
  resources/[dg]/ts-shared/typescript/src/client/classes/interaction.ts
Due: JS linting

fix(config): remove old chat ensure
  config/resources.cfg
Due: none

fix(chars): fixed parameter name
  resources/[dg]/dg-chars/client/cl_spawn.lua
  resources/[dg]/dg-chars/server/sv_main.lua
Due: none

fix(financials): fixed bad conversion from core callback to rpc
  resources/[dg]/dg-financials/typescript/src/server/modules/cash/controller.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/controllers/debts.ts
Due: JS linting

feat(dgx): added auto removal on restart to peek wrapper
  resources/[dg]/ts-shared/typescript/src/client/classes/interaction.ts
  resources/[dg]/ts-shared/typescript/src/client/types/interaction.d.ts
Due: JS linting

fix(tweets): fix using wrong tweets from tweetcache
  resources/[dg]/dg-phone/server/sv_tweets.lua
Due: none

chore(core/player): removed unneeded calling of reregistering the commands
  resources/[core]/dg-core/server/player.lua
  resources/[dg]/dg-weapons/server/sv_events.lua
  resources/[qb]/qb-smallresources/server/main.lua
Due: none

fix(events): fix thread affinity in emitting events in an export
  resources/[dg]/ts-shared/typescript/src/client/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/shared/decorators/Exports.ts
Due: JS linting

chore(chat): add delay before reregistering commands to prevent spam on (re)start of resource
  resources/[dg]/dg-chat/typescript/src/server/classes/commandManager.ts
Due: JS linting

chore(tasks): added missing tasks for JB & vscode
  .gitignore
  .idea/runConfigurations/auth_build_dev.xml
  .idea/runConfigurations/auth_build_prod.xml
  .idea/runConfigurations/auth_watch.xml
  .idea/runConfigurations/sql_build_dev.xml
  .idea/runConfigurations/sql_watch.xml
  .vscode/launch.json
Due: validate json

fix(ui/contextmenu): fix submenu ids not getting set when parent entry has id
  resources/[dg]/dg-ui/[src]/src/main/contextmenu/component.tsx
Due: JS linting

fix(sql): actually return the array with values to be inserted
  resources/[dg]/dg-sql/typescript/src/server/helpers/operations.ts
Due: JS linting

ci(building): hopefully fixed building CI with references
  .gitlab-ci.yml
Due: none

fix(ci): added building changes to referenc to hopefully fix build pipeline
  .gitlab-ci.yml
Due: none

fix(ui): fixed hooks creating infinite rerenders or (re)running when not needed
  resources/[dg]/dg-ui/[src]/package.json
  resources/[dg]/dg-ui/[src]/src/components/appwrapper.tsx
  resources/[dg]/dg-ui/[src]/src/index.provider.tsx
  resources/[dg]/dg-ui/[src]/src/index.tsx
  resources/[dg]/dg-ui/[src]/src/lib/defaultState.ts
  resources/[dg]/dg-ui/[src]/src/main/cli/commands.ts
  resources/[dg]/dg-ui/[src]/src/main/contextmenu/components/contextmenu.tsx
  resources/[dg]/dg-ui/[src]/src/main/contextmenu/store.ts
  resources/[dg]/dg-ui/[src]/src/types/apps/contextmenu.d.ts
  resources/[dg]/dg-ui/[src]/yarn.lock
Due: validate json, JS linting, JS building

feat(dgx): added util functions
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
Due: JS linting

style(ui): fix prettier problems that caused build errors
  resources/[dg]/dg-ui/[src]/src/index.provider.tsx
Due: JS linting

feat(npcs): rewrite in TS and added slow fade in/out to peds
  .vscode/launch.json
  resources/[dg]/dg-financials/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-houserobbery/client/cl_events.lua
  resources/[dg]/dg-npcs/.gitignore
  resources/[dg]/dg-npcs/README.MD
  resources/[dg]/dg-npcs/client/cl_NPC.lua
  resources/[dg]/dg-npcs/client/cl_handler.lua
  resources/[dg]/dg-npcs/client/cl_main.lua
  resources/[dg]/dg-npcs/config.lua
  resources/[dg]/dg-npcs/fxmanifest.lua
  resources/[dg]/dg-npcs/server/sv_main.lua
  resources/[dg]/dg-npcs/typescript/config/webpack.client.js
  resources/[dg]/dg-npcs/typescript/config/webpack.common.js
  resources/[dg]/dg-npcs/typescript/config/webpack.server.js
  resources/[dg]/dg-npcs/typescript/config/webpack.util.js
  resources/[dg]/dg-npcs/typescript/package.json
  resources/[dg]/dg-npcs/typescript/src/client/classes/handler.ts
  resources/[dg]/dg-npcs/typescript/src/client/classes/npc.ts
  resources/[dg]/dg-npcs/typescript/src/client/client.ts
  resources/[dg]/dg-npcs/typescript/src/client/tsconfig.json
  resources/[dg]/dg-npcs/typescript/src/config.ts
  resources/[dg]/dg-npcs/typescript/src/server/constants/npcs.ts
  resources/[dg]/dg-npcs/typescript/src/server/server.ts
  resources/[dg]/dg-npcs/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-npcs/typescript/src/server/sv_util.ts
  resources/[dg]/dg-npcs/typescript/src/server/tsconfig.json
  resources/[dg]/dg-npcs/typescript/src/types/index.d.ts
  resources/[dg]/dg-npcs/typescript/yarn.lock
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
Due: validate json, JS linting, JS building

fix(ui): more optimization + fixes for escape + contextmenu showing on default
  resources/[dg]/dg-ui/[src]/src/components/appwrapper.tsx
  resources/[dg]/dg-ui/[src]/src/index.tsx
  resources/[dg]/dg-ui/[src]/src/main/contextmenu/store.ts
Due: JS linting

fix(ui/contextmenu): fixed back button showing when at root of tree
  resources/[dg]/dg-ui/[src]/src/main/contextmenu/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/contextmenu/components/contextmenu.tsx
Due: JS linting

fix(ts-shared): fixed BUFFER error for peek
  resources/[dg]/ts-shared/typescript/src/client/classes/interaction.ts
  resources/[dg]/ts-shared/typescript/src/client/types/core.d.ts
Due: JS linting

fix(financials): fixed peek errors
  resources/[dg]/dg-financials/typescript/src/client/client.ts
  resources/[dg]/dg-financials/typescript/src/client/modules/bank/service.ts
  resources/[dg]/dg-peek/typescript/src/client/classes/entryManager.ts
Due: JS linting

fix(financials): readded missing files
  resources/[dg]/dg-financials/.gitignore
  resources/[dg]/dg-financials/typescript/config/webpack.client.js
  resources/[dg]/dg-financials/typescript/config/webpack.common.js
  resources/[dg]/dg-financials/typescript/config/webpack.server.js
  resources/[dg]/dg-financials/typescript/config/webpack.util.js
  resources/[dg]/dg-financials/typescript/package.json
  resources/[dg]/dg-financials/typescript/src/client/modules/bank/service.ts
  resources/[dg]/dg-financials/typescript/src/client/tsconfig.json
  resources/[dg]/dg-financials/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-financials/typescript/src/server/tsconfig.json
  resources/[dg]/dg-financials/typescript/yarn.lock
Due: validate json, JS linting, JS building

feat(events): added functions to register events exclusively in ts-shared
  resources/[dg]/ts-shared/typescript/src/client/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
Due: JS linting

fix(apartments): set location after all models are loaded + replaced with RPC
  resources/[dg]/dg-apartments/client/cl_room.lua
  resources/[dg]/dg-apartments/fxmanifest.lua
  resources/[dg]/dg-apartments/server/sv_main.lua
Due: none

fix(notifications): changed style to match chat
  resources/[dg]/dg-ui/[src]/src/main/notifications/styles/notifications.scss
Due: JS linting

fix(dgx): added missing logic to proxy function for DGX
  resources/[dg]/ts-shared/shared/lib.lua
Due: none

fix(jobs): fixed update of playername when no relevant change happened
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/controller.ts
Due: JS linting

feat(taskbar): updated UI to new filling icon
  resources/[dg]/dg-blackout/typescript/src/client/controllers/powerstation.ts
  resources/[dg]/dg-elevator/client/cl_main.lua
  resources/[dg]/dg-financials/typescript/src/client/modules/bank/service.ts
  resources/[dg]/dg-houserobbery/client/cl_functions.lua
  resources/[dg]/dg-inventory/client/cl_main.lua
  resources/[dg]/dg-misc/client/cl_taskbar.lua
  resources/[dg]/dg-storerobbery/client/cl_registers.lua
  resources/[dg]/dg-ui/[src]/package.json
  resources/[dg]/dg-ui/[src]/src/main/cli/commands.ts
  resources/[dg]/dg-ui/[src]/src/main/taskbar/component/TaskBar.tsx
  resources/[dg]/dg-ui/[src]/src/main/taskbar/store.ts
  resources/[dg]/dg-ui/[src]/src/main/taskbar/styles/taskbar.scss
  resources/[dg]/dg-ui/[src]/src/types/apps/taskbar.d.ts
  resources/[dg]/dg-ui/[src]/yarn.lock
  resources/[dg]/dg-weapons/client/cl_events.lua
  resources/[dg]/dg-weed/client/cl_events.lua
  resources/[dg]/dg-weed/client/cl_functions.lua
  resources/[dg]/ts-shared/typescript/src/client/classes/ui.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/ui.ts
Due: validate json, JS linting, JS building

chore(husky): added git hooks for automated formatting
  package.json
  yarn.lock
Due: validate json, JS building
