Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml

feat(police): allow police to view confiscated items by cid
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/modules/prison/controller.prison.ts
Due: JS linting, TS dev build, TS prod build

feat(realestate): add brievenbus obj
  CHANGELOG.md
  packages/db/prisma/migrations/20230809192714_add_mailbox_item_col/migration.sql
  packages/db/prisma/schema.prisma
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/inventory/shops.json
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/objectManager/controller.objectmanager.ts
  resources/[dg]/dg-misc/typescript/src/client/services/objectPlacer.ts
  resources/[dg]/dg-real-estate/typescript/src/client/client.ts
  resources/[dg]/dg-real-estate/typescript/src/client/modules/houses/controllers/events.ts
  resources/[dg]/dg-real-estate/typescript/src/client/modules/houses/services/store.ts
  resources/[dg]/dg-real-estate/typescript/src/client/services/mailbox.ts
  resources/[dg]/dg-real-estate/typescript/src/server/classes/propertyManager.ts
  resources/[dg]/dg-real-estate/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-real-estate/typescript/src/server/server.ts
  resources/[dg]/dg-real-estate/typescript/src/server/services/mailbox.ts
  resources/[dg]/dg-real-estate/typescript/src/types/properties.d.ts
  resources/[dg]/dg-ui/[src]/src/assets/inventory/mailbox.png
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(misc/flyers): add a retrieved col for flyers
  packages/db/prisma/migrations/20230809220949_add_retrieved_col_flyers/migration.sql
  packages/db/prisma/schema.prisma
  resources/[dg]/dg-dev-ts/typescript/package.json
  resources/[dg]/dg-misc/typescript/src/server/services/flyers.ts
Due: validate json, JS linting, TS dev build, TS prod build

chore(clothing): add changingroom for cobrastudios
  resources/[qb]/qb-clothing/config.lua
Due: none

chore(clothing): Added changignroom for mc gang
  resources/[qb]/qb-clothing/config.lua
Due: none

feat(police/spikes): improve reliability & use objectmanager instead of networked entities
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/modules/objectManager/controller.objectmanager.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/objectManager/service.objectmanager.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/objectManager/service.objectmanager.ts
  resources/[dg]/dg-police/typescript/src/client/modules/spikestrips/controller.spikestrips.ts
  resources/[dg]/dg-police/typescript/src/server/modules/spikestrips/controller.spikestrips.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/statebags.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/objects.d.ts
Due: JS linting, TS dev build, TS prod build

chore(evidence): allow ambulance to use dna
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/server/modules/evidence/controller.evidence.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): add kofi vehicles
  CHANGELOG.md
  resources/[dg]/dg-config/configs/vehicles/enginesounds.json
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

chore(vehicles): lower enginesound volumes
  CHANGELOG.md
  resources/[dg]/dg-config/configs/vehicles/enginesounds.json
Due: validate json

chore(labs/weed): lower timeout & increase lootchance
  CHANGELOG.md
  resources/[dg]/dg-config/configs/labs/weed.json
Due: validate json

fix(imager): bump file limit to 20mb
  resources/[dg]/dg-imager/typescript/src/server/server.ts
Due: JS linting, TS dev build, TS prod build

fix(hospital): add timeout to screenshot promises for deadlog
  CHANGELOG.md
  resources/[dg]/dg-hospital/typescript/src/server/modules/down/controller.down.ts
  resources/[dg]/ts-shared/typescript/src/shared/classes/util.ts
Due: JS linting, TS dev build, TS prod build

fix(ui/contextmenu): only capture point events in the menu list
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/main/contextmenu/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/contextmenu/styles/contextmenu.scss
Due: JS linting, TS dev build, TS prod build

chore(dev-ts): remove unneeded dep
  resources/[dg]/dg-dev-ts/typescript/package.json
Due: validate json, JS linting, TS dev build, TS prod build

fix(tackle): remove running check as there is a speed check anyway
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/services/tackle.ts
Due: JS linting, TS dev build, TS prod build

chore: fix lockfile
  pnpm-lock.yaml
Due: JS linting, TS dev build, TS prod build

fix(inventory): manually call open function in key handler
  resources/[dg]/dg-inventory/typescript/src/client/controllers/keys.ts
Due: JS linting, TS dev build, TS prod build

fix(financials): remove last usage of DGX. accessor in TS files
  resources/[dg]/dg-financials/typescript/src/client/modules/bank/service.ts
Due: JS linting, TS dev build, TS prod build

chore(vehicles): update submodule
  config/resources.cfg
  resources/[dg]/dg-config/configs/vehicles/enginesounds.json
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

feat(consumables): fix speed override native not working + buff duration
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/consumables.json
  resources/[dg]/dg-misc/typescript/src/client/services/consumables.ts
  resources/[dg]/dg-misc/typescript/src/server/services/consumables.ts
Due: validate json, JS linting, TS dev build, TS prod build

chore(methrun): lowered tracker removal time
  resources/[dg]/dg-config/configs/criminal/methrun.json
Due: validate json

fix: more fixes for file movement + remove duplicate sentry init
  packages/config/tsup/index.js
  packages/config/tsup/sentry.js
  packages/logger/index.ts
  pnpm-lock.yaml
  resources/[dg]/dg-config/typescript/src/server/services/configs.ts
  resources/[dg]/ts-shared/packages/server/src/helpers/sentry.ts
  resources/[dg]/ts-shared/typescript/package.json
  resources/[dg]/ts-shared/typescript/src/server/helpers/cmds.ts
  resources/[dg]/ts-shared/typescript/src/server/server.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(labs): check undefined value when generating labs to fix ts error
  resources/[dg]/dg-labs/typescript/src/server/services/labs.ts
Due: JS linting, TS dev build, TS prod build

chore(vehicles/fuel): add missing gasstation
  resources/[dg]/dg-vehicles/typescript/src/client/modules/fuel/zones.fuel.ts
Due: JS linting, TS dev build, TS prod build

feat(weapons): add 4 new pistols
  resources/[dg]/dg-config/configs/anticheat.json
  resources/[dg]/dg-config/configs/inventory/config.json
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/materials/crafting.json
  resources/[dg]/dg-ui/[src]/src/assets/inventory/weapon_combatpistol.png
  resources/[dg]/dg-ui/[src]/src/assets/inventory/weapon_pistol50.png
  resources/[dg]/dg-ui/[src]/src/assets/inventory/weapon_revolver_mk2.png
  resources/[dg]/dg-ui/[src]/src/assets/inventory/weapon_vintagepistol.png
  resources/[dg]/dg-weapons/meta/README.md
  resources/[dg]/dg-weapons/meta/weapons.meta
  resources/[dg]/dg-weapons/meta/weapons_revolver_mk2.meta
  resources/[dg]/dg-weapons/meta/weaponvintagepistol.meta
  resources/[dg]/dg-weapons/typescript/src/server/contants.ts
  resources/[dg]/dg-weapons/typescript/src/server/modules/weapons/controller.weapons.ts
  resources/[dg]/dg-weapons/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(gang): enable lostmc mlo, move garage & add doorlocks
  resources/[dg]/dg-doorlock/seeding/doors.json
  resources/[dg]/dg-vehicles/seeding/garages/gang_asphaltrebellions.json
Due: validate json

docs(changelog): add forgotten entries
  CHANGELOG.md
Due: none

feat(heists): add mazebank
  CHANGELOG.md
  resources/[dg]/dg-config/configs/heists/locations/maze.json
  resources/[dg]/dg-config/configs/heists/maze.json
  resources/[dg]/dg-config/configs/heists/types.json
  resources/[dg]/dg-config/configs/police/requirements.json
  resources/[dg]/dg-doorlock/seeding/doors.json
  resources/[dg]/dg-doorlock/typescript/src/client/services/doors.ts
  resources/[dg]/dg-doorlock/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-financials/typescript/src/client/config.ts
  resources/[dg]/dg-heists/typescript/src/client/client.ts
  resources/[dg]/dg-heists/typescript/src/client/modules/maze/controller.maze.ts
  resources/[dg]/dg-heists/typescript/src/client/modules/maze/index.ts
  resources/[dg]/dg-heists/typescript/src/client/modules/maze/service.maze.ts
  resources/[dg]/dg-heists/typescript/src/server/classes/heistmanager.ts
  resources/[dg]/dg-heists/typescript/src/server/classes/typemanagers/mazemanager.ts
  resources/[dg]/dg-heists/typescript/src/server/services/trolleys.ts
  resources/[dg]/dg-heists/typescript/src/types/index.d.ts
  resources/[dg]/dg-heists/typescript/src/types/maze.d.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/objectManager/service.objectmanager.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(minigames): add binary sudoku gridgame
  resources/[dg]/dg-ui/[src]/src/lib/defaultState.ts
  resources/[dg]/dg-ui/[src]/src/main/cli/commands.ts
  resources/[dg]/dg-ui/[src]/src/main/gridgame/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/gridgame/components/games/binarysudoku.tsx
  resources/[dg]/dg-ui/[src]/src/main/gridgame/helpers/binarysudokugenerator.js
  resources/[dg]/dg-ui/[src]/src/types/apps/gridgame.d.ts
  resources/[dg]/ts-shared/packages/client/src/classes/minigames.ts
  resources/[dg]/ts-shared/packages/server/src/classes/minigames.ts
  resources/[dg]/ts-shared/packages/shared/src/types/minigames.d.ts
  resources/[dg]/ts-shared/typescript/src/client/controllers/events.ts
Due: JS linting, TS dev build, TS prod build

fix(heists/maze): i forgot to do like half the heist lol
  resources/[dg]/dg-config/configs/heists/locations/fleeca_benny.json
  resources/[dg]/dg-config/configs/heists/locations/fleeca_bp.json
  resources/[dg]/dg-config/configs/heists/locations/fleeca_highway.json
  resources/[dg]/dg-config/configs/heists/locations/fleeca_lifeinvader.json
  resources/[dg]/dg-config/configs/heists/locations/fleeca_motel.json
  resources/[dg]/dg-config/configs/heists/locations/fleeca_sandy.json
  resources/[dg]/dg-config/configs/heists/locations/maze.json
  resources/[dg]/dg-config/configs/heists/locations/paleto.json
  resources/[dg]/dg-config/configs/heists/maze.json
  resources/[dg]/dg-heists/typescript/src/client/modules/maze/service.maze.ts
  resources/[dg]/dg-heists/typescript/src/server/classes/typemanagers/jewelrymanager.ts
  resources/[dg]/dg-heists/typescript/src/server/classes/typemanagers/mazemanager.ts
  resources/[dg]/dg-heists/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-heists/typescript/src/server/services/trolleys.ts
  resources/[dg]/dg-heists/typescript/src/types/maze.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(objectManager): await collision before setting on ground
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/modules/objectManager/service.objectmanager.ts
Due: JS linting, TS dev build, TS prod build

fix(flyers): remove retrieved column + add api endpoint to delete item
  packages/db/prisma/migrations/20230809192714_add_mailbox_item_col/migration.sql
  packages/db/prisma/migrations/20230809220949_add_retrieved_col_flyers/migration.sql
  packages/db/prisma/schema.prisma
  resources/[dg]/dg-api/typescript/src/server/routes/inventory/index.ts
  resources/[dg]/dg-api/typescript/src/server/routes/inventory/items.ts
  resources/[dg]/dg-api/typescript/src/server/sv_router.ts
  resources/[dg]/dg-misc/typescript/src/server/services/flyers.ts
Due: JS linting, TS dev build, TS prod build

chore(heists/maze): forgot to lower loot
  resources/[dg]/dg-config/configs/heists/types.json
Due: validate json

chore(db): fix migration
  packages/db/prisma/migrations/20230809192714_add_mailbox_item_col/migration.sql
Due: none

fix(config/tsup): force glob version + use sync variant
  packages/config/tsup/package.json
  packages/config/tsup/sentry.js
  pnpm-lock.yaml
Due: validate json, JS linting, TS dev build, TS prod build
