Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

validate json:
  stage: test
  image: node:16
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  image: node:16
  services:
  - name: mariadb:10.7
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'DATABASE_URL=mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4' > ./packages/db/.env
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - corepack enable
  ...

TS dev build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - corepack enable
  ...

TS prod build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - corepack enable
  ...

fix(keygame/ui): reset keypressed to null on show
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/main/keygame/component.tsx
Due: JS linting, TS dev build, TS prod build

feat(packages/logger): add command to change loglevel at runtime
  packages/logger/index.ts
Due: JS linting, TS dev build, TS prod build

refactor(gridgame/ui): use AppWrapper onEscape prop
  resources/[dg]/dg-ui/[src]/src/main/gridgame/component.tsx
Due: JS linting, TS dev build, TS prod build

feat(vehicleshop): clamp employee ticket price on sale
  CHANGELOG.md
  resources/[dg]/dg-config/configs/vehicles/shop.json
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/classes/ShopManager.ts
  resources/[dg]/dg-vehicles/typescript/src/types/vehicleshop.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(restaurants): hide quality metadata on items from leftover
  resources/[dg]/dg-restaurants/typescript/src/server/classes/restaurant.ts
Due: JS linting, TS dev build, TS prod build

fix(inventory): change flag of drop animation
  resources/[dg]/dg-inventory/typescript/src/client/util.ts
Due: JS linting, TS dev build, TS prod build

feat(misc): disable idlecam as vehicle passenger
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/modules/gtabehaviour/service.gtabehaviour.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): immediately set vinscratched state when inserting existing vehicle
  resources/[dg]/dg-vehicles/typescript/src/server/controller/vehicle.ts
Due: JS linting, TS dev build, TS prod build

feat(business): add doors & changingroom in scrapz
  CHANGELOG.md
  resources/[dg]/dg-doorlock/seeding/doors.json
  resources/[qb]/qb-clothing/config.lua
Due: validate json

feat(jobs/namemanager): seed random name by vpn item id
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/classes/NameManager.ts
  resources/[dg]/ts-shared/packages/server/src/classes/util.ts
Due: JS linting, TS dev build, TS prod build

feat(police): less stress in speedzones, add dispatch alert when entering with flagged vehicle
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/modules/radar/service.radar.ts
  resources/[dg]/dg-police/typescript/src/client/modules/speedzones/constants.speedzones.ts
  resources/[dg]/dg-police/typescript/src/client/modules/speedzones/service.speedzones.ts
  resources/[dg]/dg-police/typescript/src/server/modules/speedzones/constants.speedzones.ts
  resources/[dg]/dg-police/typescript/src/server/modules/speedzones/controller.speedzones.ts
  resources/[dg]/dg-police/typescript/src/server/modules/speedzones/helpers.speedzones.ts
  resources/[dg]/dg-police/typescript/src/server/modules/speedzones/index.ts
  resources/[dg]/dg-police/typescript/src/server/modules/speedzones/service.speedzones.ts
  resources/[dg]/dg-police/typescript/src/server/server.ts
  resources/[dg]/dg-police/typescript/src/server/services/plateflags.ts
Due: JS linting, TS dev build, TS prod build

feat(radialmenu): allowing sharing keys while down
  CHANGELOG.md
  resources/[dg]/dg-radialmenu/typescript/src/client/data/down.ts
Due: JS linting, TS dev build, TS prod build

fix(inventory): throttle 'inventory full' notification
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/classes/item.ts
Due: JS linting, TS dev build, TS prod build

fix(fuel): override RPM for fuelcalculation in helis
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/fuel/service.fuel.ts
Due: JS linting, TS dev build, TS prod build

fix(phone/messages): reverse sort conversation list by newest
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/message-app/components/list.tsx
Due: JS linting, TS dev build, TS prod build

chore(vehicles): update submodule
  CHANGELOG.md
Due: none

feat(phone): end call when downstate changed to non-alive
  CHANGELOG.md
  resources/[dg]/dg-hospital/typescript/src/types/index.d.ts
  resources/[dg]/dg-phone/typescript/src/server/controllers/events.ts
  types/hospital.d.ts
Due: JS linting, TS dev build, TS prod build

feat(inv): center cursor on opening
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/client/classes/contextmanager.ts
  resources/[dg]/dg-ui/client/cl_exports.lua
  resources/[dg]/ts-shared/packages/client/src/classes/ui.ts
Due: JS linting, TS dev build, TS prod build

chore(requirements): lower boost requirements for S and X
  resources/[dg]/dg-config/configs/police/requirements.json
Due: validate json

chore(gang): remove plukketuffers things
  resources/[dg]/dg-vehicles/seeding/garages/gang_pluk.json
  resources/[qb]/qb-clothing/config.lua
Due: validate json

feat(vehicles/enginesounds): save on menu close
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/controllers/baseevents.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/enginesounds.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/enginesounds.ts
Due: JS linting, TS dev build, TS prod build

feat(minigames/keypad): return input when not providing solution
  resources/[dg]/dg-minigames/typescript/src/client/modules/keypad/service.keypad.ts
  resources/[dg]/ts-shared/packages/client/src/classes/minigames.ts
  resources/[dg]/ts-shared/packages/server/src/classes/minigames.ts
  resources/[dg]/ts-shared/packages/shared/src/types/minigames.d.ts
Due: JS linting, TS dev build, TS prod build

feat(admin): copy noclip values to clipboard
  resources/[dg]/dg-admin/typescript/src/client/service/noclip.ts
Due: JS linting, TS dev build, TS prod build

feat(hospital): server console revive command
  CHANGELOG.md
  resources/[dg]/dg-hospital/typescript/src/server/modules/down/controller.down.ts
Due: JS linting, TS dev build, TS prod build

chore(consumables): higher stress item decrease
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/consumables.json
Due: validate json

feat(misc/cameras): extracted cameras from dispatch to be reuseable
  CHANGELOG.md
  resources/[dg]/dg-dispatch/typescript/src/client/controllers/keys.ts
  resources/[dg]/dg-dispatch/typescript/src/client/services/cams.ts
  resources/[dg]/dg-dispatch/typescript/src/types/index.d.ts
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/cameras/constants.cameras.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/cameras/controller.cameras.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/cameras/helpers.cameras.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/cameras/index.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/cameras/service.cameras.ts
  resources/[dg]/dg-misc/typescript/src/client/services/news.ts
  resources/[dg]/dg-misc/typescript/src/client/services/useables.ts
  resources/[dg]/dg-police/typescript/src/client/modules/heli/service.heli.ts
  resources/[dg]/ts-shared/packages/client/src/classes/util.ts
  types/misc.d.ts
Due: JS linting, TS dev build, TS prod build

chore(dgx/util): change typings of createEntityOnServer function
  resources/[dg]/dg-blackout/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-doorlock/typescript/src/client/helpers/scenes.ts
  resources/[dg]/dg-heists/typescript/src/client/services/trolleys.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/hunting/service.hunting.ts
  resources/[dg]/ts-shared/packages/client/src/classes/util.ts
Due: JS linting, TS dev build, TS prod build

feat(admin): extra keybind to copy coords
  resources/[dg]/dg-admin/typescript/src/client/controllers/ui.ts
  resources/[dg]/dg-admin/typescript/src/client/modules/commands/controller.commands.ts
  resources/[dg]/dg-admin/typescript/src/client/modules/commands/service.commands.ts
  resources/[dg]/dg-admin/typescript/src/client/service/noclip.ts
  resources/[dg]/dg-admin/ui/src/components/footer/MenuFooter.vue
Due: JS linting, TS dev build, TS prod build

feat(materials): add port container robbery activity
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/inventory/shops.json
  resources/[dg]/dg-config/configs/materials/portrobbery.json
  resources/[dg]/dg-config/configs/materials/recycleped.json
  resources/[dg]/dg-heists/typescript/src/server/classes/typemanagers/jewelrymanager.ts
  resources/[dg]/dg-heists/typescript/src/server/classes/typemanagers/paletomanager.ts
  resources/[dg]/dg-materials/typescript/src/client/client.ts
  resources/[dg]/dg-materials/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-materials/typescript/src/client/modules/portrobbery/controller.portrobbery.ts
  resources/[dg]/dg-materials/typescript/src/client/modules/portrobbery/helpers.portrobbery.ts
  resources/[dg]/dg-materials/typescript/src/client/modules/portrobbery/index.ts
  resources/[dg]/dg-materials/typescript/src/client/modules/portrobbery/service.portrobbery.ts
  resources/[dg]/dg-materials/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/containers/controller.containers.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/containers/service.containers.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/dumpsters/controller.dumpsters.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/dumpsters/service.dumpsters.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/portrobbery/helpers.portrobbery.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/portrobbery/index.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/portrobbery/manager.portrobbery.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/radiotowers/controller.radiotowers.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/radiotowers/service.radiotowers.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/recycleped/service.recycleped.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/wirecutting/controller.wirecutting.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/wirecutting/service.wirecutting.ts
  resources/[dg]/dg-materials/typescript/src/server/server.ts
  resources/[dg]/dg-materials/typescript/src/server/services/config.ts
  resources/[dg]/dg-materials/typescript/src/server/services/crafting.ts
  resources/[dg]/dg-materials/typescript/src/server/services/melting.ts
  resources/[dg]/dg-materials/typescript/src/types/index.d.ts
  resources/[dg]/dg-misc/typescript/src/client/services/animations.ts
  resources/[dg]/dg-ui/[src]/src/assets/inventory/angle_grinder.png
Due: validate json, JS linting, TS dev build, TS prod build

feat(vehicles): add kofi vehicles
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

chore(materials/portrobbery): add more locations + logs
  resources/[dg]/dg-config/configs/materials/portrobbery.json
  resources/[dg]/dg-materials/typescript/src/server/modules/portrobbery/manager.portrobbery.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(materials): abstracted dumpstersearching to allow multiple proptypes
  resources/[dg]/dg-config/configs/materials/dumpsters.json
  resources/[dg]/dg-config/configs/materials/searchableprops.json
  resources/[dg]/dg-materials/typescript/src/client/client.ts
  resources/[dg]/dg-materials/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-materials/typescript/src/client/modules/dumpsters/constants.dumpsters.ts
  resources/[dg]/dg-materials/typescript/src/client/modules/dumpsters/controller.dumpsters.ts
  resources/[dg]/dg-materials/typescript/src/client/modules/dumpsters/index.ts
  resources/[dg]/dg-materials/typescript/src/client/modules/dumpsters/service.dumpsters.ts
  resources/[dg]/dg-materials/typescript/src/client/modules/searchableprops/service.searchableprops.ts
  resources/[dg]/dg-materials/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/dumpsters/controller.dumpsters.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/dumpsters/index.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/dumpsters/service.dumpsters.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/searchableprops/controller.searchableprops.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/searchableprops/index.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/searchableprops/service.searchableprops.ts
  resources/[dg]/dg-materials/typescript/src/server/server.ts
  resources/[dg]/dg-materials/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(phone/mails): option to instantly set location when receiving mail
  CHANGELOG.md
  resources/[dg]/dg-jobs/typescript/src/server/modules/scrapyard/service.scrapyard.ts
  resources/[dg]/dg-phone/typescript/src/client/services/mail.ts
  types/phone.d.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles/seatbelts): only equip harness if modifier pressed
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/seatbelts/controller.seatbelts.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/seatbelts/service.seatbelts.ts
Due: JS linting, TS dev build, TS prod build

refactor(particles): rewrite to optimize events & better syncing
  CHANGELOG.md
  resources/[dg]/dg-criminal/typescript/src/client/modules/atm/service.atm.ts
  resources/[dg]/dg-doorlock/typescript/src/client/services/doors.ts
  resources/[dg]/dg-heists/typescript/src/client/modules/jewelry/service.jewelry.ts
  resources/[dg]/dg-materials/typescript/src/client/modules/portrobbery/helpers.portrobbery.ts
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/particles/controller.particles.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/particles/service.particles.ts
  resources/[dg]/dg-misc/typescript/src/client/services/fx.ts
  resources/[dg]/dg-misc/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/particles/controller.particles.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/particles/service.particles.ts
  resources/[dg]/dg-misc/typescript/src/server/server.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/nos/service.nos.ts
  resources/[dg]/ts-shared/packages/client/src/classes/particles.ts
  resources/[dg]/ts-shared/packages/client/src/classes/util.ts
  resources/[dg]/ts-shared/packages/server/src/classes/particles.ts
  resources/[dg]/ts-shared/packages/shared/src/types/util.d.ts
  types/misc.d.ts
  types/util.d.ts
Due: JS linting, TS dev build, TS prod build

chore: update submodules
  CHANGELOG.md
Due: none

fix(police/spikestrips): remove leftover debug drawline
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/modules/spikestrips/controller.spikestrips.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): add kofi vehicle
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

fix(heists/maze): fix dooropendelay
  CHANGELOG.md
  resources/[dg]/dg-config/configs/heists/maze.json
Due: validate json

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
