Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, Validate Errorlogger, validate db migrations, JS linting, JS building

validate json:
  stage: test
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

Validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  services:
  - name: mariadb:latest
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'set mysql_connection_string "mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4"' > ./config/mysql.cfg
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

JS building:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

feat(anticheat): add stats for shots, kills and headshots
  migrations/V19_add_kill_stats.sql
  resources/[dg]/dg-auth/typescript/src/client/modules/anticheat/classes/StatsThread.ts
  resources/[dg]/dg-auth/typescript/src/client/modules/anticheat/controller.anticheat.ts
  resources/[dg]/dg-auth/typescript/src/client/modules/anticheat/service.anticheat.ts
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/controller.anticheat.ts
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/service.anticheat.ts
  resources/[dg]/dg-auth/typescript/src/types/index.d.ts
  resources/[dg]/dg-weapons/typescript/src/server/modules/weapons/controller.weapons.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
Due: validate db migrations, JS linting, JS building

fix(police): fix pause cuffs anim not passing along arg
  resources/[dg]/ts-shared/typescript/src/client/classes/jobs.ts
Due: JS linting, JS building

refactor: inventory objects
  resources/[dg]/dg-admin/typescript/src/client/service/noclip.ts
  resources/[dg]/dg-config/configs/inventory/config.json
  resources/[dg]/dg-config/configs/inventory/objects.json
  resources/[dg]/dg-inventory/README.md
  resources/[dg]/dg-inventory/typescript/src/client/client.ts
  resources/[dg]/dg-inventory/typescript/src/client/controllers/ui.ts
  resources/[dg]/dg-inventory/typescript/src/client/modules/objects/classes/objectsmanager.ts
  resources/[dg]/dg-inventory/typescript/src/client/modules/objects/controller.objects.ts
  resources/[dg]/dg-inventory/typescript/src/server/classes/objectsutility.ts
  resources/[dg]/dg-inventory/typescript/src/server/constants.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/controller.inventories.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/service.inventories.ts
  resources/[dg]/dg-inventory/typescript/src/server/services/config.ts
  resources/[dg]/dg-inventory/typescript/src/types/index.d.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/service.propattach.ts
  resources/[dg]/dg-weapons/typescript/src/client/modules/weapons/controller.weapons.ts
  resources/[dg]/dg-weapons/typescript/src/client/modules/weapons/helpers.weapons.ts
  resources/[dg]/dg-weapons/typescript/src/server/modules/weapons/controller.weapons.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/inventory.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/inventory.ts
Due: validate json, JS linting, JS building

fix(admin): also provide extra data to log when penalty insert was successful
  resources/[dg]/dg-admin/typescript/src/server/modules/penalties/service.penalties.ts
Due: JS linting, JS building

fix(chat): fix sending message to special targets
  resources/[dg]/dg-chat/typescript/src/server/helpers/messages.ts
Due: JS linting, JS building

fix(admin): fix name of penalised player in logs
  resources/[dg]/dg-admin/typescript/src/server/helpers/identifiers.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/penalties/service.penalties.ts
Due: JS linting, JS building

fix(anticheat): skip weapon checks when unarmed is equipped
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/service.anticheat.ts
Due: JS linting, JS building

chore(config): update typescript version
  package.json
  yarn.lock
Due: validate json, JS linting, JS building

feat(vehicles): add tunes to inventory when spawning tuned vehicle from adminmenu
  resources/[dg]/dg-vehicles/typescript/src/server/controller/vehicle.ts
Due: JS linting, JS building

feat(mechanics): added blips for mechanics
  resources/[dg]/dg-config/configs/vehicles/mechanic.json
  resources/[dg]/dg-vehicles/typescript/src/client/modules/mechanic/controller.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/types/mechanic.d.ts
  resources/[dg]/dg-vehicles/typescript/src/types/service.d.ts
Due: validate json, JS linting, JS building

fix(inventory): fix no size check on first item in inventory
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
  resources/[dg]/dg-ui/[src]/src/main/inventory/lib.ts
Due: JS linting, JS building

tweak(vehicles): translate interaction messages
  resources/[dg]/dg-vehicles/typescript/src/client/controllers/zones.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/mechanic/controller.mechanic.ts
Due: JS linting, JS building

fix(vehicles): fix not being able to disable speedlimiter
  resources/[dg]/dg-vehicles/typescript/src/client/services/speedlimiter.ts
Due: JS linting, JS building

refactor(vehicles): partial rewrite of vehicle service because of many bugs
  resources/[dg]/dg-vehicles/typescript/src/client/controllers/baseevents.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/constant.status.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/controller.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/service.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/services/store.ts
Due: JS linting, JS building

fix(minimap): fix occasional minimap blur
  resources/[dg]/dg-misc/typescript/src/client/services/minimap.ts
  resources/[dg]/dg-ui/client/components/cl_hud.lua
Due: JS linting, JS building

chore: update other dependencies to fix TS 4.9 build issue
  package.json
  resources/[dg]/dg-sync/typescript/yarn.lock
  yarn.lock
Due: validate json, JS linting, JS building

fix(auth): only create resource tokens for known resources
  resources/[dg]/dg-auth/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-auth/typescript/src/server/helpers/resources.ts
  resources/[dg]/dg-auth/typescript/src/server/modules/authTokens/service.ts
Due: JS linting, JS building

feat(dgx): actually pass data field through export
  resources/[dg]/ts-shared/typescript/src/server/classes/admin.ts
Due: JS linting, JS building

fix(misc): finally properly fix minimap blur
  resources/[dg]/dg-misc/typescript/src/client/services/minimap.ts
Due: JS linting, JS building

feat(admin): add option to change player model
  resources/[dg]/dg-admin/typescript/src/client/modules/commands/controller.commands.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/changeModel.ts
Due: JS linting, JS building

feat(admin): close menu when using command that opens UI
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/openCharSelection.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/openClothingMenu.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/openInventory.ts
Due: JS linting, JS building

feat(dev): added temp command to revive self (/res)
  resources/[dg]/dg-dev/client/cl_test.lua
Due: none

feat(admin): add debug toggle option for raycast, polytarget & polyzones
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/toggleDebug.ts
  resources/[dg]/dg-lib/client/cl_raycastinfo.lua
  resources/[dg]/dg-polytarget/client/cl_main.lua
  resources/[dg]/dg-polytarget/fxmanifest.lua
  resources/[dg]/dg-polyzone/client/cl_main.lua
  resources/[dg]/dg-polyzone/fxmanifest.lua
Due: Validate Errorlogger, JS linting, JS building

feat(admin): add option to toggle keymaps executing for player
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/toggleKeybindExecution.ts
  resources/[dg]/dg-lib/client/cl_keybind.lua
Due: JS linting, JS building

fix(events): only check auth token when resource has a event handler
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
Due: JS linting, JS building

feat(events): alternate solution to setImmediates in event emitter functions
  resources/[dg]/ts-shared/typescript/src/client/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
Due: JS linting, JS building

fix(tokenstorage): im a dumbfuck
  resources/[dg]/ts-shared/typescript/src/client/classes/events.ts
Due: JS linting, JS building

fix(dev): fix animviewer error when no anim was found
  resources/[dg]/dg-dev/client/animviewer/main.lua
Due: none

fix(police): fix being able to take npc out of vehicle
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/helpers.interactions.ts
  resources/[dg]/dg-police/typescript/src/server/modules/interactions/controller.interactions.ts
Due: JS linting, JS building

fix(weather): smoother transition between weathers
  resources/[dg]/dg-weathersync/typescript/src/client/modules/weather/constants.weather.ts
  resources/[dg]/dg-weathersync/typescript/src/client/modules/weather/service.weather.ts
  resources/[dg]/dg-weathersync/typescript/src/server/modules/weather/service.weather.ts
Due: JS linting, JS building

feat(anticheat): fix headshot checking
  resources/[dg]/dg-auth/typescript/src/client/modules/anticheat/controller.anticheat.ts
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/service.anticheat.ts
  resources/[dg]/dg-auth/typescript/src/types/index.d.ts
Due: JS linting, JS building

feat(admin): option to freeze entities
  resources/[dg]/dg-admin/typescript/src/client/modules/commands/controller.commands.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/controller.commands.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/toggleFreezeEntity.ts
Due: JS linting, JS building

fix(anticheat): finally actually check if shot was headshot
  resources/[dg]/dg-auth/typescript/src/client/modules/anticheat/controller.anticheat.ts
Due: JS linting, JS building

feat(dispatch): disable default movement controls while in cam
  resources/[dg]/dg-dispatch/typescript/src/client/services/cams.ts
Due: JS linting, JS building

Path conditions:
  validate json: any of: **/*.json
  Validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: migrations/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  JS building: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
