Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, JS linting, JS building

validate json:
  stage: test
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

JS linting:
  before_script:
  - yarn config set network-timeout 600000 -g
  - yarn --pure-lockfile
  - yarn postinstall:lerna
  cache:
    key: $CI_COMMIT_REF_NAME-node_modules
    paths:
    - node_modules/
    - '**/node_modules/'
  stage: linting
  script:
  - yarn lint

JS building:
  before_script:
  - yarn config set network-timeout 600000 -g
  - yarn --pure-lockfile
  - yarn postinstall:lerna
  cache:
    key: $CI_COMMIT_REF_NAME-node_modules
    paths:
    - node_modules/
    - '**/node_modules/'
  stage: build
  script:
  - yarn format -- -- --loglevel error
  - yarn build

fix(scenes): fix wrong core import in manifest
  resources/[dg]/dg-scenes/fxmanifest.lua
Due: none

fix(radialmenu): added forgotten type to entry
  resources/[dg]/dg-radialmenu/client/entries/cl_citizen.lua
Due: none

fix(doorlock): adapt to changes in raycast
  resources/[dg]/dg-doorlock/client/cl_events.lua
  resources/[dg]/dg-lib/client/cl_util.lua
Due: none

feat(core): added callback to remove item from player
  resources/[core]/dg-core/server/events.lua
Due: none

fix(apartments): removed invincibility after loading into apartment
  resources/[dg]/dg-apartments/client/cl_room.lua
Due: none

fix(progressbar): fixed animations + settings resetting
  resources/[dg]/dg-misc/client/cl_taskbar.lua
Due: none

fix(chat): fixed suggestions from new export not showing up
  resources/[dg]/dg-chat/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-chat/typescript/src/server/classes/commandManager.ts
Due: JS linting

feat(dgx): added ability for DGX to remove registered zone on resource restart
  resources/[dg]/ts-shared/typescript/src/client/classes/interaction.ts
Due: JS linting

feat(dgx): added vec2 vector interface
  resources/[dg]/ts-shared/typescript/src/shared/types/vectors.d.ts
Due: JS linting

fix(chat): added some fixes for 5m cmds and UI problems
  resources/[dg]/dg-chat/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-chat/typescript/src/server/classes/commandManager.ts
  resources/[dg]/dg-chat/typescript/src/server/helpers/commands.ts
  resources/[dg]/dg-chat/typescript/src/server/helpers/messages.ts
  resources/[dg]/dg-chat/ui/src/components/inputField.vue
  resources/[dg]/dg-chat/ui/src/components/wrapper.vue
Due: JS linting

chore(idea): added runConfig files for lazy nutty
  .gitignore
  .idea/runConfigurations/chars_ui_build.xml
  .idea/runConfigurations/chars_ui_dev.xml
  .idea/runConfigurations/chars_ui_watch.xml
  .idea/runConfigurations/chat_res_build_dev.xml
  .idea/runConfigurations/chat_res_build_prod.xml
  .idea/runConfigurations/chat_res_watch.xml
  .idea/runConfigurations/chat_ui_build.xml
  .idea/runConfigurations/chat_ui_dev.xml
  .idea/runConfigurations/dgx_build_dev.xml
  .idea/runConfigurations/dgx_build_prod.xml
  .idea/runConfigurations/dgx_watch.xml
  .idea/runConfigurations/financials_res_build_dev.xml
  .idea/runConfigurations/financials_res_build_prod.xml
  .idea/runConfigurations/financials_res_watch.xml
  .idea/runConfigurations/job_build_prod.xml
  .idea/runConfigurations/jobs_build_dev.xml
  .idea/runConfigurations/jobs_watch.xml
  .idea/runConfigurations/lerna_bootstrap.xml
  .idea/runConfigurations/lerna_build.xml
  .idea/runConfigurations/lerna_build_dev.xml
  .idea/runConfigurations/peek_build_dev.xml
  .idea/runConfigurations/peek_build_prod.xml
  .idea/runConfigurations/peek_watch.xml
  .idea/runConfigurations/ui_build_dev.xml
  .idea/runConfigurations/ui_build_prod.xml
  .idea/runConfigurations/ui_dev.xml
Due: none

fix(peek): changed Util func to event to catch all changes
  resources/[dg]/dg-peek/typescript/src/client/controllers/events.ts
Due: JS linting

fix(financials): set blip to short range to not be show on minimap border
  resources/[dg]/dg-financials/typescript/src/client/classes/Location.ts
Due: JS linting

fix(financials): fixed double close evt emitter
  resources/[dg]/dg-ui/[src]/src/main/financials/component.tsx
Due: JS linting

fix(ui): added load modal as debouncer to phone and financials actions
  resources/[dg]/dg-ui/[src]/package.json
  resources/[dg]/dg-ui/[src]/src/components/util.tsx
  resources/[dg]/dg-ui/[src]/src/main/financials/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/financials/components/modals/DepositModal.tsx
  resources/[dg]/dg-ui/[src]/src/main/financials/components/modals/TransferModal.tsx
  resources/[dg]/dg-ui/[src]/src/main/financials/components/modals/WithdrawModal.tsx
  resources/[dg]/dg-ui/[src]/src/main/financials/lib.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/contacts-app/components/contacts.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/contacts-app/components/modals.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/crypto-app/components/modals.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/jobcenter-app/components/currentGroup.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/payconiq-app/components/modals.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/twitter-app/components/modals.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/yp-app/components/modals.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/lib.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/os/loader/loader.scss
  resources/[dg]/dg-ui/[src]/src/main/phone/os/loader/loader.tsx
  resources/[dg]/dg-ui/[src]/yarn.lock
Due: validate json, JS linting, JS building

fix(ui): renamed onEnter to handleEnter because conventions
  resources/[dg]/dg-ui/[src]/src/components/inputs.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/message-app/components/conversation.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/phone-app/components/dialer.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/twitter-app/components/twitter.tsx
Due: JS linting

fix(ui): fixed ui-r not remounting properly
  resources/[dg]/dg-ui/[src]/package.json
  resources/[dg]/dg-ui/[src]/src/components/appwrapper.tsx
  resources/[dg]/dg-ui/[src]/src/index.provider.tsx
  resources/[dg]/dg-ui/[src]/src/index.tsx
  resources/[dg]/dg-ui/[src]/src/lib/events.ts
  resources/[dg]/dg-ui/[src]/src/lib/redux/store.ts
  resources/[dg]/dg-ui/[src]/yarn.lock
  resources/[dg]/dg-ui/client/cl_main.lua
Due: validate json, JS linting, JS building

fix(financials): added missing await for purchase promise
  resources/[dg]/dg-financials/typescript/src/server/modules/crypto/classes/CryptoWallet.ts
Due: JS linting

fix(phone): fixed open/closing animation
  resources/[dg]/dg-ui/[src]/src/main/phone/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/lib.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/os/phone/phone.tsx
Due: JS linting

fix(keymaps): do not trigger custom keymaps while on phone
  resources/[dg]/dg-lib/client/cl_keybind.lua
  resources/[dg]/dg-phone/client/cl_animation.lua
  resources/[dg]/dg-phone/client/cl_main.lua
  resources/[dg]/dg-phone/client/cl_state.lua
Due: none

feat(chars): add instancing to char and spawn selection
  resources/[dg]/dg-chars/client/cl_main.lua
  resources/[dg]/dg-chars/server/sv_main.lua
  resources/[dg]/dg-chars/server/sv_spawn.lua
Due: none

fix(ci): used job token to access GL registry
  .gitlab-ci.yml
Due: none

fix(peek): added debounce to trying to focus + fixed ternary messing up activeEntrys in zones
  resources/[dg]/dg-peek/typescript/src/client/classes/entryManager.ts
  resources/[dg]/dg-peek/typescript/src/client/classes/stateManager.ts
Due: JS linting

fix(chars): make instanceIdGetter actually return
  resources/[dg]/dg-chars/server/sv_main.lua
Due: none

fix(dgx): changed wrong event name
  resources/[dg]/ts-shared/typescript/src/client/classes/interaction.ts
Due: JS linting

fix(chat): changed illogical export name
  resources/[dg]/dg-chat/typescript/src/server/helpers/messages.ts
Due: JS linting

Revert fix(phone): fixed open/closing animation
  resources/[dg]/dg-ui/[src]/src/main/phone/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/lib.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/os/phone/phone.tsx
Due: JS linting

fix(phone): fixed garbage animations
  resources/[dg]/dg-ui/[src]/src/main/phone/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/lib.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/os/phone/phone.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/store.ts
  resources/[dg]/dg-ui/[src]/src/types/apps/phone.d.ts
Due: JS linting

fix(taskbar): fixed wrong export name
  resources/[dg]/dg-misc/client/cl_taskbar.lua
Due: none

feat(dgx): added ts wrapper for notification system
  resources/[dg]/dg-chat/typescript/src/server/helpers/commands.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/crypto/classes/CryptoWallet.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/classes/debtmanager.ts
  resources/[dg]/dg-ui/client/components/cl_notification.lua
  resources/[dg]/dg-ui/fxmanifest.lua
  resources/[dg]/ts-shared/typescript/src/client/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/ui.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/ui.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
Due: JS linting

fix(labs): fixed error when no labs.json file was found
  .gitignore
  resources/[dg]/dg-labs/.gitignore
  resources/[dg]/dg-labs/server/sv_main.lua
Due: none

feat(assets): updated gabz assets
  config/resources-gabz.cfg
Due: none

feat(assets): added mazebank MLO interior
  config/assets.cfg
Due: none

fix(financials): updated locations for new banks
  resources/[dg]/dg-financials/typescript/src/client/config.ts
  resources/[dg]/dg-npcs/config.lua
Due: JS linting

fix(npcs): fixed inverted setting for collision
  resources/[dg]/dg-npcs/client/cl_NPC.lua
Due: none

fix(chars): actually fix func to get free instance
  resources/[dg]/dg-chars/server/sv_main.lua
Due: none

fix(dgx): added metatable to fix null refs on script start
  resources/[dg]/ts-shared/shared/lib.lua
Due: none

fix(polyzone): fixed zone remove function to remove all zones when only name is given
  resources/[dg]/dg-polyzone/client/cl_main.lua
  resources/[dg]/ts-shared/typescript/src/client/classes/interaction.ts
Due: JS linting

Path conditions:
  validate json: any of: **/*.json
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.scss
  JS building: any of: **/*.(js|ts|jsx|tsx|css|scss|less|html), **/package.json, **/yarn.lock
