Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml

Revert "fix(ui/contextmenu): only capture point events in the menu list"
  resources/[dg]/dg-ui/[src]/src/main/contextmenu/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/contextmenu/styles/contextmenu.scss
Due: JS linting, TS dev build, TS prod build

fix(carboost): add zoneEntered flag, tweak chances to get contract, remove log overwrite
  resources/[dg]/dg-carboosting/typescript/src/server/classes/boost.ts
  resources/[dg]/dg-carboosting/typescript/src/server/classes/contractmanager.ts
  resources/[dg]/dg-carboosting/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-config/configs/carboosting/classes/A+.json
  resources/[dg]/dg-config/configs/carboosting/classes/A.json
  resources/[dg]/dg-config/configs/carboosting/classes/B.json
  resources/[dg]/dg-config/configs/carboosting/classes/C.json
  resources/[dg]/dg-config/configs/carboosting/contracts.json
Due: validate json, JS linting, TS dev build, TS prod build

fix(carboosting): skip reputation decrease if vehicle failed to spawn
  resources/[dg]/dg-carboosting/typescript/src/server/classes/boost.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles/keys): skip nolockclass check when lockpicking
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/service.keys.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): actually require schema entries
  CHANGELOG.md
  resources/[dg]/dg-vehicles/seeding/vehicles.json
  resources/[dg]/dg-vehicles/typescript/src/server/modules/info/schema.info.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(dgx/util): GetAllPeds somehow returns invalid entities LOVE IT
  resources/[dg]/ts-shared/packages/server/src/classes/util.ts
Due: JS linting, TS dev build, TS prod build

chore(carboosting): lower minimum reward to 1 suliro
  resources/[dg]/dg-carboosting/typescript/src/server/classes/boost.ts
Due: JS linting, TS dev build, TS prod build

fix(core): dont try to save players with temporary id
  CHANGELOG.md
  resources/[dg]/dg-core/typescript/src/server/modules/users/helpers.users.ts
  resources/[dg]/dg-core/typescript/src/server/modules/users/managers/IdentifierManager.ts
  resources/[dg]/dg-core/typescript/src/server/modules/users/module.users.ts
Due: JS linting, TS dev build, TS prod build

fix(objectManager): actually set flagthread array
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/modules/objectManager/service.objectmanager.ts
Due: JS linting, TS dev build, TS prod build

feat(objectplacer): actually set alpha of ghost entity
  resources/[dg]/dg-misc/typescript/src/client/services/objectPlacer.ts
Due: JS linting, TS dev build, TS prod build

fix(lockers): fix wrong allowedtime in notification
  CHANGELOG.md
  resources/[dg]/dg-lockers/typescript/src/server/classes/Locker.ts
Due: JS linting, TS dev build, TS prod build

feat(carboosting): force chances when scratching & payback crypto on scuff finish
  resources/[dg]/dg-carboosting/typescript/src/server/classes/boost.ts
Due: JS linting, TS dev build, TS prod build

fix(config/tsup): disable minify + do not export our script default export bcs it doesn't exist
  packages/config/tsup/index.js
  packages/config/tsup/sentry.js
Due: JS linting, TS dev build, TS prod build

fix(api): put token in query instead as parameter
  resources/[dg]/dg-api/typescript/src/server/routes/token.ts
Due: JS linting, TS dev build, TS prod build

chore(vehicles): remove some vehicles from carboostpool
  CHANGELOG.md
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

refactor(queue): add QoL changes
  CHANGELOG.md
  resources/[dg]/dg-core/typescript/src/server/modules/queue/managers/queuemanager.ts
Due: JS linting, TS dev build, TS prod build

chore(core): remove debug leftover
  resources/[dg]/dg-core/typescript/src/server/modules/queue/managers/queuemanager.ts
Due: JS linting, TS dev build, TS prod build

chore: update submodules
  CHANGELOG.md
Due: none

fix(api): remove prefix from endpoint
  resources/[dg]/dg-api/typescript/src/server/routes/admin/report.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles/bennyOrder): cleanup zones after receiving items
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/laptop/service.laptop.ts
Due: JS linting, TS dev build, TS prod build

feat(reputations): allow setting offline player reputation
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/server/modules/reputation/controller.reputation.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/reputation/service.reputation.ts
Due: JS linting, TS dev build, TS prod build

fix(seatbelts): validate current vehicle after harness taskbar finish
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/seatbelts/service.seatbelts.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/nos/logger.nos.ts
Due: JS linting, TS dev build, TS prod build

chore(nos): remove log on nosamount update
  resources/[dg]/dg-vehicles/typescript/src/server/modules/nos/controller.nos.ts
Due: JS linting, TS dev build, TS prod build

feat(seatbelts): allow canceling harness taskbar & fix icon percentage
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/seatbelts/controller.seatbelts.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/seatbelts/service.seatbelts.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/seatbelts/logger.seatbelts.ts
Due: JS linting, TS dev build, TS prod build

chore(vehicles): remove some weaponzed vehicles from carboostpool
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

feat(vehicles): debugging around vehicles getting deleted & missionentity enforcing thread
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/services/index.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/missionentity.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/dev/controller.dev.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/dev/service.dev.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/index.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/missionentity.ts
Due: JS linting, TS dev build, TS prod build

chore(vehicles): remove bike with boost from pdm
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

chore(prison): include some extra rooms of visitorbuilding in zone
  CHANGELOG.md
  resources/[dg]/dg-config/configs/police/prison.json
Due: validate json

fix(weathersync/weather): cancel changing promise when new change is applied
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/setWeather.ts
  resources/[dg]/dg-weathersync/typescript/src/client/modules/weather/constants.weather.ts
  resources/[dg]/dg-weathersync/typescript/src/client/modules/weather/controller.weather.ts
  resources/[dg]/dg-weathersync/typescript/src/client/modules/weather/service.weather.ts
  resources/[dg]/dg-weathersync/typescript/src/server/modules/weather/constants.weather.ts
  resources/[dg]/dg-weathersync/typescript/src/server/modules/weather/controller.weather.ts
  resources/[dg]/dg-weathersync/typescript/src/server/modules/weather/helpers.weather.ts
  resources/[dg]/dg-weathersync/typescript/src/server/modules/weather/logger.weather.ts
  resources/[dg]/dg-weathersync/typescript/src/server/modules/weather/service.weather.ts
  resources/[dg]/dg-weathersync/typescript/src/types/index.d.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): clear ownership thread when manually deleting
  resources/[dg]/dg-vehicles/typescript/src/server/modules/dev/service.dev.ts
Due: JS linting, TS dev build, TS prod build

feat(weathersync/time): serverside freeze option, dont override phone time on client freeze
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/setTime.ts
  resources/[dg]/dg-weathersync/typescript/src/client/modules/time/controller.time.ts
  resources/[dg]/dg-weathersync/typescript/src/client/modules/time/helpers.time.ts
  resources/[dg]/dg-weathersync/typescript/src/client/modules/time/service.time.ts
  resources/[dg]/dg-weathersync/typescript/src/server/modules/time/constants.time.ts
  resources/[dg]/dg-weathersync/typescript/src/server/modules/time/controller.time.ts
  resources/[dg]/dg-weathersync/typescript/src/server/modules/time/logger.time.ts
  resources/[dg]/dg-weathersync/typescript/src/server/modules/time/service.time.ts
  resources/[dg]/ts-shared/packages/server/src/classes/weather.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): ability to override default extras for individual models
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/upgrades/classes/manager.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/upgrades/classes/manager.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/shared/upgrades/constants.upgrades.ts
Due: JS linting, TS dev build, TS prod build

feat(carboosting): add vehicle radiuscenter to mail coords
  resources/[dg]/dg-carboosting/typescript/src/server/classes/boost.ts
Due: JS linting, TS dev build, TS prod build

feat(police): add pulling players from vehicle + cleanup util getClosestPlayer getters
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/client/controllers/ui.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/setTime.ts
  resources/[dg]/dg-criminal/typescript/src/client/modules/cornerselling/service.cornerselling.ts
  resources/[dg]/dg-lib/client/cl_raycastinfo.lua
  resources/[dg]/dg-misc/typescript/src/client/services/tackle.ts
  resources/[dg]/dg-police/typescript/src/client/client.ts
  resources/[dg]/dg-police/typescript/src/client/modules/evidence/service.evidence.ts
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/modules/carry.ts
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/modules/cuffs.ts
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/modules/escort.ts
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/modules/rob.ts
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/modules/vehicle.ts
  resources/[dg]/dg-police/typescript/src/client/services/pullfromvehicle.ts
  resources/[dg]/dg-polytarget/client/cl_main.lua
  resources/[dg]/dg-radialmenu/typescript/src/client/services/radialmenu.ts
  resources/[dg]/dg-scenes/client/cl_functions.lua
  resources/[dg]/dg-vehicles/typescript/src/client/modules/keys/controller.keys.ts
  resources/[dg]/dg-weapons/typescript/src/client/modules/weapons/service.weapons.ts
  resources/[dg]/ts-shared/packages/client/src/classes/interaction.ts
  resources/[dg]/ts-shared/packages/client/src/classes/util.ts
  resources/[dg]/ts-shared/packages/client/src/classes/weapons.ts
Due: JS linting, TS dev build, TS prod build

feat(methrun): finish methrun on vehicle deletion
  CHANGELOG.md
  resources/[dg]/dg-criminal/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/methrun/service.methrun.ts
  resources/[dg]/dg-criminal/typescript/src/types/index.d.ts
Due: JS linting, TS dev build, TS prod build

chore(carboosting): rebalance higher class reputaitions/price
  CHANGELOG.md
  resources/[dg]/dg-carboosting/typescript/src/server/classes/boost.ts
  resources/[dg]/dg-config/configs/carboosting/classes/A+.json
  resources/[dg]/dg-config/configs/carboosting/classes/A.json
  resources/[dg]/dg-config/configs/carboosting/classes/S.json
  resources/[dg]/dg-config/configs/carboosting/classes/X.json
Due: validate json, JS linting, TS dev build, TS prod build

fix(bennysapp): prices should be numbers & actually multiple price with amount player buys
  CHANGELOG.md
  resources/[dg]/dg-config/configs/vehicles/laptop.json
  resources/[dg]/dg-vehicles/typescript/src/server/modules/laptop/service.laptop.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(chat): add animation to dice command
  CHANGELOG.md
  resources/[dg]/dg-chat/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-chat/typescript/src/server/helpers/commands.ts
Due: JS linting, TS dev build, TS prod build

fix(carboosting): add label to delivery blip
  resources/[dg]/dg-carboosting/typescript/src/client/services/boost.ts
Due: JS linting, TS dev build, TS prod build
