Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, Validate Errorlogger, validate db migrations, JS linting, JS building

validate json:
  stage: test
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

Validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  services:
  - name: mariadb:latest
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'set mysql_connection_string "mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4"' > ./config/mysql.cfg
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

JS building:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

feat(job/groups): ability to kick players
  resources/[dg]/dg-jobs/typescript/src/client/modules/groups/controller.groups.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/classes/Group.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/controller.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/jobcenter-app/components/currentGroup.tsx
Due: JS linting, JS building

tweak(dispatch): made call smaller ingame
  resources/[dg]/dg-ui/[src]/src/main/dispatch/component/call.tsx
  resources/[dg]/dg-ui/[src]/src/main/dispatch/styles/dispatch.scss
Due: JS linting, JS building

refactor(blipmanager): move to misc and make it actually work
  resources/[core]/dg-core/client/blipmanager.lua
  resources/[core]/dg-core/fxmanifest.lua
  resources/[dg]/dg-admin/typescript/src/client/service/playerBlips.ts
  resources/[dg]/dg-dispatch/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-dispatch/typescript/src/client/services/dispatch.ts
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/services/blipmanager.ts
  resources/[dg]/dg-sync/typescript/src/client/modules/coords/controller.coords.ts
  resources/[dg]/dg-vehicles/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/controller.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/carwash/zones.carwash.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/fuel/service.fuel.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/fuel/zones.fuel.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/mechanic/controller.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/vehicleshop/controller.vehicleshop.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/vehicleshop/services/quicksell.vehicleshop.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/blipmanager.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/inventory.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/sync.ts
  resources/[dg]/ts-shared/typescript/src/client/types/blipmanager.d.ts
  resources/[dg]/ts-shared/typescript/src/client/types/global.d.ts
Due: Validate Errorlogger, JS linting, JS building

fix(police): actually set cop req to 0 in devenv
  resources/[dg]/dg-police/typescript/src/server/services/config.ts
  resources/[dg]/dg-police/typescript/src/server/services/requirements.ts
Due: JS linting, JS building

fix(ui/gridgame): fix wrong usememo dependency
  resources/[dg]/dg-ui/[src]/src/main/gridgame/component.tsx
Due: JS linting, JS building

fix(inventory): fix itemname caching
  resources/[dg]/dg-inventory/typescript/src/client/services/cache.ts
Due: JS linting, JS building

refactor(storerobbery): more anims, cannot start minigame together, qol changes
  resources/[dg]/dg-config/configs/storerobbery.json
  resources/[dg]/dg-criminal/typescript/src/client/modules/weed/helpers.weed.ts
  resources/[dg]/dg-houserobbery/typescript/src/client/modules/house/helpers.house.ts
  resources/[dg]/dg-storerobbery/typescript/src/client/classes/LocationManager.ts
  resources/[dg]/dg-storerobbery/typescript/src/client/modules/registers/constants.registers.ts
  resources/[dg]/dg-storerobbery/typescript/src/client/modules/registers/controller.registers.ts
  resources/[dg]/dg-storerobbery/typescript/src/client/modules/registers/helpers.registers.ts
  resources/[dg]/dg-storerobbery/typescript/src/client/modules/registers/service.registers.ts
  resources/[dg]/dg-storerobbery/typescript/src/client/modules/safes/controller.safes.ts
  resources/[dg]/dg-storerobbery/typescript/src/client/modules/safes/service.safe.ts
  resources/[dg]/dg-storerobbery/typescript/src/server/classes/StateManager.ts
  resources/[dg]/dg-storerobbery/typescript/src/server/modules/registers/controller.registers.ts
  resources/[dg]/dg-storerobbery/typescript/src/server/modules/registers/service.registers.ts
  resources/[dg]/dg-storerobbery/typescript/src/server/modules/safes/constants.safes.ts
  resources/[dg]/dg-storerobbery/typescript/src/server/modules/safes/controller.safes.ts
  resources/[dg]/dg-storerobbery/typescript/src/server/modules/safes/service.safes.ts
  resources/[dg]/dg-storerobbery/typescript/src/types/index.d.ts
  resources/[dg]/dg-ui/[src]/src/assets/inventory/decoding_tool.png
  resources/[dg]/dg-ui/[src]/src/assets/inventory/lockpick.png
  resources/[dg]/ts-shared/typescript/src/client/classes/jobs.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/minigames.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/client/controllers/events.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/interaction.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/minigames.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/ui.ts
  resources/[dg]/ts-shared/typescript/src/server/controllers/events.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/minigames.d.ts
Due: validate json, JS linting, JS building

refactor(dgx): util event handler to player(un)loaded events
  resources/[dg]/dg-business/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-chat/typescript/src/server/classes/commandManager.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/controllers/accounts.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/crypto/controller.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/paycheck/controller.ts
  resources/[dg]/dg-heists/typescript/src/server/services/shop/controller.shop.ts
  resources/[dg]/dg-hospital/typescript/src/client/controller/events.ts
  resources/[dg]/dg-hospital/typescript/src/server/services/armor.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-inventory/typescript/src/client/modules/objects/controller.objects.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/controller.inventories.ts
  resources/[dg]/dg-jobs/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-jobs/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/classes/NameManager.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/controller.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/hud/controller.hud.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/radio/controller.radio.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/propattach/controller.propattach.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/reputation/controller.reputation.ts
  resources/[dg]/dg-phone/client/cl_main.lua
  resources/[dg]/dg-police/typescript/src/client/modules/prison/controller.prison.ts
  resources/[dg]/dg-police/typescript/src/server/modules/interactions/modules/cuffs.ts
  resources/[dg]/dg-police/typescript/src/server/modules/prison/controller.prison.ts
  resources/[dg]/dg-storerobbery/typescript/src/server/modules/safes/controller.safes.ts
  resources/[dg]/dg-ui/client/components/cl_info.lua
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/controller.keys.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/laptop/controller.laptop.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
Due: JS linting, JS building

chore(hospital): fix warnings during build
  resources/[dg]/dg-hospital/typescript/src/server/sv_logger.ts
Due: JS linting, JS building

fix(ui): properly use preference values for compass visibility
  resources/[dg]/dg-ui/client/components/cl_hud.lua
Due: none

tweak(blipmanager): default blips to shortrange
  resources/[dg]/dg-misc/typescript/src/client/services/blipmanager.ts
Due: JS linting, JS building

feat(police): add required players to requirements module
  resources/[dg]/dg-config/configs/labs.json
  resources/[dg]/dg-config/configs/materials/containers.json
  resources/[dg]/dg-config/configs/police/requirements.json
  resources/[dg]/dg-criminal/typescript/src/client/modules/cornerselling/service.cornerselling.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/server.ts
  resources/[dg]/dg-labs/client/cl_meth.lua
  resources/[dg]/dg-labs/client/cl_weed.lua
  resources/[dg]/dg-labs/server/sv_main.lua
  resources/[dg]/dg-materials/typescript/src/server/modules/containers/controller.containers.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/containers/service.containers.ts
  resources/[dg]/dg-materials/typescript/src/types/index.d.ts
  resources/[dg]/dg-police/typescript/src/client/services/requirements.ts
  resources/[dg]/dg-police/typescript/src/server/services/config.ts
  resources/[dg]/dg-police/typescript/src/server/services/requirements.ts
  resources/[dg]/dg-police/typescript/src/types/index.d.ts
  resources/[dg]/dg-storerobbery/typescript/src/client/modules/registers/service.registers.ts
  resources/[dg]/dg-storerobbery/typescript/src/client/modules/safes/service.safe.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/jobs.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/sync.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/jobs.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/sync.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
Due: validate json, JS linting, JS building

refactor(dispatch): add blipsenabled check before doing logic
  resources/[dg]/dg-dispatch/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-dispatch/typescript/src/client/services/blips.ts
  resources/[dg]/dg-sync/typescript/src/server/modules/coords/service.coords.ts
Due: JS linting, JS building

fix(admin): only run resourcestop handler for dg-admin
  resources/[dg]/dg-admin/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-admin/typescript/src/client/modules/commands/controller.commands.ts
  resources/[dg]/dg-admin/typescript/src/client/service/playerBlips.ts
Due: JS linting, JS building

refactor(entityblips): merge duped logic, optimize loops, add change sprite func
  resources/[dg]/dg-admin/typescript/src/client/service/playerBlips.ts
  resources/[dg]/dg-dispatch/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-dispatch/typescript/src/client/services/blips.ts
  resources/[dg]/dg-dispatch/typescript/src/server/services/blips.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/blip.ts
  resources/[dg]/ts-shared/typescript/src/client/types/blip.d.ts
Due: JS linting, JS building

refactor(dgx): improve getPlayersInVehicle function
  resources/[dg]/dg-misc/typescript/src/server/modules/particles/service.particles.ts
  resources/[dg]/dg-police/typescript/src/server/modules/badges/service.badges.ts
  resources/[dg]/dg-vehicles/typescript/src/client/controllers/zones.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/controller.keys.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
Due: JS linting, JS building

refactor(cornersell): heatmap based on gta zone, better ped interaction, more qol changes
  migrations/V27_modify_cornersellsales.sql
  resources/[dg]/dg-config/configs/criminal/cornerselling.json
  resources/[dg]/dg-criminal/typescript/src/client/modules/cornerselling/controller.cornerselling.ts
  resources/[dg]/dg-criminal/typescript/src/client/modules/cornerselling/service.cornerselling.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/cornerselling/controller.cornerselling.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/cornerselling/service.cornerselling.ts
  resources/[dg]/dg-criminal/typescript/src/types/index.d.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
Due: validate json, validate db migrations, JS linting, JS building

refactor(inventory): dont use dgx evt for inv item cache update
  resources/[dg]/dg-inventory/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-inventory/typescript/src/client/services/cache.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
  resources/[dg]/dg-peek/typescript/src/client/helpers/entries.ts
  resources/[dg]/dg-radialmenu/typescript/src/client/services/radialmenu.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/inventory.ts
Due: JS linting, JS building

refactor: replace some core GetPlayers with Util getAllPlayers
  resources/[dg]/dg-chat/typescript/src/server/classes/commandManager.ts
  resources/[dg]/dg-chat/typescript/src/server/helpers/commands.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/propattach/controller.propattach.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
Due: JS linting, JS building

chore(core): remove all remaining unused shit
  resources/[core]/dg-core/client/events.lua
  resources/[core]/dg-core/client/functions.lua
  resources/[core]/dg-core/client/main.lua
  resources/[core]/dg-core/config.lua
  resources/[core]/dg-core/server/commands.lua
  resources/[core]/dg-core/server/functions.lua
  resources/[core]/dg-core/server/main.lua
  resources/[core]/dg-core/shared.lua
  resources/[dg]/dg-business/typescript/src/server/classes/Business.ts
  resources/[dg]/dg-phone/server/sv_notes.lua
Due: JS linting, JS building

refactor(core): add cid to plyid map to core
  resources/[core]/dg-core/server/events.lua
  resources/[core]/dg-core/server/functions.lua
  resources/[core]/dg-core/server/player.lua
  resources/[dg]/dg-business/typescript/src/server/classes/Business.ts
  resources/[dg]/dg-business/typescript/src/server/services/business.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/classes/Account.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/helpers/actions.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/crypto/classes/CryptoManager.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/crypto/classes/CryptoWallet.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/paycheck/service.ts
  resources/[dg]/dg-gangs/typescript/src/server/classes/gang.ts
  resources/[dg]/dg-gangs/typescript/src/server/classes/gangmanager.ts
  resources/[dg]/dg-gangs/typescript/src/server/helpers.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
  resources/[dg]/dg-inventory/typescript/src/client/modules/itemboxes/controller.itemboxes.ts
  resources/[dg]/dg-inventory/typescript/src/server/controllers/controller.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/classes/item.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/fishing/service.fishing.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/classes/Group.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/classes/GroupManager.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/recycleped/service.recycleped.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/radio/controller.radio.ts
  resources/[dg]/dg-phone/server/sv_mails.lua
  resources/[dg]/dg-phone/server/sv_main.lua
  resources/[dg]/dg-ui/server/sv_info.lua
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/service.garages.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/classes/keymanager.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/garageApp.ts
  resources/[dg]/dg-weapons/typescript/src/server/modules/weapons/controller.weapons.ts
  resources/[dg]/ts-shared/typescript/src/server/types/core.d.ts
Due: JS linting, JS building

fix(bennys): fix admin bennys not closing properly
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/openBennys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/controller.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/service.bennys.ts
Due: JS linting, JS building

fix(core): check if cid is nil before set cidToPlyId map
  resources/[core]/dg-core/server/player.lua
Due: none

fix(criminal): fix selling to ped while in animation, fix blackmoney randomsell
  resources/[dg]/dg-criminal/typescript/src/client/modules/cornerselling/controller.cornerselling.ts
  resources/[dg]/dg-criminal/typescript/src/client/modules/cornerselling/service.cornerselling.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/blackmoney/service.blackmoney.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/inventory.ts
Due: JS linting, JS building

chore(inventory): add description to ammo items
  resources/[dg]/dg-config/configs/inventory/items.json
Due: validate json

refactor(inventory): cleanup exports and optimize code
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/giveItem.ts
  resources/[dg]/dg-blackout/typescript/src/client/controllers/powerstation.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/cornerselling/controller.cornerselling.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/weed/controller.weed.ts
  resources/[dg]/dg-doorlock/typescript/src/client/services/doors.ts
  resources/[dg]/dg-heists/typescript/src/client/modules/fleeca/controller.fleeca.ts
  resources/[dg]/dg-heists/typescript/src/server/services/laptop/controller.laptop.ts
  resources/[dg]/dg-heists/typescript/src/server/services/shop/controller.shop.ts
  resources/[dg]/dg-hospital/typescript/src/server/services/armor.ts
  resources/[dg]/dg-houserobbery/typescript/src/client/modules/house/helpers.house.ts
  resources/[dg]/dg-inventory/README.md
  resources/[dg]/dg-inventory/typescript/src/server/controllers/controller.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/controller.inventories.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/manager.inventories.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/classes/item.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/controllers.items.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/manager.items.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/locations/manager.locations.ts
  resources/[dg]/dg-inventory/typescript/src/server/util.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/scrapyard/controller.scrapyard.ts
  resources/[dg]/dg-labs/server/sv_meth.lua
  resources/[dg]/dg-materials/typescript/src/client/modules/radiotowers/service.radiotowers.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/containers/controller.containers.ts
  resources/[dg]/dg-materials/typescript/src/server/services/melting.ts
  resources/[dg]/dg-storerobbery/typescript/src/client/modules/registers/service.registers.ts
  resources/[dg]/dg-storerobbery/typescript/src/server/modules/safes/controller.safes.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/carwash/service.carwash.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/upgrades/items.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/mechanic/service.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/nos/controller.nos.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/seatbelts/controller.seatbelts.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/service.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/upgrades/controller.upgrades.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/inventory.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/inventory.ts
Due: JS linting, JS building

fix(clothing): who the fuck uses the callback
  resources/[core]/dg-core/client/functions.lua
  resources/[qb]/qb-clothing/client/main.lua
Due: none

fix(radio): fix radio not disconnecting when dropping item
  resources/[dg]/dg-misc/typescript/src/server/modules/radio/controller.radio.ts
Due: JS linting, JS building

chore(core): readd func i made an oopsie
  resources/[core]/dg-core/shared.lua
Due: none

refactor(anchor): toggle option in radial, reapply when owner changes
  resources/[dg]/dg-misc/typescript/src/client/services/boatanchor.ts
  resources/[dg]/dg-misc/typescript/src/server/services/boatanchor.ts
  resources/[dg]/dg-radialmenu/typescript/src/client/data/main.ts
Due: JS linting, JS building

refactor(notifications): provide overrideid instead of retval id
  resources/[dg]/dg-labs/server/sv_meth.lua
  resources/[dg]/dg-labs/server/sv_weed.lua
  resources/[dg]/dg-ui/client/components/cl_notification.lua
  resources/[dg]/dg-vehicles/typescript/src/client/modules/stances/constants.stances.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/stances/service.stances.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/ui.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/ui.ts
Due: JS linting, JS building

fix(anticheat): remove pistol_mk2 as nammed weapon
  resources/[dg]/dg-config/configs/anticheat.json
Due: validate json

fix(lockpick): d class lockpick speed got rounded to 0 sometimes
  resources/[dg]/dg-vehicles/typescript/src/client/modules/keys/controller.keys.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/service.keys.ts
Due: JS linting, JS building

refactor(mails): show newest in top of list
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/mail-app/events.ts
  resources/[dg]/dg-ui/[src]/src/types/apps/phone.d.ts
Due: JS linting, JS building

fix(vehicles): can get in trunk when trunk is broken off
  resources/[dg]/dg-vehicles/typescript/src/client/services/getintrunk.ts
Due: JS linting, JS building

fix(interactions): fix vehicle interactions not being possible on big vehicles
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/modules/vehicle.ts
  resources/[dg]/dg-police/typescript/src/server/modules/interactions/modules/vehicle.ts
Due: JS linting, JS building

feat(sync): add own implementation of setVehicleDoorOpen & setVehicleOnGround + types for dgx
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/explodeVehicle.ts
  resources/[dg]/dg-inventory/typescript/src/client/classes/contextmanager.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/scrapyard/service.scrapyard.ts
  resources/[dg]/dg-sync/typescript/src/client/modules/natives/constants.natives.ts
  resources/[dg]/dg-sync/typescript/src/server/modules/natives/controller.natives.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/mechanic/service.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/doors.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/flipcar.ts
  resources/[dg]/dg-vehicles/typescript/src/server/controller/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/doors.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/index.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/sync.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/sync.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/syncnatives.d.ts
Due: JS linting, JS building

fix(admin): fix attach command sending server entity handle to client
  resources/[dg]/dg-admin/typescript/src/client/modules/commands/controller.commands.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/attach.ts
Due: JS linting, JS building

feat(anticheat): move allowed weapons to config, different damage mod check penalty
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/constants.anticheat.ts
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/service.anticheat.ts
  resources/[dg]/dg-auth/typescript/src/types/index.d.ts
  resources/[dg]/dg-config/configs/anticheat.json
Due: validate json, JS linting, JS building

Path conditions:
  validate json: any of: **/*.json
  Validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: migrations/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  JS building: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
