Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock

fix(garages): prevent open garage from showing when looking at a near vehicle
  resources/[dg]/dg-radialmenu/typescript/src/client/data/main.ts
Due: JS linting, TS dev build, TS prod build

fix(clothing): make playerskin save function not garbage
  resources/[qb]/qb-clothing/server/main.lua
Due: none

fix(financials): paycheck notificatie toont taxed price
  CHANGELOG.md
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/classes/Account.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/helpers/actions.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/paycheck/service.ts
Due: JS linting, TS dev build, TS prod build

chore(dpemotes): removed non-existing suggestion
  CHANGELOG.md
  resources/[standalone]/dpemotes/Client/Emote.lua
Due: none

tweak(mechanic): slower decay of service parts
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/items.json
Due: validate json

feat(doorlock): remove mrpd main doors
  CHANGELOG.md
  resources/[dg]/dg-doorlock/seeding/doors.json
Due: validate json

fix(admin): fix addjobwhitelist when overriding cid
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/addJobWhitelist.ts
Due: JS linting, TS dev build, TS prod build

tweak(dispatch): lowered stealvehicle alert chance
  CHANGELOG.md
  resources/[dg]/dg-config/configs/dispatch.json
Due: validate json

tweak(inventory): longer porto decaytime
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/items.json
Due: validate json

fix(scrapyard): rotated zone
  CHANGELOG.md
  resources/[dg]/dg-jobs/typescript/src/client/modules/scrapyard/service.scrapyard.ts
Due: JS linting, TS dev build, TS prod build

tweak(inventory): faster red background for broken items
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/item.tsx
Due: JS linting, TS dev build, TS prod build

fix(vehicles): vehicle are no longer undriveable after stall without keys
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/fixVehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/controller.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/service.status.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/vehicles.ts
Due: JS linting, TS dev build, TS prod build

fix(bennys): more locations
  CHANGELOG.md
  resources/[dg]/dg-vehicles/seeding/bennys.json
Due: validate json

feat(stores): add hardware store in sandy
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/shops.json
  resources/[dg]/dg-config/configs/npcs.json
Due: validate json

tweak(jobs): lowered skin prices
  CHANGELOG.md
  resources/[dg]/dg-config/configs/jobs/hunting.json
Due: validate json

fix(ci): add unschedule, do not reschedule and remove call keyword
  .gitlab-ci.yml
Due: none

fix(ci): do not unschedule when running normal pipeline
  .gitlab-ci.yml
Due: none

fix(ci): it really does not like the call function
  .gitlab-ci.yml
Due: none

docs(changelog): new version
  CHANGELOG.md
Due: none

fix(houserobbery): fix shelltypes not being fetched
  CHANGELOG.md
  resources/[dg]/dg-houserobbery/typescript/src/client/modules/house/controller.house.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/controllers/events.ts
Due: JS linting, TS dev build, TS prod build

fix(items): fix decayrate typo
  resources/[dg]/dg-config/configs/inventory/items.json
Due: validate json

fix(recycleped): fix wrong inventory id
  CHANGELOG.md
  resources/[dg]/dg-materials/typescript/src/server/modules/recycleped/controller.recycleped.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): add flatbed to vehicles so can be repaired
  CHANGELOG.md
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

fix(ci): do not install all dependencies when validating DB
  .gitlab-ci.yml
Due: none

fix(vehicles): temp change police vehicles to C class
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

tweak(financials): reduce crypto prices
  CHANGELOG.md
  resources/[dg]/dg-config/configs/financials.json
Due: validate json

fix(blips):typfout ( of brainfart idk )
  resources/[dg]/dg-dispatch/typescript/src/client/services/blips.ts
Due: JS linting, TS dev build, TS prod build

fix(inventory): change to correct item image
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/items.json
Due: validate json

chore(inventory): reduce server console log spam
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/server/classes/contextmanager.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/classes/item.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): bikes no longer have outside locks/required hotwire
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/keys/controller.keys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/keys/service.keys.ts
  resources/[dg]/dg-vehicles/typescript/src/server/controller/baseevents.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/constants.keys.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/controller.keys.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/service.keys.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/baseevents.ts
Due: JS linting, TS dev build, TS prod build

fix(salestickets): can no longer see hidden metadata
  CHANGELOG.md
  resources/[dg]/dg-restaurants/typescript/src/server/classes/restaurant.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/mechanic/service.mechanic.ts
Due: JS linting, TS dev build, TS prod build

refactor(propattach): lazy load models, new props only added when propattach enabled
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/helpers.propattach.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/service.propattach.ts
  resources/[dg]/dg-misc/typescript/src/types/propattach.d.ts
Due: JS linting, TS dev build, TS prod build

fix(hospital): proper armor restore on login
  CHANGELOG.md
  resources/[dg]/dg-hospital/typescript/src/server/services/armor.ts
Due: JS linting, TS dev build, TS prod build

feat(hospital): timeout at checking to avoid spam
  CHANGELOG.md
  resources/[dg]/dg-hospital/typescript/src/client/modules/job/service.job.ts
Due: JS linting, TS dev build, TS prod build

fix(keys): add allowDisabled keys flag to handlers
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-lib/client/cl_keybind.lua
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/modules/carry.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/interaction.ts
Due: JS linting, TS dev build, TS prod build

refactor(inventory): moved item decay to a unix time based system
  packages/db/prisma/migrations/20230220223721_refactor_item_quality_time/migration.sql
  packages/db/prisma/schema.prisma
  resources/[dg]/dg-inventory/typescript/src/server/classes/itemdatamanager.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/classes/item.ts
  resources/[dg]/dg-inventory/typescript/src/server/services/repository.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/recycleped/service.recycleped.ts
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/dragpreview.tsx
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/item.tsx
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/itemtooltip.tsx
  resources/[dg]/dg-ui/[src]/src/types/apps/inventory.d.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/inventory.d.ts
Due: JS linting, TS dev build, TS prod build

feat(houserob): add individual ply timeout, build zones for all plys
  CHANGELOG.md
  resources/[dg]/dg-build/typescript/src/client/data/plans.ts
  resources/[dg]/dg-config/configs/houserobbery.json
  resources/[dg]/dg-houserobbery/typescript/src/client/modules/house/controller.house.ts
  resources/[dg]/dg-houserobbery/typescript/src/client/modules/house/helpers.house.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/server.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/services/grouppicker.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/inventory.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(paycheck): fix not awaiting promise
  CHANGELOG.md
  resources/[dg]/dg-financials/typescript/src/server/modules/paycheck/service.ts
Due: JS linting, TS dev build, TS prod build

fix(admin): ply names for plys already in server
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/client/service/names.ts
  resources/[dg]/dg-admin/typescript/src/server/services/names.ts
Due: JS linting, TS dev build, TS prod build
