Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml

fix: another go at SYN ACK false positives
  resources/[dg]/ts-shared/packages/client/src/classes/events.ts
Due: JS linting, TS dev build, TS prod build

feat(gangs): add gang app messages
  CHANGELOG.md
  packages/db/package.json
  packages/db/prisma/migrations/20231111133250_add_gang_app_msgs/migration.sql
  packages/db/prisma/schema.prisma
  resources/[dg]/dg-gangs/typescript/src/client/controllers/ui.ts
  resources/[dg]/dg-gangs/typescript/src/server/classes/gang.ts
  resources/[dg]/dg-gangs/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-gangs/typescript/src/server/services/repository.ts
  resources/[dg]/dg-gangs/typescript/src/types/index.d.ts
  resources/[dg]/dg-ui/[src]/src/components/inputs.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/apps/gang-app/pages/home.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/styles/gang.scss
  resources/[dg]/dg-ui/[src]/src/types/apps/laptop.d.ts
Due: validate json, validate db migrations, JS linting, TS dev build, TS prod build

refactor(racing): rewrite countdown logic + smoll fixes
  CHANGELOG.md
  resources/[dg]/dg-racing/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-racing/typescript/src/client/services/race.ts
  resources/[dg]/dg-racing/typescript/src/server/services/race.ts
Due: JS linting, TS dev build, TS prod build

fix(ci): do not run unneeded jobs on schedule
  .gitlab-ci.yml
Due: none

fix(ci): ts prod build rules
  .gitlab-ci.yml
Due: none

feat(config): add notepad item to shop
  resources/[dg]/dg-config/configs/inventory/shops.json
Due: validate json

feat(vehicles): Added new cheap imports + kofi teejay
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

fix(auth): fix inconsistent map key
  resources/[dg]/dg-auth/typescript/src/server/services/eventTokens.ts
Due: JS linting, TS dev build, TS prod build

fix(race): do not clean placed objects
  resources/[dg]/dg-racing/typescript/src/client/services/race.ts
Due: JS linting, TS dev build, TS prod build

feat(racing): add notification when ghosting is temp disabled
  CHANGELOG.md
  resources/[dg]/dg-racing/typescript/src/client/services/ghosting.ts
Due: JS linting, TS dev build, TS prod build

feat(gang): added parking, clothing, doorlock for nrgy
  resources/[dg]/dg-doorlock/seeding/doors.json
  resources/[dg]/dg-vehicles/seeding/garages/gang_nrgy.json
  resources/[qb]/qb-clothing/config.lua
Due: validate json

fix(vehicles): fixed orientation for car spawn.
  resources/[dg]/dg-vehicles/seeding/garages/gang_soduko.json
Due: validate json

fix(vehicles): adjusted heading for car spawn for nrgy gang
  resources/[dg]/dg-vehicles/seeding/garages/gang_nrgy.json
Due: validate json

feat(auth): do token distribution in queue form
  resources/[dg]/dg-auth/typescript/src/server/services/eventTokens.ts
Due: JS linting, TS dev build, TS prod build

feat(racing): only show blips for checkpoints that need to be passed
  CHANGELOG.md
  resources/[dg]/dg-racing/typescript/src/client/services/blips.ts
Due: JS linting, TS dev build, TS prod build

fix(clothing): fix the config
  resources/[qb]/qb-clothing/config.lua
Due: none

feat(racing): add sound when passing checkpoints
  CHANGELOG.md
  resources/[dg]/dg-racing/typescript/src/client/services/race.ts
Due: JS linting, TS dev build, TS prod build

fix(auth): also check against stored token
  resources/[dg]/dg-auth/typescript/src/server/services/eventTokens.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): An S too much ... fml
  resources/[dg]/dg-vehicles/seeding/garages/gang_nrgy.json
Due: validate json

fix: typo
  README.md
Due: none

chore: update flake file
  flake.lock
  flake.nix
Due: none

chore: remove need for internal package
  pnpm-lock.yaml
  resources/[dg]/dg-ui/[src]/index.html
  resources/[dg]/dg-ui/[src]/package.json
  resources/[dg]/dg-ui/[src]/src/index.tsx
Due: validate json, JS linting, TS dev build, TS prod build

chore: do not init panel tokens + more docs
  README.md
  resources/[dg]/dg-auth/typescript/src/server/services/panelTokens.ts
  resources/[dg]/dg-config/configs/main.json
Due: validate json, JS linting, TS dev build, TS prod build

chore: remove all references to self-hosted sentry instance
  .sentryclirc
  packages/config/tsup/sentry.js
  resources/[dg]/dg-admin/ui/src/main.ts
  resources/[dg]/dg-chars/ui/src/main.ts
  resources/[dg]/dg-chat/ui/src/main.ts
  resources/[dg]/dg-core/typescript/package.json
  resources/[dg]/dg-logs/server/sv_sentry.lua
  resources/[dg]/dg-ui/[src]/src/index.tsx
  resources/[dg]/dg-ui/[src]/vite.config.ts
  resources/[dg]/ts-shared/packages/server/src/helpers/sentry.ts
  resources/[dg]/ts-shared/typescript/package.json
Due: validate json, JS linting, TS dev build, TS prod build

docs: Mention the no support explicitly
  README.md
Due: none

docs: missing enter for newline
  README.md
Due: none
