Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

validate json:
  stage: test
  image: node:16
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  image: node:16
  services:
  - name: mariadb:10.7
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'DATABASE_URL=mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4' > ./packages/db/.env
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - corepack enable
  ...

TS dev build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - corepack enable
  ...

TS prod build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - corepack enable
  ...

fix(core): correctly cast playerIds to numbers & correctly remove identifiers
  CHANGELOG.md
  resources/[dg]/dg-core/typescript/src/server/moduleController.ts
  resources/[dg]/dg-core/typescript/src/server/modules/characters/classes/player.ts
  resources/[dg]/dg-core/typescript/src/server/modules/characters/module.characters.ts
  resources/[dg]/dg-core/typescript/src/server/modules/users/managers/IdentifierManager.ts
  resources/[dg]/dg-core/typescript/src/server/modules/users/module.users.ts
Due: JS linting, TS dev build, TS prod build

fix(auth): dont do invis/alpha checks when cuffed or down
  resources/[dg]/dg-admin/typescript/src/server/modules/penalties/service.penalties.ts
  resources/[dg]/dg-auth/typescript/src/client/modules/anticheat/service.anticheat.ts
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/service.anticheat.ts
Due: JS linting, TS dev build, TS prod build

feat(criminal/parkingmeters): add better robbing animation & decrease lockpick quality on fail
  resources/[dg]/dg-criminal/typescript/src/client/modules/parkingmeters/helpers.parkingmeters.ts
  resources/[dg]/dg-criminal/typescript/src/client/modules/parkingmeters/service.parkingmeters.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/parkingmeters/service.parkingmeters.ts
Due: JS linting, TS dev build, TS prod build

fix(houserobbery): correct loot item name
  resources/[dg]/dg-config/configs/houserobbery/config.json
Due: validate json

feat(admin): command to copy entity coords
  resources/[dg]/dg-admin/typescript/src/client/modules/commands/controller.commands.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/copyCoords.ts
Due: JS linting, TS dev build, TS prod build

feat(hospital): keep weapon on armor use
  CHANGELOG.md
  resources/[dg]/dg-hospital/typescript/src/server/services/armor.ts
Due: JS linting, TS dev build, TS prod build

feat(phone/twitter): add reply button & change retweet behaviour
  CHANGELOG.md
  resources/[dg]/dg-phone/typescript/src/server/modules/twitter/controller.twitter.ts
  resources/[dg]/dg-phone/typescript/src/server/modules/twitter/service.twitter.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/twitter-app/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/twitter-app/components/twitter.tsx
Due: JS linting, TS dev build, TS prod build

feat(heists): add jewelry heist + add police detcord item
  CHANGELOG.md
  resources/[dg]/dg-config/configs/anticheat.json
  resources/[dg]/dg-config/configs/criminal/fence.json
  resources/[dg]/dg-config/configs/heists/jewelry.json
  resources/[dg]/dg-config/configs/heists/locations/jewelry.json
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/inventory/shops.json
  resources/[dg]/dg-config/configs/npcs.json
  resources/[dg]/dg-config/configs/police/requirements.json
  resources/[dg]/dg-doorlock/seeding/doors.json
  resources/[dg]/dg-doorlock/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-doorlock/typescript/src/client/helpers/doors.ts
  resources/[dg]/dg-doorlock/typescript/src/client/helpers/scenes.ts
  resources/[dg]/dg-doorlock/typescript/src/client/services/doors.ts
  resources/[dg]/dg-doorlock/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-doorlock/typescript/src/server/controllers/exports.ts
  resources/[dg]/dg-doorlock/typescript/src/server/services/doors.ts
  resources/[dg]/dg-doorlock/typescript/src/types/index.d.ts
  resources/[dg]/dg-heists/typescript/src/client/client.ts
  resources/[dg]/dg-heists/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-heists/typescript/src/client/modules/jewelry/constants.jewelry.ts
  resources/[dg]/dg-heists/typescript/src/client/modules/jewelry/controller.jewelry.ts
  resources/[dg]/dg-heists/typescript/src/client/modules/jewelry/index.ts
  resources/[dg]/dg-heists/typescript/src/client/modules/jewelry/service.jewelry.ts
  resources/[dg]/dg-heists/typescript/src/client/services/locations.ts
  resources/[dg]/dg-heists/typescript/src/server/classes/heistlocation.ts
  resources/[dg]/dg-heists/typescript/src/server/classes/heistmanager.ts
  resources/[dg]/dg-heists/typescript/src/server/classes/typemanagers/jewelrymanager.ts
  resources/[dg]/dg-heists/typescript/src/server/classes/typemanagers/paletomanager.ts
  resources/[dg]/dg-heists/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-heists/typescript/src/types/index.d.ts
  resources/[dg]/dg-heists/typescript/src/types/jewelry.d.ts
  resources/[dg]/dg-localsounds/html/sounds/breaking_vitrine_glass.ogg
  resources/[dg]/dg-ui/[src]/src/assets/inventory/detcord.png
  resources/[dg]/dg-ui/[src]/src/assets/inventory/jewelry_bracelet.png
  resources/[dg]/dg-ui/[src]/src/assets/inventory/jewelry_necklace.png
  resources/[dg]/dg-ui/[src]/src/assets/inventory/jewelry_ring.png
  resources/[dg]/dg-ui/[src]/src/assets/inventory/jewelry_sd_card.png
  resources/[dg]/ts-shared/typescript/src/server/classes/doorlock.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(stancing): filter undefined stance values when comparing against original
  resources/[dg]/dg-vehicles/typescript/src/server/modules/stances/service.stances.ts
Due: JS linting, TS dev build, TS prod build

chore(vehicles): add new kofi vehicles + handling changes for existing kofi vehicles
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

fix(stancing): fix calico upgrade stancing
  CHANGELOG.md
  resources/[dg]/dg-config/configs/vehicles/stances.json
Due: validate json

fix(admin): forgot to undo when commiting
  resources/[dg]/dg-admin/typescript/src/client/modules/commands/controller.commands.ts
Due: JS linting, TS dev build, TS prod build

fix(core): default to apartments if character position is out of bounds
  CHANGELOG.md
  resources/[dg]/dg-core/typescript/src/server/modules/characters/classes/player.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): add runtime changable engine sounds
  CHANGELOG.md
  packages/db/prisma/migrations/20230716224733_add_player_vehicles_engine_sounds/migration.sql
  packages/db/prisma/schema.prisma
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/changeVehicleEngineSound.ts
  resources/[dg]/dg-config/configs/vehicles/enginesounds.json
  resources/[dg]/dg-vehicles/typescript/src/client/services/enginesounds.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/index.ts
  resources/[dg]/dg-vehicles/typescript/src/server/db/repository.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/server.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/enginesounds.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/index.ts
  resources/[dg]/dg-vehicles/typescript/src/types/vehicle.d.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/vehicles.ts
  types/vehicles.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(impound): only disallow impound when owner CID is 1000 instead of all policevehicles
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/identification/service.id.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/impound/service.impound.ts
Due: JS linting, TS dev build, TS prod build

fix(police): also stop escorting when stopping all interactions
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/server/modules/interactions/modules/escort.ts
  resources/[dg]/dg-police/typescript/src/server/modules/interactions/service.interactions.ts
Due: JS linting, TS dev build, TS prod build

feat(kingpills): get new location on finish, more locations, looting animation
  CHANGELOG.md
  resources/[dg]/dg-business/typescript/src/client/modules/kingpills/controller.kingpills.ts
  resources/[dg]/dg-business/typescript/src/client/modules/kingpills/service.kingpills.ts
  resources/[dg]/dg-business/typescript/src/server/modules/kingpills/controller.kingpills.ts
  resources/[dg]/dg-business/typescript/src/server/modules/kingpills/service.kingpills.ts
  resources/[dg]/dg-config/configs/business/businesses/kingpills.json
Due: validate json, JS linting, TS dev build, TS prod build

fix(tools): accidentally commited commented out script because i fucked up lol
  tools/update-versions.py
Due: none

chore: update submodules
  CHANGELOG.md
Due: none

fix(vehicles): fix typo in engine sound hash name
  CHANGELOG.md
  resources/[dg]/dg-config/configs/vehicles/enginesounds.json
Due: validate json

chore(loggers): change spamming info logs to silly/debug
  resources/[dg]/dg-core/typescript/src/server/modules/characters/classes/player.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/classes/Account.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/classes/PermissionsManager.ts
  resources/[dg]/dg-hospital/typescript/src/server/modules/needs/service.needs.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/locations/manager.locations.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/radiotowers/controller.radiotowers.ts
Due: JS linting, TS dev build, TS prod build

fix(criminal/parkingmeters): inverse lockpick itemcheck
  CHANGELOG.md
  resources/[dg]/dg-criminal/typescript/src/server/modules/parkingmeters/service.parkingmeters.ts
Due: JS linting, TS dev build, TS prod build

fix(ui/phone): forgot to replace old enum calltypes with strings in UI events
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/phone-app/events.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/phone-app/lib.ts
  resources/[dg]/dg-ui/[src]/src/types/apps/phone.d.ts
Due: JS linting, TS dev build, TS prod build

fix(phone/twitter/ui): fix mutating array which does not cause rerender when adding new tweet
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/twitter-app/events.ts
Due: JS linting, TS dev build, TS prod build

feat(auth): cache steamids to not serialize statebag every event validation
  resources/[dg]/dg-api/typescript/src/server/routes/token.ts
  resources/[dg]/dg-auth/typescript/src/server/controllers/exports.ts
  resources/[dg]/dg-auth/typescript/src/server/modules/authTokens/controller.ts
  resources/[dg]/dg-auth/typescript/src/server/modules/authTokens/service.ts
  resources/[dg]/dg-auth/typescript/src/server/server.ts
  resources/[dg]/dg-auth/typescript/src/server/services/panelTokens.ts
  resources/[dg]/dg-auth/typescript/src/server/services/steamids.ts
  resources/[dg]/dg-auth/typescript/src/server/sv_util.ts
  resources/[dg]/dg-core/typescript/src/server/modules/users/managers/IdentifierManager.ts
Due: JS linting, TS dev build, TS prod build

chore(materials/dumpsters): lower special item chance now that players know its there
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/dumpsters.json
Due: validate json

feat(houserobbery): add weight to loot items
  resources/[dg]/dg-config/configs/houserobbery/config.json
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/services/config.ts
  resources/[dg]/dg-houserobbery/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(vehicles/info): dont log when no missing/invalid models
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/info/service.info.ts
Due: JS linting, TS dev build, TS prod build

chore(houserobbery): remove some scuffed locations
  CHANGELOG.md
  resources/[dg]/dg-config/configs/houserobbery/medium.json
Due: validate json

fix(vehicleshop): remove leftover important log when returning vehicle
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/services/testdrive.vehicleshop.ts
Due: JS linting, TS dev build, TS prod build

fix(heists/jewelry): fix vitrines not overriding when entering & state still on dev value
  CHANGELOG.md
  resources/[dg]/dg-config/configs/heists/jewelry.json
  resources/[dg]/dg-heists/typescript/src/client/modules/jewelry/controller.jewelry.ts
  resources/[dg]/dg-heists/typescript/src/client/modules/jewelry/service.jewelry.ts
  resources/[dg]/dg-heists/typescript/src/server/classes/heistmanager.ts
  resources/[dg]/dg-heists/typescript/src/server/classes/typemanagers/jewelrymanager.ts
  resources/[dg]/dg-heists/typescript/src/types/jewelry.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

chore(financials): dont flag invalid phone target log as important
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/classes/Account.ts
Due: JS linting, TS dev build, TS prod build

feat(inventory): add no drop zones
  CHANGELOG.md
  resources/[dg]/dg-business/typescript/src/client/helpers.ts
  resources/[dg]/dg-business/typescript/src/client/service/businesses.ts
  resources/[dg]/dg-business/typescript/src/client/service/inside.ts
  resources/[dg]/dg-config/configs/inventory/nodropzones.json
  resources/[dg]/dg-inventory/typescript/src/client/classes/contextmanager.ts
  resources/[dg]/dg-inventory/typescript/src/client/client.ts
  resources/[dg]/dg-inventory/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-inventory/typescript/src/client/services/nodropzones.ts
  resources/[dg]/dg-inventory/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/controller.inventories.ts
  resources/[dg]/dg-inventory/typescript/src/server/server.ts
  resources/[dg]/dg-inventory/typescript/src/server/services/nodropzones.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/interaction.ts
  types/zones.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(criminal/oxyrun): fix horn only playing on entity owner & check if driver is player
  CHANGELOG.md
  resources/[dg]/dg-criminal/typescript/src/client/modules/oxyrun/controller.oxyrun.ts
  resources/[dg]/dg-criminal/typescript/src/client/modules/oxyrun/service.oxyrun.ts
Due: JS linting, TS dev build, TS prod build

fix(materials/containers): fix getgang using cid
  CHANGELOG.md
  resources/[dg]/dg-materials/typescript/src/server/modules/containers/service.containers.ts
Due: JS linting, TS dev build, TS prod build

fix(heists): option to supress error when getting unknown location
  CHANGELOG.md
  resources/[dg]/dg-heists/typescript/src/server/classes/heistmanager.ts
Due: JS linting, TS dev build, TS prod build

feat(gang/ui): add timestamp to gangfeed message
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/main/laptop/apps/gang-app/pages/feed.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/styles/gang.scss
Due: JS linting, TS dev build, TS prod build

feat(heists): add global timeout to heists
  CHANGELOG.md
  resources/[dg]/dg-config/configs/heists/fleeca.json
  resources/[dg]/dg-heists/typescript/src/server/classes/heistmanager.ts
  resources/[dg]/dg-heists/typescript/src/server/classes/typemanagers/fleecamanager.ts
  resources/[dg]/dg-heists/typescript/src/server/classes/typemanagers/jewelrymanager.ts
  resources/[dg]/dg-heists/typescript/src/server/classes/typemanagers/paletomanager.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(atmrobbery): check undefined when getting rope id
  CHANGELOG.md
  resources/[dg]/dg-criminal/typescript/src/client/modules/atm/service.atm.ts
Due: JS linting, TS dev build, TS prod build

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
