Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock

fix(admin/noclip): always clear movement thread before starting new
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/client/service/noclip.ts
Due: JS linting, TS dev build, TS prod build

fix(doorlock,houserobbery,vehicles): rewrite typo in dispatch text
  resources/[dg]/dg-doorlock/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/service.keys.ts
Due: JS linting, TS dev build, TS prod build

fix(propattach): change machette model
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/constants.propattach.ts
Due: JS linting, TS dev build, TS prod build

fix(crafting): add weedbud container to craftingbench
  resources/[dg]/dg-config/configs/materials/crafting.json
Due: validate json

fix(admin): properly default to 1 in giveitem
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/giveItem.ts
Due: JS linting, TS dev build, TS prod build

fix(inventory): use correct plyid to place drop when inv full
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/classes/item.ts
Due: JS linting, TS dev build, TS prod build

fix(melting): fix amount of required item check
  CHANGELOG.md
  resources/[dg]/dg-materials/typescript/src/server/services/melting.ts
Due: JS linting, TS dev build, TS prod build

fix(admin): remove % from date formatting + fixed getting unix date
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/penalties/service.penalties.ts
Due: JS linting, TS dev build, TS prod build

tweak(hunting): lower bait price
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/shops.json
Due: validate json

fix(crafting): add keycard to crafting bench
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/crafting.json
Due: validate json

feat(police/evidence): police can only use dnaswab if no ambu on duty
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/server/modules/evidence/controller.evidence.ts
Due: JS linting, TS dev build, TS prod build

fix(ui): use correct dependency to update visible app ref
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/lib/hooks/useApps.ts
Due: JS linting, TS dev build, TS prod build

fix(stress): set timeout before effect to avoid overwriting
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/modules/hud/controller.hud.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/hud/service.hud.ts
Due: JS linting, TS dev build, TS prod build

fix(mechanic): dont check item existence for mechanic ticket tune items
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/mechanic/controller.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/mechanic/services/parts.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/types/mechanic.d.ts
Due: JS linting, TS dev build, TS prod build

fix(hud/stress): set default value of stresstimeout
  resources/[dg]/dg-misc/typescript/src/client/modules/hud/service.hud.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): add recover vehicle to garage app if vehicle is out but entity not found
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/garage-app/components/VehicleList.tsx
  resources/[dg]/dg-vehicles/typescript/src/client/services/garageApp.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/getintrunk.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/garageApp.ts
Due: JS linting, TS dev build, TS prod build

refactor(phone): properly peek multiple notifs, use vhs instead of pxs
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/main/phone/os/phone/phone.tsx
Due: JS linting, TS dev build, TS prod build

feat(hud): keep speedometer when phone only has 1 notif
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/main/hud/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/hud/component/Speedometer.tsx
  resources/[dg]/dg-ui/[src]/src/main/hud/stores/useHudStore.ts
Due: JS linting, TS dev build, TS prod build

fix(financials): sort old and newly loaded together when getting transactions
  CHANGELOG.md
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/classes/Account.ts
Due: JS linting, TS dev build, TS prod build

fix(ui/financials): make accountlist scrollable
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/lib/devdata.ts
  resources/[dg]/dg-ui/[src]/src/main/financials/styles/financials.scss
Due: JS linting, TS dev build, TS prod build

tweak(melting): lower requirements
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/crafting.json
  resources/[dg]/dg-config/configs/materials/melting.json
Due: validate json

feat(materials): add amount randomizer to dumpster loot
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/dumpsters.json
  resources/[dg]/dg-materials/typescript/src/server/modules/dumpsters/controller.dumpsters.ts
  resources/[dg]/dg-materials/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

chore(seats): added upnatom & mrpd seats
  CHANGELOG.md
  resources/[dg]/dg-config/configs/seats.json
Due: validate json

feat(vehicles): can steal vehicle from npc
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/controllers/baseevents.ts
  resources/[dg]/dg-vehicles/typescript/src/server/controller/baseevents.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/identification/service.id.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/service.keys.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/seating.ts
Due: JS linting, TS dev build, TS prod build

tweak(justice): lowered cityhall id prices
  CHANGELOG.md
  resources/[dg]/dg-justice/typescript/src/client/services/cityhall.ts
  resources/[dg]/dg-justice/typescript/src/server/services/cityhall.ts
  resources/[dg]/dg-justice/typescript/src/types/index.d.ts
Due: JS linting, TS dev build, TS prod build

chore(admin): change permission of changemodel command
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/changeModel.ts
Due: JS linting, TS dev build, TS prod build

fix(cornersell): cannot sell to non networked or mission ent peds
  CHANGELOG.md
  resources/[dg]/dg-criminal/typescript/src/client/modules/cornerselling/service.cornerselling.ts
Due: JS linting, TS dev build, TS prod build

refactor(admin): add caching for player penalty points
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/menu/controller.menu.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/penaltyPoints/controller.penaltyPoints.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/penaltyPoints/service.penaltyPoints.ts
Due: JS linting, TS dev build, TS prod build

feat(auth): close WS with code & status + add debug log on WS open
  CHANGELOG.md
  resources/[dg]/dg-auth/ui-project/src/panel/reports/websocket.ts
Due: JS linting, TS dev build, TS prod build

chore(ci): also add yarn cache folder to CI cache
  .gitlab-ci.yml
Due: none

fix(phone): delete offline mails when they have been sent
  CHANGELOG.md
  resources/[dg]/dg-phone/server/sv_mails.lua
Due: none

fix(admin): actually copy screenshot link
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/takeScreenshot.ts
Due: JS linting, TS dev build, TS prod build

refactor(police): cleanup escort ply check
  resources/[dg]/dg-police/typescript/src/server/modules/interactions/modules/escort.ts
Due: JS linting, TS dev build, TS prod build

refactor(houserobbery): half rewrite to hopefully fix all its issues
  CHANGELOG.md
  resources/[dg]/dg-config/configs/houserobbery.json
  resources/[dg]/dg-config/configs/houserobbery/big.json
  resources/[dg]/dg-config/configs/houserobbery/config.json
  resources/[dg]/dg-config/configs/houserobbery/medium.json
  resources/[dg]/dg-config/configs/houserobbery/small.json
  resources/[dg]/dg-houserobbery/typescript/src/client/client.ts
  resources/[dg]/dg-houserobbery/typescript/src/client/modules/house/controller.house.ts
  resources/[dg]/dg-houserobbery/typescript/src/client/modules/house/helpers.house.ts
  resources/[dg]/dg-houserobbery/typescript/src/client/modules/house/index.ts
  resources/[dg]/dg-houserobbery/typescript/src/client/modules/house/service.house.ts
  resources/[dg]/dg-houserobbery/typescript/src/client/modules/index.ts
  resources/[dg]/dg-houserobbery/typescript/src/client/modules/interior/controller.interior.ts
  resources/[dg]/dg-houserobbery/typescript/src/client/modules/interior/index.ts
  resources/[dg]/dg-houserobbery/typescript/src/client/modules/interior/service.interior.ts
  resources/[dg]/dg-houserobbery/typescript/src/client/services/interiors.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/enums/states.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/server.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/services/config.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/services/grouppicker.ts
  resources/[dg]/dg-houserobbery/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(weapons): add feedback to tint npc when no weapon equipped
  CHANGELOG.md
  resources/[dg]/dg-weapons/typescript/src/client/services/tint.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): only require keys to turn on engine
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/controllers/events.ts
Due: JS linting, TS dev build, TS prod build
