Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, Validate Errorlogger, validate db migrations, JS linting, JS building

validate json:
  stage: test
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

Validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  services:
  - name: mariadb:latest
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'set mysql_connection_string "mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4"' > ./config/mysql.cfg
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

JS building:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

fix(dgx): fixed false positive when doing c -> s RPC
  resources/[dg]/ts-shared/typescript/src/client/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/events.d.ts
Due: JS linting, JS building

refactor(migrations): removed SQL parser and splitted operations via pattern matching
  tools/migrations/index.js
  tools/migrations/package.json
Due: validate json, JS linting, JS building

feat(auth): added hook register to trigger srv events when a player is authenticated
  resources/[dg]/dg-auth/typescript/src/server/modules/authTokens/service.ts
  resources/[dg]/dg-blackout/typescript/src/server/controllers/powerstation.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/server/types/global.d.ts
Due: JS linting, JS building

fix(migrations): fixed v1 file + removed block comments from queries
  migrations/V1_create_initial_db.sql
  tools/migrations/index.js
  tools/migrations/yarn.lock
Due: validate db migrations, JS linting, JS building

fix(auth): fixed private token not being set
  resources/[dg]/dg-auth/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-auth/typescript/src/server/server.ts
Due: JS linting, JS building

fix(admin): fixed revive cmd when run as bind
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/revive.ts
Due: JS linting, JS building

style(admin): possible fix for font size problem on other resolutions
  resources/[dg]/dg-admin/ui/src/components/actions/doAction.vue
Due: none

fix(cli): fixed propagation and clearing of value + added persistent history
  resources/[dg]/dg-ui/[src]/src/main/cli/components/bar.tsx
Due: JS linting, JS building

fix(ui): fixed inputs in simpleform getting reset
  resources/[dg]/dg-ui/[src]/src/components/simpleform.tsx
Due: JS linting, JS building

feat(misc): added networked particle wrapper
  resources/[core]/dg-core/server/functions.lua
  resources/[dg]/dg-doorlock/client/cl_events.lua
  resources/[dg]/dg-misc/Readme.md
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/particles/controller.particles.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/particles/index.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/particles/service.particles.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/particles/controller.particles.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/particles/index.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/particles/service.particles.ts
  resources/[dg]/dg-misc/typescript/src/server/server.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/client/types/global.d.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/util.d.ts
  resources/[standalone]/dpemotes/Client/Walk.lua
Due: JS linting, JS building

refactor(misc): moved to ts
  .idea/runConfigurations/misc_build_dev.xml
  .idea/runConfigurations/misc_build_prod.xml
  .idea/runConfigurations/misc_watch.xml
  .vscode/launch.json
  resources/[dg]/dg-config/configs/blackmoney.json
  resources/[dg]/dg-misc/.gitignore
  resources/[dg]/dg-misc/client/cl_crouch.lua
  resources/[dg]/dg-misc/client/cl_discord.lua
  resources/[dg]/dg-misc/client/cl_taskbar.lua
  resources/[dg]/dg-misc/fxmanifest.lua
  resources/[dg]/dg-misc/server/sv_blackmoney.lua
  resources/[dg]/dg-misc/typescript/config/webpack.client.js
  resources/[dg]/dg-misc/typescript/config/webpack.common.js
  resources/[dg]/dg-misc/typescript/config/webpack.server.js
  resources/[dg]/dg-misc/typescript/config/webpack.util.js
  resources/[dg]/dg-misc/typescript/package.json
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/crouch/controller.crouch.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/crouch/index.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/crouch/service.crouch.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/discord/service.discord.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/taskbar/constants.taskbar.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/taskbar/controller.taskbar.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/taskbar/index.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/taskbar/service.taskbar.ts
  resources/[dg]/dg-misc/typescript/src/client/tsconfig.json
  resources/[dg]/dg-misc/typescript/src/server/modules/blackmoney/controller.blackmoney.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/blackmoney/index.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/blackmoney/service.blackmoney.ts
  resources/[dg]/dg-misc/typescript/src/server/server.ts
  resources/[dg]/dg-misc/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-misc/typescript/src/server/tsconfig.json
  resources/[dg]/dg-misc/typescript/src/types/index.d.ts
  resources/[dg]/dg-misc/typescript/yarn.lock
  resources/[dg]/dg-ui/[src]/src/main/taskbar/component/TaskBar.tsx
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/ui.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/ui.d.ts
Due: validate json, Validate Errorlogger, JS linting, JS building

feat(nutty-sounds): added exports for coords
  resources/[standalone]/nutty-sounds/client/cl_manager.lua
  resources/[standalone]/nutty-sounds/fxmanifest.lua
  resources/[standalone]/nutty-sounds/server/sv_manager.lua
Due: Validate Errorlogger

fix(nuttysounds): fixed fromCoord sounds
  resources/[dg]/dg-doorlock/client/cl_functions.lua
  resources/[dg]/dg-doorlock/client/cl_main.lua
  resources/[dg]/ts-shared/typescript/src/client/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/client/types/global.d.ts
  resources/[standalone]/nutty-sounds/client/cl_manager.lua
  resources/[standalone]/nutty-sounds/server/sv_manager.lua
  resources/[standalone]/nutty-sounds/tests/cl_test.lua
Due: JS linting, JS building

tweak(financials): refactor debts, added taxing on bankaccounts, introduced inflation value
  .gitlab-ci.yml
  migrations/V6_add_payed_part_to_debt.sql
  resources/[dg]/dg-config/configs/financials.json
  resources/[dg]/dg-financials/README.md
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/classes/Account.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/classes/AccountManager.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/classes/PermissionsManager.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/helpers/accounts.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/helpers/actions.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/utils.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/classes/debtmanager.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/controllers/debts.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/helpers/debts.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/helpers/maintenanceFees.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/taxes/service.ts
  resources/[dg]/dg-financials/typescript/src/server/server.ts
  resources/[dg]/dg-financials/typescript/src/server/types/db.d.ts
  resources/[dg]/dg-financials/typescript/src/server/types/index.d.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/shops/classes/shopmanager.ts
  resources/[dg]/dg-phone/client/cl_debt.lua
  resources/[dg]/dg-ui/[src]/src/components/icon.tsx
  resources/[dg]/dg-ui/[src]/src/components/list.tsx
  resources/[dg]/dg-ui/[src]/src/lib/devdata.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/debt-app/_config.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/debt-app/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/debt-app/components/debtList.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/debt-app/components/modals.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/debt-app/events.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/debt-app/store.ts
  resources/[dg]/dg-ui/[src]/src/styles/components/paper.styles.ts
  resources/[dg]/dg-ui/[src]/src/types/apps/phone.d.ts
  resources/[dg]/dg-ui/[src]/src/types/main.d.ts
  resources/[dg]/ts-shared/typescript/src/server/types/core.d.ts
Due: validate json, validate db migrations, JS linting, JS building

fix(dgx): added forgotten src parameter to dgx events
  resources/[dg]/ts-shared/typescript/src/server/classes/ui.ts
Due: JS linting, JS building

chore(deps): [security] bump terser from 5.14.1 to 5.15.0
  yarn.lock
Due: JS linting, JS building

chore(pma): updated to latest version
  config/server-template.cfg
  resources/[standalone]/pma-voice/.gitignore
  resources/[standalone]/pma-voice/README.md
  resources/[standalone]/pma-voice/client/commands.lua
  resources/[standalone]/pma-voice/client/events.lua
  resources/[standalone]/pma-voice/client/init/init.lua
  resources/[standalone]/pma-voice/client/init/main.lua
  resources/[standalone]/pma-voice/client/init/proximity.lua
  resources/[standalone]/pma-voice/client/init/submix.lua
  resources/[standalone]/pma-voice/client/module/phone.lua
  resources/[standalone]/pma-voice/client/module/radio.lua
  resources/[standalone]/pma-voice/client/utils/Nui.lua
  resources/[standalone]/pma-voice/docs/client-setters/setRadioChannel.md
  resources/[standalone]/pma-voice/fxmanifest.lua
  resources/[standalone]/pma-voice/server/main.lua
  resources/[standalone]/pma-voice/server/module/phone.lua
  resources/[standalone]/pma-voice/server/module/radio.lua
  resources/[standalone]/pma-voice/shared.lua
  resources/[standalone]/pma-voice/voice-ui/.browserslistrc
  resources/[standalone]/pma-voice/voice-ui/.gitignore
  resources/[standalone]/pma-voice/voice-ui/README.md
  resources/[standalone]/pma-voice/voice-ui/babel.config.js
  resources/[standalone]/pma-voice/voice-ui/package.json
  resources/[standalone]/pma-voice/voice-ui/pnpm-lock.yaml
  resources/[standalone]/pma-voice/voice-ui/public/index.html
  resources/[standalone]/pma-voice/voice-ui/public/mic_click_off.ogg
  resources/[standalone]/pma-voice/voice-ui/public/mic_click_on.ogg
  resources/[standalone]/pma-voice/voice-ui/src/App.vue
  resources/[standalone]/pma-voice/voice-ui/src/main.js
  resources/[standalone]/pma-voice/voice-ui/vue.config.js
  resources/[standalone]/pma-voice/voice-ui/yarn.lock
Due: validate json, Validate Errorlogger, JS linting, JS building

fix(ui): fixed HMR causing full site reload
  resources/[dg]/dg-ui/[src]/src/base-app.config.tsx
  resources/[dg]/dg-ui/[src]/src/base-app.tsx
  resources/[dg]/dg-ui/[src]/src/components/appcontainer.tsx
  resources/[dg]/dg-ui/[src]/src/components/appwrapper.tsx
  resources/[dg]/dg-ui/[src]/src/index.provider.tsx
  resources/[dg]/dg-ui/[src]/src/index.tsx
  resources/[dg]/dg-ui/[src]/src/lib/hooks/useApps.ts
  resources/[dg]/dg-ui/[src]/src/main/cli/_config.tsx
  resources/[dg]/dg-ui/[src]/src/main/contextmenu/_config.tsx
  resources/[dg]/dg-ui/[src]/src/main/debuglogs/_config.tsx
  resources/[dg]/dg-ui/[src]/src/main/financials/_config.tsx
  resources/[dg]/dg-ui/[src]/src/main/hud/_config.tsx
  resources/[dg]/dg-ui/[src]/src/main/hud/component/Cash.tsx
  resources/[dg]/dg-ui/[src]/src/main/hud/component/Speedometer.tsx
  resources/[dg]/dg-ui/[src]/src/main/input/_config.tsx
  resources/[dg]/dg-ui/[src]/src/main/interaction/_config.tsx
  resources/[dg]/dg-ui/[src]/src/main/inventory/_config.tsx
  resources/[dg]/dg-ui/[src]/src/main/inventory/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/itemboxes/_config.tsx
  resources/[dg]/dg-ui/[src]/src/main/notifications/_config.tsx
  resources/[dg]/dg-ui/[src]/src/main/peek/_config.tsx
  resources/[dg]/dg-ui/[src]/src/main/peek/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/_config.tsx
  resources/[dg]/dg-ui/[src]/src/main/scenes/_config.tsx
  resources/[dg]/dg-ui/[src]/src/main/sliders/_config.tsx
  resources/[dg]/dg-ui/[src]/src/main/store.ts
  resources/[dg]/dg-ui/[src]/src/main/taskbar/_config.tsx
  resources/[dg]/dg-ui/[src]/src/types/main.d.ts
Due: JS linting, JS building

fix(ui): removed double events when reloading UI
  resources/[dg]/dg-ui/[src]/src/index.provider.tsx
  resources/[dg]/dg-ui/[src]/src/lib/events.ts
  resources/[dg]/dg-ui/client/cl_main.lua
Due: JS linting, JS building

fix(hud): reseed hud data after reload
  resources/[dg]/dg-ui/client/components/cl_hud.lua
Due: none

fix(ui): fixed ui-r gone batch shit crazy when reloading when an app is active
  resources/[dg]/dg-ui/[src]/src/index.provider.tsx
  resources/[dg]/dg-ui/client/cl_main.lua
Due: JS linting, JS building

feat(laptop): added base laptop UI and item
  .idea/runConfigurations/misc_watch.xml
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-jobs/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-jobs/typescript/src/server/services/whitelist.ts
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/services/laptop.ts
  resources/[dg]/dg-misc/typescript/src/server/server.ts
  resources/[dg]/dg-misc/typescript/src/server/services/laptop.ts
  resources/[dg]/dg-ui/README.md
  resources/[dg]/dg-ui/[src]/src/assets/inventory/laptop.png
  resources/[dg]/dg-ui/[src]/src/assets/laptop/icons/gang-app.svg
  resources/[dg]/dg-ui/[src]/src/assets/laptop/wallpaper.jpg
  resources/[dg]/dg-ui/[src]/src/components/inputs.tsx
  resources/[dg]/dg-ui/[src]/src/main/cli/commands.ts
  resources/[dg]/dg-ui/[src]/src/main/cli/components/bar.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/_config.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/apps/gang-app/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/apps/gang-app/config.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/components/LaptopIcon.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/components/TopBar.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/hooks/useActions.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/os/Background.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/os/Laptop.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/os/Taskbar.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/store.ts
  resources/[dg]/dg-ui/[src]/src/main/laptop/styles/gang.scss
  resources/[dg]/dg-ui/[src]/src/main/laptop/styles/laptop.scss
  resources/[dg]/dg-ui/[src]/src/main/store.ts
  resources/[dg]/dg-ui/[src]/src/types/apps/laptop.d.ts
  resources/[dg]/dg-ui/[src]/src/types/main.d.ts
  resources/[dg]/dg-ui/client/cl_exports.lua
  resources/[dg]/dg-ui/client/components/cl_info.lua
Due: validate json, JS linting, JS building

fix(ui): fixed build error after HMR fix
  resources/[dg]/dg-ui/[src]/src/main/laptop/_config.tsx
Due: JS linting, JS building

fix(cli): filter out duplicated history cmds
  resources/[dg]/dg-ui/[src]/src/main/cli/components/bar.tsx
Due: JS linting, JS building

tweak(ui): moved to lazy loading components
  resources/[dg]/dg-ui/[src]/src/base-app.tsx
  resources/[dg]/dg-ui/[src]/src/components/appcontainer.tsx
  resources/[dg]/dg-ui/[src]/src/lib/devdata.ts
  resources/[dg]/dg-ui/[src]/src/lib/hooks/useApps.ts
Due: JS linting, JS building

fix(financials): fixed deposit problem
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/classes/Account.ts
Due: JS linting, JS building

fix(ui): fixed transaction list getting fucked after doing action
  resources/[dg]/dg-ui/[src]/src/main/financials/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/financials/components/modals/DepositModal.tsx
  resources/[dg]/dg-ui/[src]/src/main/financials/components/modals/TransferModal.tsx
  resources/[dg]/dg-ui/[src]/src/main/financials/components/modals/WithdrawModal.tsx
  resources/[dg]/dg-ui/[src]/src/types/apps/financials.d.ts
Due: JS linting, JS building

fix(ui): do not close financials screen when pressing esc
  resources/[dg]/dg-ui/[src]/src/main/financials/component.tsx
Due: JS linting, JS building

chore(qb): removed replaced scripts
  config/resources.cfg
  resources/[qb]/qb-adminmenu/client/events.lua
  resources/[qb]/qb-hud/LICENSE
  resources/[qb]/qb-hud/README.md
  resources/[qb]/qb-hud/client.lua
  resources/[qb]/qb-hud/config.lua
  resources/[qb]/qb-hud/fxmanifest.lua
  resources/[qb]/qb-hud/html/app.js
  resources/[qb]/qb-hud/html/index.html
  resources/[qb]/qb-hud/html/styles.css
  resources/[qb]/qb-hud/server.lua
  resources/[qb]/qb-hud/stream/minimap.gfx
Due: Validate Errorlogger, JS linting, JS building

chore(financials^|dgx): changed default value on addPeekEntry and cleaned up financials peek registers
  resources/[dg]/dg-financials/typescript/src/client/modules/bank/service.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/interaction.ts
Due: JS linting, JS building

fix(peek): always check for zone entries when opening peek menu
  resources/[dg]/dg-peek/typescript/src/client/classes/entryManager.ts
  resources/[dg]/dg-peek/typescript/src/client/classes/entryManagers/zoneManager.ts
  resources/[dg]/dg-peek/typescript/src/client/classes/stateManager.ts
Due: JS linting, JS building

fix(admin/ui): added reactive font-size
  resources/[dg]/dg-admin/ui/src/styles/reset.scss
Due: JS linting, JS building

feat(admin): auto enable devmode in dev env
  resources/[dg]/dg-admin/typescript/src/client/controllers/ui.ts
  resources/[dg]/dg-admin/typescript/src/client/helpers/devmode.ts
  resources/[dg]/dg-admin/ui/src/lib/nui/events.ts
Due: JS linting, JS building

feat(admin): add hud-icon to indicate dev-mode
  resources/[dg]/dg-admin/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-admin/typescript/src/client/helpers/devmode.ts
Due: JS linting, JS building

fix(hud): fixed some state issues
  resources/[dg]/dg-ui/[src]/src/main/hud/component/hudBar.tsx
  resources/[dg]/dg-ui/client/components/cl_hud.lua
Due: JS linting, JS building

fix(stress): fixed stress error and removed debug prints
  resources/[dg]/dg-misc/typescript/src/client/modules/hud/controller.hud.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/hud/service.hud.ts
Due: JS linting, JS building

feat(admin): do damage to body and engine health of vehicle
  resources/[dg]/dg-admin/typescript/src/client/modules/commands/controller.commands.ts
Due: JS linting, JS building

fix(admin): fixed noclip in vehicles
  resources/[dg]/dg-admin/typescript/src/client/service/noclip.ts
Due: JS linting, JS building

Path conditions:
  validate json: any of: **/*.json
  Validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: migrations/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  JS building: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
