Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, JS linting, JS building

.gitlab-ci.yml:

stages:
  - test
  - linting
  - build
  - housekeeping

image: node:lts

.lerna_installation:
  before_script:
    - yarn config set network-timeout 600000 -g
    - yarn --pure-lockfile
    - yarn postinstall:lerna

.cache_modules:
  cache:
    key: "$CI_COMMIT_REF_NAME-node_modules"
    paths:
      - node_modules/
      - '**/node_modules/'

validate json:
  stage: test
  script:
    - cd ./tools/json-validator
    - yarn --pure-lockfile
    - yarn start
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.json"

sonarqube-check:
  stage: test
  tags:
    - amd64
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [ "" ]
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
    GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task
  cache:
    key: "$CI_COMMIT_REF_NAME-sonar"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner
  allow_failure: true
  only:
    - main
    - UPD

JS linting:
  extends:
    - .lerna_installation
    - .cache_modules
  stage: linting
  script:
    - yarn lint
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.js"
      - "**/*.ts"
      - "**/*.jsx"
      - "**/*.tsx"
      - "**/*.scss"

JS building:
  extends:
    - .lerna_installation
    - .cache_modules
  stage: build
  script:
    - yarn format -- -- --loglevel error
    - yarn build
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.(js|ts|jsx|tsx|css|scss|less|html)"
      - "**/package.json"
      - "**/yarn.lock"


rebase UPD:
  stage: housekeeping
  image: node:lts
  script:
    # setting up git
    - url_host=`git remote get-url origin | sed -e "s/https:\/\/gitlab-ci-token:.*@//g"`
    - git remote set-url origin "https://gitlab-ci-token:${ACCESS_TOKEN_PARAM}@${url_host}"
    - git config http.sslverify false
    - git config --global user.email "ci@gitlab.pieter557.dscloud.me"
    - git config --global user.name "CI"
    - git fetch # Just in case branch is not fetch
    - git checkout -t origin/main
    - git pull
    - git checkout -t origin/UPD
    - git pull
    # Rebase
    - git rebase main UPD
    # Push
    - git push -u origin UPD

  only:
    - main

feat(dependabot): add dependabot config
  .gitlab/dependabot.yml
Due: none

chore(gitignore): added ignore for emacs undo-tree files
  .gitignore
Due: none

fix(ci): put shared file exts. in ref to prevent pipelines not running when needed to
  .gitlab-ci.yml
Due: none

fix(chars): fixed number function and added smoll debug print
  resources/[dg]/dg-chars/client/cl_nui.lua
Due: none

fix(sql): fixed increment key and removed duplicate row
  degrens2.sql
Due: none

fix(chars): fixed cid not being set on new chars
  resources/[dg]/dg-chars/server/sv_main.lua
Due: none

chore(voice): removed unused UI
  resources/[standalone]/pma-voice/fxmanifest.lua
  resources/[standalone]/pma-voice/ui/css/app.css
  resources/[standalone]/pma-voice/ui/index.html
  resources/[standalone]/pma-voice/ui/js/app.js
  resources/[standalone]/pma-voice/ui/js/chunk-vendors.js
  resources/[standalone]/pma-voice/ui/mic_click_off.ogg
  resources/[standalone]/pma-voice/ui/mic_click_on.ogg
  resources/[standalone]/pma-voice/voice-ui/.browserslistrc
  resources/[standalone]/pma-voice/voice-ui/.gitignore
  resources/[standalone]/pma-voice/voice-ui/README.md
  resources/[standalone]/pma-voice/voice-ui/babel.config.js
  resources/[standalone]/pma-voice/voice-ui/package.json
  resources/[standalone]/pma-voice/voice-ui/public/index.html
  resources/[standalone]/pma-voice/voice-ui/public/mic_click_off.ogg
  resources/[standalone]/pma-voice/voice-ui/public/mic_click_on.ogg
  resources/[standalone]/pma-voice/voice-ui/src/App.vue
  resources/[standalone]/pma-voice/voice-ui/src/main.js
  resources/[standalone]/pma-voice/voice-ui/vue.config.js
  resources/[standalone]/pma-voice/voice-ui/yarn.lock
Due: validate json, JS linting, JS building

feat(NPM): added build:dev to all needed package to prevent dev version of source maps being uploaded
  package.json
  resources/[cfx-default]/chat/package.json
  resources/[dg]/dg-chars/ui/package.json
  resources/[dg]/dg-ui/[src]/package.json
  resources/[dg]/dg-weathersync/package.json
  resources/[standalone]/screenshot-basic/package.json
Due: validate json, JS building

chore(ts): removed fivem-js refs to remove the unneeded modules
  resources/[dg]/dg-financials/typescript/package.json
  resources/[dg]/dg-financials/typescript/src/client/classes/Location.ts
  resources/[dg]/dg-financials/typescript/src/client/config.ts
  resources/[dg]/dg-financials/typescript/src/server/sv_util.ts
  resources/[dg]/ts-shared/package.json
  resources/[dg]/ts-shared/src/client/classes/poly.ts
  resources/[dg]/ts-shared/src/shared/classes/vector3.ts
  resources/[dg]/ts-shared/src/shared/functions.ts
  resources/[dg]/ts-shared/yarn.lock
Due: validate json, JS linting, JS building

fix(ui): fixed circular dependency of redux
  resources/[dg]/dg-ui/[src]/src/lib/event-relay.ts
  resources/[dg]/dg-ui/[src]/src/lib/events.ts
  resources/[dg]/dg-ui/[src]/src/lib/redux.ts
  resources/[dg]/dg-ui/[src]/src/lib/redux/reducers.ts
  resources/[dg]/dg-ui/[src]/src/lib/redux/state.ts
  resources/[dg]/dg-ui/[src]/src/lib/redux/store.ts
Due: JS linting

feat(DGX): added more classes for lib and util scripts
  resources/[dg]/ts-shared/typescript/src/client/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/interaction.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/peek.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/poly.ts
  resources/[dg]/ts-shared/typescript/src/client/tsconfig.json
  resources/[dg]/ts-shared/typescript/src/client/types/global.d.ts
  resources/[dg]/ts-shared/typescript/src/server/tsconfig.json
  resources/[dg]/ts-shared/typescript/src/shared/tsconfig.json
Due: validate json, JS linting

fix(DGX): fixed ability to import a class via tree-shaking
  resources/[dg]/ts-shared/typescript/src/client/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/client/index.ts
  resources/[dg]/ts-shared/typescript/src/client/tsconfig.json
  resources/[dg]/ts-shared/typescript/src/client/types/global.d.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/server/index.ts
  resources/[dg]/ts-shared/typescript/src/server/tsconfig.json
  resources/[dg]/ts-shared/typescript/src/server/types/global.d.ts
  resources/[dg]/ts-shared/typescript/src/shared/index.ts
Due: validate json, JS linting

refactor(dgx/interaction): prevented useless registering of event listeners
  resources/[dg]/ts-shared/typescript/src/client/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/interaction.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/client/index.ts
  resources/[dg]/ts-shared/typescript/src/client/tsconfig.json
  resources/[dg]/ts-shared/typescript/src/client/types/events.d.ts
  resources/[dg]/ts-shared/typescript/src/client/types/interaction.d.ts
  resources/[dg]/ts-shared/typescript/src/client/types/peek.d.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/server/index.ts
  resources/[dg]/ts-shared/typescript/src/server/tsconfig.json
  resources/[dg]/ts-shared/typescript/src/server/types/events.d.ts
  resources/[dg]/ts-shared/typescript/src/server/types/global.d.ts
  resources/[dg]/ts-shared/typescript/src/shared/tsconfig.json
Due: validate json, JS linting

fix(js): fixed some coord events for JS runtime
  resources/[dg]/dg-lib/client/cl_raycastinfo.lua
  resources/[dg]/dg-lib/client/cl_util.lua
  resources/[dg]/dg-polytarget/client/cl_main.lua
Due: none

refactor(peek): TS incoming baby
  resources/[dg]/dg-peek/.gitignore
  resources/[dg]/dg-peek/CHANGELOG.md
  resources/[dg]/dg-peek/client/cl_constants.lua
  resources/[dg]/dg-peek/client/cl_context.lua
  resources/[dg]/dg-peek/client/cl_main.lua
  resources/[dg]/dg-peek/client/cl_util.lua
  resources/[dg]/dg-peek/fxmanifest.lua
  resources/[dg]/dg-peek/html/js/app.js
  resources/[dg]/dg-peek/typescript/config/webpack.client.js
  resources/[dg]/dg-peek/typescript/config/webpack.common.js
  resources/[dg]/dg-peek/typescript/config/webpack.util.js
  resources/[dg]/dg-peek/typescript/package.json
  resources/[dg]/dg-peek/typescript/src/client/cl_constant.ts
  resources/[dg]/dg-peek/typescript/src/client/classes/entryManager.ts
  resources/[dg]/dg-peek/typescript/src/client/classes/entryManagers/baseManager.ts
  resources/[dg]/dg-peek/typescript/src/client/classes/entryManagers/bonesManager.ts
  resources/[dg]/dg-peek/typescript/src/client/classes/entryManagers/entityManager.ts
  resources/[dg]/dg-peek/typescript/src/client/classes/entryManagers/flagManager.ts
  resources/[dg]/dg-peek/typescript/src/client/classes/entryManagers/globalManager.ts
  resources/[dg]/dg-peek/typescript/src/client/classes/entryManagers/modelManager.ts
  resources/[dg]/dg-peek/typescript/src/client/classes/entryManagers/zoneManager.ts
  resources/[dg]/dg-peek/typescript/src/client/classes/stateManager.ts
  resources/[dg]/dg-peek/typescript/src/client/client.ts
  resources/[dg]/dg-peek/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-peek/typescript/src/client/controllers/exports.ts
  resources/[dg]/dg-peek/typescript/src/client/helpers/actives.ts
  resources/[dg]/dg-peek/typescript/src/client/helpers/context.ts
  resources/[dg]/dg-peek/typescript/src/client/helpers/entries.ts
  resources/[dg]/dg-peek/typescript/src/client/tsconfig.json
  resources/[dg]/dg-peek/typescript/src/client/types/peek.d.ts
  resources/[dg]/dg-peek/typescript/src/config.ts
  resources/[dg]/dg-peek/typescript/yarn.lock
Due: validate json, JS linting, JS building

chore(peek): updated name in json & removed unused file
  resources/[dg]/dg-peek/config.lua
  resources/[dg]/dg-peek/typescript/package.json
Due: validate json, JS building

fix(TS): added missing imports and removed deps from lock file
  resources/[dg]/dg-financials/typescript/yarn.lock
  resources/[dg]/ts-shared/typescript/package.json
  resources/[dg]/ts-shared/typescript/yarn.lock
Due: validate json, JS building

feat(dgx): added lua lib file
  resources/[dg]/ts-shared/fxmanifest.lua
  resources/[dg]/ts-shared/shared/lib.lua
  resources/[dg]/ts-shared/typescript/src/client/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/client/index.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/phone.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/server/decorators/index.ts
  resources/[dg]/ts-shared/typescript/src/server/index.ts
  resources/[dg]/ts-shared/typescript/src/server/types/global.d.ts
  resources/[dg]/ts-shared/typescript/src/server/types/phone.d.ts
  resources/[dg]/ts-shared/typescript/src/shared/helpers/library.ts
Due: JS linting

fix(dgx): fixed source for RPC
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
Due: JS linting

fix(dgx): make irrelevant not resolve RPC promise
  resources/[dg]/ts-shared/typescript/src/client/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
Due: JS linting

fix(chars): fix being stuck in faded out screen
  resources/[dg]/dg-chars/client/cl_main.lua
Due: none

fix(weathersync): fixed comments for server console
  resources/[dg]/dg-weathersync/src/server/modules/time.ts
  resources/[dg]/dg-weathersync/src/server/modules/weather.ts
Due: JS linting

fix(dgx): fixed errors throwing when coords array is null
  resources/[dg]/ts-shared/typescript/src/client/classes/interaction.ts
Due: JS linting

style(ui/contextmenu): set opacity of non selected entry higher
  resources/[dg]/dg-ui/[src]/src/main/contextmenu/styles/contextmenu.scss
Due: JS linting

refactor(weed): removed unused variable
  resources/[dg]/dg-weed/client/cl_events.lua
  resources/[dg]/dg-weed/client/cl_main.lua
Due: none

fix(dgx): fixed item interface in core types
  resources/[dg]/ts-shared/typescript/src/shared/types/core.d.ts
Due: JS linting

feat(peek): canInteraction in option can be a promise
  resources/[dg]/dg-peek/typescript/src/client/classes/stateManager.ts
  resources/[dg]/dg-peek/typescript/src/client/helpers/entries.ts
  resources/[dg]/dg-peek/typescript/src/client/types/peek.d.ts
  resources/[dg]/ts-shared/typescript/src/client/types/peek.d.ts
Due: JS linting

feat(dgx): added getCoords and getDistance functions in Util for client and server + Log function on Server
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/shared/classes/util.ts
Due: JS linting

fix(artifacts-updater): fixed script removing artifacts when site is down
  tools/artifact-updater.ps1
Due: none

chore(webpack): removed spammy progress during webpack bundling
  resources/[dg]/dg-jobs/typescript/package.json
  resources/[dg]/dg-peek/typescript/package.json
  resources/[dg]/ts-shared/typescript/package.json
Due: validate json, JS building

feat(ui): added FA-6 icons via DG GL package
  .npmrc
  resources/[dg]/dg-ui/[src]/index.html
  resources/[dg]/dg-ui/[src]/package.json
  resources/[dg]/dg-ui/[src]/src/index.tsx
  resources/[dg]/dg-ui/[src]/yarn.lock
Due: validate json, JS linting, JS building

fix(dgx): added missing import for chat class
  resources/[dg]/ts-shared/typescript/src/server/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/server/types/global.d.ts
Due: JS linting

fix(sql): fixed wrong resource for export
  resources/[core]/dg-core/server/functions.lua
  resources/[core]/dg-core/server/player.lua
  resources/[dg]/dg-apartments/server/sv_main.lua
  resources/[dg]/dg-inventory/server/sv_functions.lua
  resources/[dg]/dg-phone/server/sv_camera.lua
  resources/[dg]/dg-phone/server/sv_mails.lua
  resources/[dg]/dg-phone/server/sv_messages.lua
  resources/[dg]/dg-phone/server/sv_notes.lua
  resources/[dg]/dg-phone/server/sv_tweets.lua
  resources/[qb]/qb-adminmenu/server/server.lua
  resources/[qb]/qb-anticheat/server/main.lua
  resources/[qb]/qb-cityhall/server/main.lua
  resources/[qb]/qb-clothing/server/main.lua
  resources/[qb]/qb-customs/server/sv_bennys.lua
  resources/[qb]/qb-diving/server/main.lua
  resources/[qb]/qb-houses/server/main.lua
  resources/[qb]/qb-lapraces/server/main.lua
  resources/[qb]/qb-mechanicjob/server/main.lua
  resources/[qb]/qb-policejob/server/main.lua
  resources/[qb]/qb-scrapyard/server/main.lua
  resources/[qb]/qb-vehiclesales/server/main.lua
  resources/[qb]/qb-vehicleshop/server.lua
  resources/[standalone]/dpemotes/Server/Server.lua
Due: none

fix(dgx): added missing import for taskbar
  resources/[dg]/ts-shared/typescript/src/server/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/server/types/global.d.ts
Due: JS linting

fix(weed): changed to new contextmenu
  config/resources.cfg
  resources/[dg]/dg-weed/client/cl_functions.lua
  resources/[dg]/dg-weed/fxmanifest.lua
Due: none
