Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml

feat(lockers): option to add free lockers for places like gang blocks
  CHANGELOG.md
  resources/[dg]/dg-lockers/typescript/src/server/classes/Locker.ts
  resources/[dg]/dg-lockers/typescript/src/server/classes/LockersManager.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles/garages): possibility to recover vehicle when in inaccessible garage
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/controller.garages.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/service.garages.ts
Due: JS linting, TS dev build, TS prod build

fix(lockers): check if new owner already has locker when transfering
  CHANGELOG.md
  resources/[dg]/dg-lockers/typescript/src/server/classes/Locker.ts
  resources/[dg]/dg-lockers/typescript/src/server/classes/LockersManager.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles/carwash): set dirtlevel in sync event to prevent issues when vehicle is owned by server
  resources/[dg]/dg-vehicles/typescript/src/client/modules/carwash/controller.carwash.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/carwash/service.carwash.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): add proper bulletprooftires option because not synced natively
  resources/[dg]/dg-criminal/typescript/src/server/modules/methrun/service.methrun.ts
  resources/[dg]/dg-police/typescript/src/client/modules/spikestrips/controller.spikestrips.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/upgrades/constants.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/bulletprooftires.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/index.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/bulletprooftires.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/index.ts
  resources/[dg]/dg-vehicles/typescript/src/shared/upgrades/service.upgrades.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/vehicles.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/vehicles.ts
  types/vehicles.d.ts
Due: JS linting, TS dev build, TS prod build

refactor(financials): add metadata for debts
  CHANGELOG.md
  packages/db/prisma/migrations/20230731174733_add_debt_metadata/migration.sql
  packages/db/prisma/schema.prisma
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/classes/debtmanager.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/controllers/debts.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/helpers/maintenanceFees.ts
  resources/[dg]/dg-financials/typescript/src/server/types/index.d.ts
  resources/[dg]/dg-lockers/typescript/src/server/classes/Locker.ts
  resources/[dg]/dg-lockers/typescript/src/server/classes/LockersManager.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/financials.ts
  resources/[dg]/ts-shared/typescript/src/server/types/financials.d.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/financials.d.ts
  types/financials.d.ts
Due: JS linting, TS dev build, TS prod build

fix(inventory): temporarily ignore duplicate ids when creating existing items
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/manager.items.ts
Due: JS linting, TS dev build, TS prod build

fix(tools): use io.open for line-ending problems
  tools/update-versions.py
Due: none

feat(config): add nuttys tailscale ip to allowed domains
  CHANGELOG.md
  resources/[dg]/dg-config/configs/api.json
  resources/[dg]/dg-config/configs/main.json
Due: validate json

fix(criminal/methrun): fix incorrect backup stash id
  resources/[dg]/dg-criminal/typescript/src/server/modules/methrun/service.methrun.ts
Due: JS linting, TS dev build, TS prod build

chore(pma-voice): remove unneeded UI
  resources/[standalone]/pma-voice/client/utils/Nui.lua
  resources/[standalone]/pma-voice/fxmanifest.lua
  resources/[standalone]/pma-voice/voice-ui/.browserslistrc
  resources/[standalone]/pma-voice/voice-ui/.gitignore
  resources/[standalone]/pma-voice/voice-ui/README.md
  resources/[standalone]/pma-voice/voice-ui/babel.config.js
  resources/[standalone]/pma-voice/voice-ui/package.json
  resources/[standalone]/pma-voice/voice-ui/pnpm-lock.yaml
  resources/[standalone]/pma-voice/voice-ui/public/index.html
  resources/[standalone]/pma-voice/voice-ui/public/mic_click_off.ogg
  resources/[standalone]/pma-voice/voice-ui/public/mic_click_on.ogg
  resources/[standalone]/pma-voice/voice-ui/src/App.vue
  resources/[standalone]/pma-voice/voice-ui/src/main.js
  resources/[standalone]/pma-voice/voice-ui/vue.config.js
Due: validate json, validate Errorlogger, JS linting, TS dev build, TS prod build

fix(financials): add null checks for debt metadata
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/classes/debtmanager.ts
Due: JS linting, TS dev build, TS prod build

fix(core): queue joining + boost problems resolved
  CHANGELOG.md
Due: none

feat(weapons): rebalance weapons
  CHANGELOG.md
  resources/[dg]/dg-weapons/meta/weaponheavypistol.meta
  resources/[dg]/dg-weapons/meta/weaponmachinepistol.meta
  resources/[dg]/dg-weapons/meta/weapons.meta
  resources/[dg]/dg-weapons/meta/weapons_pistol_mk2.meta
  resources/[dg]/dg-weapons/meta/weaponspecialcarbine.meta
Due: none

fix(chat): dont log if internal serverprint msg is empty
  resources/[dg]/dg-chat/typescript/src/client/controllers/events.ts
Due: JS linting, TS dev build, TS prod build

feat(tackle): restrict usage some more
  resources/[dg]/dg-misc/typescript/src/client/services/tackle.ts
Due: JS linting, TS dev build, TS prod build

fix(labs): fix deadloop when refreshing labs + allow coke in every labs because im lazy
  CHANGELOG.md
  resources/[dg]/dg-config/configs/labs/locations.json
  resources/[dg]/dg-labs/typescript/src/server/services/labs.ts
Due: validate json, JS linting, TS dev build, TS prod build

refactor(auth): more heartbeat events + register first beat when joined (not joining)
  CHANGELOG.md
  resources/[dg]/dg-auth/typescript/src/client/modules/anticheat/service.anticheat.ts
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/controller.anticheat.ts
Due: JS linting, TS dev build, TS prod build

fix(dispatch): check entity existence when getting vehicleinfo
  CHANGELOG.md
  resources/[dg]/dg-dispatch/typescript/src/client/controllers/events.ts
Due: JS linting, TS dev build, TS prod build

fix(radial): rename ambulance ang option to meos
  resources/[dg]/dg-radialmenu/typescript/src/client/data/ambulance.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles/upgrades): upgrade merge function to fix extras + do standard enabling extras based on category
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/upgrades/classes/manager.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/upgrades/constants.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/server/db/repository.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/info/service.info.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/upgrades/classes/manager.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/upgrades/constants.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/upgrades/service.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/services/quicksell.vehicleshop.ts
  resources/[dg]/dg-vehicles/typescript/src/shared/upgrades/constants.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/shared/upgrades/service.upgrades.ts
Due: JS linting, TS dev build, TS prod build

refactor(police/sirentoggle): cleanup code duplication for every model
  resources/[dg]/dg-police/typescript/src/client/services/sirenToggle.ts
Due: JS linting, TS dev build, TS prod build

chore(inventory): rename antibiotica
  resources/[dg]/dg-config/configs/inventory/items.json
Due: validate json

fix(vehicles): lower ikx3abt20 deformation damage
  CHANGELOG.md
Due: none

feat(pma-voice): add reconnect command for client
  CHANGELOG.md
  resources/[standalone]/pma-voice/client/commands.lua
Due: none

feat(hospital): check if ambu is alone on duty to force instarespawn
  CHANGELOG.md
  resources/[dg]/dg-hospital/typescript/src/client/modules/down/service.down.ts
Due: JS linting, TS dev build, TS prod build

feat(ambulance): shorter respawn time after rrespawning to hospital
  CHANGELOG.md
  resources/[dg]/dg-hospital/typescript/src/client/modules/down/service.down.ts
Due: JS linting, TS dev build, TS prod build

chore(vehicles): update submodule
  CHANGELOG.md
Due: none

fix(towing): check entity existence when removing towed vehicle
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/mechanic/services/towing.mechanic.ts
Due: JS linting, TS dev build, TS prod build

fix(ui/twitter): do not add tweet to store when app is not active
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/main/cli/commands.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/twitter-app/events.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): replace createvehicle native
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
Due: JS linting, TS dev build, TS prod build

feat(config): bumped percentage employee take from sale
  CHANGELOG.md
  resources/[dg]/dg-config/configs/vehicles/shop.json
Due: validate json

fix(lib): make event keybinds not execute a non-existing command
  CHANGELOG.md
  resources/[dg]/dg-lib/client/cl_keybind.lua
Due: none

fix(enginesounds): preload sound when applying
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/services/enginesounds.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/enginesounds.ts
Due: JS linting, TS dev build, TS prod build

chore(impound): remove scuff impound option for every player
  CHANGELOG.md
  resources/[dg]/dg-config/configs/vehicles/impound.json
Due: validate json

feat(police): add distance to carry & escort logs
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/server/modules/interactions/modules/carry.ts
  resources/[dg]/dg-police/typescript/src/server/modules/interactions/modules/escort.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): add kofi vehicles
  resources/[dg]/dg-config/configs/vehicles/stances.json
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json
