Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build node image, validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

build node image:
  stage: images
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/node:latest -t $CI_REGISTRY_IMAGE/node:$CI_COMMIT_SHA .
  - docker push $CI_REGISTRY_IMAGE/node:latest
  ...

validate json:
  stage: test
  image: node:16
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  image: node:16
  services:
  - name: mariadb:10.7
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'DATABASE_URL=mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4' > ./packages/db/.env
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  - ls /app
  ...

TS dev build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  - ls /app
  ...

TS prod build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  - ls /app
  ...

fix(objectmanager): move to euler rotation instead of entity matrix for entity rotation + remove scale option
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/modules/objectManager/controller.objectmanager.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/objectManager/service.objectmanager.ts
  resources/[dg]/dg-misc/typescript/src/client/services/objectPlacer.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/objectManager/service.objectmanager.ts
  resources/[dg]/dg-misc/typescript/src/shared/helpers/math.ts
Due: JS linting, TS dev build, TS prod build

refactor(maintenacefees): change vehicle calc + add schedule fees in app
  CHANGELOG.md
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/classes/debtmanager.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/controllers/debts.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/helpers/maintenanceFees.ts
  resources/[dg]/dg-financials/typescript/src/server/types/index.d.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/debt-app/components/debtList.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/debt-app/components/maintenanceEntries.tsx
  resources/[dg]/dg-ui/[src]/src/types/apps/phone.d.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/maintenanceFees.ts
  resources/[dg]/ts-shared/typescript/src/server/types/financials.d.ts
Due: JS linting, TS dev build, TS prod build

feat: add some extra logs for panel
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/classes/item.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/service.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/upgrades/controller.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/upgrades/service.upgrades.ts
Due: JS linting, TS dev build, TS prod build

fix(meth): show notif when brick amount was 0
  resources/[dg]/dg-labs/typescript/src/server/modules/meth/controller.meth.ts
Due: JS linting, TS dev build, TS prod build

fix(labs): reset isBoxAttach variable on removal
  CHANGELOG.md
  resources/[dg]/dg-labs/typescript/src/client/services/box.ts
Due: JS linting, TS dev build, TS prod build

fix(ci): replace node with ubuntu for rebase
  .gitlab-ci.yml
Due: none

fix(ci): actually install git
  .gitlab-ci.yml
Due: none

chore(vehicles): update submodule
  CHANGELOG.md
Due: none

feat(misc/arena): add smoll arena module to control mazebank arena interior
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/arena/controller.arena.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/arena/index.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/arena/service.arena.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/arena/constants.arena.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/arena/controller.arena.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/arena/index.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/arena/service.arena.ts
  resources/[dg]/dg-misc/typescript/src/server/server.ts
  resources/[dg]/dg-misc/typescript/src/types/arena.d.ts
Due: JS linting, TS dev build, TS prod build

refactor(misc): move onresourcestop listener to general file to avoid maxlistener error
  resources/[dg]/dg-chars/client/cl_spawn.lua
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-misc/typescript/src/client/controllers/index.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/arena/controller.arena.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/arena/service.arena.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/hud/controller.hud.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/hud/service.hud.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/objectManager/controller.objectmanager.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/objectManager/service.objectmanager.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/controller.propattach.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/service.propattach.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/rental/controller.rental.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/rental/service.rental.ts
  resources/[dg]/dg-misc/typescript/src/client/services/animations.ts
  resources/[dg]/dg-misc/typescript/src/client/services/spacespam.ts
  resources/[dg]/dg-misc/typescript/src/client/services/walkstyles.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
Due: JS linting, TS dev build, TS prod build

chore(dpemotes): add handsback emote
  CHANGELOG.md
  resources/[standalone]/dpemotes/Client/AnimationList.lua
Due: none

fix(hospital): modify down animloop when entering/leaving vehicle
  CHANGELOG.md
  resources/[dg]/dg-hospital/typescript/src/client/modules/down/controller.down.ts
  resources/[dg]/dg-hospital/typescript/src/client/modules/down/service.down.ts
Due: JS linting, TS dev build, TS prod build

feat(houserobbery): add command to report location as scuffed
  CHANGELOG.md
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/server.ts
Due: JS linting, TS dev build, TS prod build

tweak(crafting): change armor recipe
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/crafting.json
Due: validate json

tweak(recycleped): change given materials
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/recycleped.json
Due: validate json

fix(jobs): place bank account permission setters at right places
  CHANGELOG.md
  resources/[dg]/dg-jobs/typescript/src/server/classes/whitelistmanager.ts
Due: JS linting, TS dev build, TS prod build

fix(financials): fix date for maintenance fee schedule
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/classes/debtmanager.ts
Due: JS linting, TS dev build, TS prod build

tweak(taskbars): change some taskbar options for common actions
  resources/[dg]/dg-criminal/typescript/src/client/modules/weed/service.weed.ts
  resources/[dg]/dg-materials/typescript/src/client/modules/dumpsters/service.dumpsters.ts
Due: JS linting, TS dev build, TS prod build

fix(api): fix business creation endpoint
  resources/[dg]/dg-api/typescript/src/server/routes/business.ts
Due: JS linting, TS dev build, TS prod build

fix(heists): fix fleeca sandy trolley heading
  CHANGELOG.md
  resources/[dg]/dg-config/configs/heists/locations/fleeca_sandy.json
Due: validate json

fix(police): passengers can open vehicle locker while driving
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/controllers/events.ts
Due: JS linting, TS dev build, TS prod build

chore(business): add taxi as businesstype
  CHANGELOG.md
  resources/[dg]/dg-config/configs/business.json
Due: validate json

refactor(entityblips): refactor to update instantly when player entered/left scope
  resources/[cfx-default]/baseevents/fxmanifest.lua
  resources/[cfx-default]/baseevents/scope.lua
  resources/[dg]/dg-admin/typescript/src/client/service/playerBlips.ts
  resources/[dg]/dg-dispatch/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-dispatch/typescript/src/client/services/blips.ts
  resources/[dg]/dg-dispatch/typescript/src/server/services/blips.ts
  resources/[dg]/dg-dispatch/typescript/src/types/index.d.ts
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/blipmanager/controller.blipmanager.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/blipmanager/index.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/blipmanager/service.blipmanager.ts
  resources/[dg]/dg-misc/typescript/src/client/services/blipmanager.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/baseevents.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/blip.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/blipmanager.ts
Due: validate Errorlogger, JS linting, TS dev build, TS prod build

fix(vehicleshop): always build returnzone to avoid being unable to return vehicle after rejoining
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/vehicleshop/controller.vehicleshop.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/vehicleshop/services/testdrive.vehicleshop.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/controller.vehicleshop.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/services/testdrive.vehicleshop.ts
Due: JS linting, TS dev build, TS prod build

feat(weed): max cut time & only cut when fed
  packages/db/prisma/migrations/20230331011132_add_weedplant_times_cut/migration.sql
  packages/db/prisma/schema.prisma
  resources/[dg]/dg-config/configs/criminal/weed.json
  resources/[dg]/dg-criminal/typescript/src/server/modules/weed/classes/weedplant.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/weed/classes/weedplantmanager.ts
  resources/[dg]/dg-criminal/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(pmavoice): move to preference util hook
  CHANGELOG.md
  resources/[standalone]/pma-voice/client/events.lua
Due: none

tweak(cornersell): lowered meth price
  CHANGELOG.md
  resources/[dg]/dg-config/configs/criminal/cornerselling.json
Due: validate json

fix(misc): fix typo in import
  resources/[dg]/dg-misc/typescript/src/client/modules/blipmanager/index.ts
Due: JS linting, TS dev build, TS prod build

tweak(straightpipers): moved to new location
  resources/[dg]/dg-config/configs/vehicles/mechanic.json
  resources/[dg]/dg-doorlock/seeding/doors.json
  resources/[dg]/dg-vehicles/seeding/garages/straightpipers_shared.json
  resources/[qb]/qb-clothing/config.lua
Due: validate json

chore(storerobbery): add ottos store
  resources/[dg]/dg-config/configs/storerobbery.json
Due: validate json

fix(mechanics): change straightpiper polyzone sizes to avoid collision conflict
  resources/[dg]/dg-config/configs/vehicles/mechanic.json
Due: validate json

chore(fuel): add otto gasstation
  resources/[dg]/dg-vehicles/typescript/src/client/modules/fuel/zones.fuel.ts
Due: JS linting, TS dev build, TS prod build

chore(garages): add public garages at ottos
  resources/[dg]/dg-vehicles/seeding/garages/ottos_mechanic_parking.json
  resources/[dg]/dg-vehicles/seeding/garages/ottos_store_parking.json
Due: validate json

chore(doorlock): lock maldinis
  resources/[dg]/dg-doorlock/seeding/doors.json
  resources/[dg]/dg-doorlock/typescript/src/server/services/doors.ts
Due: validate json, JS linting, TS dev build, TS prod build

chore(assets): update submodule
  CHANGELOG.md
Due: none

feat(anticheat): check if ply ejected from vehicle or is falling underground for speedcheck
  CHANGELOG.md
  resources/[dg]/dg-auth/typescript/src/client/modules/anticheat/service.anticheat.ts
Due: JS linting, TS dev build, TS prod build

fix(meth): bigger difference between settings
  CHANGELOG.md
  resources/[dg]/dg-labs/typescript/src/server/modules/meth/service.meth.ts
Due: JS linting, TS dev build, TS prod build

tweak(inventory): increase trunk distance check
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/client/classes/contextmanager.ts
Due: JS linting, TS dev build, TS prod build

Path conditions:
  build node image: any of: package.json, yarn.lock
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
