Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, Validate Errorlogger, validate db migrations, JS linting, JS building

.gitlab-ci.yml:

stages:
  - test
  - linting
  - build
  - housekeeping

image: node:lts

.lerna_installation:
  before_script:
    - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
    - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
    - npm config set always-auth true
    - yarn config set network-timeout 600000 -g
    - yarn --pure-lockfile

.cache_modules:
  cache:
    key: "$CI_COMMIT_REF_NAME-node_modules"
    paths:
      - node_modules/
      - '**/node_modules/'

.js_changes:
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.js"
      - "**/*.ts"
      - "**/*.jsx"
      - "**/*.tsx"
      - "**/*.css"
      - "**/*.scss"
      - "**/*.html"
      - "**/package.json"
      - "**/yarn.lock"

validate json:
  stage: test
  script:
    - cd ./tools/json-validator
    - yarn --pure-lockfile
    - yarn start
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.json"

Validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
    - python ./tools/manifest-check.py
    - exit "${?}"
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - '**/fxmanifest.lua'

validate db migrations:
  stage: test
  services:
    - name: mariadb:latest
      alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
    - echo 'set mysql_connection_string "mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4"' > ./config/mysql.cfg
    - cd ./tools/migrations
    - yarn --pure-lockfile
    - yarn start --init-db
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - 'migrations/*'

sonarqube-check:
  stage: test
  tags:
    - amd64
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [ "" ]
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
    GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task
  cache:
    key: "$CI_COMMIT_REF_NAME-sonar"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner
  allow_failure: true
  only:
    - main
    - UPD

JS linting:
  extends:
    - .lerna_installation
    - .cache_modules
    - .js_changes
  stage: linting
  script:
    - yarn lint

JS building:
  extends:
    - .lerna_installation
    - .cache_modules
    - .js_changes
  stage: build
  script:
    - yarn format -- -- --loglevel error
    - yarn build

rebase UPD:
  stage: housekeeping
  image: node:lts
  script:
    # setting up git
    - url_host=`git remote get-url origin | sed -e "s/https:\/\/gitlab-ci-token:.*@//g"`
    - git remote set-url origin "https://gitlab-ci-token:${ACCESS_TOKEN_PARAM}@${url_host}"
    - git config http.sslverify false
    - git config --global user.email "ci@gitlab.pieter557.dscloud.me"
    - git config --global user.name "CI"
    - git fetch # Just in case branch is not fetch
    - git checkout -t origin/main
    - git pull
    - git checkout -t origin/UPD
    - git pull
    # Rebase
    - git rebase main UPD
    # Push
    - git push -u origin UPD

  only:
    - main

feat(chat): Autoscroll to newest messages when opening chat
  resources/[dg]/dg-chat/ui/src/components/messageBox.vue
Due: none

fix(financials): only show permissions button for savings acc when owner
  resources/[dg]/dg-ui/[src]/src/main/financials/components/accountList.tsx
Due: JS linting, JS building

fix(police): changed disabled keybinds while escorting
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/service.interactions.ts
Due: JS linting, JS building

refactor(inventory): rework drop marker logic & extra checks on prop creation
  resources/[dg]/dg-inventory/typescript/src/client/modules/drops/classes/dropsmanager.ts
  resources/[dg]/dg-inventory/typescript/src/client/modules/drops/controller.drops.ts
  resources/[dg]/dg-inventory/typescript/src/client/modules/objects/classes/objectsmanager.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/locations/manager.locations.ts
  resources/[dg]/dg-inventory/typescript/src/types/index.d.ts
Due: JS linting, JS building

refactor(jobs): do not rebuild entire whitelist cache when whitelisting someone
  resources/[dg]/dg-jobs/typescript/src/server/services/whitelist.ts
Due: JS linting, JS building

fix(apartments): fixed fuckton of shit & translate
  resources/[dg]/dg-apartments/client/cl_main.lua
  resources/[dg]/dg-apartments/client/cl_zones.lua
  resources/[dg]/dg-apartments/server/sv_main.lua
  resources/[dg]/dg-apartments/server/sv_manager.lua
Due: none

fix(peek): finally fix focus not getting set when selecting entry that opens ui app
  resources/[dg]/dg-peek/typescript/src/client/classes/stateManager.ts
  resources/[dg]/dg-peek/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-ui/[src]/src/main/peek/_config.tsx
  resources/[dg]/dg-ui/client/cl_exports.lua
  resources/[dg]/ts-shared/typescript/src/client/classes/ui.ts
Due: JS linting, JS building

fix(mechanic): fix order actually working with with more than 1 of an item
  resources/[dg]/dg-inventory/typescript/src/server/controllers/controller.ts
  resources/[dg]/dg-inventory/typescript/src/server/services/repository.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/mechanic/service.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/mechanic/service.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/types/mechanic.d.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/inventory.ts
Due: JS linting, JS building

feat(queue): added DB stored priority
  migrations/V17_add_queue_prio.sql
  resources/[standalone]/connectqueue/server/sv_queue_config.lua
Due: validate db migrations

fix(inventory): fix config error when getting inventory at server start
  resources/[dg]/dg-inventory/typescript/src/server/controllers/controller.ts
  resources/[dg]/dg-inventory/typescript/src/server/services/config.ts
Due: JS linting, JS building

fix(connectqueue): shit was throwing errors because sql func in core doesnt exist no more
  migrations/V8_seed_base.sql
  resources/[standalone]/connectqueue/fxmanifest.lua
  resources/[standalone]/connectqueue/server/sv_queue_config.lua
Due: Validate Errorlogger, validate db migrations

tweak(admin): clamp ammo amount
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/setAmmo.ts
Due: JS linting, JS building

fix(apartments): fix wrong variable name to invite player
  resources/[dg]/dg-apartments/client/cl_main.lua
Due: none

fix(business): fix financial action perms, correctly dispatch cache on fire, fix role indexing
  resources/[dg]/dg-business/typescript/src/server/classes/Business.ts
  resources/[dg]/dg-business/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-business/typescript/src/server/services/business.ts
  resources/[dg]/dg-business/typescript/src/server/services/config.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/classes/PermissionsManager.ts
Due: JS linting, JS building

fix(laptop/bennys): correctly send success value after action
  resources/[dg]/dg-vehicles/typescript/src/server/modules/laptop/service.laptop.ts
Due: JS linting, JS building

fix(phone/contacts): fix not being able to edit contact
  resources/[dg]/dg-phone/client/cl_contacts.lua
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/contacts-app/components/modals.tsx
Due: JS linting, JS building

fix(chat): send ooc message to players not source
  resources/[dg]/dg-chat/typescript/src/server/helpers/commands.ts
Due: JS linting, JS building

fix(cornerselling): auto stop selling when ran out of items
  resources/[dg]/dg-criminal/typescript/src/client/modules/cornerselling/service.cornerselling.ts
Due: JS linting, JS building

fix(weed): get coords before destroying entity
  resources/[dg]/dg-criminal/typescript/src/client/modules/weed/controller.weed.ts
Due: JS linting, JS building

fix(financials): fix giving cash
  resources/[dg]/dg-financials/typescript/src/server/modules/cash/controller.ts
Due: JS linting, JS building

fix(phone): correctly check current phone state
  resources/[dg]/dg-phone/client/cl_state.lua
Due: none

fix(ui): center laptop icon text, fix phone contact modal to use phonenumber
  resources/[dg]/dg-ui/[src]/src/components/inputs.tsx
  resources/[dg]/dg-ui/[src]/src/main/configmenu/component/Hud.tsx
  resources/[dg]/dg-ui/[src]/src/main/laptop/styles/laptop.scss
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/payconiq-app/components/modals.tsx
Due: JS linting, JS building

feat(bennys/ui): add Q and E guides
  resources/[dg]/dg-ui/[src]/src/main/bennys/components/menus/ColorMenu.tsx
  resources/[dg]/dg-ui/[src]/src/main/bennys/components/menus/ComponentsMenu.tsx
  resources/[dg]/dg-ui/[src]/src/main/bennys/components/menus/ExtrasMenu.tsx
  resources/[dg]/dg-ui/[src]/src/main/bennys/components/menus/WheelsMenu.tsx
Due: JS linting, JS building

fix(interaction): more efficient way to fix not showing during hide anim
  resources/[dg]/dg-ui/[src]/src/main/cli/commands.ts
  resources/[dg]/dg-ui/[src]/src/main/interaction/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/interaction/store.ts
Due: JS linting, JS building

tweak(phone): add pointer cursor on group join button
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/jobcenter-app/components/list.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/jobcenter-app/styles/jobcenter.scss
Due: JS linting, JS building

feat(idmenu): add menu + ids above player
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/helpers/util.ts
  resources/[dg]/dg-misc/typescript/src/client/services/idmenu.ts
  resources/[dg]/dg-sync/server/sv_scopes.lua
  resources/[dg]/dg-ui/[src]/src/lib/devdata.ts
  resources/[dg]/dg-ui/[src]/src/main/cli/commands.ts
  resources/[dg]/dg-ui/[src]/src/main/idlist/_config.tsx
  resources/[dg]/dg-ui/[src]/src/main/idlist/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/idlist/store.ts
  resources/[dg]/dg-ui/[src]/src/main/idlist/styles/idlist.scss
  resources/[dg]/dg-ui/[src]/src/types/apps/idlist.d.ts
  resources/[dg]/dg-ui/[src]/src/types/main.d.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/sync.ts
  resources/[dg]/ts-shared/typescript/src/client/types/sync.d.ts
Due: JS linting, JS building

refactor(auth): use faster jwt implementation
  resources/[dg]/dg-auth/typescript/package.json
  resources/[dg]/dg-auth/typescript/src/server/helpers/privateToken.ts
  resources/[dg]/dg-auth/typescript/src/server/modules/authTokens/service.ts
  resources/[dg]/dg-auth/typescript/yarn.lock
Due: validate json, JS linting, JS building

fix(core): wait until exports are available
  resources/[core]/dg-core/import.js
Due: JS linting, JS building

fix(admin): do not rely on dg-core info
  resources/[dg]/dg-admin/typescript/src/server/modules/penalties/service.penalties.ts
Due: JS linting, JS building

fix(dgx): try getting other info when dg-core is not available
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
Due: JS linting, JS building

fix(auth): fix missing events and some bugs (oop)
  resources/[dg]/dg-auth/fxmanifest.lua
  resources/[dg]/dg-auth/typescript/src/client/modules/anticheat/controller.anticheat.ts
  resources/[dg]/dg-auth/typescript/src/client/modules/anticheat/service.anticheat.ts
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/controller.anticheat.ts
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/service.anticheat.ts
  resources/[dg]/dg-weapons/typescript/src/server/modules/weapons/controller.weapons.ts
Due: Validate Errorlogger, JS linting, JS building

build(deps): bump deep-object-diff from 1.1.7 to 1.1.9 in /resources/[dg]/dg-ui/[src]
  resources/[dg]/dg-ui/[src]/package.json
  resources/[dg]/dg-ui/[src]/yarn.lock
Due: validate json, JS linting, JS building

chore(deps): [security] bump loader-utils from 2.0.2 to 2.0.4 in /resources/[dg]/dg-ui/[src]
  resources/[dg]/dg-ui/[src]/yarn.lock
Due: JS linting, JS building

feat(config): disable kill effect
  config/server-template.cfg
Due: none

fix(loadingscreen): hopefully fix double loadingscreen
  resources/[dg]/dg-loading-screen/client/cl_main.lua
Due: none

feat(misc): add rockstar editor commands
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/services/editor.ts
  resources/[dg]/dg-misc/typescript/src/server/server.ts
  resources/[dg]/dg-misc/typescript/src/server/services/editor.ts
Due: JS linting, JS building

fix(auth): actually register the heartbeat
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/controller.anticheat.ts
Due: JS linting, JS building
