Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build

validate json:
  stage: test
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  services:
  - name: mariadb:10.7
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'DATABASE_URL=mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4' > ./packages/db/.env
  - yarn --pure-lockfile
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

TS dev build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

tweak: lowered some crafting reputation & shopprices
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/shops.json
  resources/[dg]/dg-config/configs/materials/crafting.json
Due: validate json

fix(paycheck): do not error when unregistering interval
  resources/[dg]/dg-financials/typescript/src/server/modules/paycheck/service.ts
Due: JS linting, TS dev build

fix(materials): do not error when trying to get item from empty oven
  resources/[dg]/dg-materials/typescript/src/server/services/melting.ts
Due: JS linting, TS dev build

chore: added missing CHANGELOG entries
  CHANGELOG.md
Due: none

feat(vehiclestatus): vehicle doesnt reenable after stall if dont have veh
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
Due: JS linting, TS dev build

feat(restaurant): confirm to cancel order
  CHANGELOG.md
  resources/[dg]/dg-restaurants/typescript/src/server/classes/restaurant.ts
Due: JS linting, TS dev build

fix(clothing): FORgotten comma
  resources/[qb]/qb-clothing/config.lua
Due: none

fix(garages): check by whitelist not active job
  CHANGELOG.md
  resources/[dg]/dg-jobs/typescript/src/server/classes/whitelistmanager.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/service.garages.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/jobs.ts
Due: JS linting, TS dev build

fix(farming): use correct bucket to water
  CHANGELOG.md
  resources/[dg]/dg-farming/typescript/src/server/classes/plantmanager.ts
Due: JS linting, TS dev build

tweak(scrapyard): bigger return zone
  CHANGELOG.md
  resources/[dg]/dg-config/configs/jobs/scrapyard.json
  resources/[dg]/dg-jobs/typescript/src/client/modules/scrapyard/service.scrapyard.ts
Due: validate json, JS linting, TS dev build

fix(phone): round numbers in infoapp
  CHANGELOG.md
  resources/[dg]/dg-phone/client/cl_info.lua
Due: none

fix(vehicles): remove spammed warning
  resources/[dg]/dg-vehicles/typescript/src/client/modules/fuel/controllers/events.ts
Due: JS linting, TS dev build

fix(logs): do not always add plyInfo
  resources/[dg]/dg-logs/server/sv_graylog.lua
Due: none

feat(ci): attempt to schedule update
  .gitlab-ci.yml
Due: none

fix(ci): fixed script of schedule deploy
  .gitlab-ci.yml
Due: none

chore(ci): use turbo cache
  .gitlab-ci.yml
  turbo.json
Due: validate json

fix(ci): move scheduler to alpine image
  .gitlab-ci.yml
Due: none

fix(ci): another way to save the command
  .gitlab-ci.yml
Due: none

fix(ci): do not rebuild when no changes are done
  .gitlab-ci.yml
Due: none

fix(ci): do not use CI API TOKEN
  .gitlab-ci.yml
Due: none

fix(ci): fix housekeeping job
  .gitlab-ci.yml
Due: none

fix(ci): im gonna murder myself
  .gitlab-ci.yml
Due: none

fix(ci): also pull /w rebase
  .gitlab-ci.yml
Due: none

fix(ci): do not error on aborting non-existing rebase
  .gitlab-ci.yml
Due: none

fix(ci): reset possible rebae changes
  .gitlab-ci.yml
Due: none

fix(ci): added debug BECAUSE WHY THIS NO WORK
  .gitlab-ci.yml
Due: none

tweak(vehiclestatus): increase repair percentage per part
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/service.status.ts
Due: JS linting, TS dev build

fix(vehiclestatus): temporarily disable status decrease on stall
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
Due: JS linting, TS dev build

feat(admin): option to send message to player
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/sendMessage.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/setAmmo.ts
  resources/[dg]/dg-admin/typescript/src/server/services/staffchat.ts
Due: JS linting, TS dev build

chore(assets): update submodule for upnatom change
  CHANGELOG.md
Due: none

fix(keys): fix exiting vehicle after lockpick
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/classes/keymanager.ts
Due: JS linting, TS dev build

fix(vehiclestatus): clamped service statuses
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/services/store.ts
Due: JS linting, TS dev build

feat(admin): playernames for blips out of scope
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/client/client.ts
  resources/[dg]/dg-admin/typescript/src/client/service/names.ts
  resources/[dg]/dg-admin/typescript/src/client/service/playerBlips.ts
  resources/[dg]/dg-admin/typescript/src/server/server.ts
  resources/[dg]/dg-admin/typescript/src/server/services/names.ts
Due: JS linting, TS dev build

fix(resources): enable dg-justice
  config/resources.cfg
Due: none

fix(garage): do not log whole garageInfo object
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/service.garages.ts
Due: JS linting, TS dev build

fix(financials): temp allow transfer triggersCids to not be online will be replaced with bitFlags in the future
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/classes/Account.ts
Due: JS linting, TS dev build

tweak(items): set decayrate of food to 1 hour
  resources/[dg]/dg-config/configs/inventory/items.json
Due: validate json

fix(misc): add extra checks before deleting prop-attach object
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/helpers.propattach.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/service.propattach.ts
  resources/[dg]/dg-misc/typescript/src/types/propattach.d.ts
  resources/[dg]/ts-shared/typescript/src/shared/helpers/deleteEntity.ts
  resources/[dg]/ts-shared/typescript/src/shared/index.ts
Due: JS linting, TS dev build

feat(admin): add extra log before trying to ban a player
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/penalties/service.penalties.ts
Due: JS linting, TS dev build

fix(garages): made entity distance checks in garage more lax
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/service.garages.ts
Due: JS linting, TS dev build

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
