Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

validate json:
  stage: test
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  services:
  - name: mariadb:10.7
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'DATABASE_URL=mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4' > ./packages/db/.env
  - yarn --pure-lockfile
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

TS dev build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

TS prod build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

docs(changelog): bump version
  CHANGELOG.md
Due: none

fix(phone/ui): phone no longer disappears when notif gets removed
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/main/phone/lib.ts
Due: JS linting, TS dev build, TS prod build

fix(seatbelts): eject from front of vehicle instead of center
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/seatbelts/service.seatbelts.ts
Due: JS linting, TS dev build, TS prod build

refactor(keys): handle veh locks on server
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/keys/service.keys.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/controller.keys.ts
Due: JS linting, TS dev build, TS prod build

refactor(stance): move to statebaghandler
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/client.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/fuel/controllers/events.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/seatbelts/controller.seatbelts.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/stances/controller.stances.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/stances/service.stances.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicle): check if a status is null before doing logic on it
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/server/modules/radio/controller.radio.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicle): check if a status is null before doing logic on it
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/services/store.ts
Due: JS linting, TS dev build, TS prod build

fix(api): fix admin action routes
  resources/[dg]/dg-admin/typescript/src/server/modules/penalties/service.penalties.ts
  resources/[dg]/dg-api/typescript/src/server/routes/admin.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/admin.ts
Due: JS linting, TS dev build, TS prod build

feat(admin): add current points tracker + popup of missed warns
  CHANGELOG.md
  package.json
  packages/db/prisma/migrations/20230224200724_add_admin_penalty_points/migration.sql
  packages/db/prisma/migrations/20230224225112_add_unannounced_warns/migration.sql
  packages/db/prisma/schema.prisma
  resources/[dg]/dg-admin/typescript/package.json
  resources/[dg]/dg-admin/typescript/src/server/modules/menu/controller.menu.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/penalties/controller.penalties.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/penalties/service.penalties.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/penaltyPoints/controller.penaltyPoints.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/penaltyPoints/service.penaltyPoints.ts
  resources/[dg]/dg-admin/typescript/src/server/server.ts
  resources/[dg]/dg-admin/typescript/src/server/types/penalty.d.ts
  resources/[dg]/dg-admin/typescript/src/types/index.d.ts
  resources/[dg]/dg-admin/ui/src/components/penaltyModal.vue
  resources/[dg]/dg-admin/ui/src/types/common.ts
  resources/[dg]/dg-config/configs/admin/bans.json
  resources/[dg]/ts-shared/typescript/src/shared/types/ui.d.ts
  yarn.lock
Due: validate json, JS linting, TS dev build, TS prod build

fix(upgrades): check if vehicle has upgrades in illegal check
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/stances/controller.stances.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/upgrades/service.upgrades.ts
Due: JS linting, TS dev build, TS prod build

fix(ac): array of reasons
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/controller.anticheat.ts
Due: JS linting, TS dev build, TS prod build

fix(ci): remove compression settings
  .gitlab-ci.yml
Due: none

fix(admin): added missing check for offline warns
  resources/[dg]/dg-admin/typescript/src/server/modules/penalties/controller.penalties.ts
Due: JS linting, TS dev build, TS prod build

fix(poly): use print instead of debug
  CHANGELOG.md
  resources/[dg]/dg-polytarget/client/cl_main.lua
  resources/[dg]/dg-polyzone/client/cl_main.lua
Due: none

fix(chars): removed type in select log
  CHANGELOG.md
  resources/[dg]/dg-chars/server/sv_main.lua
Due: none

fix(api): set return statement at right position
  resources/[dg]/dg-api/typescript/src/server/helpers/bodyHelper.ts
  resources/[dg]/dg-api/typescript/src/server/sv_routes.ts
Due: JS linting, TS dev build, TS prod build

tweak(speedzones): gain less stress
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/modules/speedzones/service.speedzones.ts
Due: JS linting, TS dev build, TS prod build

feat(admin): add feedback to caller when using sendMessage
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/sendMessage.ts
Due: JS linting, TS dev build, TS prod build

chore(admin): change perm of fixscreenfadeout to staff
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/fixScreenFadeout.ts
Due: JS linting, TS dev build, TS prod build

fix(hospital): add pistolmk2 as damagetype
  CHANGELOG.md
  resources/[dg]/dg-config/configs/hospital/damagetypes.json
Due: validate json

feat(phone): restore sticky notif after UI reload
  CHANGELOG.md
  resources/[dg]/dg-phone/client/cl_main.lua
  resources/[dg]/dg-phone/client/cl_notifications.lua
Due: none

fix(stances): correctly insert null data & check for null in thread
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/stances/controller.stances.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/stances/service.stances.ts
  resources/[dg]/dg-vehicles/typescript/src/server/db/repository.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/stances/controller.stances.ts
Due: JS linting, TS dev build, TS prod build

feat(restaurants): menu to kick off duty, off duty when exiting building
  CHANGELOG.md
  resources/[dg]/dg-labs/typescript/src/client/modules/weed/service.weed.ts
  resources/[dg]/dg-restaurants/typescript/src/client/controllers/peek.ts
  resources/[dg]/dg-restaurants/typescript/src/client/controllers/ui.ts
  resources/[dg]/dg-restaurants/typescript/src/server/classes/restaurant.ts
  resources/[dg]/dg-restaurants/typescript/src/server/classes/restaurantmanager.ts
  resources/[dg]/dg-restaurants/typescript/src/server/controllers/events.ts
Due: JS linting, TS dev build, TS prod build

feat(misc): add ladder camp thread
  CHANGELOG.md
  resources/[dg]/dg-hospital/typescript/src/client/modules/health/controller.health.ts
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/services/ladders.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/jobs.ts
Due: JS linting, TS dev build, TS prod build

feat(radiotowers): fix dispatch call, more peds, randomize timeouts
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/radiotowers.json
  resources/[dg]/dg-materials/typescript/src/client/modules/radiotowers/controller.radiotowers.ts
  resources/[dg]/dg-materials/typescript/src/client/modules/radiotowers/service.radiotowers.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/radiotowers/constants.radiotowers.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/radiotowers/controller.radiotowers.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/radiotowers/logger.radiotowers.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/radiotowers/service.radiotowers.ts
  resources/[dg]/dg-materials/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

tweak(restaurants): dont require signed in state to access stash
  CHANGELOG.md
  resources/[dg]/dg-restaurants/typescript/src/client/controllers/peek.ts
Due: JS linting, TS dev build, TS prod build

tweak(consumables): increase stress relieve of joint
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/services/consumables.ts
Due: JS linting, TS dev build, TS prod build

fix(houserobbery): allow police to retrieve house info from server
  CHANGELOG.md
  resources/[dg]/dg-houserobbery/typescript/src/client/modules/house/controller.house.ts
  resources/[dg]/dg-houserobbery/typescript/src/client/modules/house/helpers.house.ts
  resources/[dg]/dg-houserobbery/typescript/src/client/services/interiors.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/server.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): add ems vehshop
  resources/[dg]/dg-config/configs/npcs.json
  resources/[dg]/dg-vehicles/seeding/garages/mrpd_upper.json
  resources/[dg]/dg-vehicles/seeding/vehicles.json
  resources/[dg]/dg-vehicles/typescript/src/client/modules/dev/controller.dev.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/emsShop.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/index.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/emsShop.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/index.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(financials): paycheck bump
  resources/[dg]/dg-config/configs/financials.json
Due: validate json

docs(changelog): added missing entries
  CHANGELOG.md
Due: none

fix(vehicles): reenabled npc checker
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
Due: JS linting, TS dev build, TS prod build

fix(radiotowers): actually emit left event & clear swarm timeout when leaving
  resources/[dg]/dg-materials/typescript/src/client/modules/radiotowers/service.radiotowers.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/radiotowers/controller.radiotowers.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/radiotowers/service.radiotowers.ts
Due: JS linting, TS dev build, TS prod build

chore(vehicles): add missing models
  resources/[dg]/dg-misc/typescript/src/shared/constants.ts
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json, JS linting, TS dev build, TS prod build

feat(radialmenu): can turn off engine when you dont have keys
  CHANGELOG.md
  resources/[dg]/dg-radialmenu/typescript/src/client/data/vehicle.ts
Due: JS linting, TS dev build, TS prod build

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
