Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, Validate Errorlogger, validate db migrations, JS linting, JS building

.gitlab-ci.yml:

stages:
  - test
  - linting
  - build
  - housekeeping

image: node:lts

.lerna_installation:
  before_script:
    - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
    - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
    - npm config set always-auth true
    - yarn config set network-timeout 600000 -g
    - yarn --pure-lockfile

.cache_modules:
  cache:
    key: "$CI_COMMIT_REF_NAME-node_modules"
    paths:
      - node_modules/
      - '**/node_modules/'

.js_changes:
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.js"
      - "**/*.ts"
      - "**/*.jsx"
      - "**/*.tsx"
      - "**/*.css"
      - "**/*.scss"
      - "**/*.html"
      - "**/package.json"
      - "**/yarn.lock"

validate json:
  stage: test
  script:
    - cd ./tools/json-validator
    - yarn --pure-lockfile
    - yarn start
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.json"

Validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
    - python ./tools/manifest-check.py
    - exit "${?}"
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - '**/fxmanifest.lua'

validate db migrations:
  stage: test
  services:
    - name: mariadb:latest
      alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
    - echo 'set mysql_connection_string "mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4"' > ./config/mysql.cfg
    - cd ./tools/migrations
    - yarn --pure-lockfile
    - yarn start --init-db
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - 'migrations/*'

sonarqube-check:
  stage: test
  tags:
    - amd64
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [ "" ]
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
    GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task
  cache:
    key: "$CI_COMMIT_REF_NAME-sonar"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner
  allow_failure: true
  only:
    - main
    - UPD

JS linting:
  extends:
    - .lerna_installation
    - .cache_modules
    - .js_changes
  stage: linting
  script:
    - yarn lint

JS building:
  extends:
    - .lerna_installation
    - .cache_modules
    - .js_changes
  stage: build
  script:
    - yarn format -- -- --loglevel error
    - yarn build

rebase UPD:
  stage: housekeeping
  image: node:lts
  script:
    # setting up git
    - url_host=`git remote get-url origin | sed -e "s/https:\/\/gitlab-ci-token:.*@//g"`
    - git remote set-url origin "https://gitlab-ci-token:${ACCESS_TOKEN_PARAM}@${url_host}"
    - git config http.sslverify false
    - git config --global user.email "ci@gitlab.pieter557.dscloud.me"
    - git config --global user.name "CI"
    - git fetch # Just in case branch is not fetch
    - git checkout -t origin/main
    - git pull
    - git checkout -t origin/UPD
    - git pull
    # Rebase
    - git rebase main UPD
    # Push
    - git push -u origin UPD

  only:
    - main

feat(dgx): claim ownership of spawned entity & add anypedclosetocoords func
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
Due: JS linting, JS building

chore(ci): cleanup for prod builds on main
  .gitlab-ci.yml
Due: none

fix(logs): fixed wrong env condition when adding sentry logging
  resources/[dg]/dg-admin/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-business/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-criminal/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-dispatch/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-doorlock/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-financials/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-gangs/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-inventory/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-lockers/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-materials/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-misc/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-police/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-sync/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-weapons/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-weathersync/typescript/src/server/sv_logger.ts
Due: JS linting, JS building

feat(auth): extend key expiry date & add check for tokens from previous restart
  resources/[dg]/dg-auth/typescript/src/server/modules/authTokens/service.ts
Due: JS linting, JS building

fix(debts): do not schedule maintenance fees if it is not the fitted restart
  resources/[dg]/dg-admin/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-business/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-criminal/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-dispatch/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-doorlock/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/helpers/maintenanceFees.ts
  resources/[dg]/dg-financials/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-gangs/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-inventory/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-lockers/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-materials/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-misc/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-police/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-sync/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-weapons/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-weathersync/typescript/src/server/sv_logger.ts
Due: JS linting, JS building

fix(migrations): always seed queue prio's
  migrations/V17_add_queue_prio.sql
  migrations/V8_seed_base.sql
Due: validate db migrations

fix(inventory): prevent need to add hiddenKeys to hiddenKeys array
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/itemtooltip.tsx
Due: JS linting, JS building

feat(misc): added rentals
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/rentals.json
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/rental/controller.rental.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/rental/service.rental.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/rental/controller.rental.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/rental/logger.rental.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/rental/service.rental.ts
  resources/[dg]/dg-misc/typescript/src/server/server.ts
  resources/[dg]/dg-misc/typescript/src/types/rentals.d.ts
  resources/[dg]/dg-npcs/typescript/src/types/index.d.ts
  resources/[dg]/dg-ui/[src]/src/assets/inventory/paper_folder.png
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/vehicles.ts
  resources/[dg]/ts-shared/typescript/src/server/types/vehicles.d.ts
  resources/[qb]/qb-smallresources/client/point.lua
Due: validate json, JS linting, JS building

feat(misc): added point script in TS
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/services/point.ts
Due: JS linting, JS building

fix(inventory): actually hide hiddenkeys
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/itemtooltip.tsx
Due: JS linting, JS building

fix(admin/noclip): smoother rotation, check disabled keys for multipliers
  resources/[dg]/dg-admin/typescript/src/client/service/noclip.ts
Due: JS linting, JS building

fix(dgx): also await resource start and export availability in Config class
  resources/[dg]/ts-shared/typescript/src/server/classes/config.ts
Due: JS linting, JS building

fix(dgx/config): actually await promise
  resources/[dg]/ts-shared/typescript/src/server/classes/config.ts
Due: JS linting, JS building

feat(rentals): added logs
  resources/[dg]/dg-misc/typescript/src/server/modules/rental/service.rental.ts
Due: JS linting, JS building

fix(inventory): remove unneeded cash data
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/controller.inventories.ts
  resources/[dg]/dg-inventory/typescript/src/types/index.d.ts
Due: JS linting, JS building

fix(misc): fix config error on resource restart
  resources/[dg]/dg-misc/typescript/src/client/modules/rental/service.rental.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/rental/controller.rental.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/rental/service.rental.ts
  resources/[dg]/dg-npcs/typescript/src/client/classes/handler.ts
Due: JS linting, JS building

feat(misc): more blacklisted models, add baseevents for changing ped/id
  resources/[cfx-default]/baseevents/fxmanifest.lua
  resources/[cfx-default]/baseevents/playerchecker.lua
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/gtabehaviour/constants.gtabehaviour.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/gtabehaviour/controller.gtabehaviour.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/gtabehaviour/index.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/gtabehaviour/service.gtabehaviour.ts
  resources/[dg]/dg-misc/typescript/src/server/constants.ts
  resources/[dg]/dg-misc/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-misc/typescript/src/shared/constants.ts
Due: Validate Errorlogger, JS linting, JS building

refactor(propattach): finally an actual good way to toggle objects
  resources/[dg]/dg-admin/typescript/src/client/service/noclip.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/resetPlayerProps.ts
  resources/[dg]/dg-chars/client/cl_spawn.lua
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/controller.propattach.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/service.propattach.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/propattach/service.propattach.ts
  resources/[dg]/dg-misc/typescript/src/types/propattach.d.ts
Due: JS linting, JS building

fix(vehicles): hopefully stop vehicles spawning with an npc driver
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
Due: JS linting, JS building

chore(config): remove dgx files in manifests of ts resources
  resources/[dg]/dg-api/fxmanifest.lua
  resources/[dg]/dg-build/fxmanifest.lua
  resources/[dg]/dg-build/typescript/config/webpack.server.js
  resources/[dg]/dg-build/typescript/config/webpack.util.js
  resources/[dg]/dg-chat/fxmanifest.lua
  resources/[dg]/dg-financials/fxmanifest.lua
  resources/[dg]/dg-npcs/fxmanifest.lua
  resources/[dg]/dg-peek/fxmanifest.lua
  resources/[dg]/dg-sql/fxmanifest.lua
  resources/[dg]/dg-vehicles/fxmanifest.lua
Due: Validate Errorlogger, JS linting, JS building

fix(dgx): only registed env request event in dgx
  resources/[dg]/ts-shared/typescript/src/client/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/server/controllers/events.ts
Due: JS linting, JS building

fix(vehicleshop): fix error message when restarting resource
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/classes/ShopManager.ts
Due: JS linting, JS building

refactor(seatbelts): better saving/getting uses of harnass
  resources/[dg]/dg-vehicles/typescript/src/client/modules/seatbelts/service.seatbelts.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/seatbelts/controller.seatbelts.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/seatbelts/service.seatbelts.ts
Due: JS linting, JS building

feat(inventory): disable melee/shooting while object with anim is active
  resources/[dg]/dg-inventory/typescript/src/client/modules/objects/classes/objectsmanager.ts
Due: JS linting, JS building

refactor(nos): only use statebag to dispatch nos to client
  resources/[dg]/dg-vehicles/typescript/src/client/controllers/baseevents.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/nos/controller.nos.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/nos/service.nos.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/nos/controller.nos.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/nos/service.nos.ts
Due: JS linting, JS building

refactor(keys): give keys to everyone in car using peek when no one nearby
  resources/[dg]/dg-vehicles/typescript/src/client/controllers/zones.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/controller.keys.ts
Due: JS linting, JS building

fix(garages): fix garage sometimes not loading on client
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/controller.garages.ts
Due: JS linting, JS building

fix(taskbar): server called taskbar finished for every ply at same time
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/containers/controller.containers.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/radiotowers/controller.radiotowers.ts
  resources/[dg]/dg-materials/typescript/src/server/services/melting.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/taskbar/controller.taskbar.ts
  resources/[dg]/dg-police/typescript/src/server/modules/evidence/controller.evidence.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/identification/service.id.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/nos/controller.nos.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/seatbelts/controller.seatbelts.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/service.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/upgrades/controller.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/getintrunk.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/ui.ts
Due: JS linting, JS building

fix(propattach): fix double objects on spawn & double remove on misc restart
  resources/[dg]/dg-inventory/typescript/src/client/modules/objects/classes/objectsmanager.ts
  resources/[dg]/dg-inventory/typescript/src/client/modules/objects/controller.objects.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/service.propattach.ts
Due: JS linting, JS building

fix(phone): fix phone camera
  resources/[dg]/dg-phone/client/cl_animation.lua
  resources/[dg]/dg-phone/client/cl_camera.lua
  resources/[dg]/dg-phone/server/sv_camera.lua
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/gallery-app/components/gallery.tsx
Due: JS linting, JS building

fix(misc): removed id's from taskbar
  resources/[dg]/dg-misc/typescript/src/server/services/consumables.ts
Due: JS linting, JS building

fix(minio): cleanup of logs + fixed credential scope
  resources/[standalone]/screenshot-basic/src/server/server.ts
Due: JS linting, JS building

chore(vehicles): updated submodule + reflected changes in config
  resources/[dg]/dg-config/configs/vehicles/shop.json
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

fix(phone): fix exiting vehicle while phone open
  resources/[dg]/dg-phone/client/cl_animation.lua
Due: none

feat(debts): replace defaulting with event + overwrite payterm
  migrations/V22_add_more_overwrite_to_debts.sql
  resources/[dg]/dg-business/typescript/src/server/server.ts
  resources/[dg]/dg-business/typescript/src/server/services/business.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/controllers/accounts.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/classes/debtmanager.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/controllers/debts.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/helpers/debts.ts
  resources/[dg]/dg-financials/typescript/src/server/server.ts
  resources/[dg]/dg-financials/typescript/src/server/types/index.d.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/shops/shopmanager.ts
  resources/[dg]/dg-lockers/typescript/src/server/classes/Locker.ts
  resources/[dg]/dg-lockers/typescript/src/server/classes/LockersManager.ts
  resources/[dg]/dg-phone/client/cl_debt.lua
  resources/[dg]/ts-shared/typescript/src/server/classes/financials.ts
  resources/[dg]/ts-shared/typescript/src/server/decorators/Events.ts
  resources/[dg]/ts-shared/typescript/src/server/types/financials.d.ts
Due: validate db migrations, JS linting, JS building

feat(build): add dry volumes around instances based on extents from ymap
  resources/[dg]/dg-build/typescript/src/client/classes/Room.ts
  resources/[dg]/dg-build/typescript/src/client/classes/RoomManager.ts
  resources/[dg]/dg-lib/client/ymapparser/cl_main.lua
  resources/[dg]/dg-lib/client/ymapparser/ymap/bench_container.ymap.xml
  resources/[dg]/dg-lib/client/ymapparser/ymap/container_shell.ymap.xml
  resources/[dg]/ts-shared/typescript/src/shared/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/vectors.d.ts
Due: JS linting, JS building

fix(dgx): fix offset calculation util function
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/shared/classes/util.ts
Due: JS linting, JS building

refactor(materials): move container props to config
  resources/[dg]/dg-config/configs/materials/containers.json
  resources/[dg]/dg-materials/typescript/src/client/client.ts
  resources/[dg]/dg-materials/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-materials/typescript/src/client/modules/containers/constants.containers.ts
  resources/[dg]/dg-materials/typescript/src/client/modules/containers/controller.containers.ts
  resources/[dg]/dg-materials/typescript/src/client/modules/containers/helpers.containers.ts
  resources/[dg]/dg-materials/typescript/src/client/modules/containers/service.containers.ts
  resources/[dg]/dg-materials/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-materials/typescript/src/server/server.ts
  resources/[dg]/dg-materials/typescript/src/types/index.d.ts
Due: validate json, JS linting, JS building
