Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, JS linting, JS building

.gitlab-ci.yml:

stages:
  - test
  - linting
  - build
  - housekeeping

image: node:lts

.lerna_installation:
  before_script:
    - yarn config set network-timeout 600000 -g
    - yarn --pure-lockfile
    - yarn postinstall:lerna

.cache_modules:
  cache:
    key: "$CI_COMMIT_REF_NAME-node_modules"
    paths:
      - node_modules/
      - '**/node_modules/'

validate json:
  stage: test
  script:
    - cd ./tools/json-validator
    - yarn --pure-lockfile
    - yarn start
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.json"

sonarqube-check:
  stage: test
  tags:
    - amd64
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [ "" ]
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
    GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task
  cache:
    key: "$CI_COMMIT_REF_NAME-sonar"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner
  allow_failure: true
  only:
    - main
    - UPD

JS linting:
  extends:
    - .lerna_installation
    - .cache_modules
  stage: linting
  script:
    - yarn lint
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.js"
      - "**/*.ts"
      - "**/*.jsx"
      - "**/*.tsx"
      - "**/*.scss"

JS building:
  extends:
    - .lerna_installation
    - .cache_modules
  stage: build
  script:
    - yarn format -- -- --loglevel error
    - yarn build
  only:
    refs:
      - main
      - UPD
      - merge_requests
      - tags
    changes:
      - "**/*.(js|ts|jsx|tsx|css|scss|less|html)"
      - "**/package.json"
      - "**/yarn.lock"


rebase UPD:
  stage: housekeeping
  image: node:lts
  script:
    # setting up git
    - url_host=`git remote get-url origin | sed -e "s/https:\/\/gitlab-ci-token:.*@//g"`
    - git remote set-url origin "https://gitlab-ci-token:${ACCESS_TOKEN_PARAM}@${url_host}"
    - git config http.sslverify false
    - git config --global user.email "ci@gitlab.pieter557.dscloud.me"
    - git config --global user.name "CI"
    - git fetch # Just in case branch is not fetch
    - git checkout -t origin/main
    - git pull
    - git checkout -t origin/UPD
    - git pull
    # Rebase
    - git rebase main UPD
    # Push
    - git push -u origin UPD

  only:
    - main

fix(taskbar): correctly provide canceled state as return value
  resources/[dg]/dg-misc/client/cl_taskbar.lua
Due: none

fix(peek): await promise for item
  resources/[dg]/dg-peek/typescript/src/client/helpers/entries.ts
Due: JS linting

feat(dgx): added cmds to show all registered DGX events and RPCs
  resources/[dg]/ts-shared/typescript/package.json
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
  resources/[dg]/ts-shared/typescript/src/server/helpers/cmds.ts
  resources/[dg]/ts-shared/typescript/src/server/index.ts
  resources/[dg]/ts-shared/typescript/yarn.lock
Due: validate json, JS linting, JS building

fix(polytarget): added ability to remove zones with id
  resources/[dg]/dg-polytarget/client/cl_main.lua
Due: none

feat(police): added export to get amount of cops
  resources/[qb]/qb-policejob/client/main.lua
  resources/[qb]/qb-policejob/server/main.lua
Due: none

refactor(smallresources): moved handsup to dglib keybinds to be able to disable them
  resources/[qb]/qb-smallresources/client/handsup.lua
Due: none

feat(dgx): added ways to remove zones and remove on restart for polytarget
  resources/[dg]/ts-shared/typescript/src/client/classes/interaction.ts
Due: JS linting

refactor(storerobbery): rewrite in TS
  .vscode/launch.json
  resources/[dg]/dg-storerobbery/.gitignore
  resources/[dg]/dg-storerobbery/README.md
  resources/[dg]/dg-storerobbery/client/cl_main.lua
  resources/[dg]/dg-storerobbery/client/cl_registers.lua
  resources/[dg]/dg-storerobbery/client/cl_safes.lua
  resources/[dg]/dg-storerobbery/config.lua
  resources/[dg]/dg-storerobbery/fxmanifest.lua
  resources/[dg]/dg-storerobbery/server/sv_main.lua
  resources/[dg]/dg-storerobbery/typescript/config/webpack.client.js
  resources/[dg]/dg-storerobbery/typescript/config/webpack.common.js
  resources/[dg]/dg-storerobbery/typescript/config/webpack.server.js
  resources/[dg]/dg-storerobbery/typescript/config/webpack.util.js
  resources/[dg]/dg-storerobbery/typescript/package.json
  resources/[dg]/dg-storerobbery/typescript/src/client/client.ts
  resources/[dg]/dg-storerobbery/typescript/src/client/config/stores.ts
  resources/[dg]/dg-storerobbery/typescript/src/client/controllers/classes/LocationManager.ts
  resources/[dg]/dg-storerobbery/typescript/src/client/controllers/index.ts
  resources/[dg]/dg-storerobbery/typescript/src/client/controllers/locations.ts
  resources/[dg]/dg-storerobbery/typescript/src/client/modules/index.ts
  resources/[dg]/dg-storerobbery/typescript/src/client/modules/registers/controller.registers.ts
  resources/[dg]/dg-storerobbery/typescript/src/client/modules/registers/helpers.registers.ts
  resources/[dg]/dg-storerobbery/typescript/src/client/modules/safes/controller.safes.ts
  resources/[dg]/dg-storerobbery/typescript/src/client/modules/safes/helpers.safe.ts
  resources/[dg]/dg-storerobbery/typescript/src/client/tsconfig.json
  resources/[dg]/dg-storerobbery/typescript/src/config.ts
  resources/[dg]/dg-storerobbery/typescript/src/server/classes/StateManager.ts
  resources/[dg]/dg-storerobbery/typescript/src/server/modules/index.ts
  resources/[dg]/dg-storerobbery/typescript/src/server/modules/registers/controller.registers.ts
  resources/[dg]/dg-storerobbery/typescript/src/server/modules/safes/controller.safes.ts
  resources/[dg]/dg-storerobbery/typescript/src/server/server.ts
  resources/[dg]/dg-storerobbery/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-storerobbery/typescript/src/server/sv_util.ts
  resources/[dg]/dg-storerobbery/typescript/src/server/tsconfig.json
  resources/[dg]/dg-storerobbery/typescript/src/types/index.d.ts
  resources/[dg]/dg-storerobbery/typescript/yarn.lock
Due: validate json, JS linting, JS building

fix(financials): fixed bank heading in new pacific mlo
  resources/[dg]/dg-financials/typescript/src/client/config.ts
Due: JS linting

fix(dependabot): added auto merge + removed financials as start of storing all packages at root level
  .gitlab/dependabot.yml
Due: none

chore(deps): updated lock files for security Bumps
  resources/[dg]/dg-financials/typescript/yarn.lock
  resources/[dg]/dg-ui/[src]/yarn.lock
  yarn.lock
Due: JS building

fix(chars): actually wait on characters to sit down
  resources/[dg]/dg-chars/client/cl_main.lua
  resources/[dg]/dg-chars/client/cl_util.lua
Due: none

style(financials): fixed color of incoming request
  resources/[dg]/dg-ui/[src]/src/main/financials/styles/financials.scss
Due: JS linting

fix(financials): added missing label for blip
  resources/[dg]/dg-financials/typescript/src/client/classes/Location.ts
Due: JS linting

fix(chat): added missing evt killers
  resources/[dg]/dg-chat/ui/src/components/inputField.vue
Due: none

fix(chat): filter out empty messages where possible
  resources/[dg]/dg-chat/ui/src/components/inputField.vue
  resources/[dg]/dg-chat/ui/src/lib/store.ts
Due: JS linting

fix(core): check if user has citizenid before fetching inventory
  resources/[core]/dg-core/server/player.lua
Due: none

fix(sql): replace nil elements with undefined string and change undefined to null before execution
  resources/[core]/dg-core/server/player.lua
  resources/[dg]/dg-sql/typescript/src/server/classes/handler.ts
Due: JS linting

fix(chars/ui): added inputvalidation to prevent empty or really short names
  resources/[dg]/dg-chars/ui/src/components/chars/InfoBox.vue
Due: none

fix(build): properly set name of package
  resources/[dg]/dg-build/typescript/package.json
Due: validate json, JS building

chore(runConfigs): added script to generate missing configs + added missing configs
  .idea/runConfigurations/blackout_build_dev.xml
  .idea/runConfigurations/blackout_build_prod.xml
  .idea/runConfigurations/blackout_watch.xml
  .idea/runConfigurations/chat_build_dev.xml
  .idea/runConfigurations/chat_build_prod.xml
  .idea/runConfigurations/chat_res_build_dev.xml
  .idea/runConfigurations/chat_res_build_prod.xml
  .idea/runConfigurations/chat_res_watch.xml
  .idea/runConfigurations/chat_watch.xml
  .idea/runConfigurations/config_build_dev.xml
  .idea/runConfigurations/config_build_prod.xml
  .idea/runConfigurations/config_watch.xml
  .idea/runConfigurations/financials_build_dev.xml
  .idea/runConfigurations/financials_build_prod.xml
  .idea/runConfigurations/financials_res_build_dev.xml
  .idea/runConfigurations/financials_res_build_prod.xml
  .idea/runConfigurations/financials_res_watch.xml
  .idea/runConfigurations/financials_watch.xml
  .idea/runConfigurations/heists_build_dev.xml
  .idea/runConfigurations/heists_build_prod.xml
  .idea/runConfigurations/heists_watch.xml
  .idea/runConfigurations/jobs_build_prod.xml
  .idea/runConfigurations/npcs_build_dev.xml
  .idea/runConfigurations/npcs_build_prod.xml
  .idea/runConfigurations/npcs_watch.xml
  .idea/runConfigurations/sql_build_prod.xml
  .idea/runConfigurations/storerobbery_build_dev.xml
  .idea/runConfigurations/storerobbery_build_prod.xml
  .idea/runConfigurations/storerobbery_watch.xml
  .idea/runConfigurations/weathersync_build_dev.xml
  .idea/runConfigurations/weathersync_build_prod.xml
  .idea/runConfigurations/weathersync_watch.xml
  .vscode/launch.json
  tools/runconfig-generator.py
Due: validate json

chore(ui): optimization and cleanup of appwrapper
  resources/[dg]/dg-ui/[src]/src/base-app.config.ts
  resources/[dg]/dg-ui/[src]/src/base-app.config.tsx
  resources/[dg]/dg-ui/[src]/src/components/appwrapper.tsx
  resources/[dg]/dg-ui/[src]/src/index.provider.tsx
  resources/[dg]/dg-ui/[src]/src/index.tsx
Due: JS linting

chore(pma): commented out NUI message senders
  resources/[standalone]/pma-voice/client/commands.lua
  resources/[standalone]/pma-voice/client/init/init.lua
  resources/[standalone]/pma-voice/client/init/main.lua
  resources/[standalone]/pma-voice/client/init/proximity.lua
  resources/[standalone]/pma-voice/client/module/phone.lua
  resources/[standalone]/pma-voice/client/module/radio.lua
Due: none

fix(phone): fixed notification popup being to low and lagging + removed loop when hiding phone
  resources/[dg]/dg-phone/client/cl_main.lua
  resources/[dg]/dg-ui/[src]/src/main/phone/lib.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/os/phone/phone.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/store.ts
Due: JS linting

chore(vite): split vendor package, remove unneeded parameter to tsc and added some shit to speedup tsc
  resources/[dg]/dg-ui/[src]/package.json
  resources/[dg]/dg-ui/[src]/tsconfig.json
  resources/[dg]/dg-ui/[src]/vite.config.ts
Due: validate json, JS linting, JS building

fix(phone): fixed notification icon not popping up with SVG icon
  resources/[dg]/dg-ui/[src]/src/main/phone/os/notifications/notifications.tsx
Due: JS linting

feat(ui/phone): add badge to app with notification (if tracked)
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/home-screen/components/homescreen.styles.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/home-screen/components/homescreen.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/mail-app/components/mail.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/mail-app/events.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/mail-app/store.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/message-app/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/message-app/events.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/message-app/store.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/lib.ts
  resources/[dg]/dg-ui/[src]/src/types/apps/phone.d.ts
Due: JS linting

feat(UI): moved notifications logic to hook to be used in different UI apps
  resources/[dg]/dg-ui/[src]/src/main/notifications/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/notifications/hooks/useNotification.ts
  resources/[dg]/dg-ui/[src]/src/main/notifications/store.ts
  resources/[dg]/dg-ui/[src]/src/types/apps/notifications.d.ts
Due: JS linting

feat(chat): add ability to run cmds from server CLI
  resources/[dg]/dg-chat/typescript/src/server/helpers/commands.ts
Due: JS linting

chore(auth): code cleanup + fix with getting dropped after resource restart
  resources/[dg]/dg-auth/typescript/src/server/classes/eventIdManager.ts
  resources/[dg]/dg-auth/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-auth/typescript/src/server/helpers/events.ts
  resources/[dg]/dg-auth/typescript/src/server/helpers/resourceSet.ts
  resources/[dg]/dg-auth/typescript/src/server/helpers/tokens.ts
Due: JS linting

fix(ui/notifications): fixed timeout problem with hooks
  resources/[dg]/dg-ui/[src]/src/main/notifications/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/notifications/hooks/useNotification.ts
Due: JS linting

fix(houserobbery): add check if player actually loaded into core
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
Due: JS linting

fix(ui): always reseed character data
  resources/[dg]/dg-ui/client/components/cl_info.lua
Due: none

fix(jobs): fixed data not being reseeded after ui restart
  resources/[dg]/dg-jobs/typescript/src/client/modules/groups/controller.ts
  resources/[dg]/dg-jobs/typescript/src/server/classes/jobManager.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/classes/Group.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/classes/GroupManager.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/classes/NameManager.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/controller.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/service.ts
  resources/[dg]/dg-jobs/typescript/src/server/sv_logger.ts
Due: JS linting

fix(ui/phone): fixed phone closing when notification was removed
  resources/[dg]/dg-ui/[src]/src/main/phone/lib.ts
Due: JS linting
