Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build node image, validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

build node image:
  stage: images
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/node:latest -t $CI_REGISTRY_IMAGE/node:$CI_COMMIT_SHA .
  - docker push $CI_REGISTRY_IMAGE/node:latest
  ...

validate json:
  stage: test
  image: node:16
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  image: node:16
  services:
  - name: mariadb:10.7
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'DATABASE_URL=mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4' > ./packages/db/.env
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  - ls /app
  ...

TS dev build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  - ls /app
  ...

TS prod build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  - ls /app
  ...

chore(elevators): change elevator taskbar settings
  resources/[dg]/dg-misc/typescript/src/client/modules/elevators/service.elevators.ts
Due: JS linting, TS dev build, TS prod build

fix(misc): do not modify zcoord in rot matrix calculation
  resources/[dg]/dg-misc/typescript/src/shared/helpers/math.ts
Due: JS linting, TS dev build, TS prod build

refactor: replace screenshot-basic with up-to-date rewrite
  CHANGELOG.md
  config/resources.cfg
  pnpm-lock.yaml
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/takeScreenshot.ts
  resources/[dg]/dg-imager/.gitignore
  resources/[dg]/dg-imager/README.md
  resources/[dg]/dg-imager/fxmanifest.lua
  resources/[dg]/dg-imager/typescript/package.json
  resources/[dg]/dg-imager/typescript/src/client/client.ts
  resources/[dg]/dg-imager/typescript/src/client/tsconfig.json
  resources/[dg]/dg-imager/typescript/src/server/constant.ts
  resources/[dg]/dg-imager/typescript/src/server/server.ts
  resources/[dg]/dg-imager/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-imager/typescript/src/server/tsconfig.json
  resources/[dg]/dg-imager/typescript/src/types/http-wrapper.d.ts
  resources/[dg]/dg-imager/typescript/src/types/index.d.ts
  resources/[dg]/dg-imager/ui/build.js
  resources/[dg]/dg-imager/ui/index.html
  resources/[dg]/dg-imager/ui/package.json
  resources/[dg]/dg-imager/ui/src/main.ts
  resources/[dg]/dg-imager/ui/tsconfig.json
  resources/[dg]/dg-phone/server/sv_camera.lua
  resources/[dg]/dg-vehicles/typescript/src/server/modules/impound/service.impound.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/screenshot.ts
  resources/[standalone]/screenshot-basic/.gitignore
  resources/[standalone]/screenshot-basic/README.md
  resources/[standalone]/screenshot-basic/config/client.config.js
  resources/[standalone]/screenshot-basic/config/server.config.js
  resources/[standalone]/screenshot-basic/config/ui.config.js
  resources/[standalone]/screenshot-basic/fxmanifest.lua
  resources/[standalone]/screenshot-basic/package.json
  resources/[standalone]/screenshot-basic/src/client/client.ts
  resources/[standalone]/screenshot-basic/src/client/tsconfig.json
  resources/[standalone]/screenshot-basic/src/server/server.ts
  resources/[standalone]/screenshot-basic/src/server/tsconfig.json
  resources/[standalone]/screenshot-basic/src/server/types/@citizenfx/http-wrapper.d.ts
Due: validate json, validate Errorlogger, JS linting, TS dev build, TS prod build

chore: update packages
  package.json
  packages/db/package.json
  packages/logger/package.json
  pnpm-lock.yaml
  resources/[dg]/dg-admin/typescript/package.json
  resources/[dg]/dg-admin/ui/package.json
  resources/[dg]/dg-auth/typescript/package.json
  resources/[dg]/dg-auth/ui-project/package.json
  resources/[dg]/dg-chars/ui/package.json
  resources/[dg]/dg-chat/ui/package.json
  resources/[dg]/dg-imager/typescript/package.json
  resources/[dg]/dg-ui/[src]/package.json
  resources/[dg]/ts-shared/typescript/package.json
  resources/[standalone]/pma-sirensync/package.json
Due: build node image, validate json, validate db migrations, JS linting, TS dev build, TS prod build

feat(weapons): custom dispatch calls per weapon, hopefully fix resource usage
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/modules/gtabehaviour/controller.gtabehaviour.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/gtabehaviour/service.gtabehaviour.ts
  resources/[dg]/dg-police/typescript/src/server/controllers/exports.ts
  resources/[dg]/dg-police/typescript/src/server/controllers/index.ts
  resources/[dg]/dg-weapons/typescript/src/client/modules/weapons/service.weapons.ts
  resources/[dg]/dg-weapons/typescript/src/server/contants.ts
  resources/[dg]/dg-weapons/typescript/src/server/modules/weapons/controller.weapons.ts
  resources/[dg]/dg-weapons/typescript/src/server/modules/weapons/service.weapons.ts
  resources/[dg]/dg-weapons/typescript/src/types/index.d.ts
Due: JS linting, TS dev build, TS prod build

tweak(crafting): increase visible reputation limit for weaponbenches
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/crafting.json
Due: validate json

chores(seats): added seats/chairs Maze Bank Arena
  resources/[dg]/dg-config/configs/seats.json
Due: validate json

chore(elevators): Added Maze Bank Elevators
  resources/[dg]/dg-config/configs/elevators.json
Due: validate json

fix(pnpm): update lockfile
  pnpm-lock.yaml
Due: none

fix(ci): use latest pnpm with corepack
  .gitlab-ci.yml
Due: none

chore(changelog): Added changelog entries for 7fb585d67479e51aee3683aaa0e01998b5f42638 and a7086abbc8104a946affff7ce188273268f0f9c5
  CHANGELOG.md
Due: none

tweak(weed): lower decay rate of plant food
  CHANGELOG.md
  resources/[dg]/dg-config/configs/criminal/weed.json
Due: validate json

tweak(dumpsters): taskbar shorter time
  CHANGELOG.md
  resources/[dg]/dg-materials/typescript/src/client/modules/dumpsters/service.dumpsters.ts
Due: JS linting, TS dev build, TS prod build

fix(police): see cid when using dna
  resources/[dg]/dg-police/typescript/src/server/modules/evidence/controller.evidence.ts
Due: JS linting, TS dev build, TS prod build

feat(weapons): copy serialnumber on use
  CHANGELOG.md
  resources/[dg]/dg-weapons/typescript/src/client/modules/weapons/controller.weapons.ts
Due: JS linting, TS dev build, TS prod build

fix(sanddigging): check if ped in vehicle when doing spot action
  CHANGELOG.md
  resources/[dg]/dg-jobs/typescript/src/client/modules/sanddigging/service.sanddigging.ts
Due: JS linting, TS dev build, TS prod build

feat(scrapyard): new locations, correctly finish job, delete ped on finish
  CHANGELOG.md
  resources/[dg]/dg-config/configs/jobs/scrapyard.json
  resources/[dg]/dg-jobs/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/scrapyard/controller.scrapyard.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/scrapyard/service.scrapyard.ts
  resources/[dg]/dg-jobs/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/scrapyard/service.scrapyard.ts
  resources/[dg]/dg-jobs/typescript/src/types/scrapyard.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(financials): actually fix scheduled maintenance fee info
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/classes/debtmanager.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/helpers/maintenanceFees.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/debt-app/components/maintenanceEntries.tsx
Due: JS linting, TS dev build, TS prod build

fix(vehicles): fix numberplate text getter when text is not 8 chars
  resources/[dg]/dg-dev/client/cl_test.lua
  resources/[dg]/dg-dev/server/sv_test.lua
  resources/[dg]/dg-misc/typescript/src/server/modules/rental/service.rental.ts
  resources/[dg]/dg-police/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/identification/controller.id.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/identification/service.id.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/vehicles.ts
Due: JS linting, TS dev build, TS prod build

tweak(vehicles/service): change service decrease calculation for some parts
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
Due: JS linting, TS dev build, TS prod build

tweak(vehicles/mechanic): smoll increase of price/ticket
  CHANGELOG.md
  resources/[dg]/dg-config/configs/vehicles/mechanic.json
  resources/[dg]/dg-config/configs/vehicles/service.json
Due: validate json

tweak(financials): increase ems paycheck to account for base paycheck
  CHANGELOG.md
  resources/[dg]/dg-config/configs/financials.json
Due: validate json

fix(imager): add missing types package for minio
  pnpm-lock.yaml
  resources/[dg]/dg-imager/typescript/package.json
Due: validate json, JS linting, TS dev build, TS prod build

fix(weed): i actually speed up the decayrate instead of slowing it down lol
  resources/[dg]/dg-config/configs/criminal/weed.json
Due: validate json

refactor(inventory): new overlap algorithm, better itemsaving, move all of same type
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-inventory/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-inventory/typescript/src/client/controllers/ui.ts
  resources/[dg]/dg-inventory/typescript/src/client/modules/containers/controller.containers.ts
  resources/[dg]/dg-inventory/typescript/src/server/classes/contextmanager.ts
  resources/[dg]/dg-inventory/typescript/src/server/controllers/controller.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/containers/controller.containers.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/containers/service.containers.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/controller.inventories.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/helpers.inventories.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/classes/item.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/manager.items.ts
  resources/[dg]/dg-inventory/typescript/src/server/server.ts
  resources/[dg]/dg-inventory/typescript/src/server/services/repository.ts
  resources/[dg]/dg-ui/[src]/src/lib/devdata.ts
  resources/[dg]/dg-ui/[src]/src/main/inventory/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/dragpreview.tsx
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/grid.tsx
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/helptooltip.tsx
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/inventory.tsx
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/item.tsx
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/itemtooltip.tsx
  resources/[dg]/dg-ui/[src]/src/main/inventory/hooks/useInventory.ts
  resources/[dg]/dg-ui/[src]/src/main/inventory/stores/useInventoryStore.ts
  resources/[dg]/dg-ui/[src]/src/main/inventory/styles/inventory.scss
  resources/[dg]/dg-ui/[src]/src/main/inventory/util.ts
  resources/[dg]/dg-ui/[src]/src/types/apps/inventory.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(objectmanager): batch object removal
  resources/[dg]/dg-misc/typescript/src/client/modules/objectManager/controller.objectmanager.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/objectManager/constants.objectmanager.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/objectManager/service.objectmanager.ts
Due: JS linting, TS dev build, TS prod build

fix(weed): remove dumb timeouts because i was a retard
  resources/[dg]/dg-criminal/typescript/src/server/modules/weed/classes/weedplant.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/weed/classes/weedplantmanager.ts
Due: JS linting, TS dev build, TS prod build

chore(impound): add more reasons
  CHANGELOG.md
  resources/[dg]/dg-config/configs/vehicles/impound.json
Due: validate json

fix(garages): fix mc garage zone
  resources/[dg]/dg-vehicles/seeding/garages/gang_asphaltrebellions.json
Due: validate json

fix(vehicles/service): enforce empty vehicle to use repairparts
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/service.status.ts
Due: JS linting, TS dev build, TS prod build

fix(police): fix speedzone building extremely high
  resources/[dg]/dg-config/configs/police/speedzones.json
  resources/[dg]/dg-police/typescript/src/client/controllers/exports.ts
  resources/[dg]/dg-police/typescript/src/client/controllers/index.ts
  resources/[dg]/dg-police/typescript/src/client/modules/speedzones/service.speedzones.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(gangs): correctly import file to avoid pipeline fail
  resources/[dg]/dg-gangs/typescript/src/client/controllers/index.ts
Due: JS linting, TS dev build, TS prod build

fix(misc): unfuck object rotation + make sense of vector names in DB
  CHANGELOG.md
  pnpm-lock.yaml
  resources/[dg]/dg-misc/typescript/package.json
  resources/[dg]/dg-misc/typescript/src/client/modules/objectManager/controller.objectmanager.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/objectManager/service.objectmanager.ts
  resources/[dg]/dg-misc/typescript/src/shared/helpers/math.ts
Due: validate json, JS linting, TS dev build, TS prod build

tweak(hospital): lower dnaswab decayrate & lower bandage price for ambulance
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/inventory/shops.json
Due: validate json

tweak(inventory): lower multiple decayrates
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/items.json
Due: validate json

tweak(crafting): lower some reqs
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/crafting.json
Due: validate json

Path conditions:
  build node image: any of: package.json, yarn.lock
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
