Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build node image, validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

build node image:
  stage: images
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/node:latest -t $CI_REGISTRY_IMAGE/node:$CI_COMMIT_SHA .
  - docker push $CI_REGISTRY_IMAGE/node:latest
  ...

validate json:
  stage: test
  image: node:16
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  image: node:16
  services:
  - name: mariadb:10.7
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'DATABASE_URL=mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4' > ./packages/db/.env
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  - ls /app
  ...

TS dev build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  - ls /app
  ...

TS prod build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  - ls /app
  ...

tweak(weed): faster destroying for police
  CHANGELOG.md
  resources/[dg]/dg-criminal/typescript/src/client/modules/weed/service.weed.ts
Due: JS linting, TS dev build, TS prod build

tweak(seatbelts): consistent ejects instead of rng based
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/seatbelts/service.seatbelts.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
Due: JS linting, TS dev build, TS prod build

fix(weapons): only call setdamagemodifier when equipping weapon
  CHANGELOG.md
  resources/[dg]/dg-weapons/typescript/src/client/modules/weapons/service.weapons.ts
Due: JS linting, TS dev build, TS prod build

chore(clothing): update module
  CHANGELOG.md
Due: none

feat(lockers): transfer ownership & allow opening for limited time after entering password
  CHANGELOG.md
  resources/[dg]/dg-lockers/typescript/src/client/controllers/ui.ts
  resources/[dg]/dg-lockers/typescript/src/server/classes/Locker.ts
  resources/[dg]/dg-lockers/typescript/src/server/classes/LockersManager.ts
Due: JS linting, TS dev build, TS prod build

fix(storerobbery): change register checking distance
  resources/[dg]/dg-storerobbery/typescript/src/server/classes/StateManager.ts
Due: JS linting, TS dev build, TS prod build

chore(elevators): added multiple new elevators
  CHANGELOG.md
  resources/[dg]/dg-config/configs/elevators.json
Due: validate json

chore(admin): add extra ban reason
  CHANGELOG.md
  resources/[dg]/dg-config/configs/admin/bans.json
Due: validate json

fix(financials): refactor interval now every players gets one, fix paycheck not saving if no job
  CHANGELOG.md
  resources/[dg]/dg-financials/README.md
  resources/[dg]/dg-financials/typescript/src/server/modules/paycheck/controller.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/paycheck/service.ts
  resources/[dg]/dg-financials/typescript/src/server/server.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/financials.ts
Due: JS linting, TS dev build, TS prod build

fix(inventory): clear client item cache on charswitch
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-inventory/typescript/src/client/services/cache.ts
Due: JS linting, TS dev build, TS prod build

feat(jobs): add police signin locaties
  CHANGELOG.md
  resources/[dg]/dg-config/configs/jobs/signin.json
  resources/[dg]/dg-config/configs/police/prison.json
Due: validate json

fix(bennys): allow sooner repair
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/controller.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/service.bennys.ts
Due: JS linting, TS dev build, TS prod build

feat(weapons): add dispatch call on first shot
  CHANGELOG.md
  resources/[dg]/dg-weapons/typescript/src/server/modules/weapons/controller.weapons.ts
Due: JS linting, TS dev build, TS prod build

chore(garages): add more garages
  resources/[dg]/dg-vehicles/seeding/garages/crastenburg_parking.json
  resources/[dg]/dg-vehicles/seeding/garages/gang_medellin.json
  resources/[dg]/dg-vehicles/seeding/garages/gang_pluk.json
Due: validate json

feat(misc): add animloop wrapper
  CHANGELOG.md
  resources/[dg]/dg-hospital/typescript/src/client/controller/events.ts
  resources/[dg]/dg-hospital/typescript/src/client/modules/beds/service.beds.ts
  resources/[dg]/dg-hospital/typescript/src/client/modules/down/controller.down.ts
  resources/[dg]/dg-hospital/typescript/src/client/modules/down/service.down.ts
  resources/[dg]/dg-inventory/typescript/src/client/modules/objects/classes/objectsmanager.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/fishing/service.fishing.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/postop/service.postop.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/sanitation/servive.sanitation.ts
  resources/[dg]/dg-labs/typescript/src/client/services/box.ts
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/animloops/controller.animloops.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/animloops/helpers.animloops.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/animloops/index.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/animloops/service.animloop.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/animloops/weights.md
  resources/[dg]/dg-misc/typescript/src/client/modules/radio/service.radio.ts
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/modules/carry.ts
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/modules/cuffs.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/getintrunk.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/jobs.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/client/types/animloops.d.ts
Due: JS linting, TS dev build, TS prod build

tweak(weapons): modify weapon damages
  resources/[dg]/dg-weapons/README.MD
  resources/[dg]/dg-weapons/meta/weaponheavypistol.meta
  resources/[dg]/dg-weapons/meta/weaponmachinepistol.meta
  resources/[dg]/dg-weapons/meta/weapons.meta
  resources/[dg]/dg-weapons/meta/weapons_pistol_mk2.meta
  resources/[dg]/dg-weapons/meta/weaponspecialcarbine.meta
Due: none

tweak(hospital): decrease health decrease while bleeding
  CHANGELOG.md
  resources/[dg]/dg-hospital/typescript/src/client/modules/health/service.health.ts
Due: JS linting, TS dev build, TS prod build

chore(financials): remove debuglog
  resources/[dg]/dg-financials/typescript/src/server/modules/paycheck/service.ts
Due: JS linting, TS dev build, TS prod build

feat(weed): do not send destroymail when destroyer is police
  resources/[dg]/dg-criminal/typescript/src/server/modules/weed/classes/weedplant.ts
Due: JS linting, TS dev build, TS prod build

feat(melting): melt all items of type at once
  resources/[dg]/dg-config/configs/materials/melting.json
  resources/[dg]/dg-materials/typescript/src/server/services/melting.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(vehicleshop): always need employee if employee is inside shop
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/classes/ShopManager.ts
Due: JS linting, TS dev build, TS prod build

feat(testdrives): PDM employee can infinitely testdrive for RP reasons
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/controller.vehicleshop.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/services/testdrive.vehicleshop.ts
Due: JS linting, TS dev build, TS prod build

feat(esbuild): made debugger a bit easier
  scripts/build.js
  scripts/config.js
Due: JS linting, TS dev build, TS prod build

chore(webpack): remove build configs
  webpack/webpack.client.js
  webpack/webpack.server.js
Due: JS linting, TS dev build, TS prod build

fix(elevators): fix no level name
  resources/[dg]/dg-config/configs/elevators.json
Due: validate json

fix(fishing): reset fishEntity variable after deletion
  CHANGELOG.md
  resources/[dg]/dg-jobs/typescript/src/client/modules/fishing/service.fishing.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicleshop): remove client `needsEmployee` cache
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/vehicleshop/classes/Spot.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/vehicleshop/controller.vehicleshop.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/classes/ShopManager.ts
  resources/[dg]/dg-vehicles/typescript/src/types/vehicleshop.d.ts
Due: JS linting, TS dev build, TS prod build

fix(sanddigging): properly overwrite UI interactions for digging/new location
  CHANGELOG.md
  resources/[dg]/dg-jobs/typescript/src/client/modules/sanddigging/controller.sanddigging.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/sanddigging/service.sanddigging.ts
Due: JS linting, TS dev build, TS prod build

chore(dg-vehicles): Moved `journey` to PDM to make it available for sale.
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

tweak(crafting): lower electronics per radio
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/crafting.json
Due: validate json

fix(hospital): stop interactions when respawning from unconscious
  CHANGELOG.md
  resources/[dg]/dg-hospital/typescript/src/client/modules/down/service.down.ts
  resources/[dg]/dg-hospital/typescript/src/server/modules/down/controller.down.ts
  resources/[dg]/dg-hospital/typescript/src/server/modules/down/service.down.ts
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/controller.interactions.ts
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/index.ts
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/modules/carry.ts
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/modules/escort.ts
  resources/[dg]/dg-police/typescript/src/server/modules/interactions/controller.interactions.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/jobs.ts
Due: JS linting, TS dev build, TS prod build

feat(garages): add taxi garage
  CHANGELOG.md
  resources/[dg]/dg-vehicles/seeding/garages/business_taxijacky.json
  resources/[dg]/dg-vehicles/seeding/garages/gang_medellin.json
Due: validate json

fix(upgrades): fully reset wheel after getting possibilities
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/upgrades/service.upgrades.ts
Due: JS linting, TS dev build, TS prod build

fix(stances): dont reset modelstance if checking category does not have any entries
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/controller.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/service.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/ui.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/stances/service.stances.ts
Due: JS linting, TS dev build, TS prod build

Path conditions:
  build node image: any of: package.json, yarn.lock
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
