Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, Validate Errorlogger, validate db migrations, JS linting, JS building

validate json:
  stage: test
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

Validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  services:
  - name: mariadb:latest
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'set mysql_connection_string "mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4"' > ./config/mysql.cfg
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

JS building:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

fix(business): actually call func to change owner, optimize getByName
  resources/[dg]/dg-business/typescript/src/server/controllers/exports.ts
  resources/[dg]/dg-business/typescript/src/server/services/business.ts
Due: JS linting, JS building

fix(hospital): check if hit entity is player
  resources/[dg]/dg-hospital/typescript/src/server/modules/health/controller.health.ts
Due: JS linting, JS building

feat(vehicles): merged branches
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

fix(db): fix my steamid
  packages/db/seed.ts
Due: JS linting, JS building

feat(vehicles): move peek to own modules, fix heading on spawn, fix npc driver in veh
  resources/[dg]/dg-misc/typescript/src/server/modules/rental/service.rental.ts
  resources/[dg]/dg-vehicles/typescript/src/client/client.ts
  resources/[dg]/dg-vehicles/typescript/src/client/controllers/index.ts
  resources/[dg]/dg-vehicles/typescript/src/client/controllers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/client/controllers/zones.ts
  resources/[dg]/dg-vehicles/typescript/src/client/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/carwash/service.carwash.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/fuel/controllers/nui.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/identification/controller.identification.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/identification/index.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/identification/service.identification.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/impound/controller.impound.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/keys/cache.keys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/keys/controller.keys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/mechanic/controller.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/mechanic/service.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/nos/config.nos.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/stances/service.stances.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/upgrades/controller.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/upgrades/service.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/flipcar.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/shared/classes/util.ts
Due: JS linting, JS building

fix(logs): pre make files for logs
  resources/[dg]/dg-logs/data/issues.json
  resources/[dg]/dg-logs/data/logs.json
  resources/[dg]/dg-logs/server/sv_graylog.lua
  resources/[dg]/dg-logs/server/sv_sentry.lua
Due: validate json

feat(logs): now actually ignore changes
  .gitignore
Due: none

feat(ems): add ems vehicles config, add police vehicle check to certain actions
  resources/[dg]/dg-config/configs/police/vehicles.json
  resources/[dg]/dg-police/typescript/src/client/client.ts
  resources/[dg]/dg-police/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-police/typescript/src/client/modules/radar/service.radar.ts
  resources/[dg]/dg-police/typescript/src/client/modules/speedzones/service.speedzones.ts
  resources/[dg]/dg-police/typescript/src/client/services/vehicles.ts
  resources/[dg]/dg-police/typescript/src/types/index.d.ts
  resources/[dg]/dg-radialmenu/typescript/src/client/data/police.ts
  resources/[dg]/dg-vehicles/seeding/vehicles.json
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/jobs.ts
Due: validate json, JS linting, JS building

feat(ems): add ang things
  resources/[dg]/dg-hospital/fxmanifest.lua
  resources/[dg]/dg-hospital/html/index.html
  resources/[dg]/dg-hospital/html/script.js
  resources/[dg]/dg-hospital/html/tablet-frame.png
  resources/[dg]/dg-hospital/typescript/src/client/client.ts
  resources/[dg]/dg-hospital/typescript/src/client/services/ang.ts
  resources/[dg]/dg-police/fxmanifest.lua
  resources/[dg]/dg-police/html/index.html
  resources/[dg]/dg-police/html/script.js
  resources/[dg]/dg-police/html/tablet-frame.png
  resources/[dg]/dg-police/typescript/src/client/client.ts
  resources/[dg]/dg-police/typescript/src/client/services/ang.ts
  resources/[dg]/dg-radialmenu/typescript/src/client/data/ambulance.ts
  resources/[dg]/dg-radialmenu/typescript/src/client/data/police.ts
Due: Validate Errorlogger, JS linting, JS building

feat(ems): add blip for mrpd, pillbox & bolingbroke
  resources/[dg]/dg-hospital/typescript/src/client/controller/events.ts
  resources/[dg]/dg-hospital/typescript/src/client/modules/job/service.job.ts
  resources/[dg]/dg-police/typescript/src/client/controllers/events.ts
Due: JS linting, JS building

fix(hud): fix engine broken icon
  resources/[dg]/dg-ui/client/components/cl_hud.lua
Due: none

feat(vehicles): repairkit, seperate vehiclecrash checkloop, add stalling
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/inventory/shops.json
  resources/[dg]/dg-config/configs/materials/crafting.json
  resources/[dg]/dg-config/configs/vehicles/config.json
  resources/[dg]/dg-ui/[src]/src/assets/inventory/repair_kit.png
  resources/[dg]/dg-vehicles/typescript/src/client/controllers/baseevents.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/fuel/constants.fuel.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/seatbelts/service.seatbelts.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/constant.status.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/controller.status.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/engine.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/controller.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/service.status.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
Due: validate json, JS linting, JS building

fix(logs): fill json files with empty object to avoid pipeline fail
  resources/[dg]/dg-logs/data/issues.json
  resources/[dg]/dg-logs/data/logs.json
Due: validate json

chore(assets): update to newest gabz version & move bennys
  resources/[dg]/dg-vehicles/seeding/bennys.json
Due: validate json

feat(upgrades): disable colors/perf tunes for ems vehicles
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/ui.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/util.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/mechanic/controller.mechanic.ts
Due: JS linting, JS building

fix(hud): fix belticon resetting on engine state change
  resources/[dg]/dg-ui/client/components/cl_hud.lua
  resources/[dg]/dg-vehicles/typescript/src/client/modules/seatbelts/service.seatbelts.ts
Due: JS linting, JS building

refactor(propattach): move to local objects
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/resetPlayerProps.ts
  resources/[dg]/dg-inventory/typescript/src/client/modules/objects/classes/objectsmanager.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/fishing/service.fishing.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/postop/service.postop.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/sanitation/servive.sanitation.ts
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/controller.propattach.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/helpers.propattach.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/service.propattach.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/taskbar/service.taskbar.ts
  resources/[dg]/dg-misc/typescript/src/client/services/animations.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/propattach/controller.propattach.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/propattach/index.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/propattach/logger.propattach.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/propattach/service.propattach.ts
  resources/[dg]/dg-misc/typescript/src/server/server.ts
  resources/[dg]/dg-misc/typescript/src/types/propattach.d.ts
  resources/[dg]/dg-police/typescript/src/client/modules/badges/controller.badges.ts
  resources/[dg]/dg-police/typescript/src/client/modules/binoculars/service.binoculars.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
Due: JS linting, JS building

fix(vehicles): fix plate setters when insta deleitng veh
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
Due: JS linting, JS building

chore(clothing): fix store/job locations, remove changing model, cleanup style
  resources/[qb]/qb-clothing/client/main.lua
  resources/[qb]/qb-clothing/config.lua
  resources/[qb]/qb-clothing/html/index.html
  resources/[qb]/qb-clothing/html/script.js
  resources/[qb]/qb-clothing/html/style.css
Due: JS linting, JS building

chore(config): add clothing submodule config
  config/server-template.cfg
Due: none

feat(radial): ui-r, entries in submenu on max reached, expressions, walkstyles
  resources/[dg]/dg-hospital/typescript/src/client/modules/beds/helpers.beds.ts
  resources/[dg]/dg-hospital/typescript/src/client/modules/beds/service.beds.ts
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/services/walkstyles.ts
  resources/[dg]/dg-misc/typescript/src/server/server.ts
  resources/[dg]/dg-misc/typescript/src/server/services/walkstyles.ts
  resources/[dg]/dg-radialmenu/html/js/main.js
  resources/[dg]/dg-radialmenu/typescript/src/client/constants.ts
  resources/[dg]/dg-radialmenu/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-radialmenu/typescript/src/client/controllers/index.ts
  resources/[dg]/dg-radialmenu/typescript/src/client/controllers/ui.ts
  resources/[dg]/dg-radialmenu/typescript/src/client/data/citizen.ts
  resources/[dg]/dg-radialmenu/typescript/src/client/data/expressions.ts
  resources/[dg]/dg-radialmenu/typescript/src/client/data/walkstyles.ts
  resources/[dg]/dg-radialmenu/typescript/src/client/services/radialmenu.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/core.d.ts
Due: JS linting, JS building

feat(connectqueue): add prio for support/admin/management
  resources/[standalone]/connectqueue/server/sv_queue_config.lua
Due: none

feat(apartments): exit if build failed
  resources/[dg]/dg-apartments/client/cl_room.lua
  resources/[dg]/dg-apartments/server/sv_main.lua
Due: none

tweak(police): change ang link
  resources/[dg]/dg-police/html/index.html
Due: JS linting, JS building

fix(vehicles): wait till someone is owner to check for npc driver
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
Due: JS linting, JS building

fix(logs): actually ignore data files
  .gitignore
Due: none

chore(locations): move all hidden locations
  resources/[dg]/dg-config/configs/npcs.json
  resources/[dg]/dg-config/configs/vehicles/config.json
Due: validate json

fix(nuttysounds): prevent warning if netid doesnt exist
  resources/[standalone]/nutty-sounds/client/cl_manager.lua
Due: none

fix(hud): stress blur sometimes did not disappear
  resources/[dg]/dg-misc/typescript/src/client/modules/hud/service.hud.ts
Due: JS linting, JS building

fix(garages): fix only owner can store vehicle in public garage
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/service.garages.ts
Due: JS linting, JS building

fix(financials): fix bank zone headings
  resources/[dg]/dg-financials/typescript/src/client/config.ts
Due: JS linting, JS building

feat(mechanic): add new mechanic location
  resources/[dg]/dg-config/configs/vehicles/mechanic.json
  resources/[dg]/dg-doorlock/seeding/doors.json
  resources/[dg]/dg-misc/typescript/src/client/modules/hud/controller.hud.ts
Due: validate json, JS linting, JS building

chore(garages): add shared garages
  resources/[dg]/dg-vehicles/seeding/garages/lowsantos_shared.json
  resources/[dg]/dg-vehicles/seeding/garages/pillbox_shared.json
  resources/[dg]/dg-vehicles/seeding/garages/straightpipers_shared.json
  resources/[dg]/dg-vehicles/seeding/garages/upnatom_parking.json
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/service.garages.ts
Due: validate json, JS linting, JS building

tweak(shops): add materialcontainer to hardware shop
  resources/[dg]/dg-config/configs/inventory/config.json
  resources/[dg]/dg-config/configs/inventory/shops.json
  resources/[dg]/dg-lockers/typescript/src/server/services/config.ts
Due: validate json, JS linting, JS building

fix(ci): replace branch with switch
  .gitlab-ci.yml
Due: none

Path conditions:
  validate json: any of: **/*.json
  Validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: migrations/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  JS building: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
