Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock

fix(jobs): use vin instead of netid to save because netids get reused
  CHANGELOG.md
  resources/[dg]/dg-jobs/typescript/src/server/modules/fishing/service.fishing.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/postop/service.postop.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/sanddigging/controller.sanddigging.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/sanddigging/service.sanddigging.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/sanitation/service.sanitation.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/scrapyard/controller.scrapyard.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/scrapyard/service.scrapyard.ts
  resources/[dg]/dg-jobs/typescript/src/types/fishing.d.ts
  resources/[dg]/dg-jobs/typescript/src/types/postop.d.ts
  resources/[dg]/dg-jobs/typescript/src/types/sanitation.d.ts
  resources/[dg]/dg-jobs/typescript/src/types/scrapyard.d.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/vehicles.ts
Due: JS linting, TS dev build, TS prod build

fix(misc): add some blacklisted vehicles
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/shared/constants.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicleshop): disable contextmenu entry
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/controller.vehicleshop.ts
Due: JS linting, TS dev build, TS prod build

fix(radiotowers): check if looted after taskbar
  CHANGELOG.md
  resources/[dg]/dg-materials/typescript/src/server/modules/radiotowers/controller.radiotowers.ts
Due: JS linting, TS dev build, TS prod build

fix(anticheat): check weapon check when a player is deadge
  CHANGELOG.md
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/service.anticheat.ts
Due: JS linting, TS dev build, TS prod build

feat(hunting): anti grinder zone
  CHANGELOG.md
  resources/[dg]/dg-config/configs/jobs/hunting.json
  resources/[dg]/dg-jobs/typescript/src/client/modules/hunting/index.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/hunting/service.hunting.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/hunting/zone.hunting.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/gtabehaviour/controller.gtabehaviour.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/gtabehaviour/service.gtabehaviour.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(ui): remove spamming debug log
  resources/[dg]/dg-ui/[src]/src/lib/hooks/useApps.ts
Due: JS linting, TS dev build, TS prod build

fix(garages): move straightpiper garage further away from wall
  CHANGELOG.md
  resources/[dg]/dg-vehicles/seeding/garages/straightpipers_shared.json
Due: validate json

feat(nuttysounds): no sound for admin invis plys
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/controller.commands.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/state.commands.ts
  resources/[standalone]/nutty-sounds/server/sv_manager.lua
Due: JS linting, TS dev build, TS prod build

tweak(admin): increase distance to entity when attached
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/client/modules/commands/controller.commands.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/attach.ts
Due: JS linting, TS dev build, TS prod build

feat(bennys): ability to hide blips for certain locations
  CHANGELOG.md
  resources/[dg]/dg-vehicles/seeding/bennys.json
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/controller.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/bennys/schema.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(phone): properly reenable voice controls
  CHANGELOG.md
  resources/[dg]/dg-phone/client/cl_controls.lua
Due: none

fix(vehicleshop): use vin instead of netid as identifier
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/services/testdrive.vehicleshop.ts
Due: JS linting, TS dev build, TS prod build

fix(changelog): bump versions
  CHANGELOG.md
Due: none

fix(keys): check undefined instead of falsy when checking veh class
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/service.keys.ts
Due: JS linting, TS dev build, TS prod build

fix(phone): only close when anims are gone if phone is in peek
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/main/phone/lib.ts
Due: JS linting, TS dev build, TS prod build

fix(fuel): fix console warning spam when peeking to refuel
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/fuel/service.fuel.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): temp delete npc thread
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
Due: JS linting, TS dev build, TS prod build

feat(propattach): check if ply is same after timeout for statebaghandler
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/controller.propattach.ts
Due: JS linting, TS dev build, TS prod build

feat(misc): discord presence based on server env
  resources/[dg]/dg-misc/typescript/src/client/modules/discord/service.discord.ts
Due: JS linting, TS dev build, TS prod build

chore(vehicles): also update retrieve log to prevent useless config info to be added
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/service.garages.ts
Due: JS linting, TS dev build, TS prod build

chore(dpemotes): disables shared emote garbage
  resources/[standalone]/dpemotes/Config.lua
Due: none

fix(houserob): fix infinite looping ply picker
  CHANGELOG.md
  resources/[dg]/dg-houserobbery/typescript/src/server/services/grouppicker.ts
Due: JS linting, TS dev build, TS prod build

feat(inventory): ability to disable keybinds while holding primary object
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/client/modules/objects/classes/objectsmanager.ts
  resources/[dg]/dg-inventory/typescript/src/client/modules/objects/constants.objects.ts
Due: JS linting, TS dev build, TS prod build

tweak(lockers): bumped debtPercentage
  resources/[dg]/dg-config/configs/lockers.json
Due: validate json

refactor(vehicles): move vinmanager away of netIds
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/identification/classes/vinmanager.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/identification/service.id.ts
Due: JS linting, TS dev build, TS prod build

feat(misc): anti-space spam v1
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/services/spacespam.ts
Due: JS linting, TS dev build, TS prod build

tweak(houserobbery): increased prices, lowered timeout
  CHANGELOG.md
  resources/[dg]/dg-config/configs/criminal/fence.json
  resources/[dg]/dg-houserobbery/typescript/src/server/services/grouppicker.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(heists): add copcheck and reset to fleeca
  CHANGELOG.md
  resources/[dg]/dg-config/configs/police/requirements.json
  resources/[dg]/dg-heists/typescript/src/client/modules/fleeca/controller.fleeca.ts
  resources/[dg]/dg-heists/typescript/src/client/modules/fleeca/helpers.fleeca.ts
  resources/[dg]/dg-heists/typescript/src/server/modules/fleeca/classes/statemanager.ts
  resources/[dg]/dg-heists/typescript/src/server/modules/fleeca/controller.fleeca.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(hunting): actually use overriden variables
  resources/[dg]/dg-misc/typescript/src/client/modules/gtabehaviour/service.gtabehaviour.ts
Due: JS linting, TS dev build, TS prod build

tweak(houserob): more feedback when signing into queue
  CHANGELOG.md
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
Due: JS linting, TS dev build, TS prod build

tweak(radiotower): higher timeout
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/radiotowers.json
Due: validate json

tweak(config): tweak crafting recipe of radio
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/crafting.json
Due: validate json

docs(changelog): bump version
  CHANGELOG.md
Due: none

feat(heists): add cornersell rep check on laptopshop
  resources/[dg]/dg-heists/typescript/src/server/services/shop/controller.shop.ts
Due: JS linting, TS dev build, TS prod build

fix(instances): do not create population in non-zero buckets
  CHANGELOG.md
  resources/[dg]/dg-lib/server/sv_instances.lua
Due: none

fix(keys): use correct entity to get native class
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/service.keys.ts
Due: JS linting, TS dev build, TS prod build

feat(clothing): chore + added bit of clothing
  CHANGELOG.md
Due: none

fix(spacespam): reset after time
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/services/spacespam.ts
Due: JS linting, TS dev build, TS prod build

fix(inventory): fix remove items by ids function
  resources/[dg]/dg-inventory/typescript/src/server/controllers/controller.ts
Due: JS linting, TS dev build, TS prod build
