Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, Validate Errorlogger, validate db migrations, JS linting, JS building

validate json:
  stage: test
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

Validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  services:
  - name: mariadb:latest
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'set mysql_connection_string "mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4"' > ./config/mysql.cfg
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

JS building:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

fix(logger): fix loglevels
  resources/[dg]/dg-criminal/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-lockers/typescript/src/server/sv_logger.ts
Due: JS linting, JS building

fix(interiors): fix plan name & actually call function
  resources/[dg]/dg-build/typescript/src/client/classes/RoomManager.ts
  resources/[dg]/dg-build/typescript/src/client/data/plans.ts
  resources/[dg]/dg-materials/typescript/src/client/modules/containers/service.containers.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
Due: JS linting, JS building

feat(npcs): respawn npcs from config when restarting dg-config
  resources/[dg]/dg-npcs/typescript/src/client/classes/handler.ts
  resources/[dg]/dg-npcs/typescript/src/client/classes/npc.ts
  resources/[dg]/dg-npcs/typescript/src/client/client.ts
  resources/[dg]/dg-npcs/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-npcs/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-npcs/typescript/src/server/server.ts
  resources/[dg]/dg-npcs/typescript/src/server/services/config.ts
Due: JS linting, JS building

feat(vehicles): move missing config log to configByEntity getter
  resources/[dg]/dg-ui/[src]/src/main/contextmenu/components/contextmenu.tsx
  resources/[dg]/dg-vehicles/seeding/vehicles.json
  resources/[dg]/dg-vehicles/typescript/src/server/modules/info/service.info.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/service.keys.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/controller.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/service.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/upgrades/controller.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/upgrades/service.upgrades.ts
Due: validate json, JS linting, JS building

refactor(vehicles): use sets instead of arrays for registered vins
  resources/[dg]/dg-vehicles/typescript/src/server/modules/identification/classes/vinmanager.ts
Due: JS linting, JS building

fix(vehicles): add set nummerplate util & dont update fakeplate in db when spawning vehicle
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/identification/classes/platemanager.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/identification/service.id.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
Due: JS linting, JS building

feat(police): add flagged indicator when checking plate
  resources/[dg]/dg-police/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-police/typescript/src/server/services/plateflags.ts
Due: JS linting, JS building

fix(inventory): add items to job shops
  resources/[dg]/dg-config/configs/inventory/shops.json
Due: validate json

fix(police): fix jobcheck on dna_swab
  resources/[dg]/dg-police/typescript/src/server/modules/evidence/controller.evidence.ts
Due: JS linting, JS building

fix(interactions): fix tp out of vehicle on looped anim
  resources/[dg]/dg-hospital/typescript/src/client/modules/down/service.down.ts
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/modules/cuffs.ts
Due: JS linting, JS building

feat(dispatch): group job blips
  resources/[dg]/dg-dispatch/typescript/src/client/services/blips.ts
Due: JS linting, JS building

fix(npcs): fix getnpcdata function
  resources/[dg]/dg-npcs/typescript/src/client/classes/handler.ts
Due: JS linting, JS building

tweak(hospital): change respawn times for downstates
  resources/[dg]/dg-config/configs/hospital/health.json
Due: validate json

feat(police): add status check
  resources/[dg]/dg-config/configs/police/config.json
  resources/[dg]/dg-police/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-police/typescript/src/types/index.d.ts
  resources/[dg]/dg-radialmenu/typescript/src/client/data/police.ts
Due: validate json, JS linting, JS building

fix(jobs): update whitelist cache when removing
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/addJobWhitelist.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/removeJobWhitelist.ts
  resources/[dg]/dg-jobs/typescript/src/server/services/signin.ts
  resources/[dg]/dg-jobs/typescript/src/server/services/whitelist.ts
Due: JS linting, JS building

fix(police): fix evidence labels for different types
  resources/[dg]/dg-config/configs/inventory/shops.json
  resources/[dg]/dg-police/typescript/src/client/modules/evidence/helpers.evidence.ts
  resources/[dg]/dg-police/typescript/src/client/modules/evidence/service.evidence.ts
Due: validate json, JS linting, JS building

fix(towing): unfreeze after release & use tow truck to calculate distance
  resources/[dg]/dg-vehicles/typescript/src/client/modules/mechanic/controller.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/mechanic/service.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/mechanic/service.mechanic.ts
Due: JS linting, JS building

fix(vehicles): remove ability to enter trunk of vehicle without boot bone
  resources/[dg]/dg-vehicles/typescript/src/client/services/getintrunk.ts
Due: JS linting, JS building

feat(inventory): add max destroydate to items to decay without loading all
  migrations/V23_add_item_destroy_date.sql
  resources/[dg]/dg-heists/typescript/src/server/services/laptop/controller.laptop.ts
  resources/[dg]/dg-inventory/typescript/src/server/classes/itemdatamanager.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/classes/item.ts
  resources/[dg]/dg-inventory/typescript/src/server/server.ts
  resources/[dg]/dg-inventory/typescript/src/server/services/repository.ts
  resources/[dg]/dg-materials/typescript/src/server/services/crafting.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/laptop/service.laptop.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/inventory.ts
Due: validate db migrations, JS linting, JS building

refactor(sql): fix promise returns being shit when used in exports
  resources/[dg]/dg-sql/typescript/src/server/controllers/exports.ts
  resources/[dg]/dg-sql/typescript/src/server/helpers/operations.ts
  resources/[dg]/dg-sql/typescript/src/server/server.ts
Due: JS linting, JS building

fix(financials): prevent random defaulting when paying a percentage
  resources/[dg]/dg-financials/typescript/src/server/modules/debts/classes/debtmanager.ts
Due: JS linting, JS building

feat(events): add distributor in events to offload events to one resource
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
Due: JS linting, JS building

feat(events): register server event/rpc as normal evt with auto-ban
  resources/[dg]/ts-shared/typescript/src/server/classes/events.ts
Due: JS linting, JS building

refactor(misc): move smallresources to misc
  resources/[dg]/dg-chat/typescript/src/server/helpers/commands.ts
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/services/tackle.ts
  resources/[dg]/dg-misc/typescript/src/server/server.ts
  resources/[dg]/dg-misc/typescript/src/server/services/tackle.ts
  resources/[dg]/dg-sync/typescript/src/server/modules/scopes/controller.scopes.ts
  resources/[qb]/qb-smallresources/LICENSE
  resources/[qb]/qb-smallresources/README.md
  resources/[qb]/qb-smallresources/client/consumables.lua
  resources/[qb]/qb-smallresources/client/fireworks.lua
  resources/[qb]/qb-smallresources/client/handsup.lua
  resources/[qb]/qb-smallresources/client/tackle.lua
  resources/[qb]/qb-smallresources/config.lua
  resources/[qb]/qb-smallresources/events.meta
  resources/[qb]/qb-smallresources/fxmanifest.lua
  resources/[qb]/qb-smallresources/server/consumables.lua
  resources/[qb]/qb-smallresources/server/main.lua
Due: Validate Errorlogger, JS linting, JS building

fix(webpack): do not hash dgx files
  resources/[dg]/ts-shared/typescript/webpack.config.js
  webpack/webpack.client.js
  webpack/webpack.server.js
Due: JS linting, JS building

tweak(chat): add visual difference in message between OOC & OOCG
  resources/[dg]/dg-chat/typescript/src/server/helpers/commands.ts
Due: JS linting, JS building

tweak(configmenu): add disclaimer to compass fps option
  resources/[dg]/dg-ui/[src]/src/main/configmenu/component/Hud.tsx
Due: JS linting, JS building

tweak(admin): tweaked some command roles
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/attach.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/changeRoutingBucket.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/resetPlayerProps.ts
Due: JS linting, JS building

fix(admin): properly register devmode on resource start, add devmode check to selector
  resources/[dg]/dg-admin/typescript/src/client/helpers/devmode.ts
  resources/[dg]/dg-admin/typescript/src/client/modules/selector/service.selector.ts
Due: JS linting, JS building

refactor(idlist): add extra dropped scope category
  resources/[dg]/dg-admin/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-admin/typescript/src/client/helpers/devmode.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/menu/service.menu.ts
  resources/[dg]/dg-misc/typescript/src/client/services/idmenu.ts
  resources/[dg]/dg-sync/typescript/src/server/modules/scopes/controller.scopes.ts
  resources/[dg]/dg-sync/typescript/src/server/modules/scopes/service.scopes.ts
  resources/[dg]/dg-sync/typescript/src/types/index.d.ts
  resources/[dg]/dg-ui/[src]/src/main/idlist/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/idlist/store.ts
  resources/[dg]/dg-ui/[src]/src/main/idlist/styles/idlist.scss
  resources/[dg]/dg-ui/[src]/src/types/apps/idlist.d.ts
Due: JS linting, JS building

feat(admin): give clothing menu to player using entityselector
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/openClothingMenu.ts
Due: JS linting, JS building

fix(misc): send tackle event to right player & format files
  resources/[dg]/dg-misc/typescript/src/client/services/tackle.ts
  resources/[dg]/dg-misc/typescript/src/server/services/tackle.ts
Due: JS linting, JS building

feat(misc): check down or cuffed to pointing
  resources/[dg]/dg-misc/typescript/src/client/services/point.ts
Due: JS linting, JS building

refactor(idlist): merge recent & dropped in menu & add log
  resources/[dg]/dg-sync/typescript/src/server/modules/scopes/service.scopes.ts
  resources/[dg]/dg-sync/typescript/src/types/index.d.ts
  resources/[dg]/dg-ui/[src]/src/main/idlist/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/idlist/store.ts
  resources/[dg]/dg-ui/[src]/src/main/idlist/styles/idlist.scss
  resources/[dg]/dg-ui/[src]/src/types/apps/idlist.d.ts
Due: JS linting, JS building

fix(phone/info): fix info app entries being duped & value never updating
  resources/[dg]/dg-phone/client/cl_info.lua
  resources/[dg]/dg-ui/[src]/src/lib/devdata.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/info-app/_config.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/info-app/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/info-app/components/infoapp.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/info-app/events.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/info-app/store.ts
  resources/[dg]/dg-ui/[src]/src/types/apps/phone.d.ts
  resources/[dg]/dg-ui/[src]/src/types/main.d.ts
Due: JS linting, JS building

fix(phone): make the background cover the whole phone
  resources/[dg]/dg-ui/[src]/src/main/phone/os/phone/phone.styles.ts
Due: JS linting, JS building

fix(admin): fix checkbox having a invalid value
  resources/[dg]/dg-admin/ui/src/components/actions/Action.vue
Due: none

fix(notes): disable controls when typing + disable title input when in view mode
  resources/[dg]/dg-phone/client/cl_notes.lua
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/notes-app/components/editor.tsx
  resources/[dg]/dg-ui/[src]/src/types/apps/phone.d.ts
Due: JS linting, JS building

Path conditions:
  validate json: any of: **/*.json
  Validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: migrations/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  JS building: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
