Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, Validate Errorlogger, validate db migrations, JS linting, JS building

validate json:
  stage: test
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

Validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  services:
  - name: mariadb:latest
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'set mysql_connection_string "mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4"' > ./config/mysql.cfg
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

JS building:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

feat(spawn): add extra base options
  resources/[dg]/dg-chars/sv_config.lua
Due: none

fix(chars): also allow rightclick to select a character
  resources/[dg]/dg-chars/ui/src/components/chars/CharWrapper.vue
Due: none

feat(ui): add isAdmin charstate entry
  resources/[dg]/dg-ui/[src]/src/lib/defaultState.ts
  resources/[dg]/dg-ui/[src]/src/types/main.d.ts
  resources/[dg]/dg-ui/client/components/cl_info.lua
Due: JS linting, JS building

fix(inventory): add inventory loaded event to prevent error on start
  resources/[dg]/dg-inventory/typescript/src/server/server.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/inventory.ts
Due: JS linting, JS building

fix(dgx): thanks nutty for fix for dgcore being undefined
  resources/[dg]/dg-ui/fxmanifest.lua
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
Due: Validate Errorlogger, JS linting, JS building

feat(twitter): replace with dgx events, admin delete button, logs & fix biggest id getter
  resources/[dg]/dg-phone/client/cl_tweets.lua
  resources/[dg]/dg-phone/fxmanifest.lua
  resources/[dg]/dg-phone/server/sv_tweets.lua
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/twitter-app/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/twitter-app/components/twitter.styles.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/twitter-app/components/twitter.tsx
Due: Validate Errorlogger, JS linting, JS building

fix(payconiq): fix account issue + transaction view
  resources/[dg]/dg-financials/typescript/src/server/modules/bank/classes/Account.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/payconiq-app/components/payconiq.tsx
  resources/[dg]/dg-ui/[src]/src/types/apps/phone.d.ts
Due: JS linting, JS building

style(chars): moved to vh for fontsize
  resources/[dg]/dg-chars/ui/src/components/spawns/SpawnWrapper.vue
  resources/[dg]/dg-chars/ui/src/styles/app.scss
Due: JS linting, JS building

feat(admin): disable admin traits when devmode is enabled where needed
  resources/[dg]/dg-admin/typescript/src/server/modules/menu/controller.menu.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/menu/service.menu.ts
  resources/[dg]/dg-chat/typescript/src/server/helpers/commands.ts
  resources/[dg]/dg-chat/typescript/src/server/helpers/messages.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/admin.ts
Due: JS linting, JS building

fix(inventory): save new items as nonpersistent for new items created in nonpersistent inv
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/classes/item.ts
Due: JS linting, JS building

fix(inventory): fix await inv load timing out
  resources/[dg]/ts-shared/typescript/src/server/classes/inventory.ts
Due: JS linting, JS building

fix(anticheat): fix error on entityDamage evt, fix playerdead not registering
  resources/[dg]/dg-auth/typescript/src/client/modules/anticheat/controller.anticheat.ts
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/controller.anticheat.ts
Due: JS linting, JS building

chore: package updates :)
  package.json
  resources/[dg]/dg-admin/ui/package.json
  resources/[dg]/dg-admin/ui/src/lib/util.ts
  resources/[dg]/dg-admin/ui/yarn.lock
  resources/[dg]/dg-auth/typescript/package.json
  resources/[dg]/dg-auth/typescript/yarn.lock
  resources/[dg]/dg-chars/ui/package.json
  resources/[dg]/dg-chars/ui/src/components/chars/CharWrapper.vue
  resources/[dg]/dg-chars/ui/yarn.lock
  resources/[dg]/dg-ui/[src]/package.json
  resources/[dg]/dg-ui/[src]/patches/vite-plugin-sentry+1.1.7.patch
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/dragpreview.tsx
  resources/[dg]/dg-ui/[src]/vite.config.ts
  resources/[dg]/dg-ui/[src]/yarn.lock
  yarn.lock
Due: validate json, JS linting, JS building

feat(admin): hide id when cloak or noclip is enabled
  resources/[dg]/dg-admin/typescript/src/client/service/noclip.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/cloak.ts
  resources/[dg]/dg-admin/typescript/src/server/server.ts
  resources/[dg]/dg-admin/typescript/src/server/services/hideInfo.ts
  resources/[dg]/dg-misc/typescript/src/client/services/idmenu.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/admin.ts
Due: JS linting, JS building

chore(config): cleaned up server cfg template
  config/server-template.cfg
Due: none

refactor(loadingscreen): gradient on blackbars + fillable icon (like UI theme)
  resources/[dg]/dg-loading-screen/client/cl_main.lua
  resources/[dg]/dg-loading-screen/html/imgs/logo-dev.png
  resources/[dg]/dg-loading-screen/html/imgs/logo.png
  resources/[dg]/dg-loading-screen/html/imgs/logo_bg.png
  resources/[dg]/dg-loading-screen/html/imgs/logo_fg.png
  resources/[dg]/dg-loading-screen/html/index.html
  resources/[dg]/dg-loading-screen/html/js/app.js
  resources/[dg]/dg-loading-screen/html/stylesheet.css
Due: JS linting, JS building

chore: readded local folder for dev scripts
  .gitignore
  resources/[local]/.gitkeep
Due: none

chore: re-ignore local script folder
  .gitignore
Due: none

fix(logs): add additional fields bcs graylog doesn't do json queries
  resources/[dg]/dg-logs/server/sv_graylog.lua
Due: none

feat(jobs): add postop delivery job
  resources/[dg]/dg-config/configs/jobs/postop.json
  resources/[dg]/dg-config/configs/npcs.json
  resources/[dg]/dg-jobs/typescript/src/client/client.ts
  resources/[dg]/dg-jobs/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/index.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/postop/constants.postop.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/postop/controller.postop.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/postop/helpers.postop.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/postop/index.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/postop/service.postop.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/sanitation/helpers.sanitation.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/sanitation/servive.sanitation.ts
  resources/[dg]/dg-jobs/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/fishing/service.fishing.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/classes/Group.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/index.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/postop/contants.postop.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/postop/controller.postop.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/postop/index.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/postop/logger.postop.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/postop/service.postop.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/sanddigging/controller.sanddigging.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/sanitation/service.sanitation.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/scrapyard/controller.scrapyard.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/scrapyard/service.scrapyard.ts
  resources/[dg]/dg-jobs/typescript/src/server/server.ts
  resources/[dg]/dg-jobs/typescript/src/types/postop.d.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/constants.propattach.ts
  resources/[dg]/dg-vehicles/seeding/vehicles.json
  resources/[dg]/ts-shared/typescript/src/client/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/phone.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/client/types/global.d.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/phone.ts
  resources/[dg]/ts-shared/typescript/src/shared/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/phone.d.ts
Due: validate json, JS linting, JS building

feat(admin/ui): allow filtering by multiple keys
  resources/[dg]/dg-admin/typescript/src/server/modules/menu/controller.menu.ts
  resources/[dg]/dg-admin/ui/src/components/selectionInputs/BankAccounts.vue
  resources/[dg]/dg-admin/ui/src/components/selectionInputs/BaseSelection.vue
  resources/[dg]/dg-admin/ui/src/components/selectionInputs/Instance.vue
  resources/[dg]/dg-admin/ui/src/components/selectionInputs/Item.vue
  resources/[dg]/dg-admin/ui/src/components/selectionInputs/Target.vue
  resources/[dg]/dg-admin/ui/src/components/selectionInputs/Vehicle.vue
  resources/[dg]/dg-admin/ui/src/components/selectionInputs/WeatherType.vue
  resources/[dg]/dg-admin/ui/src/components/selectionInputs/WhitelistedJobs.vue
  resources/[dg]/dg-admin/ui/src/main.ts
Due: JS linting, JS building

fix(logs): fix undefined variable error thrown on new log creation
  resources/[dg]/dg-logs/server/sv_graylog.lua
Due: none

fix(financials): fix error for undefined owner when applying taxes
  resources/[dg]/dg-financials/typescript/src/server/modules/taxes/service.ts
Due: JS linting, JS building

refactor(dgx): add waypoint set helper for server
  resources/[dg]/dg-dispatch/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-dispatch/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/groups/controller.groups.ts
  resources/[dg]/dg-jobs/typescript/src/server/classes/jobManager.ts
  resources/[dg]/dg-jobs/typescript/src/server/controllers/events.ts
  resources/[dg]/ts-shared/typescript/src/client/controllers/events.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
Due: JS linting, JS building

refactor(ui/info): use client cached values, immediately update game values
  resources/[core]/dg-core/shared.lua
  resources/[dg]/dg-inventory/typescript/src/client/services/cache.ts
  resources/[dg]/dg-ui/client/components/cl_info.lua
  resources/[dg]/ts-shared/typescript/src/client/classes/inventory.ts
Due: JS linting, JS building

fix(notifications/ui): fix removal function
  resources/[dg]/dg-ui/[src]/src/main/notifications/stores/useNotificationStore.ts
Due: JS linting, JS building

feat(builds): replace apartment shell with new one
  resources/[dg]/dg-apartments/config.lua
  resources/[dg]/dg-build/typescript/src/client/data/plans.ts
  resources/[dg]/dg-lib/client/ymapparser/ymap/gabz_apartments_room.ymap.xml
  resources/[dg]/dg-lib/client/ymapparser/ymap/tihulu_kafi_motel.ymap.xml
Due: JS linting, JS building

fix(polyzone): fix copy-pasta error in circle parsing
  resources/[standalone]/PolyZone/creation/server/creation.lua
Due: none

feat(dgx): add clientside waypoint set helper as well
  resources/[dg]/dg-jobs/typescript/src/client/modules/fishing/service.fishing.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/client/controllers/events.ts
Due: JS linting, JS building

refactor(ui/info): revert back to not use cache as that shit not loaded yet
  resources/[dg]/dg-ui/client/components/cl_info.lua
Due: none

fix(phone/notifs): do not mutate state from store
  resources/[dg]/dg-ui/[src]/src/main/phone/lib.ts
Due: JS linting, JS building

tweak(build): change apartment logout peek distance
  resources/[dg]/dg-build/typescript/src/client/data/plans.ts
Due: JS linting, JS building

fix(admin): only execute noclip speed chance keybinds when in noclip
  resources/[dg]/dg-admin/typescript/src/client/service/noclip.ts
Due: JS linting, JS building

refactor(blackout): use globalstatebag for blackoutstate
  resources/[dg]/dg-blackout/typescript/src/client/classes/BlackoutManager.ts
  resources/[dg]/dg-blackout/typescript/src/client/client.ts
  resources/[dg]/dg-blackout/typescript/src/client/controllers/blackout.ts
  resources/[dg]/dg-blackout/typescript/src/client/controllers/powerstation.ts
  resources/[dg]/dg-blackout/typescript/src/server/classes/BlackoutManager.ts
  resources/[dg]/dg-blackout/typescript/src/server/classes/PowerstationManager.ts
  resources/[dg]/dg-blackout/typescript/src/server/controllers/blackout.ts
  resources/[dg]/dg-blackout/typescript/src/server/controllers/powerstation.ts
  resources/[dg]/dg-blackout/typescript/src/server/server.ts
  resources/[dg]/dg-blackout/typescript/src/server/sv_logger.ts
  resources/[dg]/dg-blackout/typescript/src/server/sv_util.ts
  resources/[dg]/dg-blackout/typescript/src/server/tsconfig.json
Due: validate json, JS linting, JS building

refactor(doorlock): use onAuth to load doors on client
  resources/[dg]/dg-doorlock/typescript/src/client/client.ts
  resources/[dg]/dg-doorlock/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-doorlock/typescript/src/client/services/doors.ts
  resources/[dg]/dg-doorlock/typescript/src/server/controllers/events.ts
Due: JS linting, JS building

refactor(inventory): initialize client using auth event instead of multiple RPC events
  resources/[dg]/dg-inventory/typescript/src/client/classes/itemdatamanager.ts
  resources/[dg]/dg-inventory/typescript/src/client/client.ts
  resources/[dg]/dg-inventory/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-inventory/typescript/src/client/modules/drops/classes/dropsmanager.ts
  resources/[dg]/dg-inventory/typescript/src/client/modules/drops/controller.drops.ts
  resources/[dg]/dg-inventory/typescript/src/client/modules/objects/classes/objectsmanager.ts
  resources/[dg]/dg-inventory/typescript/src/client/modules/objects/controller.objects.ts
  resources/[dg]/dg-inventory/typescript/src/server/classes/itemdatamanager.ts
  resources/[dg]/dg-inventory/typescript/src/server/classes/objectsutility.ts
  resources/[dg]/dg-inventory/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-inventory/typescript/src/server/controllers/index.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/locations/controller.locations.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/locations/index.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/locations/manager.locations.ts
Due: JS linting, JS building

Path conditions:
  validate json: any of: **/*.json
  Validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: migrations/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  JS building: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
