Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml

feat(admin): filter color prefixes in name cache
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/services/names.ts
Due: JS linting, TS dev build, TS prod build

feat(weapons): add testing for a simple shoulderswap lol
  resources/[dg]/dg-weapons/typescript/src/client/modules/weapons/service.weapons.ts
  resources/[dg]/dg-weapons/typescript/src/client/services/shoulderswap.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): cancel repair item usage when keygame failed
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/controller.status.ts
Due: JS linting, TS dev build, TS prod build

chore(mug2): Removed vehicle from data
  resources/[dg]/dg-vehicles/seeding/vehicles.json
  resources/[dg]/dg-vehicles/typescript/src/client/modules/sirens/constant.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/emsShop.ts
Due: validate json, JS linting, TS dev build, TS prod build

chore(inventory): increase handcuff durability
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/items.json
Due: validate json

fix(heists): fix jewelry cam ids
  CHANGELOG.md
  resources/[dg]/dg-config/configs/heists/locations/jewelry.json
Due: validate json

chore(garages): remove hustlers gang
  resources/[dg]/dg-vehicles/seeding/garages/gang_hustlers.json
Due: validate json

fix(fence): typo in item price
  resources/[dg]/dg-config/configs/criminal/fence.json
Due: validate json

chore(dispatch): change dispatch blip scale
  CHANGELOG.md
  resources/[dg]/dg-dispatch/typescript/src/client/services/dispatch.ts
Due: JS linting, TS dev build, TS prod build

fix(doorlock): use thermitdata as minigame amount instead of default value of 1
  resources/[dg]/dg-doorlock/typescript/src/client/services/doors.ts
Due: JS linting, TS dev build, TS prod build

chore(hospital): remove police ability to revive
  CHANGELOG.md
  resources/[dg]/dg-hospital/typescript/src/server/modules/job/controller.job.ts
  resources/[dg]/dg-hospital/typescript/src/server/modules/job/service.job.ts
  resources/[dg]/dg-radialmenu/typescript/src/client/data/police.ts
Due: JS linting, TS dev build, TS prod build

chore(wirecutting): tweak wirecutting minigame settings
  CHANGELOG.md
  resources/[dg]/dg-materials/typescript/src/client/modules/wirecutting/service.wirecutting.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): remove new lockstate check
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/controller.keys.ts
Due: JS linting, TS dev build, TS prod build

feat(crafting): add blackmoney container to craftingbench
  resources/[dg]/dg-config/configs/materials/crafting.json
Due: validate json

chore(houserobbery): remove moneyroll from lootpool
  resources/[dg]/dg-config/configs/houserobbery/config.json
Due: validate json

fix(hospital/status): custom error message when clearing status too debug problem
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/server/modules/status/service.status.ts
Due: JS linting, TS dev build, TS prod build

chore(radiotowers): dont disarm on first hack during taskbar
  CHANGELOG.md
  resources/[dg]/dg-materials/typescript/src/client/modules/radiotowers/service.radiotowers.ts
Due: JS linting, TS dev build, TS prod build

fix(kingpills): cast ped statebag to boolean, set isenemy state to false on loot
  CHANGELOG.md
  resources/[dg]/dg-business/typescript/src/client/modules/kingpills/controller.kingpills.ts
  resources/[dg]/dg-business/typescript/src/server/modules/kingpills/service.kingpills.ts
Due: JS linting, TS dev build, TS prod build

feat(scrapyard): remove blip syncing and use mail location
  CHANGELOG.md
  resources/[dg]/dg-jobs/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/scrapyard/controller.scrapyard.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/scrapyard/service.scrapyard.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/scrapyard/service.scrapyard.ts
Due: JS linting, TS dev build, TS prod build

feat(radialmenu): add check if already open when trying to open
  CHANGELOG.md
  resources/[dg]/dg-radialmenu/typescript/src/client/services/radialmenu.ts
Due: JS linting, TS dev build, TS prod build

fix(inventory): new items when playerinventory is full dont stack in drop anymore
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/classes/item.ts
Due: JS linting, TS dev build, TS prod build

feat(postop): blips at dropoff position, remove duplicate dropoff location
  CHANGELOG.md
  resources/[dg]/dg-config/configs/jobs/postop.json
  resources/[dg]/dg-jobs/typescript/src/client/modules/postop/service.postop.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(oxyrun): require driver in buyer vehicle
  resources/[dg]/dg-criminal/typescript/src/client/modules/oxyrun/controller.oxyrun.ts
  resources/[dg]/dg-criminal/typescript/src/client/modules/oxyrun/service.oxyrun.ts
  resources/[dg]/ts-shared/typescript/src/shared/classes/baseevents.ts
Due: JS linting, TS dev build, TS prod build

feat(weapons): configmenu option to toggle crosshair
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/client/modules/selector/service.selector.ts
  resources/[dg]/dg-criminal/typescript/src/client/modules/weed/controller.weed.ts
  resources/[dg]/dg-farming/typescript/src/client/services/seeds.ts
  resources/[dg]/dg-ui/[src]/src/main/configmenu/component/Hud.tsx
  resources/[dg]/dg-ui/[src]/src/main/configmenu/stores/useConfigmenuStore.ts
  resources/[dg]/dg-ui/[src]/src/types/apps/configmenu.d.ts
  resources/[dg]/dg-weapons/README.MD
  resources/[dg]/dg-weapons/typescript/src/client/client.ts
  resources/[dg]/dg-weapons/typescript/src/client/modules/weapons/controller.weapons.ts
  resources/[dg]/dg-weapons/typescript/src/client/modules/weapons/helpers.weapons.ts
  resources/[dg]/dg-weapons/typescript/src/client/modules/weapons/service.weapons.ts
  resources/[dg]/dg-weapons/typescript/src/client/services/crosshair.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/weapons.ts
Due: JS linting, TS dev build, TS prod build

feat(misc): add option to steal roadsigns and hold them
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/constants.propattach.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/helpers.propattach.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/service.propattach.ts
  resources/[dg]/dg-misc/typescript/src/client/services/roadsigns.ts
  resources/[dg]/dg-misc/typescript/src/server/server.ts
  resources/[dg]/dg-misc/typescript/src/server/services/roadsigns.ts
  resources/[dg]/dg-misc/typescript/src/types/propattach.d.ts
  resources/[dg]/dg-ui/[src]/src/assets/inventory/road_sign.png
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
Due: validate json, JS linting, TS dev build, TS prod build

chore(anticheat): whitelist cougar weapon hash
  resources/[dg]/dg-config/configs/anticheat.json
Due: validate json

fix(vehicles/garage): get fuel level for garagelog before deleting vehicle
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/service.garages.ts
Due: JS linting, TS dev build, TS prod build

chore(cbdshop): increase bags per bud
  CHANGELOG.md
  resources/[dg]/dg-config/configs/business/businesses/blazeit.json
Due: validate json

feat(inventory): keep dirty state of client item cache to prevent unnecessary calls
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/client/client.ts
  resources/[dg]/dg-inventory/typescript/src/client/services/cache.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
  resources/[dg]/dg-peek/typescript/src/client/classes/stateManager.ts
  resources/[dg]/dg-radialmenu/typescript/src/client/services/radialmenu.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/inventory.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): do vehicle check when swapping seat on server
  resources/[dg]/dg-vehicles/typescript/src/client/services/seats.ts
  resources/[dg]/dg-vehicles/typescript/src/server/controller/commands.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): smoll option to hold BMX
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/services/holdbmx.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/index.ts
Due: JS linting, TS dev build, TS prod build

feat(clothing): hairnet item added to use when hair is scuffed with masks/clothing
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/inventory/shops.json
  resources/[dg]/dg-ui/[src]/src/assets/inventory/hairnet.png
  resources/[qb]/qb-clothing/client/main.lua
  resources/[qb]/qb-clothing/server/main.lua
Due: validate json

feat(justice): add small paycheck, fix availability toggle not being awaited
  CHANGELOG.md
  resources/[dg]/dg-config/configs/financials.json
  resources/[dg]/dg-phone/typescript/src/client/services/justice.ts
  resources/[dg]/dg-phone/typescript/src/server/services/justice.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(misc): add useable lawn table
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/inventory/shops.json
  resources/[dg]/dg-doorlock/seeding/doors.json
  resources/[dg]/dg-misc/typescript/src/client/services/useables.ts
  resources/[dg]/dg-misc/typescript/src/server/services/useables.ts
  resources/[dg]/dg-ui/[src]/src/assets/inventory/lawntable.png
Due: validate json, JS linting, TS dev build, TS prod build

fix(hud): correctly update engine status indicator visibility
  CHANGELOG.md
  resources/[dg]/dg-ui/client/components/cl_hud.lua
Due: none

chore(inventory): return instead of error for common things to happen because of desync
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/manager.items.ts
Due: JS linting, TS dev build, TS prod build

feat(inventory): add krikke wine item
  resources/[dg]/dg-config/configs/inventory/consumables.json
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-ui/[src]/src/assets/inventory/krikke_vin.png
Due: validate json

chore: update submodules
  CHANGELOG.md
Due: none

feat(seats): add townhall seats
  CHANGELOG.md
  resources/[dg]/dg-config/configs/seats.json
Due: validate json

fix(oxyrun): try something else to unlock vehicle bcus this shit is annoying
  resources/[dg]/dg-criminal/typescript/src/client/modules/oxyrun/controller.oxyrun.ts
Due: JS linting, TS dev build, TS prod build
