Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build node image, validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

build node image:
  stage: images
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/node:latest -t $CI_REGISTRY_IMAGE/node:$CI_COMMIT_SHA .
  - docker push $CI_REGISTRY_IMAGE/node:latest
  ...

validate json:
  stage: test
  image: node:16
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  image: node:16
  services:
  - name: mariadb:10.7
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'DATABASE_URL=mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4' > ./packages/db/.env
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  - ls /app
  ...

TS dev build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  - ls /app
  ...

TS prod build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  - ls /app
  ...

feat(radio): add anim/prop while radio open
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/constants.propattach.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/radio/controller.radio.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/radio/service.radio.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles/status): add tire repair item
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/inventory/shops.json
  resources/[dg]/dg-config/configs/materials/crafting.json
  resources/[dg]/dg-ui/[src]/src/assets/inventory/tire_repair_kit.png
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/controller.status.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/helpers.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/controller.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/helpers.status.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(fuel): refuel for percentage on taskbar cancel
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/fuel/controllers/nui.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/fuel/service.fuel.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/fuel/service.fuel.ts
Due: JS linting, TS dev build, TS prod build

feat(fuel): refuel using jerrycan
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/crafting.json
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/helpers.items.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/fuel/controllers/nui.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/fuel/service.fuel.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/fuel/controller.fuel.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/fuel/service.fuel.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(jobs): prevent on-duty players from creating/joining a jobgroup
  CHANGELOG.md
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/classes/Group.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/classes/GroupManager.ts
Due: JS linting, TS dev build, TS prod build

feat(jobs): give new HC roles access to their bank accounts
  CHANGELOG.md
  resources/[dg]/dg-config/configs/jobs/whitelist.json
  resources/[dg]/dg-jobs/typescript/src/server/classes/whitelistmanager.ts
  resources/[dg]/dg-jobs/typescript/src/server/types/whitelist.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(jobs): dont show payoutlevel in ui for jobs that dont have payout config defined
  CHANGELOG.md
  resources/[dg]/dg-jobs/typescript/src/server/classes/jobManager.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/fishing/constants.fishing.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/fishing/service.fishing.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/postop/service.postop.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/sanddigging/controller.sanddigging.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/sanitation/service.sanitation.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/jobcenter-app/components/jobs.tsx
  resources/[dg]/dg-ui/[src]/src/types/apps/phone.d.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/jobs.ts
Due: JS linting, TS dev build, TS prod build

feat(misc): add parachute item
  CHANGELOG.md
  resources/[dg]/dg-auth/typescript/src/client/modules/anticheat/service.anticheat.ts
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/inventory/shops.json
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/gtabehaviour/controller.gtabehaviour.ts
  resources/[dg]/dg-misc/typescript/src/client/services/parachute.ts
  resources/[dg]/dg-misc/typescript/src/client/services/spacespam.ts
  resources/[dg]/dg-misc/typescript/src/server/server.ts
  resources/[dg]/dg-misc/typescript/src/server/services/parachute.ts
  resources/[dg]/dg-ui/[src]/src/assets/inventory/parachute.png
Due: validate json, JS linting, TS dev build, TS prod build

feat(misc): add scubagear item
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/inventory/shops.json
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/hud/controller.hud.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/hud/service.hud.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/constants.propattach.ts
  resources/[dg]/dg-misc/typescript/src/client/services/parachute.ts
  resources/[dg]/dg-misc/typescript/src/client/services/scubagear.ts
  resources/[dg]/dg-misc/typescript/src/server/server.ts
  resources/[dg]/dg-misc/typescript/src/server/services/scubagear.ts
  resources/[dg]/dg-ui/[src]/src/assets/inventory/scuba_gear.png
Due: validate json, JS linting, TS dev build, TS prod build

fix(police)" fix uncuffing checking reverse distance
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/modules/cuffs.ts
Due: JS linting, TS dev build, TS prod build

fix(financials): fix mazebank zone heading
  CHANGELOG.md
  resources/[dg]/dg-financials/typescript/src/client/config.ts
Due: JS linting, TS dev build, TS prod build

feat(dgx): util function to delete networked entities
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/server/controllers/events.ts
Due: JS linting, TS dev build, TS prod build

feat(jobs): payout multiplier for first job of the day per player
  CHANGELOG.md
  resources/[dg]/dg-jobs/typescript/src/server/classes/jobManager.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/fishing/service.fishing.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/postop/service.postop.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/sanitation/service.sanitation.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/jobs.ts
Due: JS linting, TS dev build, TS prod build

feat(radio): add quick options to radialmenu for ems
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/helpers.items.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/radio/controller.radio.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/radio/service.radio.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/radio/controller.radio.ts
  resources/[dg]/dg-radialmenu/typescript/src/client/data/main.ts
  resources/[dg]/dg-radialmenu/typescript/src/client/data/radio.ts
Due: JS linting, TS dev build, TS prod build

feat(police): use dna evidence to get player name
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/inventory/shops.json
  resources/[dg]/dg-police/typescript/src/server/modules/evidence/controller.evidence.ts
  resources/[dg]/dg-police/typescript/src/server/modules/evidence/service.evidence.ts
Due: validate json, JS linting, TS dev build, TS prod build

chore(weed): add owner cid to logs
  CHANGELOG.md
  resources/[dg]/dg-criminal/typescript/src/server/modules/weed/classes/weedplant.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/weed/classes/weedplantmanager.ts
Due: JS linting, TS dev build, TS prod build

feat(prison): add better food & cash on entry
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/consumables.json
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/inventory/shops.json
  resources/[dg]/dg-police/typescript/src/server/modules/prison/service.prison.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(labs): disable location with scuffed door collision
  resources/[dg]/dg-config/configs/labs/locations.json
Due: validate json

fix(admin): idk tried some shit to get penalties to be finally logged
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/penalties/service.penalties.ts
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/service.anticheat.ts
Due: JS linting, TS dev build, TS prod build

feat(jobs): allow certain whitelisted jobs to still join groups
  CHANGELOG.md
  resources/[dg]/dg-config/configs/jobs/whitelist.json
  resources/[dg]/dg-jobs/typescript/src/server/classes/signedinmanager.ts
  resources/[dg]/dg-jobs/typescript/src/server/classes/whitelistmanager.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/classes/Group.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/classes/GroupManager.ts
  resources/[dg]/dg-jobs/typescript/src/server/types/whitelist.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

chore(houserobbery): more logs for picking queued player
  resources/[dg]/dg-houserobbery/typescript/src/server/services/grouppicker.ts
Due: JS linting, TS dev build, TS prod build

tweak(misc): require multiple spacebar pressed in short time to ragdoll
  resources/[dg]/dg-misc/typescript/src/client/services/spacespam.ts
Due: JS linting, TS dev build, TS prod build

feat(phone): cache mails to restore on ui restart
  CHANGELOG.md
  resources/[dg]/dg-phone/client/cl_mail.lua
  resources/[dg]/dg-phone/client/cl_main.lua
Due: none

fix(houserobbery): cancel find timeout on complete
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
Due: JS linting, TS dev build, TS prod build

feat(cornersell): ability to sell without any police but decrease price
  CHANGELOG.md
  resources/[dg]/dg-criminal/typescript/src/server/modules/cornerselling/controller.cornerselling.ts
Due: JS linting, TS dev build, TS prod build

feat(radiotowers): instantly set ready in dev env
  resources/[dg]/dg-materials/typescript/src/server/modules/radiotowers/service.radiotowers.ts
Due: JS linting, TS dev build, TS prod build

fix(dgx): fix delete entity local check
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
Due: JS linting, TS dev build, TS prod build

chore(vehicles): add gt86 model stancing
  resources/[dg]/dg-config/configs/vehicles/stance.json
Due: validate json

tweak(meth): decrease drytime
  CHANGELOG.md
  resources/[dg]/dg-config/configs/labs/meth.json
Due: validate json

feat(dispatch): notification when toggling dispatch
  CHANGELOG.md
  resources/[dg]/dg-dispatch/typescript/src/client/services/dispatch.ts
Due: JS linting, TS dev build, TS prod build

chore(materials): remove player check for mold melting
  resources/[dg]/dg-config/configs/police/requirements.json
  resources/[dg]/dg-materials/typescript/src/server/modules/containers/controller.containers.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(garages): abiity to recover vehicle when out but entity does not exist anymore
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/garages/controller.garages.ts
  resources/[dg]/dg-vehicles/typescript/src/client/services/garageApp.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/controller.garages.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/service.garages.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/garageApp.ts
Due: JS linting, TS dev build, TS prod build

tweak(crafting): tweak weapon crafting recipes
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/materials/crafting.json
  resources/[dg]/dg-ui/[src]/src/assets/inventory/advanced_parts.png
Due: validate json

feat(house/storerobbery): allow without police but halved payout
  resources/[dg]/dg-config/configs/police/requirements.json
  resources/[dg]/dg-criminal/typescript/src/server/modules/fence/service.fence.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/services/grouppicker.ts
  resources/[dg]/dg-storerobbery/typescript/src/client/modules/registers/service.registers.ts
  resources/[dg]/dg-storerobbery/typescript/src/server/modules/registers/controller.registers.ts
Due: validate json, JS linting, TS dev build, TS prod build

refactor(jobgroups): split up change job by groupId or plyId
  CHANGELOG.md
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/fishing/service.fishing.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/controller.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/service.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/hunting/service.hunting.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/postop/service.postop.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/sanddigging/controller.sanddigging.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/sanitation/service.sanitation.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/scrapyard/service.scrapyard.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/jobs.ts
Due: JS linting, TS dev build, TS prod build

refactor(dgx): add util char spawned hook
  resources/[dg]/dg-chars/client/cl_spawn.lua
  resources/[dg]/dg-chars/server/sv_main.lua
  resources/[dg]/dg-chars/server/sv_spawn.lua
  resources/[dg]/dg-jobs/typescript/src/server/modules/groups/service.ts
  resources/[dg]/dg-police/typescript/src/client/modules/prison/controller.prison.ts
  resources/[dg]/dg-police/typescript/src/server/modules/prison/controller.prison.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
Due: JS linting, TS dev build, TS prod build

fix(auth): remove double config module load handler
  resources/[dg]/dg-auth/typescript/src/server/controllers/events.ts
Due: JS linting, TS dev build, TS prod build

fix(logs): fix client script load error
  CHANGELOG.md
  resources/[dg]/dg-logs/fxmanifest.lua
Due: validate Errorlogger

Path conditions:
  build node image: any of: package.json, yarn.lock
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
