Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

validate json:
  stage: test
  image: node:16
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  image: node:16
  services:
  - name: mariadb:10.7
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'DATABASE_URL=mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4' > ./packages/db/.env
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - corepack enable
  ...

TS dev build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - corepack enable
  ...

TS prod build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - corepack enable
  ...

feat(vehicles): add another kofi veh
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

fix(chat/ui): make font-size "response" to viewport height
  CHANGELOG.md
  resources/[dg]/dg-chat/ui/src/App.vue
Due: none

fix(db): add backwards compatibility for debt metadata column
  packages/db/prisma/migrations/20230731174733_add_debt_metadata/migration.sql
  packages/db/prisma/schema.prisma
Due: none

fix(core/queue): always join queue to prevent going over player limit
  resources/[dg]/dg-core/typescript/src/server/modules/queue/managers/queuemanager.ts
Due: JS linting, TS dev build, TS prod build

feat(dgx): only register invetory:updated event when a handler is added
  resources/[dg]/ts-shared/typescript/src/server/classes/inventory.ts
Due: JS linting, TS dev build, TS prod build

fix(phone): fix message app
  CHANGELOG.md
  resources/[dg]/dg-phone/typescript/src/server/services/messages.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/message-app/components/list.tsx
Due: JS linting, TS dev build, TS prod build

chore: update submodules + lockfile
  CHANGELOG.md
  pnpm-lock.yaml
Due: JS linting, TS dev build, TS prod build

feat(vehicles): tweak handlings
  CHANGELOG.md
  resources/[dg]/dg-config/configs/vehicles/handlings/fpskoda.json
  resources/[dg]/dg-config/configs/vehicles/handlings/lpmoto.json
  resources/[dg]/dg-config/configs/vehicles/handlings/wpv90.json
Due: validate json

feat(auth): do not AFK kick during char selection
  CHANGELOG.md
  resources/[dg]/dg-auth/typescript/src/client/modules/anticheat/service.anticheat.ts
  resources/[dg]/dg-chars/client/cl_main.lua
  resources/[dg]/dg-chars/client/cl_spawn.lua
Due: JS linting, TS dev build, TS prod build

fix(ui/dispatch): show dispatch after all states are set
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/main/dispatch/component.tsx
Due: JS linting, TS dev build, TS prod build

chore(radialmenu): remove show badge f1 entry
  CHANGELOG.md
  resources/[dg]/dg-radialmenu/typescript/src/client/data/police.ts
Due: JS linting, TS dev build, TS prod build

fix(pma-voice): readd radio clicks
  CHANGELOG.md
  resources/[dg]/dg-localsounds/html/sounds/mic_click_off.ogg
  resources/[dg]/dg-localsounds/html/sounds/mic_click_on.ogg
  resources/[standalone]/pma-voice/client/init/main.lua
Due: none

fix(tackle): fix jump check to tackle
  resources/[dg]/dg-misc/typescript/src/client/services/tackle.ts
Due: JS linting, TS dev build, TS prod build

fix(misc/flyers): add hiddenKeys to item
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/server/services/flyers.ts
Due: JS linting, TS dev build, TS prod build

feat(inventoy): add dynamic icons
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-inventory/typescript/src/client/modules/itemboxes/controller.itemboxes.ts
  resources/[dg]/dg-inventory/typescript/src/server/controllers/controller.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/classes/item.ts
  resources/[dg]/dg-misc/typescript/src/server/services/flyers.ts
  resources/[dg]/dg-ui/[src]/src/assets/inventory/flyer.png
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/itemimage.tsx
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/itemtooltip.tsx
  resources/[dg]/dg-ui/[src]/src/main/inventory/styles/inventory.scss
  resources/[dg]/dg-ui/[src]/src/main/itemboxes/components/itembox.tsx
  resources/[dg]/dg-ui/[src]/src/types/apps/itemboxes.d.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/inventory.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/inventory.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(police): add speedblocking barriers
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/modules/objectManager/service.objectmanager.ts
  resources/[dg]/dg-police/typescript/src/client/client.ts
  resources/[dg]/dg-police/typescript/src/client/services/barriers.ts
  resources/[dg]/dg-police/typescript/src/server/server.ts
  resources/[dg]/dg-police/typescript/src/server/services/barriers.ts
  resources/[dg]/dg-radialmenu/typescript/src/client/data/police.ts
Due: JS linting, TS dev build, TS prod build

feat(ui/phone): fix real-estate icon
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/home-screen/components/homescreen.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/real-estate-app/_config.tsx
Due: JS linting, TS dev build, TS prod build

feat(ui): responsive UI font size
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/base-app.tsx
  resources/[dg]/dg-ui/[src]/src/main/configmenu/component/Hud.tsx
  resources/[dg]/dg-ui/[src]/src/main/configmenu/stores/useConfigmenuStore.ts
  resources/[dg]/dg-ui/[src]/src/styles/main.scss
  resources/[dg]/dg-ui/[src]/src/types/apps/configmenu.d.ts
Due: JS linting, TS dev build, TS prod build

feat(misc/flyers): check if link is valid and points to image
  CHANGELOG.md
  pnpm-lock.yaml
  resources/[dg]/dg-misc/typescript/package.json
  resources/[dg]/dg-misc/typescript/src/server/services/flyers.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(realestate): add stash size based on interior type
  CHANGELOG.md
  resources/[dg]/dg-config/configs/realestate/properties.json
  resources/[dg]/dg-real-estate/typescript/src/client/modules/houses/controllers/zones.ts
  resources/[dg]/dg-real-estate/typescript/src/types/config.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(ui/phone/twitter): replace state when fetching first batch
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/twitter-app/component.tsx
Due: JS linting, TS dev build, TS prod build

fix(inventory): cache possible icons before deleting item
  resources/[dg]/dg-inventory/typescript/src/server/controllers/controller.ts
Due: JS linting, TS dev build, TS prod build

fix(packages/logger): fix sourceMap mapping for sentry
  CHANGELOG.md
  packages/logger/index.ts
  scripts/build.js
Due: JS linting, TS dev build, TS prod build

feat(inventory/containers): start label change input on old label
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/client/modules/containers/controller.containers.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/containers/service.containers.ts
Due: JS linting, TS dev build, TS prod build

chore(lockers): increase allow time after inputting password
  CHANGELOG.md
  resources/[dg]/dg-lockers/typescript/src/server/classes/Locker.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): default emergency vehicle extras to enabled
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/upgrades/constants.upgrades.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles/enginesounds): await applying enginesounds till player is loaded in
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/services/enginesounds.ts
Due: JS linting, TS dev build, TS prod build

refactor(police/carry): get carry target on client
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/modules/carry.ts
  resources/[dg]/dg-police/typescript/src/server/modules/interactions/modules/carry.ts
Due: JS linting, TS dev build, TS prod build

refactor(api): move to fastify
  CHANGELOG.md
  pnpm-lock.yaml
  resources/[dg]/dg-api/typescript/package.json
  resources/[dg]/dg-api/typescript/src/server/classes/tokenManager.ts
  resources/[dg]/dg-api/typescript/src/server/helpers/bodyHelper.ts
  resources/[dg]/dg-api/typescript/src/server/routes/admin.ts
  resources/[dg]/dg-api/typescript/src/server/routes/admin/actions.ts
  resources/[dg]/dg-api/typescript/src/server/routes/admin/index.ts
  resources/[dg]/dg-api/typescript/src/server/routes/admin/report.ts
  resources/[dg]/dg-api/typescript/src/server/routes/business.ts
  resources/[dg]/dg-api/typescript/src/server/routes/financials.ts
  resources/[dg]/dg-api/typescript/src/server/routes/index.ts
  resources/[dg]/dg-api/typescript/src/server/routes/info.ts
  resources/[dg]/dg-api/typescript/src/server/routes/info/character.ts
  resources/[dg]/dg-api/typescript/src/server/routes/info/index.ts
  resources/[dg]/dg-api/typescript/src/server/routes/token.ts
  resources/[dg]/dg-api/typescript/src/server/server.ts
  resources/[dg]/dg-api/typescript/src/server/sv_router.ts
  resources/[dg]/dg-api/typescript/src/server/sv_routes.ts
  resources/[dg]/dg-api/typescript/src/server/types/http-wrapper.d.ts
  resources/[dg]/dg-config/configs/api.json
Due: validate json, JS linting, TS dev build, TS prod build

refactor(flyer): add description for flyer
  CHANGELOG.md
  packages/db/prisma/migrations/20230809094836_add_description_for_flyer/migration.sql
  packages/db/prisma/schema.prisma
  resources/[dg]/dg-misc/typescript/src/client/modules/flyers/service.flyers.ts
  resources/[dg]/dg-misc/typescript/src/server/services/flyers.ts
  resources/[dg]/dg-misc/typescript/src/types/index.d.ts
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/itemtooltip.tsx
Due: JS linting, TS dev build, TS prod build

feat(ui): add some new icons for phone apps
  pnpm-lock.yaml
  resources/[dg]/dg-ui/[src]/package.json
  resources/[dg]/dg-ui/[src]/src/components/icon.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/crypto-app/_config.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/payconiq-app/_config.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/real-estate-app/_config.tsx
  resources/[dg]/dg-ui/[src]/src/types/apps/phone.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(police/ang): unify az+ang + add opacity when iframe is not focused
  CHANGELOG.md
  resources/[dg]/dg-config/configs/main.json
  resources/[dg]/dg-hospital/typescript/src/client/client.ts
  resources/[dg]/dg-hospital/typescript/src/client/services/ang.ts
  resources/[dg]/dg-police/html/index.html
  resources/[dg]/dg-police/html/script.js
  resources/[dg]/dg-police/typescript/src/client/services/ang.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(realestate): use offlinePly to get info for accessList
  CHANGELOG.md
  resources/[dg]/dg-real-estate/typescript/src/server/classes/propertyManager.ts
  resources/[dg]/dg-real-estate/typescript/src/server/services/core.ts
Due: JS linting, TS dev build, TS prod build

fix(police/ang): move job check to event
  resources/[dg]/dg-police/typescript/src/client/services/ang.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles/impound): do not clear jobVin when clearing blip
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/impound/controller.impound.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/mechanic/services/towing.mechanic.ts
Due: JS linting, TS dev build, TS prod build

fix(dgx): check if player ped exists when iterating getAllPlayers
  resources/[dg]/dg-misc/typescript/src/server/modules/particles/service.particles.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/jobs.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/sync.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/shared/classes/vector3.ts
  resources/[dg]/ts-shared/typescript/src/shared/classes/vector4.ts
Due: JS linting, TS dev build, TS prod build

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
