Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

validate json:
  stage: test
  image: node:16
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  image: node:16
  services:
  - name: mariadb:10.7
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'DATABASE_URL=mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4' > ./packages/db/.env
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - corepack enable
  ...

TS dev build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - corepack enable
  ...

TS prod build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - corepack enable
  ...

chore(vehicles): add evo9 default stance
  CHANGELOG.md
  resources/[dg]/dg-config/configs/vehicles/stances.json
Due: validate json

fix(vehicles/fuel): actually set fuel when spawning owned vehicle
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/fuel/classes/fuelManager.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/fuel/service.fuel.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/service.garages.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/service.status.ts
Due: JS linting, TS dev build, TS prod build

feat(criminal): add parkingmeter robbing
  CHANGELOG.md
  resources/[dg]/dg-config/configs/criminal/parkingmeters.json
  resources/[dg]/dg-criminal/typescript/src/client/client.ts
  resources/[dg]/dg-criminal/typescript/src/client/modules/parkingmeters/controller.parkingmeters.ts
  resources/[dg]/dg-criminal/typescript/src/client/modules/parkingmeters/index.ts
  resources/[dg]/dg-criminal/typescript/src/client/modules/parkingmeters/service.parkingmeters.ts
  resources/[dg]/dg-criminal/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/parkingmeters/controller.parkingmeters.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/parkingmeters/index.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/parkingmeters/service.parkingmeters.ts
  resources/[dg]/dg-criminal/typescript/src/server/server.ts
  resources/[dg]/dg-criminal/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(jobs/postop): increase payout
  CHANGELOG.md
  resources/[dg]/dg-jobs/typescript/src/server/modules/postop/service.postop.ts
Due: JS linting, TS dev build, TS prod build

feat(materials/dumpsters): add extra special loot
  CHANGELOG.md
  resources/[dg]/dg-config/configs/materials/dumpsters.json
  resources/[dg]/dg-materials/typescript/src/server/modules/dumpsters/controller.dumpsters.ts
  resources/[dg]/dg-materials/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

chore(npcs): move houserobbery start & fence npc
  resources/[dg]/dg-config/configs/npcs.json
Due: validate json

feat(kingpills): change kingpillsbandage to 5 uses
  CHANGELOG.md
  resources/[dg]/dg-config/configs/hospital/health.json
  resources/[dg]/dg-config/configs/materials/crafting.json
Due: validate json

feat(admin): copy vin admin command
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/copyVin.ts
Due: JS linting, TS dev build, TS prod build

chore(weather): lower rain chance
  CHANGELOG.md
  resources/[dg]/dg-weathersync/typescript/src/server/modules/weather/constants.weather.ts
Due: JS linting, TS dev build, TS prod build

fix(police/trackers): remove when entity is deleted, remove when going off duty
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/modules/blipmanager/controller.blipmanager.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/blipmanager/service.blipmanager.ts
  resources/[dg]/dg-police/typescript/src/client/modules/trackers/controller.trackers.ts
  resources/[dg]/dg-police/typescript/src/client/modules/trackers/helpers.trackers.ts
  resources/[dg]/dg-police/typescript/src/client/modules/trackers/service.trackers.ts
  resources/[dg]/dg-police/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-police/typescript/src/server/modules/trackers/controller.trackers.ts
  resources/[dg]/dg-police/typescript/src/server/modules/trackers/helpers.trackers.ts
  resources/[dg]/dg-police/typescript/src/server/modules/trackers/service.trackers.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/blipmanager.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/jobs.ts
Due: JS linting, TS dev build, TS prod build

chore(nuttysounds): use normal events to avoid dgx event spam
  resources/[standalone]/nutty-sounds/client/cl_manager.lua
  resources/[standalone]/nutty-sounds/server/sv_manager.lua
Due: none

feat(ui): add removeFocus command to avoid unnecessary UI-Rs
  CHANGELOG.md
  resources/[dg]/dg-ui/client/cl_main.lua
Due: none

feat(weathersync): start devserver time at midday
  CHANGELOG.md
  resources/[dg]/dg-weathersync/typescript/src/server/modules/time/service.time.ts
Due: JS linting, TS dev build, TS prod build

feat(core/phone): add marking phone numbers as used & add hook to startcall
  resources/[dg]/dg-core/typescript/src/server/modules/characters/classes/player.ts
  resources/[dg]/dg-core/typescript/src/server/modules/characters/helpers.character.ts
  resources/[dg]/dg-core/typescript/src/server/modules/characters/module.characters.ts
  resources/[dg]/dg-phone/typescript/src/client/services/calls.ts
  resources/[dg]/dg-phone/typescript/src/server/modules/calls/controller.calls.ts
  resources/[dg]/dg-phone/typescript/src/server/modules/calls/service.calls.ts
  resources/[dg]/dg-phone/typescript/src/shared/enums/callType.ts
  resources/[dg]/dg-phone/typescript/src/types/calls.d.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/phone.ts
  types/core.d.ts
Due: JS linting, TS dev build, TS prod build

feat(bennys): add way to block vins in bennys
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/bennys/classes/BennysManager.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/vehicles.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles/upgrades): add bulletProofTires option to upgrades
  resources/[dg]/dg-vehicles/seeding/vehicles.json
  resources/[dg]/dg-vehicles/typescript/src/client/modules/bennys/service.bennys.ts
  resources/[dg]/dg-vehicles/typescript/src/client/modules/upgrades/constants.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/bennys/classes/BennysManager.ts
  resources/[dg]/dg-vehicles/typescript/src/shared/upgrades/constants.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/shared/upgrades/service.upgrades.ts
  types/vehicles.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(vehicles): add option to set doorlock state when spawning vehicle
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  types/vehicles.d.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): add multiple tries to setting vehicle door state
  resources/[dg]/ts-shared/typescript/src/server/classes/vehicles.ts
Due: JS linting, TS dev build, TS prod build

fix(sync): increase action execution required ownership time
  resources/[dg]/dg-sync/typescript/src/client/modules/actions/controller.actions.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/controller.keys.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): update submodule for kofi vehicles
  CHANGELOG.md
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

fix(weathersync): fix typo in number
  resources/[dg]/dg-weathersync/typescript/src/server/modules/weather/constants.weather.ts
Due: JS linting, TS dev build, TS prod build

refactor(npcs): add server side npc keeping/handling to add/remove npcs from server
  CHANGELOG.md
  resources/[dg]/dg-heists/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-inventory/typescript/src/client/modules/shops/controller.shops.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/rental/controller.rental.ts
  resources/[dg]/dg-misc/typescript/src/client/modules/rental/service.rental.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/rental/controller.rental.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/rental/service.rental.ts
  resources/[dg]/dg-npcs/typescript/src/client/classes/handler.ts
  resources/[dg]/dg-npcs/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-npcs/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-npcs/typescript/src/server/controllers/exports.ts
  resources/[dg]/dg-npcs/typescript/src/server/server.ts
  resources/[dg]/dg-npcs/typescript/src/server/services/config.ts
  resources/[dg]/dg-npcs/typescript/src/server/services/npcs.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/config.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/index.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/npcs.ts
  resources/[dg]/ts-shared/typescript/src/server/types/global.d.ts
  types/npcs.d.ts
Due: JS linting, TS dev build, TS prod build

chore(vehicles/stance): add rcf upgrade stance
  CHANGELOG.md
  resources/[dg]/dg-config/configs/vehicles/stances.json
Due: validate json

feat(phone/mails): store date, optional coords, restore on relog
  CHANGELOG.md
  packages/db/prisma/migrations/20230714005941_add_mail_coords_date/migration.sql
  packages/db/prisma/schema.prisma
  resources/[dg]/dg-business/typescript/src/server/modules/kingpills/service.kingpills.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/oxyrun/service.oxyrun.ts
  resources/[dg]/dg-gangs/typescript/src/server/classes/gangmanager.ts
  resources/[dg]/dg-heists/typescript/src/client/services/laptops.ts
  resources/[dg]/dg-heists/typescript/src/server/classes/typemanagers/paletomanager.ts
  resources/[dg]/dg-heists/typescript/src/server/services/shop.ts
  resources/[dg]/dg-houserobbery/typescript/src/client/modules/house/controller.house.ts
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/hunting/service.hunting.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/sanddigging/service.sanddigging.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/scrapyard/service.scrapyard.ts
  resources/[dg]/dg-phone/README.md
  resources/[dg]/dg-phone/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-phone/typescript/src/client/services/mail.ts
  resources/[dg]/dg-phone/typescript/src/server/services/justice.ts
  resources/[dg]/dg-phone/typescript/src/server/services/mails.ts
  resources/[dg]/dg-phone/typescript/src/types/index.d.ts
  resources/[dg]/dg-storerobbery/typescript/src/server/modules/safes/controller.safes.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/mail-app/components/mail.styles.ts
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/mail-app/components/mail.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/mail-app/events.ts
  resources/[dg]/dg-ui/[src]/src/types/apps/phone.d.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/impound/service.impound.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/phone.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/phone.ts
  types/phone.d.ts
Due: JS linting, TS dev build, TS prod build

refactor(admin): hopefully fix dropping by steamId
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/helpers/core.ts
  resources/[dg]/dg-admin/typescript/src/server/helpers/identifiers.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/penalties/service.penalties.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/penalties/util.penalties.ts
  resources/[dg]/dg-admin/typescript/src/server/server.ts
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/service.anticheat.ts
  resources/[dg]/dg-core/typescript/src/server/modules/users/managers/IdentifierManager.ts
Due: JS linting, TS dev build, TS prod build

chore(houserobbery): tweak loot to be more in line with other criminal activities
  CHANGELOG.md
  resources/[dg]/dg-config/configs/criminal/fence.json
  resources/[dg]/dg-config/configs/houserobbery/config.json
Due: validate json

chore(spacespam): increase press amount to fall
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/services/spacespam.ts
Due: JS linting, TS dev build, TS prod build

feat(inventory): merge hiddenKeys metadata when creating new item
  resources/[dg]/dg-inventory/typescript/src/server/controllers/controller.ts
Due: JS linting, TS dev build, TS prod build

chore: remove leftover console prints
  resources/[dg]/dg-npcs/typescript/src/server/services/npcs.ts
  resources/[dg]/dg-phone/typescript/src/server/services/mails.ts
Due: JS linting, TS dev build, TS prod build

fix(phone/ui): filter duplicate mail ids when adding new mail
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/mail-app/events.ts
Due: JS linting, TS dev build, TS prod build

feat(npcs): new general guards spawning system
  CHANGELOG.md
  resources/[dg]/dg-business/typescript/src/client/modules/kingpills/service.kingpills.ts
  resources/[dg]/dg-business/typescript/src/server/modules/kingpills/controller.kingpills.ts
  resources/[dg]/dg-business/typescript/src/server/modules/kingpills/service.kingpills.ts
  resources/[dg]/dg-inventory/typescript/src/server/controllers/controller.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/scrapyard/constants.scrapyard.ts
  resources/[dg]/dg-jobs/typescript/src/client/modules/scrapyard/controller.scrapyard.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/scrapyard/constants.scrapyard.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/scrapyard/service.scrapyard.ts
  resources/[dg]/dg-jobs/typescript/src/types/scrapyard.d.ts
  resources/[dg]/dg-materials/typescript/src/client/modules/radiotowers/controller.radiotowers.ts
  resources/[dg]/dg-materials/typescript/src/client/modules/radiotowers/service.radiotowers.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/radiotowers/controller.radiotowers.ts
  resources/[dg]/dg-materials/typescript/src/server/modules/radiotowers/service.radiotowers.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/rental/service.rental.ts
  resources/[dg]/dg-npcs/typescript/src/client/classes/handler.ts
  resources/[dg]/dg-npcs/typescript/src/client/classes/npc.ts
  resources/[dg]/dg-npcs/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-npcs/typescript/src/client/services/guards.ts
  resources/[dg]/dg-npcs/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-npcs/typescript/src/server/controllers/exports.ts
  resources/[dg]/dg-npcs/typescript/src/server/services/config.ts
  resources/[dg]/dg-npcs/typescript/src/server/services/guards.ts
  resources/[dg]/dg-npcs/typescript/src/server/services/npcs.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/npcs.ts
  resources/[dg]/ts-shared/typescript/src/client/classes/util.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/npcs.ts
  types/npcs.d.ts
Due: JS linting, TS dev build, TS prod build

fix(npcs/guards): fire onDeath handler when entity was deleted or died by itself
  resources/[dg]/dg-business/typescript/src/client/modules/kingpills/service.kingpills.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/scrapyard/service.scrapyard.ts
  resources/[dg]/dg-npcs/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-npcs/typescript/src/client/services/guards.ts
  resources/[dg]/dg-npcs/typescript/src/server/services/guards.ts
  types/npcs.d.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): add way to block VINs from getting lockpicked + reject messages
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/controller.keys.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/service.keys.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/vehicles.ts
Due: JS linting, TS dev build, TS prod build

feat(criminal): add meth run
  CHANGELOG.md
  resources/[dg]/dg-config/configs/criminal/methrun.json
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/npcs.json
  resources/[dg]/dg-config/configs/police/requirements.json
  resources/[dg]/dg-criminal/typescript/src/client/client.ts
  resources/[dg]/dg-criminal/typescript/src/client/modules/methrun/controller.methrun.ts
  resources/[dg]/dg-criminal/typescript/src/client/modules/methrun/index.ts
  resources/[dg]/dg-criminal/typescript/src/client/modules/methrun/service.methrun.ts
  resources/[dg]/dg-criminal/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/cornerselling/service.cornerselling.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/methrun/constants.methrun.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/methrun/controller.methrun.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/methrun/helpers.methrun.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/methrun/index.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/methrun/logger.methrun.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/methrun/service.methrun.ts
  resources/[dg]/dg-criminal/typescript/src/server/server.ts
  resources/[dg]/dg-criminal/typescript/src/types/index.d.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/helpers.items.ts
  resources/[dg]/dg-labs/typescript/src/server/modules/meth/service.meth.ts
  resources/[dg]/dg-npcs/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-ui/[src]/src/assets/inventory/processed_meth.png
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/service.keys.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/jobs.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(vehicles/services): lower suspension threshold to decrease quality
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
Due: JS linting, TS dev build, TS prod build

Revert "chore(garages): add mcf garage"
  resources/[dg]/dg-vehicles/seeding/garages/gang_mcf.json
Due: validate json

fix(inventory): fix awaitInventoryLoad timing out if server start takes long
  resources/[dg]/dg-inventory/typescript/src/server/classes/itemdatamanager.ts
  resources/[dg]/dg-inventory/typescript/src/server/server.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/laptop/controller.laptop.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/laptop/service.laptop.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/inventory.ts
Due: JS linting, TS dev build, TS prod build

feat(gangs): add adminpanel commands to create/remove/addMembers
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/addGangFeedMessage.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/addMemberToGang.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/createGang.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/removeGang.ts
  resources/[dg]/dg-gangs/typescript/src/server/classes/gang.ts
  resources/[dg]/dg-gangs/typescript/src/server/classes/gangmanager.ts
  resources/[dg]/dg-gangs/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-gangs/typescript/src/server/helpers.ts
  resources/[dg]/dg-gangs/typescript/src/server/services/repository.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/jobs.ts
Due: JS linting, TS dev build, TS prod build

fix(auth): faster heartbeat interval to avoid ban on event cancel because of connectionloss
  resources/[dg]/dg-auth/typescript/src/client/modules/anticheat/service.anticheat.ts
Due: JS linting, TS dev build, TS prod build

fix(auth): only dropplayer when failing to receive first heartbeat
  CHANGELOG.md
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/controller.anticheat.ts
  resources/[dg]/dg-auth/typescript/src/server/modules/anticheat/service.anticheat.ts
Due: JS linting, TS dev build, TS prod build

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
