Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

validate json:
  stage: test
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  services:
  - name: mariadb:10.7
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'DATABASE_URL=mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4' > ./packages/db/.env
  - yarn --pure-lockfile
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

TS dev build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

TS prod build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - yarn config set network-timeout 600000 -g
  ...

feat(reports): add beep sound
  CHANGELOG.md
  resources/[dg]/dg-auth/typescript/src/client/modules/panel/controller.panel.ts
  resources/[dg]/dg-localsounds/html/sounds/beep.ogg
Due: JS linting, TS dev build, TS prod build

fix(melting): check before and after taskbar if something already melting
  CHANGELOG.md
  resources/[dg]/dg-materials/typescript/src/server/services/melting.ts
Due: JS linting, TS dev build, TS prod build

fix(financials): deduct tax from paycheck instead of adding in notification
  CHANGELOG.md
  resources/[dg]/dg-financials/typescript/src/server/modules/paycheck/controller.ts
Due: JS linting, TS dev build, TS prod build

fix(esbuild): disable debug mode for sentry
  scripts/build.js
Due: JS linting, TS dev build, TS prod build

feat(keys): timeout dispatch call for same vehicle
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/service.keys.ts
Due: JS linting, TS dev build, TS prod build

chore(admin): add bugabuse as ban reason
  resources/[dg]/dg-config/configs/admin/bans.json
Due: validate json

tweak(cornersell): lowered dispatch call chance
  resources/[dg]/dg-config/configs/dispatch.json
Due: validate json

docs(changelog): bump version
  CHANGELOG.md
Due: none

tweak(fence): add phone as sellable for small amount
  resources/[dg]/dg-config/configs/criminal/fence.json
Due: validate json

fix(restaurant): give ticket to right person :notlikethis:
  CHANGELOG.md
  resources/[dg]/dg-restaurants/typescript/src/server/classes/restaurant.ts
Due: JS linting, TS dev build, TS prod build

fix(houserobbery): cleanup searched set
  resources/[dg]/dg-houserobbery/typescript/src/server/classes/StateManager.ts
Due: JS linting, TS dev build, TS prod build

refactor(stress): show icon when higher than threshold, hide when 0
  resources/[dg]/dg-misc/typescript/src/client/modules/hud/service.hud.ts
Due: JS linting, TS dev build, TS prod build

fix(yoga): fix animation heading being 90 deg off
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/services/yoga.ts
Due: JS linting, TS dev build, TS prod build

tweak(cornersell): tweak weed and moneyroll prices
  CHANGELOG.md
  resources/[dg]/dg-config/configs/criminal/blackmoney.json
  resources/[dg]/dg-config/configs/criminal/cornerselling.json
  resources/[dg]/dg-config/configs/storerobbery.json
  resources/[dg]/dg-heists/typescript/src/server/services/shop/controller.shop.ts
  resources/[dg]/dg-storerobbery/typescript/src/server/modules/registers/controller.registers.ts
  resources/[dg]/dg-storerobbery/typescript/src/server/modules/safes/controller.safes.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(ui/simpleform): disable buttons when doing button work
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/components/simpleform.tsx
  resources/[dg]/dg-ui/[src]/src/types/os/simpleform.d.ts
Due: JS linting, TS dev build, TS prod build

feat(garageApp): refresh modal after accept + hide modal after action is answered
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/garage-app/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/garage-app/components/SellModal.tsx
  resources/[dg]/dg-ui/[src]/src/main/phone/apps/garage-app/components/VehicleList.tsx
Due: JS linting, TS dev build, TS prod build

feat(police): copy dna code on dna_evidence item use
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/server/modules/evidence/controller.evidence.ts
Due: JS linting, TS dev build, TS prod build

feat(clothing): texture optimalization + some police clothes
  CHANGELOG.md
Due: none

feat(labs): roll joints from weed
  CHANGELOG.md
  resources/[dg]/dg-config/configs/labs/interiors.json
  resources/[dg]/dg-labs/typescript/src/client/modules/weed/controller.weed.ts
  resources/[dg]/dg-labs/typescript/src/server/modules/weed/controller.weed.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(ems): anim for 112 calls
  CHANGELOG.md
  resources/[dg]/dg-hospital/typescript/src/server/controllers/commands.ts
  resources/[dg]/dg-police/typescript/src/client/controllers/events.ts
  resources/[dg]/dg-police/typescript/src/server/modules/alerts/controller.alerts.ts
Due: JS linting, TS dev build, TS prod build

feat(ems): notif when no ems online when making call
  CHANGELOG.md
  resources/[dg]/dg-hospital/typescript/src/server/controllers/commands.ts
  resources/[dg]/dg-police/typescript/src/server/modules/alerts/controller.alerts.ts
Due: JS linting, TS dev build, TS prod build

feat(admin): add get itemstate by id command
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/getItemData.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/manager.items.ts
Due: JS linting, TS dev build, TS prod build

fix(screenshot-basic): add timeout for receiving errors while generating a new filename
  CHANGELOG.md
  resources/[standalone]/screenshot-basic/src/server/server.ts
Due: JS linting, TS dev build, TS prod build

tweak(police): disabling robbing when target is unconscious
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/server/modules/interactions/modules/rob.ts
Due: JS linting, TS dev build, TS prod build

chore(weapons): remove debug log
  resources/[dg]/dg-weapons/typescript/src/server/modules/weapons/controller.weapons.ts
Due: JS linting, TS dev build, TS prod build

tweak(admin): allow afk for staff
  CHANGELOG.md
  resources/[dg]/dg-config/configs/admin/roles.json
Due: validate json

tweak(hunting): change bait animal spawn chances
  CHANGELOG.md
  resources/[dg]/dg-config/configs/jobs/hunting.json
Due: validate json

tweak(cornersell): change money clean chance
  CHANGELOG.md
  resources/[dg]/dg-config/configs/criminal/cornerselling.json
  resources/[dg]/dg-criminal/typescript/src/server/modules/cornerselling/controller.cornerselling.ts
  resources/[dg]/dg-criminal/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

tweak(hospital): reset timer on death while down
  CHANGELOG.md
  resources/[dg]/dg-hospital/typescript/src/client/modules/down/service.down.ts
Due: JS linting, TS dev build, TS prod build

tweak(lockers): increase stash size
  CHANGELOG.md
  resources/[dg]/dg-config/configs/lockers.json
Due: validate json

tweak(weed): lowered drytime of weedbud
  CHANGELOG.md
  resources/[dg]/dg-config/configs/labs/weed.json
Due: validate json

refactor(admin): calculate ban expiry on cfx server
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/server/modules/penalties/service.penalties.ts
Due: JS linting, TS dev build, TS prod build

feat(melting): check if ply has required items before taskbar
  CHANGELOG.md
  resources/[dg]/dg-materials/typescript/src/server/services/melting.ts
Due: JS linting, TS dev build, TS prod build

tweak(cuffs): cannot cuff while swimming
  CHANGELOG.md
  resources/[dg]/dg-police/typescript/src/client/modules/interactions/modules/cuffs.ts
Due: JS linting, TS dev build, TS prod build

tweak(police): lowered container requirements
  CHANGELOG.md
  resources/[dg]/dg-config/configs/police/requirements.json
Due: validate json

tweak(vehicles): lowered frogger class so its not impossible to lockpick
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

feat(inventory): add weedbud container
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/config.json
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/inventory/objects.json
  resources/[dg]/dg-misc/typescript/src/client/modules/propattach/constants.propattach.ts
  resources/[dg]/dg-ui/[src]/src/assets/inventory/container_weedbuds.png
Due: validate json, JS linting, TS dev build, TS prod build

feat(admin): add support role
  CHANGELOG.md
  resources/[dg]/dg-admin/typescript/src/client/modules/selector/controller.selector.ts
  resources/[dg]/dg-admin/typescript/src/server/controllers/commands.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/announce.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/attach.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/bring.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/clearChat.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/cloak.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/deleteEntity.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/deleteVehicle.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/noclip.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/penalise.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/sendMessage.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/takeScreenshot.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/tpid.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/tpm.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/menu/controller.menu.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/menu/service.menu.ts
  resources/[dg]/dg-admin/typescript/src/server/services/names.ts
  resources/[dg]/dg-admin/typescript/src/server/services/staffchat.ts
  resources/[dg]/dg-api/typescript/src/server/helpers/roles.ts
  resources/[dg]/dg-chat/typescript/src/server/helpers/commands.ts
  resources/[dg]/dg-chat/typescript/src/server/helpers/messages.ts
  resources/[dg]/dg-config/configs/admin/roles.json
  resources/[dg]/dg-jobs/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-misc/typescript/src/server/services/idlist.ts
  resources/[dg]/dg-phone/server/sv_tweets.lua
  resources/[dg]/dg-ui/client/components/cl_info.lua
Due: validate json, JS linting, TS dev build, TS prod build

fix(vehicles): fix getting out of vehicle after hotwire anim
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/keys/controller.keys.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/classes/keymanager.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/service.keys.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): skip doorlockstate check for unknown vehicles
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/server/controller/baseevents.ts
  resources/[dg]/dg-vehicles/typescript/src/server/helpers/vehicle.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/garages/controller.garages.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/identification/service.id.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/keys/service.keys.ts
Due: JS linting, TS dev build, TS prod build

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/yarn.lock
