Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

validate json:
  stage: test
  image: node:16
  script:
  - cd ./tools/json-validator
  - yarn --pure-lockfile
  - yarn start

validate Errorlogger:
  image: python:3-slim
  stage: test
  script:
  - python ./tools/manifest-check.py
  - exit "${?}"

validate db migrations:
  stage: test
  image: node:16
  services:
  - name: mariadb:10.7
    alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: degrens2
    MYSQL_USER: dguser
    MYSQL_PASSWORD: dgpw
  script:
  - echo 'DATABASE_URL=mysql://dguser:dgpw@mariadb/degrens2?charset=utf8mb4' > ./packages/db/.env
  ...

JS linting:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - corepack enable
  ...

TS dev build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - corepack enable
  ...

TS prod build:
  before_script:
  - npm config set @degrens-21:registry https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
  - npm config set -- '//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken' "${CI_JOB_TOKEN}"
  - npm config set always-auth true
  - corepack enable
  ...

feat(gang): move kingsmen garage & add doorlock
  resources/[dg]/dg-doorlock/seeding/doors.json
  resources/[dg]/dg-vehicles/seeding/garages/gang_kingsmen.json
Due: validate json

feat(police): add sandy pd parking & changingroom
  CHANGELOG.md
  resources/[dg]/dg-vehicles/seeding/garages/sandy_police_shared.json
  resources/[qb]/qb-clothing/config.lua
Due: validate json

feat(heists): show confirmation when buying laptop when activity is currently not available
  CHANGELOG.md
  resources/[dg]/dg-config/configs/heists/shop.json
  resources/[dg]/dg-heists/typescript/src/client/services/shop.ts
  resources/[dg]/dg-heists/typescript/src/server/services/shop.ts
  resources/[dg]/dg-heists/typescript/src/types/index.d.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(inventory): rework metadata to always include hiddenKeys array
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/server/controllers/controller.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/classes/inv.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/classes/item.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/manager.items.ts
  resources/[dg]/dg-inventory/typescript/src/server/services/repository.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/mechanic/controller.mechanic.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/inventory.d.ts
Due: JS linting, TS dev build, TS prod build

feat(inventory): triple click to copy item id
  CHANGELOG.md
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/item.tsx
  resources/[dg]/dg-ui/[src]/src/main/inventory/components/itemtooltip.tsx
Due: JS linting, TS dev build, TS prod build

fix(vehicles/holdbmx): check entity is networked
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/services/holdbmx.ts
Due: JS linting, TS dev build, TS prod build

fix(inventory): use new extra data structure when opening dumpster inventory
  CHANGELOG.md
  resources/[dg]/dg-inventory/typescript/src/client/modules/dumpsters/controller.dumpsters.ts
  resources/[dg]/dg-inventory/typescript/src/server/modules/inventories/controller.inventories.ts
Due: JS linting, TS dev build, TS prod build

fix(jobs): Finally got rid of Querry. Changed to something dutch.
  resources/[dg]/dg-config/configs/npcs.json
  resources/[dg]/dg-jobs/typescript/src/client/modules/sanddigging/service.sanddigging.ts
Due: validate json, JS linting, TS dev build, TS prod build

fix(roadsigns): disable equipping roadsign while in vehicle
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/server/services/roadsigns.ts
Due: JS linting, TS dev build, TS prod build

fix(dgx): check entity existance because this retarded native throws if it doesnt
  resources/[dg]/ts-shared/typescript/src/server/classes/vehicles.ts
Due: JS linting, TS dev build, TS prod build

fix(heists): fix fleeca sandy trolley heading
  CHANGELOG.md
  resources/[dg]/dg-config/configs/heists/locations/fleeca_sandy.json
Due: validate json

chore(houserobbery): remove scuffed locations.
  CHANGELOG.md
  resources/[dg]/dg-config/configs/houserobbery/medium.json
Due: validate json

fix(labs/meth): fix logtypes all being same
  CHANGELOG.md
  resources/[dg]/dg-labs/typescript/src/server/modules/meth/service.meth.ts
Due: JS linting, TS dev build, TS prod build

refactor(jewelry): check police on first vitrine instead of laptophack
  CHANGELOG.md
  resources/[dg]/dg-heists/typescript/src/server/classes/typemanagers/jewelrymanager.ts
  resources/[dg]/dg-heists/typescript/src/types/jewelry.d.ts
Due: JS linting, TS dev build, TS prod build

feat(misc):add useable medical bag
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/inventory/shops.json
  resources/[dg]/dg-misc/typescript/src/client/services/useables.ts
  resources/[dg]/dg-misc/typescript/src/server/services/useables.ts
  resources/[dg]/dg-ui/[src]/src/assets/inventory/medbag.png
Due: validate json, JS linting, TS dev build, TS prod build

fix(inventory): mark krikke_vin as useable
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/items.json
Due: validate json

refactor(misc): merge lawntable & medbag to general placeable object items
  CHANGELOG.md
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/services/placeableObjectItems.ts
  resources/[dg]/dg-misc/typescript/src/client/services/useables.ts
  resources/[dg]/dg-misc/typescript/src/server/server.ts
  resources/[dg]/dg-misc/typescript/src/server/services/placeableObjectItems.ts
  resources/[dg]/dg-misc/typescript/src/server/services/useables.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/inventory.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/inventory.d.ts
Due: JS linting, TS dev build, TS prod build

fix(inventory): add better logging of duplicate ids when loading item
  resources/[dg]/dg-inventory/typescript/src/server/modules/items/manager.items.ts
Due: JS linting, TS dev build, TS prod build

fix(postop): remove duplicate dropoff coord
  resources/[dg]/dg-config/configs/jobs/postop.json
Due: validate json

feat(clothing): add gang only changing rooms
  CHANGELOG.md
  resources/[qb]/qb-clothing/client/main.lua
  resources/[qb]/qb-clothing/config.lua
Due: none

feat(gang): add fuenteblance mlo, doorlock & garage for nudaveritas
  resources/[dg]/dg-doorlock/seeding/doors.json
  resources/[dg]/dg-doorlock/typescript/src/client/controllers/exports.ts
  resources/[dg]/dg-vehicles/seeding/garages/gang_nudaveritas.json
Due: validate json, JS linting, TS dev build, TS prod build

feat(vehicles): add kofi vehicles
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

chore(assets): update submodule
  CHANGELOG.md
Due: none

chore(vehicles): change vehicle class because lil bro is indecisive
  resources/[dg]/dg-vehicles/seeding/vehicles.json
Due: validate json

chore(inventory): allow sand in materialscontainer
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/config.json
Due: validate json

chore(vehicles): add remaining kofi vehicles
  resources/[dg]/dg-vehicles/seeding/vehicles.json
  resources/[dg]/dg-vehicles/typescript/src/server/modules/vehicleshop/services/kofi.vehicleshop.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(vehicles): block extras on prago
  CHANGELOG.md
  resources/[dg]/dg-config/configs/vehicles/bennys.json
Due: validate json

fix(vehicles/service): fix typo in suspension damage lowerlimit
  CHANGELOG.md
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): fix typo in eventname
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/controller.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/service.status.ts
Due: JS linting, TS dev build, TS prod build

feat(meth): option to see quality before opening
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-labs/typescript/src/client/modules/meth/controller.meth.ts
  resources/[dg]/dg-labs/typescript/src/server/modules/meth/controller.meth.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/inventory.ts
Due: validate json, JS linting, TS dev build, TS prod build

refactor(inventory): tweak itemstate metadata typings
  resources/[dg]/dg-criminal/typescript/src/server/modules/fence/service.fence.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/methrun/service.methrun.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/weed/classes/weedplant.ts
  resources/[dg]/dg-criminal/typescript/src/server/modules/weed/controller.weed.ts
  resources/[dg]/dg-farming/typescript/src/server/classes/plantmanager.ts
  resources/[dg]/dg-farming/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-financials/typescript/src/server/modules/paycheck/controller.ts
  resources/[dg]/dg-hospital/typescript/src/server/services/armor.ts
  resources/[dg]/dg-jobs/typescript/src/server/modules/hunting/service.hunting.ts
  resources/[dg]/dg-labs/typescript/src/server/modules/meth/controller.meth.ts
  resources/[dg]/dg-labs/typescript/src/server/modules/weed/controller.weed.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/radio/controller.radio.ts
  resources/[dg]/dg-misc/typescript/src/server/modules/rental/controller.rental.ts
  resources/[dg]/dg-misc/typescript/src/server/services/consumables.ts
  resources/[dg]/dg-misc/typescript/src/server/services/roadsigns.ts
  resources/[dg]/dg-misc/typescript/src/server/services/useables.ts
  resources/[dg]/dg-police/typescript/src/server/modules/evidence/controller.evidence.ts
  resources/[dg]/dg-police/typescript/src/server/modules/interactions/modules/search.ts
  resources/[dg]/dg-restaurants/typescript/src/server/classes/restaurant.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/mechanic/controller.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/mechanic/services/parts.mechanic.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/status/service.status.ts
  resources/[dg]/dg-vehicles/typescript/src/server/modules/upgrades/classes/manager.upgrades.ts
  resources/[dg]/dg-vehicles/typescript/src/server/services/fakeplate.ts
  resources/[dg]/dg-weapons/typescript/src/server/modules/ammo/service.ammo.ts
  resources/[dg]/dg-weapons/typescript/src/server/modules/attachments/helpers.attachments.ts
  resources/[dg]/dg-weapons/typescript/src/server/modules/weapons/service.weapons.ts
  resources/[dg]/dg-weapons/typescript/src/types/index.d.ts
  resources/[dg]/ts-shared/typescript/src/server/classes/inventory.ts
  resources/[dg]/ts-shared/typescript/src/shared/types/inventory.d.ts
Due: JS linting, TS dev build, TS prod build

docs(changelog): add missing entries
  CHANGELOG.md
Due: none

chore(radialmenu): rename impound request option
  resources/[dg]/dg-radialmenu/typescript/src/client/data/main.ts
Due: JS linting, TS dev build, TS prod build

fix(heists/jewelry): check global timeout on laptop hack instead of info buy
  resources/[dg]/dg-heists/typescript/src/server/classes/typemanagers/jewelrymanager.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): TYPOOOOS
  resources/[dg]/dg-vehicles/typescript/src/client/modules/status/service.status.ts
Due: JS linting, TS dev build, TS prod build

chore(cornerselling): lower meth rep requirement
  CHANGELOG.md
  resources/[dg]/dg-config/configs/criminal/cornerselling.json
Due: validate json

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
