Repository NuttyShrimp/DeGrens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate json, validate Errorlogger, validate db migrations, JS linting, TS dev build, TS prod build

Path conditions:
  validate json: any of: **/*.json
  validate Errorlogger: any of: **/fxmanifest.lua
  validate db migrations: any of: packages/db/*
  JS linting: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS dev build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml
  TS prod build: any of: **/*.js, **/*.ts, **/*.jsx, **/*.tsx, **/*.css, **/*.scss, **/*.html, **/package.json, **/pnpm-lock.yaml

Revert "Merge branch 'feat/seats' into 'main'"
  resources/[dg]/dg-config/configs/seats.json
Due: validate json

feat(seats): added halloween torture chair
  resources/[dg]/dg-config/configs/seats.json
Due: validate json

fix(clothing): wrong vector3 parameters
  resources/[qb]/qb-clothing/config.lua
Due: none

feat(doorlock): added joran zn gang poort
  resources/[dg]/dg-doorlock/seeding/doors.json
Due: validate json

chore: bump submodules
  CHANGELOG.md
Due: none

feat(vehicles): added parking for sodukogang
  resources/[dg]/dg-vehicles/seeding/garages/gang_soduko.json
Due: validate json

fix(auth): allow multiple instances of the same steamId in dev env
  resources/[dg]/dg-auth/typescript/src/server/services/eventTokens.ts
  resources/[dg]/ts-shared/packages/server/src/classes/events.ts
Due: JS linting, TS dev build, TS prod build

fix(housing): able to enter unlocked houses
  CHANGELOG.md
  resources/[dg]/dg-real-estate/typescript/src/client/modules/houses/services/store.ts
Due: JS linting, TS dev build, TS prod build

fix(housing): fix has_mailbox column for placement checks
  CHANGELOG.md
  packages/db/prisma/migrations/20231024131059_make_mailbox_optional/migration.sql
  packages/db/prisma/schema.prisma
  resources/[dg]/dg-misc/typescript/src/client/services/objectPlacer.ts
  resources/[dg]/dg-real-estate/typescript/src/server/classes/propertyManager.ts
Due: JS linting, TS dev build, TS prod build

fix(vehicles): Wrong gang name..for sokudochasers
  resources/[dg]/dg-vehicles/seeding/garages/gang_soduko.json
Due: validate json

feat(real-esate): add UI interaction for placement + allow further placement of box
  CHANGELOG.md
  resources/[dg]/dg-real-estate/typescript/src/client/services/mailbox.ts
Due: JS linting, TS dev build, TS prod build

fix(reports): force close ws when closing report window
  resources/[dg]/dg-ui/[src]/src/main/reports/component.tsx
Due: JS linting, TS dev build, TS prod build

fix(auth): skip init if the given token and storedToken are both missing
  resources/[dg]/dg-auth/typescript/src/server/services/eventTokens.ts
Due: JS linting, TS dev build, TS prod build

Revert "fix(cornerselling): fix fast next-buyer ped exploit"
  CHANGELOG.md
  resources/[dg]/dg-criminal/typescript/src/client/modules/cornerselling/controller.cornerselling.ts
  resources/[dg]/dg-criminal/typescript/src/client/modules/cornerselling/service.cornerselling.ts
Due: JS linting, TS dev build, TS prod build

feat(vehicles): config files for GC24stang, police interceptor
  resources/[dg]/dg-config/configs/police/vehicles.json
  resources/[dg]/dg-vehicles/seeding/vehicles.json
  resources/[dg]/dg-vehicles/typescript/src/client/modules/sirens/constant.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(admin): make the isEnabled function work for actions
  resources/[dg]/dg-admin/typescript/src/client/controllers/ui.ts
  resources/[dg]/dg-admin/typescript/src/server/modules/commands/data/moveEntity.ts
  resources/[dg]/dg-admin/typescript/src/server/services/selector.ts
  resources/[dg]/dg-admin/ui/src/components/entitySelector/index.vue
Due: JS linting, TS dev build, TS prod build

feat: config for interceptors added
  CHANGELOG.md
  resources/[dg]/dg-config/configs/police/vehicles.json
  resources/[dg]/dg-vehicles/seeding/vehicles.json
  resources/[dg]/dg-vehicles/typescript/src/client/modules/sirens/constant.ts
Due: validate json, JS linting, TS dev build, TS prod build

chore: update submodules
  CHANGELOG.md
Due: none

docs: add missing entry
  CHANGELOG.md
Due: none

chore: update vehicle mode handlings
  resources/[dg]/dg-config/configs/vehicles/handlings/lpmoto.json
  resources/[dg]/dg-config/configs/vehicles/handlings/lpoutlaw.json
Due: validate json

fix(auth): another attempt at fixing the SYN ACK problem
  CHANGELOG.md
  resources/[dg]/dg-auth/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-auth/typescript/src/server/services/eventTokens.ts
Due: JS linting, TS dev build, TS prod build

feat(racing): add stop scheduled overtime races
  CHANGELOG.md
  resources/[dg]/dg-racing/typescript/src/server/services/race.ts
Due: JS linting, TS dev build, TS prod build

fix(radialmenu): add check for emergency_button
  CHANGELOG.md
  resources/[dg]/dg-radialmenu/typescript/src/client/data/down.ts
Due: JS linting, TS dev build, TS prod build

fix(racing): add app resync after UI restart
  CHANGELOG.md
  resources/[dg]/dg-racing/typescript/src/client/services/race.ts
  resources/[dg]/dg-racing/typescript/src/server/controllers/events.ts
  resources/[dg]/dg-racing/typescript/src/server/services/race.ts
Due: JS linting, TS dev build, TS prod build

feat(banktruck): add police req + add check for activity reqs before hack start
  CHANGELOG.md
  resources/[dg]/dg-config/configs/police/requirements.json
  resources/[dg]/dg-criminal/typescript/src/server/modules/banktruck/manager.banktruck.ts
Due: validate json, JS linting, TS dev build, TS prod build

feat(hospital): auto revive lonely ambu when he ded
  CHANGELOG.md
  packages/db/package.json
  resources/[dg]/dg-hospital/typescript/src/server/modules/down/controller.down.ts
  resources/[dg]/dg-hospital/typescript/src/server/modules/down/service.down.ts
Due: validate json, validate db migrations, JS linting, TS dev build, TS prod build

tweak(storerobbery): Tweaked robtime so robbing with lockpick takes about same time as shooting and robbing a registry.
  CHANGELOG.md
  resources/[dg]/dg-storerobbery/typescript/src/client/modules/registers/service.registers.ts
Due: JS linting, TS dev build, TS prod build

feat(items):. Made gold nuggets smaller and Added possibility to melt gold nuggets to refined gold.
  resources/[dg]/dg-config/configs/criminal/fence.json
  resources/[dg]/dg-config/configs/inventory/config.json
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-config/configs/materials/melting.json
  resources/[dg]/dg-ui/[src]/src/assets/inventory/refined_gold_nugget.png
Due: validate json

tweak(config): Tweaked requirements for activities.
  CHANGELOG.md
  resources/[dg]/dg-config/configs/police/requirements.json
Due: validate json

fix(inv): catch random DB errors on startup
  resources/[dg]/dg-inventory/typescript/src/server/server.ts
Due: JS linting, TS dev build, TS prod build

revert: accidental bump op prisma version
  flake.lock
  flake.nix
  packages/db/package.json
Due: validate json, validate db migrations, JS linting, TS dev build, TS prod build

feat(char): force spawn ped on ground
  CHANGELOG.md
  resources/[dg]/dg-chars/client/cl_spawn.lua
  resources/[dg]/dg-chars/server/sv_spawn.lua
Due: none

refactor: prevent double event emitting for client secret init
  resources/[dg]/dg-auth/typescript/src/server/services/eventTokens.ts
  resources/[dg]/ts-shared/packages/client/src/classes/events.ts
  resources/[dg]/ts-shared/packages/client/src/classes/index.ts
  resources/[dg]/ts-shared/packages/client/src/classes/rpc.ts
Due: JS linting, TS dev build, TS prod build

fix(auth): secure debug socket + move back to cerulean
  CHANGELOG.md
  resources/[dg]/dg-auth/fxmanifest.lua
  resources/[dg]/dg-auth/ui-project/src/debugger/socket.ts
Due: validate Errorlogger, JS linting, TS dev build, TS prod build

fix(vehicles): add missing logging
  resources/[dg]/dg-vehicles/typescript/src/server/modules/impound/service.impound.ts
Due: JS linting, TS dev build, TS prod build

feat: add a note-pad item
  CHANGELOG.md
  resources/[dg]/dg-config/configs/inventory/items.json
  resources/[dg]/dg-misc/typescript/src/client/client.ts
  resources/[dg]/dg-misc/typescript/src/client/services/notes.ts
  resources/[dg]/dg-misc/typescript/src/server/server.ts
  resources/[dg]/dg-misc/typescript/src/server/services/notes.ts
  resources/[dg]/dg-misc/typescript/src/types/index.d.ts
  resources/[dg]/dg-ui/[src]/src/assets/inventory/notepad.png
  resources/[dg]/dg-ui/[src]/src/main/cli/commands.ts
  resources/[dg]/dg-ui/[src]/src/main/notes/_config.tsx
  resources/[dg]/dg-ui/[src]/src/main/notes/component.tsx
  resources/[dg]/dg-ui/[src]/src/main/notes/styles/notes.scss
  resources/[dg]/dg-ui/[src]/src/types/main.d.ts
  resources/[dg]/dg-ui/client/cl_main.lua
  resources/[dg]/ts-shared/packages/client/src/classes/util.ts
Due: validate json, JS linting, TS dev build, TS prod build
